<!--
Club Admin - Edit member - emails activity sub-view
-->

{% load cobalt_tags %}

{% include "organisations/club_admin/activity_nav_htmx.html" with activity_selected="EMAILS" %}
<div class="card-body">

    {% if emails %}

        <table class="table table-hover">

            {% for email in emails %}
                <tr>
                    <td class="cobalt-no-wrap">
                        <a
                            onclick='window.open("{% url "notifications:admin_view_email" email_id=email.id %}", "email","width=1000,height=1500");'
                            href="javascript:void(0)"
                        >
                            {{ email.created | cobalt_nice_datetime_short }}
                        </a>
                    </td>
                    <td>
                        <a
                            onclick='window.open("{% url "notifications:admin_view_email" email_id=email.id %}", "email","width=1000,height=1500");'
                            href="javascript:void(0)"
                        >
                            {{ email.subject }}{{ email.context.subject }}
                        </a>
                    </td>
                    <td>
                        <a
                            onclick='window.open("{% url "notifications:admin_view_email" email_id=email.id %}", "email","width=1000,height=1500");'
                            href="javascript:void(0)"
                        >
                            {{ email.get_status_display }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}

        <p>{{ message }}</p>

    {% endif %}

</div>
