{#------------------------------------------------------------------------#}
{#  Common details section for members of contacts                        #}
{#                                                                        #}
{#  Expects context:                                                      #}
{#      edit_details: boolean editing mode flag                           #}
{#      form: the MemberClubDetailsForm form                              #}
{#      member_details: the augmented member or contact details           #}
{#      always_shared: member is always sharing profile data              #}
{#------------------------------------------------------------------------#}

{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!-- EMAIL -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-center pt-3 font-weight-bold">
        Email
        {% if always_shared and member_details.membership_status != "CON" %}
            <span
                class="material-icons text-success"
                data-toggle="tooltip"
                title="This field is being provided by the member"
            >
                account_circle
            </span>
        {% endif %}
    </div>
    <div class="col-8">
        <div id="div_id_email" class="form-group">
            <span class="cobalt-form-error" id="id_email_errors">
                {{ form.email.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.email class+="form-control" %}
            {% else %}
                {{ form.email.value|default:'-' }}
            {% endif %}
        </div>
    </div>
</div>
{% if member_details.email_hard_bounce %}
    <div class="row pb-2">
        <div class="col-2"></div>
        <div class="col-8 text-danger">
            Warning - this email address bounced!
        </div>
    </div>
{% endif %}

<!-- MOBILE AND OTHER PHONE -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-center font-weight-bold">
        Preferred phone
        {% if always_shared and member_details.membership_status != "CON" %}
            <span
                class="material-icons text-success"
                data-toggle="tooltip"
                title="This field is being provided by the member"
            >
                account_circle
            </span>
        {% endif %}
    </div>
    <div class="col-3">
        <div id="div_id_preferred_phone" class="form-group">
            <span class="cobalt-form-error" id="preferred_phone">
                {{ form.preferred_phone.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.preferred_phone class+="form-control" %}
            {% else %}
                {{ form.preferred_phone.value|default:'-' }}
            {% endif %}
        </div>
    </div>
    <div class="col-2 justify-content-center align-self-center font-weight-bold">
        Other phone
    </div>
    <div class="col-3">
        <div id="div_id_other_phone" class="form-group">
            <span class="cobalt-form-error" id="id_other_phone_errors">
                {{ form.other_phone.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.other_phone class+="form-control" %}
            {% else %}
                {{ form.other_phone.value|default:'-' }}
            {% endif %}
        </div>
    </div>
</div>

<!-- ADDRESS 1 -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-center pt-3 font-weight-bold">
        Address 1
    </div>
    <div class="col-8">
        <div id="div_id_address1" class="form-group">
            <span class="cobalt-form-error" id="id_address1_errors">
                {{ form.address1.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.address1 class+="form-control" %}
            {% else %}
                {{ form.address1.value|default:'-' }}
            {% endif %}
        </div>
    </div>
</div>

<!-- ADDRESS 2 -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-center font-weight-bold">
        Address 2
    </div>
    <div class="col-8">
        <div id="div_id_address2" class="form-group">
            <span class="cobalt-form-error" id="id_address2_errors">
                {{ form.address2.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.address2 class+="form-control" %}
            {% else %}
                {{ form.address2.value|default:'-' }}
            {% endif %}
        </div>
    </div>
</div>

<!-- STATE POSTCODE -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-center font-weight-bold">
        State
    </div>
    <div class="col-3">
        <div id="div_id_state" class="form-group">
            <span class="cobalt-form-error" id="id_state_errors">
                {{ form.state.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.state class+="form-control" %}
            {% else %}
                {{ form.state.value|default:'-' }}
            {% endif %}
        </div>
    </div>
    <div class="col-2 justify-content-center align-self-center font-weight-bold">
        Postcode
    </div>
    <div class="col-3">
        <div id="div_id_postcode" class="form-group">
            <span class="cobalt-form-error" id="id_postcode_errors">
                {{ form.postcode.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.postcode class+="form-control" %}
            {% else %}
                {{ form.postcode.value|default:'-' }}
            {% endif %}
        </div>
    </div>
</div>

<!-- DOB -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-center font-weight-bold">
        Date of birth
        {% if always_shared and member_details.membership_status != "CON" %}
            <span
                class="material-icons text-success"
                data-toggle="tooltip"
                title="This field is being provided by the member"
            >
                account_circle
            </span>
        {% endif %}
    </div>
    <div class="col-3">
        <div id="div_id_dob" class="form-group">
            <span class="cobalt-form-error" id="id_dob_errors">
                {{ form.dob.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_cobalt_datepicker form.dob %}
            {% else %}
                {{ form.dob|cobalt_date_field_value }}
            {% endif %}
        </div>
    </div>
    {% if member_details.membership_status != "CON" %}
        <div class="col-2 justify-content-center align-self-center font-weight-bold">
            Club membership number
        </div>
        <div class="col-3">
            <div id="div_id_club_membership_number" class="form-group">
                <span class="cobalt-form-error" id="id_club_membership_number_errors">
                    {{ form.club_membership_number.errors|striptags }}
                </span>
                {% if edit_details %}
                    {% render_field form.club_membership_number class+="form-control" %}
                {% else %}
                    {{ form.club_membership_number.value|default:'-' }}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

<!-- JOINED AND LEFT DATES -->
{% if member_details.membership_status != "CON" %}
    <div class="row pb-2">
        <div class="col-2 justify-content-center align-self-center font-weight-bold">
            Joined date
        </div>
        <div class="col-3">
            <div id="div_id_joined_date" class="form-group">
                <span class="cobalt-form-error" id="id_joined_date_errors">
                    {{ form.joined_date.errors|striptags }}
                </span>
                {% if edit_details %}
                    {% render_cobalt_datepicker form.joined_date %}
                {% else %}
                    {{ form.joined_date|cobalt_date_field_value }}
                {% endif %}
            </div>
        </div>
        <div class="col-2 justify-content-center align-self-center font-weight-bold">
            Left date
        </div>
        <div class="col-3">
            <div id="div_id_left_date" class="form-group">
                <span class="cobalt-form-error" id="id_left_date_errors">
                    {{ form.left_date.errors|striptags }}
                </span>
                {% if edit_details %}
                    {% render_cobalt_datepicker form.left_date %}
                {% else %}
                    {{ form.left_date|cobalt_date_field_value }}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

<!-- EMERGENCY CONTACT -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-center font-weight-bold">
        Emergency contact
    </div>
    <div class="col-8">
        <div id="div_id_emergency_contact" class="form-group">
            <span class="cobalt-form-error" id="id_emergency_contact_errors">
                {{ form.emergency_contact.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.emergency_contact class+="form-control" %}
            {% else %}
                {{ form.emergency_contact.value|default:'-' }}
            {% endif %}
        </div>
    </div>
</div>

<!-- NOTES -->
<div class="row pb-2">
    <div class="col-2 justify-content-center align-self-start font-weight-bold">
        Notes
    </div>
    <div class="col-8">
        <div id="div_id_notes" class="form-group">
            <span class="cobalt-form-error" id="id_notes_errors">
                {{ form.notes.errors|striptags }}
            </span>
            {% if edit_details %}
                {% render_field form.notes class+="form-control" %}
            {% else %}
                {{ form.notes.value|default:'-' }}
            {% endif %}
        </div>
    </div>
</div>
