{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Contact or Member search panel                                         #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<div class="card" style="min-height: 800px; height: auto">

    <!-- SUB-LEVEL NAVIGATION -->

    {% if mode == "members" %}
        <div class="card-header card-header-info">
            <h2>Members</h2>
            {% include "organisations/club_menu/members/nav_htmx.html" with selected="search" %}
        </div>
    {% else %}
        <div class="card-header card-header-success">
            <h2>Contacts</h2>
            {% include "organisations/club_menu/contacts/nav_htmx.html" with selected="search" %}
        </div>
    {% endif %}

    <div class="card-body" id="id_list_tab">
        <div class="container">

            <!-- LAST NAME -->

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text"
                            id="id_last_name_search"
                            name="last_name_search"
                            placeholder="Last Name"
                            class="form-control"
                            hx-post="{% url "organisations:search_tab_name_htmx" %}"
                            hx-trigger="keyup changed delay:100ms"
                            hx-target="#search-results"
                            hx-include="[id='id_first_name_search']"
                            hx-vars="club_id: {{ club.id }}, mode: '{{ mode }}'"
                            autofocus="autofocus"
                        >
                    </div>
                </div>
            </div>

            <!-- FIRST NAME -->
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text"
                            id="id_first_name_search"
                            name="first_name_search"
                            placeholder="First Name"
                            class="form-control"
                            hx-post="{% url "organisations:search_tab_name_htmx" %}"
                            hx-trigger="keyup changed delay:100ms"
                            hx-target="#search-results"
                            hx-include="[id='id_last_name_search']"
                            hx-vars="club_id: {{ club.id }}, mode: '{{ mode }}'"
                        >
                    </div>
                </div>
            </div>

            <!-- EMAIL -->
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text"
                            id="id_email_search"
                            name="email_search"
                            placeholder="Email Address"
                            class="form-control"
                            hx-post="{% url "organisations:search_tab_email_htmx" %}"
                            hx-trigger="keyup changed delay:100ms"
                            hx-target="#search-results"
                            hx-vars="club_id: {{ club.id }}, mode: '{{ mode }}'"
                        >
                    </div>
                </div>
            </div>

            <div class="row"></div>
            <div class="col" id="search-results"></div>

        </div>
    </div>
</div>

