{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% load cobalt_tags %}

<form hx-post="{% url "organisations:club_menu_tab_comms_email_send_htmx" %}">
    <div class="col-md-9 col-lg-9">
        <h3>Send a New Email</h3>

        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="card mx-2">
                        <h4>To</h4>
                        <div id="send_tags" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">

                        </div>
                    </div>

                    <span id="id_hidden_checkboxes" style="display: none">
                        {% cobalt_bs4_field tag_form.tags %}
                    </span>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        Available Tags (Drag across to send)
                        <div class="card-body" id="available_tags" ondrop="drop(event)" ondragover="allowDrop(event)">

                            {# Special everyone tag #}
                            <button id="item_0" draggable="true" ondragstart="drag(event)" class="btn btn-sm btn-info">Everyone</button>

                            {% for tag in tags %}
                                <button id="item_{{ tag.id }}" draggable="true" ondragstart="drag(event)" class="btn btn-sm btn-default">{{ tag.tag_name }}</button>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% cobalt_bs4_field email_form.subject %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% cobalt_bs4_field email_form.body %}
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-info btn-sm cobalt-save" disabled name="test" id="id_test_button">Test</button>
            <button class="btn btn-success btn-sm cobalt-save" disabled name="send" id="id_send_button">Send</button>
        </div>
    </div>

</form>

<script>
    function addTag(tag_id, item, classname) {
        // Handle adding a tag to the email
        console.log(tag_id);
        const moved = $("#" + tag_id);
        moved.addClass(classname);
        moved.removeClass("btn-default");

        // update select list
        $('#id_hidden_checkboxes').find(':checkbox').each(function() {
            if (this.value === item){
                $('#' + this.id).prop('checked', true);
            }
        });
    }

    function removeTag(tag_id, item, classname) {
        // Handle removing a tag to the email
        const moved = $("#" + tag_id);
        moved.addClass("btn-default");
        moved.removeClass(classname);

        // update select list
        $('#id_hidden_checkboxes').find(':checkbox').each(function() {
            if (this.value === item){
                $('#' + this.id).prop('checked', false);
            }
        });
    }

    function clearTags() {
        // Remove all tags

        console.log("clear tags");
        console.log($("#send_tags"));

        $('#send_tags').find('.btn').each(function(){
            console.log("inside loop");
            console.log(this);
            console.log(this.id);
            const this_button = $('#' + this.id);
            this_button.appendTo('#available_tags')
            this_button.addClass("btn-default");
            this_button.removeClass("btn-success");
        });

        // update select list
        $('#id_hidden_checkboxes').find(':checkbox').each(function() {
            $('#' + this.id).prop('checked', false);
        });
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();

        // Only allow drop on div, not on other elements

        const id = ev.dataTransfer.getData("text");
        const item = id.split("_")[1]

        // Add to list of tags for this email
        if (ev.target.id === "send_tags"){

            {#// check for special case of everyone#}
            if (item === "0") {
                clearTags();
                ev.target.appendChild(document.getElementById(id));
                addTag(id, item, "btn-primary");
            } else {
                ev.target.appendChild(document.getElementById(id));
                addTag(id, item, "btn-success");
            }

            $('#id_send_button').attr('disabled', false);
            $('#id_test_button').attr('disabled', false);
        }

        // remove from list of tags for this member
        if (ev.target.id === "available_tags"){
            ev.target.appendChild(document.getElementById(id));

            {#// check for special case of everyone#}
            if (item === "0") {
                removeTag(id, item, "btn-primary");
            } else {
                removeTag(id, item, "btn-success");
            }

        }
    }

</script>

