{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% load cobalt_tags %}

<div class="row">
    <div class="card col-md-6">
        <div class="card-header card-header-primary">
            <h3>Send a New Email</h3>
        </div>
        <div class="card-body">

            {% if no_members %}
                <h3>Club has No Members</h3>
                <p>You need to add some members before you can send emails.</p>

            {% else %}
                {% include "organisations/club_menu/comms/email_send_htmx_wizard.html" %}

            {% endif %}
        </div>
    </div>
    <!-- END MAIN EMAIL PART -->

    <div id="email_preview" class="col-md-6 mx-auto bg-dark" style="display: none;"
        hx-post="{% url "organisations:club_menu_tab_comms_email_preview_htmx" %}"
        hx-vars="club_id:{{ club.id }}"
        hx-trigger="preview"
        hx-include="[id='email-multi-form']"
    >
    </div>

</div>

{#            $('#id_send_button').attr('disabled', false);#}
