{% load post_office %}

<div class="d-flex justify-content-between">
    <div>
        <h3 class="text-white mt-0">Preview</h3>
    </div>
    <div>
        <a href="javascript:void(0)" class="text-white"
            {# Hyperscript to move preview below for more editing room #}
            _="on click
            toggle .col-md-6 on email_wizard
            toggle .col-12 on email_wizard
            toggle .col-md-6 on email_preview
            toggle .col-12 on email_preview
            toggle .d-none on minus_sign
            toggle .d-none on plus_sign
            "
        >
            <span id="plus_sign">+</span>
            <span id="minus_sign" class="d-none">-</span>
        </a>
    </div>
</div>


<p class="font-italic text-gray">Using the test button to send yourself a test email is the best way to
    check how your email will look before you send it.</p>

{% if attachment_objects %}
    <h4 class="text-white">Attachments:</h4>

    {% for attachment_object in attachment_objects %}
        <button class="btn btn-sm btn-secondary text-primary">
            {{ attachment_object.filename }} ({{ attachment_object.attachment.size|filesizeformat }})
        </button>
    {% endfor %}
{% endif %}

{# We use an iframe to get rid of the bootstrap css so we can see the email as it will look when delivered #}

<iframe
    onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
    style="height:200px;width:100%;border:none;overflow:hidden;"
    srcdoc='

    {% include "notifications/django_post_office_core_templates/po_club_template.html" with name="Member" box_colour=template.box_colour box_font_colour=template.box_font_colour footer=template.footer %}

    '></iframe>
