{% load cobalt_tags %}

<form
    id="email-multi-form"
    hx-post="{% url "organisations:club_menu_tab_comms_email_send_htmx" %}"
    hx-target="#id_panel_comms"
>

    <ul class="nav nav-pills nav-pills-danger" role="tablist" id="guide-tabs">
        <li class="nav-item">
            <a class="nav-link nav-link-send-email nav-link-send-email-1 active"
                data-toggle="tab"
                href="#send-email-recipients"
                role="tablist"
                aria-expanded="true">
                1. Recipients
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-send-email nav-link-send-email-2

                {# Only disable this if we have tags #}
                {% if tag_form.tags.field.choices|length > 1 %}
                    disabled
                {% endif %}
                "
                id="nav-link-send-email-2" data-toggle="tab" href="#send-email-options" role="tablist" aria-expanded="false">
                2. Options
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-send-email nav-link-send-email-3
                {# Only disable this if we have tags #}
                {% if tag_form.tags.field.choices|length > 1 %}
                    disabled
                {% endif %}
                "
                id="nav-link-send-email-3"
                data-toggle="tab"
                href="#send-email-content"
                role="tablist"
                aria-expanded="false">
                3. Content
            </a>
        </li>
    </ul>
    <div class="tab-content tab-space">

        <div class="tab-pane active" id="send-email-recipients" aria-expanded="true">
            <div class="row">

                {% if tag_form.tags.field.choices|length > 1 %}
                    <div>
                        <p>Send to members using tags or select Everyone to send to all members.</p>
                        <p class="font-italic">Some of your tags have no members and cannot be selected.</p>
                        {% for key, value in tag_form.tags.field.choices %}
                            <div>
                                <label class="text-dark" for="id_tags_{{ key }}">

                                    {# Check if this tag is on the empty tags list #}

                                    {% if key in empty_tags %}
                                        <del>{{ value }} ({{ tag_count|cobalt_dict_key:value }})</del>
                                    {% else %}
                                        <input type="checkbox" name="tags" value="{{ key }}" id="id_tags_{{ key }}" class="tag-checkbox">
                                        {{ value }} ({{ tag_count|cobalt_dict_key:value }})
                                    {% endif %}

                                </label>
                            </div>
                        {% endfor %}
                    </div>

                {% else %}

                    <h3>You don't have any tags set up so this will be sent to all of your members.</h3>
                    <p class="font-italic">You can use tags to organise your members into groups if you like. Tags can be set up from the Settings tab above.</p>
                    <input type="hidden" name="tags" value="0">

                {% endif %}

            </div>

            <div class="text-right">
                <button class="btn btn-info btn-sm" id="go-to-tab2"

                    {# Only disable this if we have tags #}
                    {% if tag_form.tags.field.choices|length > 1 %}
                        disabled
                    {% endif %}
                >Next</button>
            </div>
        </div>

        <div class="tab-pane" id="send-email-options" aria-expanded="false">
            {% if email_form.template.field.choices %}

                <div class="row">
                    <div class="col-12">
                        <label class="bmd-label-static" for="id_template">
                            Template
                        </label>

                        <div class="form-group">
                            <select name="template" class=" form-control" id="id_template"
                                hx-post="{% url "organisations:club_menu_tab_comms_from_and_reply_to_htmx" %}"
                                hx-target="#from_and_reply_to"
                                hx-vars="club_id:'{{ club.id }}'"
                            >
                                {% for index, value in email_form.fields.template.choices %}
                                    <option value="{{ index }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
                <br>

            {% else %}
                <h3>You don't have any templates set up so this will be sent using the default template.</h3>
                <p class="font-italic">You can create templates to customise your emails if you like. Templates can be set up from the Settings tab above.</p>
                <input type="hidden" name="tags" value="0">
            {% endif %}

            {#         We update these values if the template changes so put them in a div #}
            <div id="from_and_reply_to">

                {% include "organisations/club_menu/comms/email_send_from_and_reply_to_htmx.html" %}

            </div>
            <div class="text-right">
                <button class="btn btn-info btn-sm" id="go-to-tab3">Next</button>
            </div>
        </div>

        <div class="tab-pane" id="send-email-content" aria-expanded="false">
            <div class="row">
                <div class="col-12">
                    {% cobalt_bs4_field email_form.subject %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% cobalt_bs4_field email_form.org_email_body %}
                </div>
            </div>

            <div class="row">
                <div
                    id="email_attachments"
                    class="col-12"
                    hx-post="{% url "organisations:club_menu_tab_comms_email_attachment_htmx" %}"
                    hx-vars="club_id:{{ club.id }}"
                    hx-trigger="load"
                    hx-target="#email_attachments"
                >
                </div>
            </div>

            {# Show user their attachments #}
            <div id="selected_attachments_view">

                {# We add choices dynamically #}
                <table id="selected_attachments_list"></table>

            </div>

            <div id="email-test-response"></div>

            <div class="text-center">
                <button class="btn btn-info btn-sm cobalt-save" disabled name="test" id="id_test_button"
                    hx-post="{% url "organisations:club_menu_tab_comms_email_send_htmx" %}"
                    hx-target="#email-test-response"
                    hx-include="[id='email-multi-form']"
                    hx-vars="test:'test'"
                >Test</button>

                <button class="btn btn-success btn-sm cobalt-save" disabled name="send" id="id_send_button">Send</button>
            </div>
        </div>
    </div>

</form>

<script>
    // Stackoverflow delay function
    function delay(callback, ms) {
        let timer = 0;
        return function() {
            const context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    // function to run when subject or content changes
    function email_subject_or_content_changed(){
        // trigger the preview to update
        htmx.trigger("#email_preview", "preview");

        // check if we have subject and content and enable buttons
        if($('#id_subject').val() && $('#id_org_email_body').val()){
            $("#id_test_button").removeAttr("disabled");
            $("#id_send_button").removeAttr("disabled");
        } else {
            $("#id_test_button").prop("disabled", true);
            $("#id_send_button").prop("disabled", true);
        }
    }

    // Add an attachment to the screen and hidden list
    function addAttachmentToList(id, name) {
        // ignore if already present
        if ($("#id_attach_hidden_input_" + id).length) {
            return false;
        }
        // add to hidden select
        $('#selected_attachments_view').append('<input type="hidden" id="id_attach_hidden_input_' + id + '" name="selected_attachments" value=' + id +'>');
        // show on screen
        $('#selected_attachments_list').append('<tr id="id_attach_li_' + id + '"><td>' + name + '</td><td><a class="btn btn-xs btn-danger text-white"  title="Remove" onclick="removeAttachmentfromList(' + id + ')">X</a></td></tr>');

        // refresh preview
        htmx.trigger("#email_preview", "preview");
    }

    // remove attachment
    function removeAttachmentfromList(id) {
        $("#id_attach_hidden_input_" + id).remove();
        $("#id_attach_li_" + id).remove();

        // refresh preview
        htmx.trigger("#email_preview", "preview");
        return false;
    }

    $(document).ready( function(){

        // This is needed to stop an error
        jQuery.validator.setDefaults({
            ignore: ":hidden, [contenteditable='true']:not([name])"
        });

        // initialise the jquery validate plugin
        $('#email-multi-form').validate({});

        // only show the preview if we are on the last tab
        // Note - we don't need to dynamically update the preview except for fields on the same tab
        $(".nav-link-send-email").click( function (){

            // id doesn't seem to work, so we use a class
            if ($(this).hasClass("nav-link-send-email-3")){

                // show the preview div
                $("#email_preview").show();

                // update the preview div
                htmx.trigger("#email_preview", "preview")
            } else {
                $("#email_preview").hide();
            }

        });

        // Update preview when data changes
        $('#id_subject').keyup(delay(function (e) {
            email_subject_or_content_changed();
        }, 500));

        // Handle Summernote changes
        $('#id_org_email_body').summernote({
            callbacks: {
                onKeyup: delay(function (e) {
                    email_subject_or_content_changed();
                }, 500)
            },

            {# This is defined on the form but we need it here as we override the summernote call #}

            "height": "400",
            "codemirror": {"theme": "monokai"},
            "placeholder": "<br><br>Enter the body of your email. You can use the test button as many times as you like.",
        });

        // next buttons

        // Tab 1 -> 2
        $("#go-to-tab2").click(function(){
            $('#guide-tabs li:eq(1) a').tab('show');
            return false;
        })

        // Tab 2 -> 3
        $("#go-to-tab3").click(function(){
            $('#guide-tabs li:eq(2) a').tab('show');
            $("#id_reply_to").validate();
            // also show preview
            $("#email_preview").show();
            htmx.trigger("#email_preview", "preview");
            return false;
        })

        // Everyone tag disables other tags
        $("#id_tags_0").click(function(){
            if ($(this).prop("checked") === true){
                // Everyone checked so uncheck others
                $(".tag-checkbox").each(function(){
                    $(this).prop("checked", false);
                    $(this).attr("disabled", true);
                });
                // And check Everyone again
                $("#id_tags_0").prop("checked", true);
                $("#id_tags_0").removeAttr("disabled");
            } else {
                // Everyone is off, so enable others
                $(".tag-checkbox").each(function(){
                    $(this).removeAttr("disabled");
                });
            }
        });

        // enable/disable next button on recipients tab based upon something being selected
        // We allow skipping the options tab and going straight to content, so enable/disable both tab buttons
        $(".tag-checkbox").click(function(){

            if ($("input.tag-checkbox:checkbox:checked").length){
                // something checked - enable button
                $("#go-to-tab2").removeAttr("disabled");
                $("#nav-link-send-email-2").removeClass("disabled");
                $("#nav-link-send-email-3").removeClass("disabled");
            } else {
                // nothing checked, disable button
                $("#go-to-tab2").prop("disabled", true);
                $("#nav-link-send-email-2").addClass("disabled");
                $("#nav-link-send-email-3").addClass("disabled");
            }
        });

        // validate the reply_to field (email) when it changes, otherwise it is not visible (different tab)
        $("#id_reply_to").change(function(){
            $("#id_reply_to").validate();
        })

        // This is called using an HX-Trigger event in the return header from the add function
        // Once we have added the attachment to the server, we need to also add it to the form
        document.body.addEventListener("post_attachment_add", function(evt){
            addAttachmentToList(evt.detail.id, evt.detail.name);
        })

        // This is called using an HX-Trigger event in the return header from the delete function
        // Once we have deleted the server side attachment, we need to also remove it from the form
        document.body.addEventListener("post_attachment_delete", function(evt){
            removeAttachmentfromList(evt.detail.value);
        })

    });
</script>


