{# Main Email Tab - has button to send new email and shows paginated list of old ones #}

{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-warning">
        <h2 id="t_tab_heading_comms">Communications</h2>
        {% include "organisations/club_menu/comms/nav_htmx.html" with selected="emails" %}
    </div>
    <div class="card-body" id="id_comms_email_tab">

        {% if message %}

            <h3 class="text-info font-weight-bold settings_message" id="user_list_message">{{ message| default_if_none:"" }}</h3>

        {% endif %}

        <div class="container-flow">

            <!-- BUTTON TO SEND NEW EMAIL -->
            <div class="text-left">
                <div>
                    <div class="d-flex align-items-center"
                        hx-target="#id_comms_email_tab"
                        hx-vars="club_id:{{ club.id }}"
                        hx-post="{% url "organisations:club_menu_tab_comms_email_send_htmx" %}"
                    >
                        <div
                            style="cursor: pointer;"
                        >
                        </div>
                        <button class="btn btn-outline-secondary"><i class="material-icons text-primary" style="font-size: 35px;">email</i> Compose New Email</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header-info">
                            <h3>Sent Emails</h3>
                        </div>
                        <div class="card-body">
                            {% if things %}
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                            <tr class="text-primary">
                                                <th class="text-left">Date</th>
                                                <th class="text-left">Subject</th>
                                                <th class="text-right">Recipients</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for thing in things %}
                                                <tr
                                                    style="cursor: pointer;"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_view_htmx" %}"
                                                    hx-vars="club_id:{{ club.id }},batch_id:{{ thing.id }}"
                                                    hx-target="#id_comms_email_details"
                                                    {# hide the sidebar if there so it doesn't jump #}
                                                    onclick='$("#email_info").hide();'
                                                >
                                                    <td class="text-left">{{ thing.created|cobalt_nice_datetime }}</td>
                                                    <td class="text-left">{{ thing.subject }}</td>
                                                    <td class="text-right">

                                                        <button class="btn btn-sm btn-success">View</button>

                                                        <!-- BUTTON TO SHOW RECIPIENTS -->
                                                        <button
                                                            class="btn btn-sm btn-info"
                                                            style="width: 80px;"
                                                            _="on click
                                                            js
                                                            htmx.trigger('#hidden_recipients_{{ thing.id }}', 'doit');
                                                            end
                                                            "
                                                        >
                                                            {{ thing.number_sent|intcomma }}
                                                        </button>

                                                    </td>
                                                </tr>

                                                <!-- HIDDEN RECIPIENTS LIST -->
                                                <tr
                                                    id="hidden_recipients_{{ thing.id }}"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_recipients_list_htmx" %}"
                                                    hx-vars="club_id:{{ club.id }},batch_id_id:{{ thing.id }}"
                                                    hx-target="this"
                                                    hx-trigger="doit"
                                                >

                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>


                                    {% if things.paginator.num_pages > 1 %}

                                        <div class="pagination">
                                            {% if things.has_previous %}
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page=1"
                                                    hx-vars="club_id:{{ club.id }},page:1"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                </a>
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ things.previous_page_number }}"
                                                    hx-vars="club_id:{{ club.id }},page:{{ things.previous_page_number }}"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}

                                            {% for num in things.paginator.page_range %}
                                                {% if things.number == num %}
                                                    <span class="pagination-number pagination-current">{{ num }}</span>
                                                {% elif num > things.number|add:'-3' and num < things.number|add:'3' %}
                                                    <a class="pagination-number"
                                                        hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ num }}"
                                                        hx-vars="club_id:{{ club.id }},page:{{ num }}"
                                                        hx-target="#id_panel_comms">{{ num }}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}

                                            {% if things.has_next %}
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ things.next_page_number }}"
                                                    hx-vars="club_id:{{ club.id }},page:{{ things.next_page_number }}"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ things.paginator.num_pages }}"
                                                    hx-vars="club_id:{{ club.id }},page:{{ things.paginator.num_pages }}"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </div>

                                    {% endif %}


                                </div>
                            {% else %}
                                <h4>No emails sent yet</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="id_comms_email_details" class="col-lg-6">
                </div>
            </div>
        </div>

    </div>
</div>
