{#------------------------------------------------------------------------------------#}
{#                                                                                    #}
{# Main Email Tab - has button to send new email and shows paginated list of old ones #}
{#                                                                                    #}
{#------------------------------------------------------------------------------------#}

{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-warning">
        <h2 id="t_tab_heading_comms">
            <span class="d-none d-md-block">
                Communications
            </span>
            <span class="d-md-none">
                Comms
            </span>
        </h2>
        {% include "organisations/club_menu/comms/nav_htmx.html" with selected="emails" %}
    </div>
    <div class="card-body" id="id_comms_email_tab">

        {% if message %}

            <h3 class="text-info font-weight-bold settings_message" id="user_list_message">{{ message| default_if_none:"" }}</h3>

        {% endif %}

        <div class="container-flow">

            {% if comms_access %}
                <!-- BUTTON TO SEND NEW CLUB EMAIL -->
                <a
                    class="text-left btn btn-primary"
                    href="{% url 'notifications:compose_club_email' club_id=club.id %}"
                >
                    Compose Club Email
                </a>
            {% endif %}

            {% if congress_edit_access %}
                <!-- BUTTON TO SEND NEW ENTRANT EMAIL (MULTI) -->
                <a
                    class="text-left btn btn-primary"
                    href="{% url 'notifications:initiate_admin_multi_email' club_id=club.id %}"
                >
                    Compose Entrant Email
                </a>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header-info">
                            <h3>Sent Emails</h3>

                            <!-- BATCH TYPE SELECTOR -->
                            <label for="id_batch_type" class="text-dark">View by email type</label>
                            <select
                                class="selectpicker"
                                data-style="btn bg-light text-dark ml-2"
                                id="id_batch_type"
                                name="batch_type_picker"
                                hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}"
                                hx-target="#id_panel_comms"
                                hx-trigger="change"
                                hx-vars="club_id:{{ club.id }}">
                                <option value="ALL" {% if type_selected == 'ALL' %}selected{% endif %}>All</option>
                                {% for batch_type in batch_types %}
                                    <option value="{{ batch_type.0 }}"{% if type_selected == batch_type.0 %}selected{% endif %}>{{ batch_type.1|title }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="card-body">
                            {% if things %}
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                            <tr class="text-primary">
                                                <th class="text-left">Date</th>
                                                <th class="text-left">Subject</th>
                                                <th class="text-left">Type</th>
                                                <th class="text-right">Recipients</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for thing in things %}
                                                <tr {% if thing.state == 'ERR' %}class="text-danger"{% endif %}
                                                    style="cursor: pointer;"

                                                    {#  Don't make clickable if nothing was sent or incomplete #}
                                                    {% if thing.batch_size > 0 and thing.complete %}

                                                        hx-post="{% url "organisations:club_menu_tab_comms_email_view_htmx" %}"
                                                        hx-vars="club_id:{{ club.id }},batch_id:{{ thing.emailbatchrbac_set.all.0.id }}"
                                                        hx-target="#id_comms_email_details"
                                                        {# hide the sidebar if there so it doesn't jump #}
                                                        onclick='$("#email_info").hide();'

                                                    {% endif %}
                                                >
                                                    <td class="text-left {% if thing.state == 'ERR' %}text-danger{% endif %}">
                                                        {% if thing.complete %}
                                                            {{ thing.created|cobalt_nice_datetime|default_if_none:"Nothing sent" }}
                                                        {% elif thing.state == 'INF' %}
                                                            Being sent
                                                        {% elif thing.state == 'ERR' %}
                                                            Errored
                                                        {% else %}
                                                            Not yet sent
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-left">
                                                        {% if thing.description %}
                                                            {{ thing.description }}
                                                        {% else %}
                                                            No subject provided
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-left">{{ thing.get_batch_type_display }}</td>
                                                    <td class="text-right">

                                                        {#  Don't show buttons if nothing was sent #}
                                                        {% if thing.batch_size > 0 and thing.complete %}

                                                            <button class="btn btn-sm btn-success">View</button>

                                                            <!-- BUTTON TO SHOW RECIPIENTS -->
                                                            <button
                                                                class="btn btn-sm btn-info"
                                                                style="width: 80px;"
                                                                _="on click
                                                                js
                                                                htmx.trigger('#hidden_recipients_{{ thing.id }}', 'doit');
                                                                end
                                                                "
                                                            >
                                                                {{ thing.batch_size|intcomma }}
                                                            </button>

                                                        {% endif %}

                                                        {% if thing.state == 'WIP' or thing.state == 'ERR' %}
                                                            {% if thing.batch_type in editable_batch_types %}

                                                                <!-- ACTION BUTTONS FOR INCOMPLETE BATCHES -->

                                                                {% if thing.state == 'WIP' %}
                                                                    <a
                                                                        class="btn btn-sm btn-warning"
                                                                        id="id_{{ thing.id }}_edit_button"
                                                                        {% if thing.batch_type == "MLT" %}
                                                                            href="{% url 'notifications:compose_email_multi_select' club_id=club.id batch_id_id=thing.id %}"
                                                                        {% else %}
                                                                            href="{% url 'notifications:compose_email_recipients' club_id=club.id batch_id_id=thing.id %}"
                                                                        {% endif %}
                                                                    >
                                                                        Edit
                                                                    </a>
                                                                {% endif %}
                                                                <a
                                                                    class="btn btn-sm btn-danger"
                                                                    id="id_{{ thing.id }}_delete_button"
                                                                    href="{% url 'notifications:delete_email_batch' club_id=club.id batch_id_id=thing.id %}"
                                                                >
                                                                    Delete
                                                                </button>

                                                            {% endif %}
                                                        {% endif %}

                                                    </td>
                                                </tr>

                                                <!-- HIDDEN RECIPIENTS LIST -->
                                                <tr
                                                    id="hidden_recipients_{{ thing.id }}"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_recipients_list_htmx" %}"
                                                    hx-vars="club_id:{{ club.id }},batch_id_id:{{ thing.id }}"
                                                    hx-target="this"
                                                    hx-trigger="doit"
                                                >

                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>


                                    {% if things.paginator.num_pages > 1 %}

                                        <div class="pagination">
                                            {% if things.has_previous %}
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page=1"
                                                    hx-vars="club_id:{{ club.id }},page:1"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                </a>
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ things.previous_page_number }}"
                                                    hx-vars="club_id:{{ club.id }},page:{{ things.previous_page_number }}"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}

                                            {% for num in things.paginator.page_range %}
                                                {% if things.number == num %}
                                                    <span class="pagination-number pagination-current">{{ num }}</span>
                                                {% elif num > things.number|add:'-3' and num < things.number|add:'3' %}
                                                    <a class="pagination-number"
                                                        hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ num }}"
                                                        hx-vars="club_id:{{ club.id }},page:{{ num }}"
                                                        hx-target="#id_panel_comms">{{ num }}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}

                                            {% if things.has_next %}
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ things.next_page_number }}"
                                                    hx-vars="club_id:{{ club.id }},page:{{ things.next_page_number }}"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                                <a class="pagination-action"
                                                    hx-post="{% url "organisations:club_menu_tab_comms_email_htmx" %}?page={{ things.paginator.num_pages }}"
                                                    hx-vars="club_id:{{ club.id }},page:{{ things.paginator.num_pages }}"
                                                    hx-target="#id_panel_comms"
                                                >
                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </div>

                                    {% endif %}


                                </div>
                            {% else %}
                                <h4>No emails sent yet</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="id_comms_email_details" class="col-lg-6">
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function(){

        // COB-793 fade out the message over time
        setTimeout(function(){
            $("#user_list_message").fadeOut("slow", function() {
                $(this).remove();
            });
        }, 10000);

        // Activate select pickers
        $('.selectpicker').selectpicker();

    });
</script>
