{% load post_office %}

<h3 class="text-white">Preview</h3>
<p class="font-italic text-gray">Using the test button to send yourself a test email is the best way to check how your email will look before you send it.</p>

<iframe
    onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
    style="height:200px;width:100%;border:none;overflow:hidden;"
    srcdoc='

    {% include "notifications/django_post_office_core_templates/po_club_template.html" with img_src=template.banner.url name="Member" %}

    '></iframe>
