{% load humanize %}
{% load cobalt_tags %}

<h3>{{ details.subject }}</h3>

<div id="email_info" style="display: none;">
    {#    https://developers.google.com/chart/interactive/docs/gallery/barchart#}

    {#    https://developers.google.com/chart/interactive/docs/gallery/imagepiechart#Configuration_Options#}
    <div id="piechart_3d">
    </div>
    <div id="barchart">
    </div>
    <script>
        google.charts.load("current", {packages: ["corechart","bar"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            const data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Queued', 15],
                ['Sent', 20],
                ['Delivered', {{ details.totals.delivered }}],
                ['Failed', {{ details.number_sent }}],
            ]);

            const options = {
                {#title: 'Email Status',#}
                width: 500,
                height: 500,
                {#pieHole: 0.4,#}
                is3D: true,
                animation: {"startup": true, "duration": 1000},
                'chartArea': {'width': '80%', 'height': '80%'},
                'legend': {'position': 'top'},
                'labels': 'value',
                'colors': ['#2196f3', '#4caf50', '#00bcd4', '#ffeb3b', '#f44336', '#e91e63']
            };

            const chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            google.visualization.events.addListener(chart, 'ready', afterDraw);
            chart.draw(data, options);

            var data2 = google.visualization.arrayToDataTable([
                ['Year', 'Sales'],
                ['2014', 1000],
                ['2015', 1170],
                ['2016', 660],
                ['2017', 1030]
            ]);

            var options2 = {
                chart: {
                    title: 'Company Performance',
                    subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                },
                'colors': ['#2196f3', '#4caf50', '#00bcd4', '#ffeb3b', '#f44336', '#e91e63'],
                bars: 'horizontal' // Required for Material Bar Charts.
            };

            var chart2 = new google.charts.Bar(document.getElementById('barchart'));

            chart2.draw(data2, google.charts.Bar.convertOptions(options2));
        }


        function afterDraw() {
            // we hide the side panel and fade it in as the chart won't be ready straight away and jumps
            $("#email_info").fadeIn("slow", "swing");
        }
    </script>

    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Sent {{ details.totals.sent }}/{{ details.number_sent }}</td>
                    <td>
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">35%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Delivered {{ details.totals.delivered }}/{{ details.number_sent }}</td>
                    <td>
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">35%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Opened {{ details.totals.opened }}/{{ details.number_sent }}</td>
                    <td>
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">35%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-rose">Clicked {{ details.totals.clicked }}/{{ details.number_sent }}</td>
                    <td class="bg-info">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">35%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Bounced {{ details.totals.bounced }}/{{ details.number_sent }}</td>
                    <td>
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">35%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
