{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-warning">
        <h2>Communications</h2>
        {% include "organisations/club_menu/comms/nav_htmx.html" with selected="public_info" %}
    </div>
    <div class="card-body" id="id_comms_email_tab">

        <h3>Public Information</h3>
        {% if front_page.summary == "" %}
            <p>Here you can build a page that your members and others will see when they look up your club on {{ GLOBAL_TITLE }}.</p>
            <p>Use the editor below to add text, images and links to your Public Profile.</p>
        {% endif %}
        <a href="{% url "organisations:general_org_profile" org_id=club.id %}" target="_blank" class="btn btn-rose btn-sm">show public profile</a>
        <h3 class="text-info font-weight-bold settings_message">{{ message }}</h3>
        <form
            hx-post="{% url "organisations:club_menu_tab_comms_public_info_htmx" %}"
            hx-vars="club_id:{{ club.id }}"
            hx-target="#id_panel_comms"
        >
            {% cobalt_bs4_field front_page_form.summary %}
            <input type="hidden" name="organisation" value="{{ club.id }}">

            <button class="btn btn-success" name="save">Save</button>
        </form>

    </div>
</div>
