{# Add a contact with or without a system number #}

{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<div class="card mt-5">
    <div class="card-header card-header-warning">
        Add Contact
    </div>
    <div class="container">
        <div class="card-body">

            <p>Search by name for a player to add as a contact, or enter the full name to create a contact with no {{ GLOBAL_ORG }} number.</p>
            <form
                hx-post="{% url 'organisations:club_admin_add_contact_manual_htmx' %}"
                hx-vars='{ "club_id": {{ club.id }}, "save": "INTERNAL" }'
                hx-target="#id_contact_add_tab"
            >
                {% csrf_token %}

                <!-- LAST NAME -->
                <div class="row pb-2">
                    <div class="col-2 justify-content-center align-self-center pt-3">
                        Last Name
                    </div>
                    <div class="col-8">
                        <div id="div_id_last_name" class="form-group">
                            <span class="cobalt-form-error" id="id_last_name_errors">
                                {{ form.last_name.errors|striptags }}
                            </span>
                            <input type="text"
                                id="id_last_name"
                                name="last_name"
                                class="form-control"
                                hx-post="{% url 'organisations:club_menu_tab_members_add_contact_search_htmx' %}"
                                hx-trigger="keyup changed delay:100ms"
                                hx-target="#add-contact-search-results"
                                hx-include="[id='id_first_name']"
                                hx-vars="club_id: {{ club.id }}"
                                value="{{ form.last_name.value }}"
                                autofocus="autofocus"
                            >
                        </div>
                    </div>
                </div>

                <!-- FIRST NAME -->
                <div class="row pb-2">
                    <div class="col-2 justify-content-center align-self-center pt-3">
                        First Name
                    </div>
                    <div class="col-8">
                        <div id="div_id_first_name" class="form-group">
                            <span class="cobalt-form-error" id="id_first_name_errors">
                                {{ form.first_name.errors|striptags }}
                            </span>
                            <input type="text"
                                id="id_first_name"
                                name="first_name"
                                class="form-control"
                                hx-post="{% url 'organisations:club_menu_tab_members_add_contact_search_htmx' %}"
                                hx-trigger="keyup changed delay:100ms"
                                hx-target="#add-contact-search-results"
                                hx-include="[id='id_last_name']"
                                hx-vars="club_id: {{ club.id }}"
                                value="{{ form.first_name.value }}"
                            >
                        </div>
                    </div>
                </div>

                <div class="row pb-2">
                    <div class="col text-right">
                        <button
                            type="Save"
                            class="btn btn-sm btn-success cobalt-save"
                        >
                            Add with no {{ GLOBAL_ORG }} number
                        </button>
                    </div>
                </div>
                <form>
                    <div class="row" id="add-contact-search-results"></div>
                </div>
            </div>
        </div>
