{# An html snippet to refresh the club admin contact list view  #}
{# from within the view (ie from an htmx end point) #}

<div
    id="trigger-post-contact-list"
    hx-post="{% url 'organisations:club_menu_tab_contacts_htmx' %}"
    hx-target="#id_panel_contacts"
    hx-vals='{
    "club_id":{{ club.id }},
    "message":"{{ message }}"
    }'
    hx-trigger="load"
    style="display: none;"
></div>

<script>
    (function() {
        // Trigger the hx-post request by causing the "load" event
        var triggerDivList = document.getElementById('trigger-post-contact-list');
        triggerDivList.dispatchEvent(new Event('load'));
    })();
</script>
