{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show the data from the recent user activity                            #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}
{% load humanize %}

<!-- REFRESH COUNTER -->
<div class="countdown">
    <div id="countdown-number-users" class="countdown-number"></div>
    <svg>
        <circle r="18" cx="20" cy="20"></circle>
    </svg>
</div>

<table class="table table-condensed table-hover">
    <thead class="text-primary">

        <tr>
            <th class="text-left">Time Ago</th>
            <th class="text-left">User</th>
        </tr>

    </thead>
    <tbody>
        {% for item in last_activity %}

            <tr>
                <td class="text-left">{{ item.last_activity|naturaltime }}</td>
                <td class="text-left">{{ item }}</td>
            </tr>

        {% endfor %}

    </tbody>
</table>

<script>
    $(document).ready( function () {

        // Internet borrowed countdown script
        const countdownNumberEl = document.getElementById('countdown-number-users');
        let countdown = 10;
        countdownNumberEl.textContent = countdown;

        setInterval(function() {
            countdown = --countdown <= 0 ? 10 : countdown;
            countdownNumberEl.textContent = countdown;
        }, 1000);

    });
</script>
