{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show basic activity info to check system is working                    #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load cobalt_tags %}
{% block title %} - System Activity{% endblock %}

{% block header %}
    <style>

        /* borrowed from internet for countdown timer */

        .countdown {
            position: relative;
            margin: auto;
            {#margin-top: 100px;#}
            height: 40px;
            width: 40px;
            text-align: center;
        }

        .countdown-number {
            color: black;
            display: inline-block;
            line-height: 40px;
        }

        svg {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            transform: rotateY(-180deg) rotateZ(-90deg);
        }

        svg circle {
            stroke-dasharray: 113px;
            stroke-dashoffset: 0px;
            stroke-linecap: round;
            stroke-width: 2px;
            stroke: black;
            fill: none;
            animation: countdown 10s linear infinite forwards;
        }

        @keyframes countdown {
            from {
                stroke-dashoffset: 0px;
            }
            to {
                stroke-dashoffset: 113px;
            }
        }
    </style>

{% endblock header %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#it">IT</a></li>
            <li class="breadcrumb-item active" aria-current="page">System Activity</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header card-header-rose">
            <h2>System Activity</h2>
        </div>
        <div class="card-body">

            <div class="container-fluid">
                <div class="row">

                    <!-- NGINX LOG -->
                    <div class="col-md-6 pr-2">

                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h3 class="text-center">NGINX Access Log</h3>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive" style="  height:300px; overflow-y: scroll;">

                                    <div id="id_nginx">
                                        <div
                                            hx-get="{% url "utils:admin_system_activity_nginx_htmx" %}"
                                            hx-trigger="load, click, every 10s"
                                        ></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- USER ACTIVITY LOG -->
                    <div class="col-md-6 pl-2">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h3 class="text-center">User Activity</h3>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive" style="  height:300px; overflow-y: scroll;">

                                    <div id="id_user_activity">
                                        <div
                                            hx-get="{% url "utils:admin_system_activity_users_htmx" %}"
                                            hx-trigger="load, click, every 10s"
                                        ></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- COBALT MESSAGES LOG -->
                    <div class="pr-2 col-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h3 class="text-center">Cobalt Messages</h3>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive" style="  height:300px; overflow-y: scroll;">

                                    <div id="id_cobalt_messages">
                                        <div
                                            hx-get="{% url "utils:admin_system_activity_cobalt_messages_htmx" %}"
                                            hx-trigger="load, click, every 10s"
                                        ></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}
    <script>
        $(document).ready( function () {

            // Stop auto update after an interval (10 minutes)
            setTimeout(function (){

                const msg = "<h3 class='text-center'>Auto refresh timed out. Reload page to restart.</h3><div class='text-center'><button class='btn btn-info btn-sm' onClick='window.location.reload();'>Reload Page</button></div>"

                $("#id_nginx").html(msg);
                $("#id_user_activity").html(msg);
                $("#id_cobalt_messages").html(msg);

            }, 600000);

        });
    </script>
{% endblock footer %}

