{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show basic activity info to check system is working                    #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load cobalt_tags %}
{% block title %} - System Settings{% endblock %}

{% block header %}
    <style>
        .loader {
            width: 48px;
            height: 48px;
            border: 5px solid #FFF;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            animation: pulse 1s linear infinite;
        }
        .loader:after {
            content: '';
            position: absolute;
            width: 48px;
            height: 48px;
            border: 5px solid #447e9b;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: scaleUp 1s linear infinite;
        }

        @keyframes scaleUp {
            0% { transform: translate(-50%, -50%) scale(0) }
            60% , 100% { transform: translate(-50%, -50%)  scale(1)}
        }
        @keyframes pulse {
            0% , 60% , 100%{ transform:  scale(1) }
            80% { transform:  scale(1.2)}
        }

    </style>
{% endblock header %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#dev">IT</a></li>
            <li class="breadcrumb-item active" aria-current="page">System Settings</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header card-header-rose">
            <h2>System Settings for {{ environment_type }}</h2>
            <h4><b>Maintenance Mode</b> will prevent anyone but a super-user from logging in.</h4>

            {% if environment_type != "cobalt-production" %}
                <h4><b>Disable Playpen</b> will turn off the protections against sending emails to real people.
                    You may want to do this for some testing, but it is there to protect us from accidents so it should
                    usually not be ticked.</h4>

                <h4><b>Debug</b> will show more informative errors in test environments. This is off in production
                    and should generally be off in UAT to match production behaviour.</h4>
            {% endif %}
        </div>
        <div class="card-body">
            <!-- MESSAGE -->
            <h3 class="text-primary font-weight-bold">
                <span
                    _="on load wait 15s then transition opacity to 0 then remove me"
                >{{ message }}</span>
            </h3>

            <!-- SHOW REFRESHING STATUS IF WE UPDATED THE VALUES -->

            {% if update_made %}
                <div
                    hx-post="{% url "utils:get_aws_environment_status_htmx" %}"
                    hx-vars="environment: '{{ aws_environment_name }}'"
                    hx-trigger="load, every 5s"
                ></div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {% cobalt_bs4_field form.maintenance_mode %}
                        </div>
                    </div>
                </div>

                <!-- DONT ALLOW DISABLE PLAYPEN ON PRODUCTION -->
                {% if environment_type != "cobalt-production" %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {% cobalt_bs4_field form.disable_playpen %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {% cobalt_bs4_field form.debug_flag %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-success cobalt-save">Update</button>

            </form>

        </div>
    </div>

{% endblock content %}
