{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show basic activity info to check system is working                    #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load cobalt_tags %}
{% block title %} - System Settings{% endblock %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#dev">IT</a></li>
            <li class="breadcrumb-item active" aria-current="page">System Settings</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header card-header-rose">
            <h2>System Settings</h2>
        </div>
        <div class="card-body">

            <!-- MESSAGE -->
            <h3 class="text-primary font-weight-bold">{{ message }}</h3>

            <h1>Response</h1>
            <pre>
            {{ response|pprint }}
                </pre>

            <h1>Settings</h1>
            <pre>
            {{ settings|pprint }}
                </pre>
        </div>
    </div>

{% endblock content %}
