{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show the data from the cobalt messages log                             #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}
{% load humanize %}

<!-- REFRESH COUNTER -->
<div class="countdown">
    <div id="countdown-number-cobalt" class="countdown-number"></div>
    <svg>
        <circle r="18" cx="20" cy="20"></circle>
    </svg>
</div>

<table class="table table-condensed table-hover">
    <thead class="text-info">

        <tr>
            <th class="text-left">Time Ago</th>
            <th class="text-left">Severity</th>
            <th class="text-left">File</th>
            <th class="text-left">Function</th>
            <th class="text-right">Line</th>
            <th class="text-left pl-5">Message</th>
        </tr>

    </thead>

    <tbody>
        {% for item in log_data %}
            <tr>
                <td class="text-left">{{ item.time_local|timesince }}</td>
                <td class="text-left">
                    {% if item.status_icon %}
                        <span class="material-icons" title="Status Code: {{ item.status }}">{{ item.status_icon }}</span>
                    {% else %}
                        {{ item.severity }}
                    {% endif %}
                </td>
                <td class="text-left">{{ item.file }}</td>
                <td class="text-left">{{ item.func }}</td>
                <td class="text-right">{{ item.line }}</td>
                <td class="text-left pl-5">{{ item.message }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<script>
    $(document).ready( function () {

        // Internet borrowed countdown script
        const countdownNumberEl = document.getElementById('countdown-number-cobalt');
        let countdown = 10;
        countdownNumberEl.textContent = countdown;

        setInterval(function() {
            countdown = --countdown <= 0 ? 10 : countdown;
            countdownNumberEl.textContent = countdown;
        }, 1000);

    });
</script>



