{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show basic activity info to check system is working                    #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load cobalt_tags %}
{% block title %} - System Settings{% endblock %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#dev">IT</a></li>
            <li class="breadcrumb-item active" aria-current="page">System Settings</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header card-header-rose">
            <h2>System Settings for {{ environment_type }}</h2>
        </div>
        <div class="card-body">
            <h3 class="text-primary">{{ message }}</h3>

            <!-- SHOW REFRESHING STATUS IF WE UPDATED THE VALUES -->

            {% if update_made %}
                <div
                    hx-post="{% url "utils:get_aws_environment_status_htmx" %}"
                    hx-vars="environment: '{{ aws_environment_name }}'"
                    hx-trigger="load, every 5s"
                ></div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {% cobalt_bs4_field form.fish_setting %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {% cobalt_bs4_field form.disable_playpen %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {% cobalt_bs4_field form.maintenance_mode %}
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success cobalt-save">Update</button>

            </form>

        </div>
    </div>

{% endblock content %}
