{% extends 'base.html' %}
{% load cobalt_tags %}
{% load humanize %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "utils:status" %}">System Status</a></li>
            <li class="breadcrumb-item active" aria-current="page">Payments Status</li>
        </ol>
    </nav>

    <div class="col-md-4 mx-auto my-auto">
        <div class="card">
            <div class="card-header card-header-warning text-center">
                <h2>System Status</h2>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Activity</td>
                            <td><a href="{% url "utils:user_activity" %}" class="btn btn-sm
                                {% if users > 1 %}
                                    btn-success">Good
                                {% else %}
                                    btn-info">Unknown
                                {% endif %}
                            </a></td>
                        </tr>
                        <tr>
                            <td>Payments</td>
                            <td><a href="{% url "utils:user_activity" %}" class="btn btn-sm btn-success">Good</a></td>
                        </tr>
                        <tr>
                            <td>Events</td>
                            <td><a href="{% url "utils:user_activity" %}" class="btn btn-sm btn-success">Good</a></td>
                        </tr>
                        <tr>
                            <td>Forums</td>
                            <td><a href="{% url "utils:user_activity" %}" class="btn btn-sm btn-success">Good</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
