{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Sub-systems stats within Cobalt                                        #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load cobalt_tags %}
{% load humanize %}
{% block title %} - Statistics{% endblock %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">General</a></li>
            <li class="breadcrumb-item active" aria-current="page">System Statistics</li>
        </ol>
    </nav>

    <div class="col-md-9 mx-auto">

        <!-- MAIN CARD FOR PAGE -->
        <div class="card">

            <!-- CARD HEADER -->
            <div class="card-header card-header-primary text-center">
                <h2>
                    <div class="d-flex justify-content-between">
                        <div>
                            System Statistics
                        </div>
                        <div>
                            <i class="material-icons" style="font-size:45px">summarize</i>
                        </div>
                    </h2>
                </div>

                <!-- MAIN CARD BODY -->
                <div class="card-body">

                    <!-- USERS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-warning">
                            <h3>Users</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Users</td>
                                        <td class="text-right font-weight-bold">{{ user_statistics.total_users|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Un-registered Users</td>
                                        <td class="text-right">{{ user_statistics.un_registered_users|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Users with Auto Top Up</td>
                                        <td class="text-right">{{ user_statistics.users_with_auto_top_up|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Users who have played in a Congress</td>
                                        <td class="text-right">{{ event_statistics.users_have_played_in_congress|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Users who have made a Payment</td>
                                        <td class="text-right">{{ payments_statistics.members_who_have_made_payments|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- PAYMENTS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-danger">
                            <h3>Payments</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Stripe Payments</td>
                                        <td class="text-right font-weight-bold">{{ GLOBAL_CURRENCY_SYMBOL }}{{ payments_statistics.total_stripe_payment_amount_less_refunds|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Number of Stripe Transactions</td>
                                        <td class="text-right">{{ payments_statistics.total_stripe_transactions|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Average size of Stripe Transactions</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ payments_statistics.average_stripe_transaction|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Stripe Payments (before refunds)</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ payments_statistics.total_stripe_payment_amount|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Stripe Refunds</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ payments_statistics.total_stripe_payment_amount_refunds|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Cash Movement</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ payments_statistics.total_turnover|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Estimated Stripe Fees</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ payments_statistics.estimated_stripe_fees|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">ABF Charges (<span class="font-italic">Seems low?</span>)</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ payments_statistics.abf_fees|floatformat:2|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- EMAILS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-info">
                            <h3>Notifications</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Emails (since April 2022)</td>
                                        <td class="text-right font-weight-bold">{{ notifications_statistics.total_emails|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Real Time Notifications</td>
                                        <td class="text-right">{{ notifications_statistics.total_real_time_notifications|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- EVENTS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-rose">
                            <h3>Events</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Player Entries</td>
                                        <td class="text-right font-weight-bold">{{ event_statistics.total_player_entries|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Congresses</td>
                                        <td class="text-right">{{ event_statistics.total_congresses|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Events</td>
                                        <td class="text-right">{{ event_statistics.total_events|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Sessions</td>
                                        <td class="text-right">{{ event_statistics.total_sessions|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- FORUMS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-danger">
                            <h3>Forums</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Chats</td>
                                        <td class="text-right font-weight-bold">{{ forum_statistics.total_chats|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Posts</td>
                                        <td class="text-right">{{ forum_statistics.total_posts|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Replies</td>
                                        <td class="text-right">{{ forum_statistics.total_c1|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Replies to Replies</td>
                                        <td class="text-right">{{ forum_statistics.total_c2|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- ORGANISATIONS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-success">
                            <h3>Organisations</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Clubs</td>
                                        <td class="text-right font-weight-bold">{{ org_statistics.total_clubs|intcomma }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-left">Total Organisations</td>
                                        <td class="text-right">{{ org_statistics.total_orgs|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- SESSIONS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-info">
                            <h3>Club Sessions</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Sessions Played</td>
                                        <td class="text-right font-weight-bold">{{ session_statistics.total_sessions|intcomma }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-left">Total Clubs Using Sessions</td>
                                        <td class="text-right">{{ session_statistics.distinct_clubs|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Payments Handled</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ session_statistics.total_payments|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Total Payments By {{ BRIDGE_CREDITS }}</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ session_statistics.total_bridge_credits|floatformat:2|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- RESULTS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-primary">
                            <h3>Results</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <td class="text-left font-weight-bold">Total Player Games</td>
                                        <td class="text-right font-weight-bold">{{ results_statistics.total_player_games|intcomma }}</td>
                                    </tr>

                                    <tr>
                                        <td class="text-left">Total Results</td>
                                        <td class="text-right">{{ results_statistics.total_results|intcomma }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- RBAC -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-warning">
                            <h3>Role Based Access Control</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">

                                    <tr>
                                        <td class="text-left font-weight-bold">Groups</td>
                                        <td class="text-right font-weight-bold">{{ rbac_statistics.rbac_groups|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Roles</td>
                                        <td class="text-right">{{ rbac_statistics.rbac_roles|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Users in Groups</td>
                                        <td class="text-right">{{ rbac_statistics.rbac_users|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Users under Management (distinct)</td>
                                        <td class="text-right">{{ rbac_statistics.rbac_users_distinct|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Administrators</td>
                                        <td class="text-right">{{ rbac_statistics.rbac_admin_users_distinct|intcomma }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- SUPPORT -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-danger">
                            <h3>Support</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">

                                    <tr>
                                        <td class="text-left font-weight-bold">Total Tickets</td>
                                        <td class="text-right font-weight-bold">{{ support_statistics.total_tickets|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Open Tickets</td>
                                        <td class="text-right">{{ support_statistics.open_tickets|intcomma }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- LOGS -->
                    <div class="card col-md-9 mx-auto">
                        <div class="card-header card-header-info">
                            <h3>Logs</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">

                                    <tr>
                                        <td class="text-left font-weight-bold">Total Logged Events</td>
                                        <td class="text-right font-weight-bold">{{ logs_statistics.total_logs|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Critical Events</td>
                                        <td class="text-right">{{ logs_statistics.total_critical_logs|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Congress Logs</td>
                                        <td class="text-right">{{ logs_statistics.event_logs|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Club Logs</td>
                                        <td class="text-right">{{ logs_statistics.club_logs|intcomma }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




{% endblock %}
