{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Shows basic user activity on the system                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load cobalt_tags %}
{% load humanize %}
{% block title %} - User Activity{% endblock %}
{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">General</a></li>
            <li class="breadcrumb-item"><a href="{% url "utils:status" %}">System Status</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Activity</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header card-header-warning">
            <h2>User Activity</h2>
        </div>
        <div class="card-body">
            <div class="card col-md-5 mx-auto">
                <div class="card-header card-header-primary">
                    <h2>Summary</h2>
                </div>
                <div class="card-body text-center">
                    <table class="table table-sm table-condensed">
                        <thead class="text-danger">
                            <tr>
                                <th class="text-left">Timescale</th>
                                <th class="text-right">Active Users</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td class="text-left">Last 5 Mins <td class="text-right">{{ last_5m|intcomma }}</tr>
                                <tr><td class="text-left">Last Hour <td class="text-right">{{ last_1hr|intcomma }}</tr>
                                    <tr><td class="text-left">Last Day <td class="text-right">{{ last_day|intcomma }}</tr>
                                        <tr><td class="text-left">Last Week <td class="text-right">{{ last_week|intcomma }}</tr>
                                            <tr><td class="text-left">Last Month <td class="text-right">{{ last_month|intcomma }}</tr>
                                            </tbody>
                                            </table>
                                        </div>
                                        </div>

                                        <br>
                                        <div class="card col-md-7 mx-auto">
                                            <div class="card-header card-header-success">
                                                <h2>Users</h2>
                                                <p>Excludes yourself</p>
                                            </div>
                                            <div class="card-body text-center">
                                                <div class="table-responsive">
                                                    <table class="table table-sm table-condensed">
                                                        <thead class="text-primary">
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Last Activity</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for user in things %}
                                                                <tr><td>{{ user|cobalt_user_link }}<td><b>{{ user.last_activity|naturaltime }}</b> - {{ user.last_activity|cobalt_nice_datetime }}</tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                                {% include 'utils/pagination_footer.html' %}

                                            </div>
                                        </div>

                                    </div>
                                    </div>




{% endblock %}
