{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}
{% load humanize %}
{% block headerjs %}
{% include "events/congress_wizard_include_header.html" %}
{% endblock %}
{% block content %}
<link href="{% static "forums/summernote/summernote-bs4.css" %}" type="text/css" media="all" rel="stylesheet">
<link href="{% static "forums/summernote/django_summernote.css" %}" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="{% static "forums/summernote/jquery.ui.widget.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.iframe-transport.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.fileupload.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/summernote-bs4.min.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/ResizeSensor.js" %}"></script>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "events:admin_summary" congress_id=event.congress.id %}">{{ event.congress.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "events:admin_event_summary" event_id=event.id %}">{{ event.event_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Email Event</li>
  </ol>
</nav>

<div class="container justify-content-center">
  <div class="row h-100 d-flex justify-content-center">
    <div class="card">
      <div class="card-header card-header-warning">
        <h2>Email</h2>
        <h3>{{ event.event_name }} in {{ event.congress }}</h3>
      </div>
      <div class="card-body mx-auto">


            <form method="post">
              {% csrf_token %}

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-static">Subject</label>
                    <span class="cobalt-form-error" id="id_subject_errors">{{ form.subject.errors|striptags }}</span>
                    {% render_field form.subject class+="form-control" %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  {{ form.body|as_crispy_field }}
                </div>
              </div>
              <hr>

              <div class="text-center">
              <button class="btn btn-info cobalt-save" name="test">Test</button>
              <button class="btn btn-success cobalt-save" name="send">Send ({{ count }})</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
