{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "events:admin_summary" congress_id=event_entry_player.event_entry.event.congress.id %}">{{ event_entry_player.event_entry.event.congress.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "events:admin_event_summary" event_id=event_entry_player.event_entry.event.id %}">{{ event_entry_player.event_entry.event.event_name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "events:admin_evententry" evententry_id=event_entry_player.event_entry.id %}">Entry: {{ event_entry_player.event_entry.id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Player: {{ event_entry_player.id }}</li>
  </ol>
</nav>

<div class="container justify-content-center">
  <div class="row h-100 d-flex justify-content-center">
    <div class="card">
      <div class="card-header card-header-warning">
        <h2>Congress Admin View</h2>
        <h3>{{ event_entry_player.event_entry.event.congress }}</h3>
      </div>
      <div class="card-body">

        <div class="card">
          <div class="card-header card-header-info">
            <h2>{{ event_entry_player.event_entry.event.event_name }} - Entry</h2>
          </div>

          <div class="card-body table-responsive">


{% include "utils/generic_user_search_body.html" with search_id=1 %}

            <form method="post">
              {% csrf_token %}
              <table>
              <tr>
                <td>
                <label class="bmd-label-static px-5">Player</label>
                </td>
                <td>
                  <div>
                    <span class="cobalt-form-error" id="id_player_errors">{{ form.player.errors|striptags }}</span>
                    <input type="hidden" name="player" id="id_player" value="{{ form.player.value }}">
                    <span id="player_name">
                    {% for value, text in form.player.field.choices %}
                      {% if value == form.player.value %}
                        {{ text }}
                      {% endif %}
                    {% endfor %}
                    </span>
                    <a class="cobalt_generic_member btn btn-sm btn-primary text-light" data-toggle="modal" id="unique_id" data-target="#cobalt_general_member_search1">Change</a>
                    <button class="btn btn-sm btn-info" id="make_tba">Make TBA</button>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                <label class="bmd-label-static px-5">Payment Type</label>
                </td>
                <td>
                  <div>

                    <span class="cobalt-form-error" id="id_payment_type_errors">{{ form.payment_type.errors|striptags }}</span>
                    {% render_field form.payment_type class+="form-control" %}
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                <label class="bmd-label-static px-5">Payment Status</label>
                </td>
                <td>
                  <div>

                    <span class="cobalt-form-error" id="id_payment_status_errors">{{ form.payment_status.errors|striptags }}</span>
                    {% render_field form.payment_status class+="form-control" %}
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                <label class="bmd-label-static px-5">Entry Fee Reason</label>
                </td>
                <td>
                  <div>

                    <span class="cobalt-form-error" id="id_reason_status_errors">{{ form.reason.errors|striptags }}</span>
                    {% render_field form.reason class+="form-control" %}
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                <label class="bmd-label-static px-5">Entry Fee</label>
                </td>
                <td>
                  <div>

                    <span class="cobalt-form-error" id="id_entry_fee_errors">{{ form.entry_fee.errors|striptags }}</span>
                    {% render_field form.entry_fee class+="form-control" %}
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                <label class="bmd-label-static px-5">Payment Received</label>
                </td>
                <td>
                  <div class="form-group">

                    <span class="cobalt-form-error" id="id_payment_status_errors">{{ form.payment_received.errors|striptags }}</span>
                    {% render_field form.payment_received class+="form-control" %}
                  </div>
                </td>
              </tr>
            </table>

              <button type="submit" class="btn btn-success cobalt-save">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
<script>
{% include "utils/generic_user_search_footer.html" with search_id=1 %}

function cobaltMemberSearchOk() {

// Check if player entered already
  $.getJSON("{% url "events:check_player_entry_ajax" %}" + "?member_id=" + member_id[1] + "&event_id={{ event_entry_player.event_entry.event.id }}")
    .done(response => {

// already entered
      if (response['message'] == "Already Entered"){
        swal.fire({
            title: "Error",
            html: member_name[1] + " is already entered in this event",
            icon: "error"
          });

      } else {

// Update player details
        $("#player_name").text(member_name[1]);
        $("#id_player").val(member_id[1]);
      }
    });
  return false;

}

$(document).ready(function(){

// handle tba
  $("#make_tba").click(function(){
    $("#player_name").text("TBA");
    $("#id_player").val({{ TBA_PLAYER }});

    return false;

  });
});

</script>
{% endblock %}
