{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}

{% block content %}

<div class="container justify-content-center">
  <div class="row h-100 d-flex justify-content-center">
    <div class="card">
      <div class="card-header card-header-warning">
        <h2>Congress Admin View</h2>
        <h3>{{ congress }}</h3>
        <h4>{{ congress.congress_master.org }}</h4>
        <a href="{% url "events:create_congress_wizard" congress_id=congress.id step=2 %}" class="btn btn-sm btn-secondary">Edit Congress</a>
        <a href="{% url "events:admin_bulletins" congress_id=congress.id %}" class="btn btn-sm btn-secondary">Bulletins</a>
        <a href="{% url "events:admin_latest_news" congress_id=congress.id %}" class="btn btn-sm btn-secondary">Latest News</a>
      </div>
      <div class="card-body">

        <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>Event</th>
            <th>Type</th>
            <th>Status</th>
            <th>Full Entry Fee</th>
            <th>Early Entry Fee</th>
            <th>Entries</th>
            <th>Tables</th>
            <th>Due</th>
            <th>Paid</th>
            <th>Pending</th>
          </tr>
        </thead>
        <tbody>


{% for event in events %}

      <tr>
        <td><a href="{% url "events:admin_event_summary" event_id=event.id %}">{{ event.event_name }}</a></td>
        <td>{{ event.event_type|default_if_none:"" }}</td>
        <td>{% if event.is_open %}Entries Open{% else %}Entries Closed{% endif %}</td>
        <td class="text-right">{{ event.entry_fee }}</td>
        <td class="text-right">{{ event.early_fee }}</td>
        <td class="text-right">{{ event.entries }}</td>
        <td class="text-right">{{ event.tables }}</td>
        <td class="text-right">{{ event.due }}</td>
        <td class="text-right">{{ event.paid }}</td>
        <td class="text-right">{{ event.pending }}</td>
      </tr>

{% endfor %}

      <tr>
        <td class="font-weight-bold">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td class="text-right font-weight-bold">{{ total.entries }}</td>
        <td class="text-right font-weight-bold">{{ total.tables }}</td>
        <td class="text-right font-weight-bold">{{ total.due }}</td>
        <td class="text-right font-weight-bold">{{ total.paid }}</td>
        <td class="text-right font-weight-bold">{{ total.pending }}</td>
      </tr>

        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}
