{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block headerjs %}
{% include "events/congress_wizard_include_header.html" %}
{% endblock %}
{% block content %}
{% include "events/congress_wizard_include_body.html" %}

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header card-header-primary">
        <h2>Sponsors</h2>
      </div>
      <div class="card-body">
        <div class="container">
          <form method="POST">
            {% csrf_token %}

            <div class="row">
              <div class="col-10 justify-content-center align-self-center">
                <h3>Sponsors</h3>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="javascript:void(0)" onclick='help("Sponsors", "If you have sponsors then you can describe them here. You can include links and pictures as well.");'>help</a>
              </div>
              <div class="col-12">
                {{ form.sponsors|as_crispy_field }}
              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <button class="btn btn-info btn-sm cobalt-save">Save/Next</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
{% include "events/congress_wizard_include_footer.html" %}
{% endblock %}
