{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block headerjs %}
{% include "events/congress_wizard_include_header.html" %}
{% endblock %}
{% block content %}
{% include "events/congress_wizard_include_body.html" %}

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header card-header-primary">
        <h2>Congress Options</h2>
      </div>

<!-- General Options -->
      <div class="card-body">
        <div class="container">
          <h3>Congress Dates: {{ congress.date_string }}</h3>
          <form method="POST">
            {% csrf_token %}

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-float" style="font-size:11px">Accept Entries from</label>
                  <input type="text" name="entry_open_date" id="id_entry_open_date" class="form-control datepicker" value="{{ form.entry_open_date.value|default_if_none:'' }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-float" style="font-size:11px">Close Entries on</label>
                  <input type="text" name="entry_close_date" id="id_entry_close_date" class="form-control datepicker" value="{{ form.entry_close_date.value|default_if_none:'' }}">
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header card-header-success">
                <h3>General Options</h3>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_allow_partnership_desk" name="allow_partnership_desk" type="checkbox" {% if form.allow_partnership_desk.value %}checked="Checked" {% endif %}>
                        Run Partnership Desk
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_allow_early_payment_discount" name="allow_early_payment_discount" type="checkbox" {% if form.allow_early_payment_discount.value %}checked="Checked" {% endif %}>
                        Give Early Entry Discounts
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row" id="discount_date" style="display:none;">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="bmd-label-float" style="font-size:11px">Last Day for Discount</label>
                      <input type="text" name="early_payment_discount_date" id="id_early_payment_discount_date" class="form-control datepicker" value="{{ form.early_payment_discount_date.value|default_if_none:'' }}">
                    </div>
                  </div>
                </div>

                <div class="row" id="automatic_refund_cutoff">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="bmd-label-float" style="font-size:11px">Last Day for Automatic Refunds</label>
                      <input type="text" name="automatic_refund_cutoff" id="id_automatic_refund_cutoff" class="form-control datepicker" value="{{ form.automatic_refund_cutoff.value|default_if_none:'' }}">
                    </div>
                  </div>
                  <div class="col-6">
                    After this date players cannot withdraw themselves.
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_allow_youth_payment_discount" name="allow_youth_payment_discount" type="checkbox" {% if form.allow_youth_payment_discount.value %}checked="Checked" {% endif %}>
                        Give Youth Entry Discounts
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row" id="youth_discount_date" style="display:none;">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="bmd-label-float" style="font-size:11px">Youth cut off date</label>
                      <input type="text" name="youth_payment_discount_date" id="id_youth_payment_discount_date" class="form-control datepicker" value="{{ form.youth_payment_discount_date.value|default_if_none:'' }}">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <span class="cobalt-form-error" id="id_youth_payment_discount_age_errors">{{ form.youth_payment_discount_age.errors|striptags }}</span>
                      <label class="bmd-label-float" style="font-size:11px">Youth age at cut off date</label>
                      {% render_field form.youth_payment_discount_age class+="form-control" %}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="bmd-label-float" style="font-size:11px">Seniors cut off date</label>
                      <input type="text" name="senior_date" id="id_senior_date" class="form-control datepicker" value="{{ form.senior_date.value|default_if_none:'' }}">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <span class="cobalt-form-error" id="id_senior_age_errors">{{ form.senior_age.errors|striptags }}</span>
                      <label class="bmd-label-float" style="font-size:11px">Seniors age at cut off date</label>
                      {% render_field form.senior_age class+="form-control" %}
                    </div>
                  </div>
                </div>

              </div>
            </div>

<!-- Payment Options -->

            <div class="card">
              <div class="card-header card-header-warning">
                <h3>Payment Options</h3>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_payment_method_system_dollars" name="payment_method_system_dollars" type="checkbox" {% if form.payment_method_system_dollars.value %}checked="Checked" {% endif %}>
                        Accept Card Payments (via {{ BRIDGE_CREDITS }})
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_payment_method_cash" name="payment_method_cash" type="checkbox" {% if form.payment_method_cash.value %}checked="Checked" {% endif %}>
                        Accept Cash
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_payment_method_bank_transfer" name="payment_method_bank_transfer" type="checkbox" {% if form.payment_method_bank_transfer.value %}checked="Checked" {% endif %}>
                        Accept Bank Transfers
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row h-100" id="bank_transfer" style="display:none;">
                    <div class="col-2 my-auto font-weight-bold" >Bank Details:</div>
                  <div class="col-9">
                    {{ form.bank_transfer_details|as_crispy_field }}
                  </div>
                </div>


                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_payment_method_cheques" name="payment_method_cheques" type="checkbox" {% if form.payment_method_cheques.value %}checked="Checked" {% endif %}>
                        Accept Cheques
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="id_payment_method_off_system_pp" name="payment_method_off_system_pp" type="checkbox" {% if form.payment_method_off_system_pp.value %}checked="Checked" {% endif %}>
                        Use your own pre-paid system (not My ABF)
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row h-100" id="cheques" style="display:none;">
                    <div class="col-2 my-auto font-weight-bold" >Cheque Details:</div>
                  <div class="col-9">
                    {{ form.cheque_details|as_crispy_field }}
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <button class="btn btn-info btn-sm cobalt-save">Save/Next</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
{% include "events/congress_wizard_include_footer.html" %}

<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<script>
  $(document).ready(function() {

    $('#id_entry_open_date').datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $('#id_entry_close_date').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false
    });
    $("#id_entry_open_date").on("dp.change", function(e) {
      $('#id_entry_close_date').data("DateTimePicker").minDate(e.date);
    });
    $("#id_entry_close_date").on("dp.change", function(e) {
      $('#id_entry_open_date').data("DateTimePicker").maxDate(e.date);
    });

    $('#id_early_payment_discount_date').datetimepicker({
      format: 'DD/MM/YYYY'
    });

    $('#id_youth_payment_discount_date').datetimepicker({
      format: 'DD/MM/YYYY'
    });

    $('#id_senior_date').datetimepicker({
      format: 'DD/MM/YYYY'
    });

    $('#id_automatic_refund_cutoff').datetimepicker({
      format: 'DD/MM/YYYY'
    });

// early payment
    if ($('#id_allow_early_payment_discount').is(":checked")) {
      $("#discount_date").show()
    }

    $('#id_allow_early_payment_discount').change(function() {
         if(this.checked) {
            $("#discount_date").show()
         } else {
           $("#discount_date").hide()
         }
     });

// youth discount
    if ($('#id_allow_youth_payment_discount').is(":checked")) {
      $("#youth_discount_date").show()
    }

    $('#id_allow_youth_payment_discount').change(function() {
         if(this.checked) {
            $("#youth_discount_date").show()
         } else {
           $("#youth_discount_date").hide()
         }
     });

// bank transfer
    if ($('#id_payment_method_bank_transfer').is(":checked")) {
      $("#bank_transfer").show()
    }

    $('#id_payment_method_bank_transfer').change(function() {
         if(this.checked) {
            $("#bank_transfer").show()
         } else {
           $("#bank_transfer").hide()
         }
     });

// cheques
    if ($('#id_payment_method_cheques').is(":checked")) {
      $("#cheques").show()
    }

    $('#id_payment_method_cheques').change(function() {
         if(this.checked) {
            $("#cheques").show()
         } else {
           $("#cheques").hide()
         }
     });

  });
</script>
{% endblock %}
