{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block headerjs %}
{% include "events/congress_wizard_include_header.html" %}
{% endblock %}
{% block content %}
{% include "events/congress_wizard_include_body.html" %}

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header card-header-primary">
      {% if congress.status != "Published" %}
        <h2>Publish</h2>
      {% else %}
        <h2>Already Published</h2>
      {% endif %}
      </div>
      <div class="card-body">
        <div class="container">
          <form method="POST">
            {% csrf_token %}

            <div class="row">
              <div class="col">
                <h3>Errors</h3>
                {% if errors %}
                <ul>
                  {% for error in errors %}
                  <li> {{ error|safe }}
                    {% endfor %}
                </ul>
                {% else %}
                <h4>No errors found.
                {% if congress.status != "Published" %}
                  You are good to publish.</h4>
                {% endif %}
                {% endif %}

                {% if warnings %}
                <h3>Warnings</h3>
                <ul>
                  {% for warning in warnings %}
                  <li> {{ warning|safe }}
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
            {% if congress.status != "Published" %}
            <i>Previews will appear in another browser tab.</i>
            {% endif %}
            <div class="row">
              <div class="col text-center">
                {% if congress.status != "Published" %}
                  <button class="btn btn-success btn-sm" id="id_preview">Preview</button>
                  <button class="btn btn-success btn-sm" id="id_preview_full">Preview (Full screen)</button>
                  <button class="btn btn-info btn-sm cobalt-save" name="Publish">Publish</button>
                {% else %}
                  <button class="btn btn-info btn-sm cobalt-save" name="Unpublish">Unpublish</button>
                {% endif %}
                <a href="{% url "events:delete_congress" congress_id=congress.id %}" class="btn btn-danger btn-sm cobalt-save" id="delete_congress" name="Delete">Delete</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}
{% include "events/congress_wizard_include_footer.html" %}
<script>
  $(document).ready(function() {

    // Preview
    $("#id_preview").click(function(event) {
      event.preventDefault();
      var win = window.open('{% url "events:view_congress" congress_id=congress.id %}', '_blank');
      if (win) {
        //Browser has allowed it to be opened
        win.focus();
      } else {
        //Browser has blocked it
        alert('Please allow popups for this website');
      }
    });

    // Preview fullscreen
    $("#id_preview_full").click(function(event) {
      event.preventDefault();
      var win = window.open('{% url "events:view_congress" congress_id=congress.id fullscreen=1 %}', '_blank');
      if (win) {
        //Browser has allowed it to be opened
        win.focus();
      } else {
        //Browser has blocked it
        alert('Please allow popups for this website');
      }
    });
  });
</script>
{% endblock %}
