{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "events:create_congress_wizard" congress_id=event.congress.id step=6 %}">{{ event.congress.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "events:edit_event" event_id=event.id congress_id=event.congress.id %}">{{ event.event_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Session</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header card-header-warning">
        <h2>Add Session to {{ event }}</h2>
      </div>
      <div class="card-body">
        <div class="container">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="event" id="id_event" value="{{ event.id }}">

            <div class="row">
              <div class="col-md-4">
                <span class="cobalt-form-error" id="id_session_date_errors">{{ form.session_date.errors|striptags }}</span>
                <div class="form-group">
                  <label class="bmd-label-float" style="font-size:11px">Date</label>
                  <input type="text" name="session_date" id="id_session_date" class="form-control datepicker" value="{{ form.session_date.value|default_if_none:'' }}">
                </div>
              </div>
              <div class="col-md-4">
                <span class="cobalt-form-error" id="id_session_start_errors">{{ form.session_start.errors|striptags }}</span>
                <div class="form-group">
                  <label class="bmd-label-float" style="font-size:11px">Start Time</label>
                  <input type="text" name="session_start" id="id_session_start" class="form-control timepicker" value="{{ form.session_start.value|default_if_none:'' }}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="cobalt-form-error" id="id_session_end_errors">{{ form.session_end.errors|striptags }}</span>
                  <label class="bmd-label-float" style="font-size:11px">End Time (optional)</label>
                  <input type="text" name="session_end" id="id_session_end" class="form-control timepicker" value="{{ form.session_end.value|default_if_none:'' }}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <button class="btn btn-info btn-sm cobalt-save">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>

<script>
  $(document).ready(function() {

    //    md.initFormExtendedDatetimepickers();

    $('#id_session_date').datetimepicker({
      format: 'DD/MM/YYYY',
      minDate: moment('{{ event.congress.start_date|date:"d/m/Y" }}', "DD/MM/YYYY"),
      maxDate: moment('{{ event.congress.end_date|date:"d/m/Y" }}', "DD/MM/YYYY")
    });
    $('#id_session_start').datetimepicker({
      format: 'LT'
    });
    $('#id_session_end').datetimepicker({
      format: 'LT',
      useCurrent: false
    });

    $("#id_session_start").on("dp.change", function(e) {
      $('#id_session_end').data("DateTimePicker").minDate(e.date);
    });
    $("#id_session_end").on("dp.change", function(e) {
      $('#id_session_start').data("DateTimePicker").maxDate(e.date);
    });

  });
</script>

{% endblock %}
