{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "events:create_congress_wizard" congress_id=congress.id step=6 %}">{{ congress.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Event</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header card-header-warning">
        <h2>Add Event to {{ congress }}</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div>
              Congress Entry Open Date:
              {{ congress.entry_open_date|default_if_none:'Not Set'|date:"d/m/Y" }}
            </div>
          </div>
          <div class="col-md-6">
            <div>
              Congress Entry Close Date:
              {{ congress.entry_close_date|default_if_none:'Not Set'|date:"d/m/Y" }}
            </div>
          </div>
        </div>
        <div class="container">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="congress" id="id_congress" value="{{ congress.id }}">
            <button class="btn btn-sm btn-info" id="override_dates_toggle">
              Override dates for this event
            </button>

            <div class="row" id="override_dates" style="display:none;">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="cobalt-form-error" id="id_entry_open_date_errors">{{ form.entry_open_date.errors|striptags }}</span>
                  <label class="bmd-label-float" style="font-size:11px">Accept Event Entries from</label>
                  <input type="text" name="entry_open_date" id="id_entry_open_date" class="form-control datepicker" value="{{ form.entry_open_date.value|default_if_none:'' }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="cobalt-form-error" id="id_entry_close_date_errors">{{ form.entry_close_date.errors|striptags }}</span>
                  <label class="bmd-label-float" style="font-size:11px">Close Event Entries on</label>
                  <input type="text" name="entry_close_date" id="id_entry_close_date" class="form-control datepicker" value="{{ form.entry_close_date.value|default_if_none:'' }}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Event Name
              </div>
              <div class="col-7">
                <div id="div_id_event_name" class="form-group">
                  <span class="cobalt-form-error" id="id_event_name_errors">{{ form.event_name.errors|striptags }}</span>
                  {% render_field form.event_name class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="javascript:void(0)" onclick='help("Event Name", "The short name of this event.");'>help</a>
              </div>
            </div>

            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Description
              </div>
              <div class="col-7">
                <div id="div_id_description" class="form-group">
                  <span class="cobalt-form-error" id="id_description_errors">{{ form.description.errors|striptags }}</span>
                  {% render_field form.description class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="javascript:void(0)" onclick='help("Description", "A Slightly longer definition of the event than the event name.");'>help</a>
              </div>
            </div>

            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Maximum Entries
              </div>
              <div class="col-7">
                <div id="div_id_max_entries" class="form-group">
                  <span class="cobalt-form-error" id="id_max_entries_errors">{{ form.max_entries.errors|striptags }}</span>
                  {% render_field form.max_entries class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="javascript:void(0)" onclick='help("Maximum Entries", "The maximum number of pairs, teams or individuals who can play in this depending upon the event format.");'>help</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Event Type
              </div>
              <div class="col-7">
                <div id="div_id_event_type" class="form-group">
                  <span class="cobalt-form-error" id="id_event_type_errors">{{ form.event_type.errors|striptags }}</span>
                  {% render_field form.event_type class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="javascript:void(0)" onclick='help("Event Type", "Classification of who can enter.");'>help</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Player Format
              </div>
              <div class="col-7">
                <div id="div_id_player_format" class="form-group">
                  <span class="cobalt-form-error" id="id_player_format_errors">{{ form.player_format.errors|striptags }}</span>
                  {% render_field form.player_format class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="javascript:void(0)" onclick='help("Player Format", "Structure of entries - individual, pairs or teams.");'>help</a>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary btn-sm cobalt-save">Save</button>
                <a href="{% url "events:create_congress_wizard" congress_id=congress.id step=6 %}" class="btn btn-info btn-sm">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}
<script src="{% static "assets/js/cobalt-unsaved.js" %}"></script>
<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<script>
  $(document).ready(function() {

    $('#id_entry_open_date').datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $('#id_entry_close_date').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false
    });
    $("#id_entry_open_date").on("dp.change", function(e) {
      $('#id_entry_close_date').data("DateTimePicker").minDate(e.date);
    });
    $("#id_entry_close_date").on("dp.change", function(e) {
      $('#id_entry_open_date').data("DateTimePicker").maxDate(e.date);
    });


    $("#override_dates_toggle").click(function(event) {
        event.preventDefault();
        $("#override_dates").show();
        $("#override_dates_toggle").hide();
        return false;
    });

  });
</script>

{% endblock %}
