<!--

This generates the rows (apart from the entering player) for the enter event
screen. Players are numbered from 1 up to 6. Players 5 and 6 are initially hidden.

Player0 is the logged in player - not handled here

 -->


<tr>

<!-- Player name -->

  <td class="col text-center">
    {% if our_form_row.player_no > 3 %}
    <div id="plus_{{ our_form_row.player_no }}" style="display: none;">
      <a href="javascript:;" id="plus_sign_{{ our_form_row.player_no }}">
        <i class="fas fa-plus-circle display-4"></i>
      </a>
    </div>
    {% endif %}

    <div id="div_id_player{{ our_form_row.player_no }}" class="form-group" {% if our_form_row.player_no > 3 %}style="display: none;"{% endif %}>
      <div class="player-selectpicker class="form-group" id="div_id_player_sub_{{ our_form_row.player_no }}">
        <select class="form-control input-sm cobalt-playerN" data-container="body" data-style="btn btn-info"  title="Team Mate" name="player{{ our_form_row.player_no }}" id="id_player{{ our_form_row.player_no }}">
            <option selected disabled>Select...</option>
          {% for val,item in our_form_row.name_choices %}

          <option value="{{ val }}" {% if our_form_row.name_selected == val %} selected {% endif %}>{{ item }}</option>

          {% endfor %}
        </select>
      </div>
    </div>

<!-- Payment choices  -->

  </td>
  <td class="col">
    <div class="form-group" id="id_player{{ our_form_row.player_no }}_paydiv" {% if our_form_row.player_no > 3 %}style="display: none;"{% endif %}>
    <select id="id_player{{ our_form_row.player_no }}_payment" name="player{{ our_form_row.player_no }}_payment" class="payment-method form-control input-sm" disabled>

<!-- player 5 and 6 set to free -->
      {% if our_form_row.player_no > 3 %}

        <option value="free" selected>No Charge</option>

      {% else %}
        <option selected disabled>Select...</option>
        {% for val,item in our_form_row.payment_choices %}

        <option value="{{ val }}" {% if our_form_row.payment_selected == val %} selected {% endif %}>

        {{ item }}</option>

        {% endfor %}

      {% endif %}
    </select>
    </div>

<!-- entry fee and discount alert -->
  <td class="col" >
    <nobr>
    <span id="player{{ our_form_row.player_no }}_discount_alert">&nbsp;</span>
    <td class="text-right">
    <input class="pay_now" id="fee_{{ our_form_row.player_no }}_now" type="text" size="12" readonly style="border: none;" value="" {% if our_form_row.player_no > 3 %}style="display: none;"{% endif %}>
    </nobr>
  <td class="col">
    <input class="pay_later" id="fee_{{ our_form_row.player_no }}_later" type="text" size="12" readonly style="border: none;" value="" }}" {% if our_form_row.player_no > 3 %}style="display: none;"{% endif %}>
</tr>
