{% extends request.user.is_authenticated|yesno:"base.html,base_logged_out.html" %}
{% load static %}

{% block animate %}
{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header card-header-primary">
    <h1>
    <div class="d-flex justify-content-between">
    <div>
       Congresses list
    </div>
    <div>
       <i class="material-icons" style="font-size:50px">book_online</i>
    </div>
  </h1>
  </div>
  <div class="table-responsive" style="margin:12px">
          <div id="reportrange" class="btn btn-success btn-lg">
    <span></span> <b class="caret"></b>
  </div>
  <div class="card-body text-center">

    <div class="d-flex justify-content-between">
          <div>
            {% if draft_congress_flag %}
              <a class="text-left" href="{% url "events:view_draft_congresses" %}">View Draft Congresses</a>
            {% endif %}
            </div>

          <div class="pb-5">
            {% if admin %}
              <a class="text-right" href="{% url "events:create_congress_wizard" %}">Create New Congress</a>
            {% endif %}
          </div>

     </div>
        <table id="congress_table" class="display table table-shopping" style="width:100%">
        <thead>
            <tr>
                <th>Month</th>
                <th>Congress Start</th>
                <th>Congress End</th>
                <th>Congress Name</th>
                <th>Run By</th>
                <th>State</th>
                <th>Event Type</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tr>
                <th>Month</th>
                <th>Congress Start</th>
                <th>Congress End</th>
                <th>Congress Name</th>
                <th>Run By</th>
                <th>State</th>
                <th>Event Type</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
    </table>
  </div>

</div>
{% endblock %}

{% block footer %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/af-2.3.6/b-1.7.0/date-1.0.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sl-1.3.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/af-2.3.6/b-1.7.0/date-1.0.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
$(document).ready(function() {

    var start = moment("2020-01-01 12:34:16");
    var end = moment("2021-03-03 10:08:07");
    function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Next 6 months': [moment().startOf(), moment()],
        'Next 12 months': [moment().startOf(), moment()],
        'Next 18 months': [moment().startOf(), moment()],
        'Next 24 months': [moment().startOf(), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, cb);
    cb(start, end);
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
   var start = picker.startDate;
   var end = picker.endDate;


  $.fn.dataTable.ext.search.push(
    function(settings, data, dataIndex) {
      var min = start;
      var max = end;
      var startDate = moment(data[2], "YYYY/MM/DD").toDate();
      console.log("start ==> " + min + "end ==> " + max + "mydate ==> " + startDate + "raw " + data[2])
      if (min == null && max == null) {
        return true;
      }
      if (min == null && startDate <= max) {
        return true;
      }
      if (max == null && startDate >= min) {
        return true;
      }
      if (startDate <= max && startDate >= min) {
        return true;
      }
      return false;
    }
  );
  table.draw();
  $.fn.dataTable.ext.search.pop();
});
// individual search 
   /* $('#congress_table thead tr:eq(0) th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="search" placeholder="Search '+title+'" style="background-image:none" class="form-control form-control-sm column_search" />' );
    });
    $('#congress_table thead tr:eq(0) th:last').html('');
    */
// Custom filtering function which will search data in column four between two values
   var table =  $('#congress_table').DataTable( {
        "ajax": '{% url "events:test_tanmay_ajax" %}',
        //"dom": 'i<"top"fl><"abf_table" rt><"bottom"p><"clear">',
        "columns": [
            { "data": "month" },
            { "data": "congress_start" },
            { "data": "congress_end" },
            { "data": "congress_name" },
            { "data": "run_by" },
            { "data": "state" },
            { "data": "event_type" },
            { "data": "status" },
            { "data": "actions", "name":"Actions", "render": function(data, type, row){
              var html_buttons =  '<a class="btn btn-sm btn-danger" href="{% url "events:view_congress" congress_id=12345%}">Enter</a>'.replace(/12345/, data.id)
              if(data.edit){
              html_buttons += '<a href="{% url "events:create_congress_wizard" congress_id=12345 step=2 %}" class="btn btn-sm btn-success">Edit</a>'.replace(/12345/, data.id)
              }
              if(data.manage){
              html_buttons +='<a class="btn btn-sm btn-info" href="{% url "events:admin_summary" congress_id=123456 %}">Manage</a>'.replace(/12345/, data.id)
              }
        
              return html_buttons;
            }}
        ],
       'columnDefs': [{
        'targets': [1,3], // column index (start from 0)
        'orderable': false, // set orderable false for selected columns
        }],
        rowGroup: {
            dataSrc: 'month'
        },
        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
          $('td', nRow).css('background-color', 'White');
          $('td:nth-child(8)', nRow).css('background-color', 'White');
        },
        "initComplete": function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.header()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                });
            });
        },
    } );
    // Apply the search
    $( '#congress_table thead'  ).on( 'keyup', ".column_search",function () {
   
        table
            .column( $(this).parent().parent().index() )
            .search( this.value )
            .draw();
    } );
$('#congress_table_length').css("text-align", "left")
} );
</script>
{% endblock %}