{% extends "base.html" %}
{% load static %}

{% block animate %}
{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header card-header-primary">
    <h1>
    <div class="d-flex justify-content-between">
    <div>
       Congresses list
    </div>
    <div>
       <i class="material-icons" style="font-size:50px">book_online</i>
    </div>
  </h1>
  </div>
  <div class="table-responsive" style="margin:12px">
  <div class="card-body text-center">
    <div class="justify-content-between d-flex">

          <div id="reportrange" class="btn btn-success btn-lg text-left">
              <span></span> <b class="caret"></b>
           </div>
          <div class="pb-5">
            {% if admin %}
              <a class="text-right" href="{% url "events:create_congress_wizard" %}">Create New Congress</a>
            {% endif %}
          </div>

     </div>
        <table id="congress_table" class="display table table-shopping" style="width:100%">
        <thead>
            <tr style="text-align:left">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="run_by"></th>
                <th class="state"></th>
                <th class="event_type"></th>
                <th class="status"></th>
                <th></th>
            </tr>
            <tr style="text-align:left">
                <th>Month</th>
                <th>Start</th>
                <th>End</th>
                <th>Congress Name</th>
                <th>Run By</th>
                <th>State</th>
                <th>Congress Type</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
    </table>
  </div>

</div>
{% endblock %}

{% block footer %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/af-2.3.6/b-1.7.0/date-1.0.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sl-1.3.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/af-2.3.6/b-1.7.0/date-1.0.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
$(document).ready(function() {

    var start = moment();
    var end = moment().add(6,"month");
    function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Next 6 months': [moment(), moment().add(6, 'month')],
        'Next 12 months': [moment(), moment().add(12, 'month')],
        'Next 12 months': [moment().startOf(), moment().add(12,'month')],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last 6 months': [moment().subtract(6, 'month'), moment()],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, cb);
    cb(start, end);
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
   var start = picker.startDate;
   var end = picker.endDate;


  $.fn.dataTable.ext.search.push(
    function(settings, data, dataIndex) {
      var min = start;
      var max = end;
      var startDate = moment(data[1], "DD/MM/YY").toDate();
      var endDate = moment(data[2], "DD/MM/YY").toDate();
      if (min == null && max == null) {
        return true;
      }
      if (min == null && startDate <= max) {
        return true;
      }
      if (max == null && startDate >= min) {
        return true;
      }
      if (startDate <= max && startDate >= min) {
        return true;
      }
      return false;
    }
  );
  table.draw();
  $.fn.dataTable.ext.search.pop();
});
// individual search 
   /* $('#congress_table thead tr:eq(0) th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="search" placeholder="Search '+title+'" style="background-image:none" class="form-control form-control-sm column_search" />' );
    });
    $('#congress_table thead tr:eq(0) th:last').html('');
    */
// Custom filtering function which will search data in column four between two values
   var table =  $('#congress_table').DataTable( {
        "ajax": '{% url "events:test_tanmay_ajax" %}',
        //"dom": '<"toolbar">lifrtpr',
        "dom":"<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        "ordering": false,
        "pageLength": 25,
        hideEmptyCols: true,
        "columns": [
            { "defaultContent": ""},
            { "data": "congress_start" },
            { "data": "congress_end" },
            { "data": "congress_name" },
            { "data": "run_by" },
            { "data": "state" },
            { "data": "event_type" },
            { "data": "status" },
            { "data": "actions", "name":"Actions", "render": function(data, type, row){
              var html_buttons =  ''
              if(data.edit){
              html_buttons += '<a href="{% url "events:create_congress_wizard" congress_id=12345 step=2 %}" class="btn btn-sm btn-success">Edit</a>'.replace(/12345/, data.id)
              }
              else{
              html_buttons += '<a href=""" class="btn btn-sm btn-success" style="visibility:hidden">Edit</a>'.replace(/12345/, data.id)
              }
              if(data.manage){
              html_buttons +='<a class="btn btn-sm btn-info" href="{% url "events:admin_summary" congress_id=12345 %}">Manage</a>'.replace(/12345/, data.id)
              }
              else{
              html_buttons += '<a href=""" class="btn btn-sm btn-info" style="visibility:hidden">Manage</a>'.replace(/12345/, data.id)
              }
        
              return html_buttons;
            }}
        ],
       'columnDefs': [{
        //'targets': [1,3], // column index (start from 0)
        'orderable': false, // set orderable false for selected columns
        }],
        rowGroup: {
          dataSrc: 'month',
          startRender: function (rows, group) {
            return $('<tr/>').append( '<td class="td-left" colspan=12 style="text-align:left">'+group+'</td>' );
                                              }
                  },
        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
          var event_type = aData["event_type"];
          var event_dict = {
                  "National gold point event":"White",
                  "State championship event":"White",
                  "State congress event":"White",
                  "Club event":"White",
                  "Club congress":"White",
                  "Other event":"white",
                  "Not found":"white"
          }
          var color = event_dict[event_type]||"White"
          var font_color = "Black"
          if(event_type=="Not found"){
            font_color = "Black"
          }
          $('td', nRow).css("text-align", "left").css("font-weight", "bold").css('cursor', 'pointer');
          $('td:nth-child(4)', nRow).css('background-color', color).css("color", font_color);
          $('td:nth-child(5)', nRow).css('background-color', color).css("color", font_color);
        },
        "initComplete": function () {
          // carefull about changing the order otherwise this will break
          if(table.data()[0].status == "hide"){
            table.columns([7]).visible(false);
          }
          this.api().columns().every(function(){
            $(this.header()).css("font-weight", 500).css("font-size", "larger").css("background-color", "rgb(82, 104, 213)").css("color", "white");
            $(this).css("text-align", "left")
          });
            this.api().columns([4,5,6,7]).every( function () {
                var column = this;
                var column_class = "." + column.dataSrc();
                var column_text = column.header().textContent;
                var select = $('<select class="form-control"><option value="">filter</option></select>')
                    .appendTo( $(column_class) )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                });
            });
            $('.dataTable').on('click', 'tbody tr', function() {
              congress_id = table.row(this).data()["actions"].id
            var href="{% url "events:view_congress" congress_id=12345%}".replace(/12345/, congress_id)
            window.open(href, "_self")
              })
          // 
          $.fn.dataTable.ext.search.push(
              function(settings, data, dataIndex) {
                var min = moment();
                var max = moment().add(6, 'month');
                var startDate = moment(data[1], "DD/MM/YY").toDate();
                var endDate = moment(data[2], "DD/MM/YY").toDate();
                var status = data[7]
                if(status != "Published"){
                  return false;
                }
                if (min == null && max == null) {
                  return true;
                }
                if (min == null && startDate <= max) {
                  return true;
                }
                if (max == null && startDate >= min) {
                  return true;
                }
                if (startDate <= max && startDate >= min) {
                  return true;
                }
                return false;
              }
            );
            table.draw();
            $.fn.dataTable.ext.search.pop();
          // 
        },
    } );
    // Apply the search
    $( '#congress_table thead'  ).on( 'keyup', ".column_search",function () {
   
        table
            .column( $(this).parent().parent().index() )
            .search( this.value )
            .draw();
    } );
$('#congress_table_length').css("text-align", "left")
} );
</script>
{% endblock %}