# .coveragerc to control coverage.py

[run]
branch = true
source = .
omit =
        *__migrations__*.py
        */__init__.py
        */migrations/*
        */tests/*
        */tests.py
        */wsgi.py
        */urls.py
        */admin.py
        */apps.py
        manage.py
        */cobalt/version.py
        */cobalt/settings.py

[report]
show_missing = true
