pre-commit==2.20.0
pylint==2.15.6
# removed specific version
ipython
radon==5.1.0
termcolor==1.1.0
selenium==4.6.0 
sphinx==4.5.0
sphinx-book-theme==0.3.3
#pydata-sphinx-theme==0.12.0
ipdb
# pytest-django
# pytest-html
coverage==6.5.0
# PySimpleGUI==4.60.4
PySimpleGUI==5.0.8.3