pre-commit==2.19.0
pylint==2.14.0
ipython
radon
termcolor
selenium==4.2.0
sphinx==4.5.0
sphinx-book-theme==0.3.2
pydata-sphinx-theme==0.8.1
ipdb
# pytest-django
# pytest-html
coverage==6.4.1
PySimpleGUI==4.60.1