{#This is the body of the email for people entering events#}

{% if player == payment_user %}
    <p>We have received your entry into <b>{{ congress.name }}</b>
{% else %}
    <p>{{ payment_user.full_name }} has entered you into <b>{{ congress.name }}</b>
{% endif %}

hosted by {{ congress.congress_master.org }}.</p>

<table class="receipt" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style='text-align: left'>
            <b>Event</b>
        </td>
        <td style='text-align:left'><b>Players</b>
        </td>
        <td style='text-align: right'>
            <b>Entry Status</b>
        </td>
    </tr>

    {% for event, players in events_struct.items %}
        <tr>
            <td style='text-align: left' class='receipt-figure'>
                {{ event.event_name }}
            </td>
            <td style='text-align: left' class='receipt-figure'>

                {% for player in players %}
                    {% if forloop.last %}
                        {{ player.player }}
                    {% else %}
                        {{ player.player }}<br>
                    {% endif %}
                {% endfor %}

            </td>
            <td>{{ players.0.event_entry.entry_status }}</td>
        </tr>
    {% endfor %}

</table>

{% if "bank-transfer" in payment_types %}
    <p>We are expecting some payments for this entry by bank transfer.</p>
    <h3>Bank Details</h3>
    {{ congress.bank_transfer_details }}
    <br><br>
{% endif %}

{% if "cheque" in payment_types %}
    <p>We are expecting some payments for this entry by cheque.</p>
    <h3>Cheques</h3>
    {{ congress.cheque_details }}
    <br><br>
{% endif %}

{% if "off-system-pp" in payment_types %}
    <p>We are expecting some payments for this entry from another pre-paid system. The convener will handle this for you.</p>
    <br><br>
{% endif %}

{% if user_owes_money %}
    You have outstanding payments to make to complete this entry. Click on the button below to view
    your payments. Note that entries are not complete until all payments have been received.
    <br><br>

{% else %}

    Your entries are all paid for however other players in the entry may still need to pay. You can
    see overall entry status above. You have nothing more to do. If you need to view the entry or
    change anything you can use the link below.
    <br><br>

{% endif %}
