{% if player == payment_user %}
    <p>We have received your entry into <b>{{ congress.name }}</b>
{% else %}
    <p>{{ payment_user.full_name }} has entered you into <b>{{ congress.name }}</b>
{% endif %}

hosted by {{ congress.congress_master.org }}.</p>

<table class="receipt" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style='text-align: left'><b>Event</b><td style='text-align:left'><b>Players</b></td>
            <td style='text-align: right'><b>Entry Status</b></td>
        </tr>

        {% for event, players in events_struct %}
            <tr>
                <td style='text-align: left' class='receipt-figure'>{{ event.event_name }}</td>
                <td style='text-align: left' class='receipt-figure'>
                    {% for player in players %}
                        {{ player }},
                    {% endfor %}

                </td>
            </tr>
        {% endfor %}

    </table>
