{% if player == payment_user %}
    <p>We have received your entry into <b>{{ congress.name }}</b>
{% else %}
    <p>{{ payment_user.full_name }} has entered you into <b>{{ congress.name }}</b>
{% endif %}

hosted by {{ congress.congress_master.org }}.</p>

<table class="receipt" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style='text-align: left'>
            <b>Event</b>
        </td>
        <td style='text-align:left'><b>Players</b>
        </td>
        <td style='text-align: right'>
            <b>Entry Status</b>
        </td>
    </tr>

    {% for event, players in events_struct.items %}
        <tr>
            <td style='text-align: left' class='receipt-figure'>
                {{ event.event_name }}
            </td>
            <td style='text-align: left' class='receipt-figure'>

                {% for player in players %}
                    {% if forloop.last %}
                        {{ player.player }}
                    {% else %}
                        {{ player.player }}<br>
                    {% endif %}
                {% endfor %}

            </td>
            <td>{{ players.0 }}</td>
            <td>{{ players.0.evententry }}</td>
            <td>{{ players.0.evententry.payment_status }}</td>
        </tr>
    {% endfor %}

</table>




# Outstanding payments due. Check for bank and cheque
if event_entry_players.filter(payment_type="bank-transfer").exists():
player_email[player] += (
"<p>We are expecting payment by bank transfer.</p><h3>Bank Details</h3> %s<br><br>"
% event_entry_players[
0
].event_entry.event.congress.bank_transfer_details
)

if event_entry_players.filter(payment_type="cheque").exists():
player_email[player] += (
"<p>We are expecting payment by cheque.</p><h3>Cheques</h3> %s<br><br>"
% event_entry_players[0].event_entry.event.congress.cheque_details
)

if event_entry_players.filter(payment_type="off-system-pp").exists():
player_email[player] += (
"<p>We are expecting payment from another pre-paid system. The convener will handle this for "
    "you.</p><br><br> "
)

player_email[player] += (
"You have outstanding payments to make to complete this entry. Click on the button below to view "
"your payments. Note that entries are not complete until all payments have been received.<br><br> "
)
else:
player_email[player] += (
"Your entries are all paid for however other players in the entry may still need to pay. You can "
"see overall entry status above. You have nothing more to do. If you need to view the entry or "
"change anything you can use the link below.<br><br> "
