{% extends 'base_logged_out.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} - Contact{% endblock %}

{% block header %}
    <style>
        @media (min-width: 768px) {
            .inner {
                width: 30%;
                margin: 0 auto;
            }
        }
        @media (max-width: 767px) {
            .inner {
                width: 100%;
                margin: 0 auto;
            }
        }
        #id_reported_by_name,#id_reported_by_email,#id_title,#id_description {
            width: 340px;
        }

    </style>
{% endblock header %}

{% block content %}
    <div class="container animate__animated animate__fadeInUp animate__delay-1s">

    </div>


    <div>
        <h2>
            <a href="http://www.abfmasterpoints.com.au/myawards.asp?search=name&nomenu=n">Click <span style="text-decoration: underline">Here</span> to look up your ABF number</a></h2>
        <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; padding: 10px; margin: 10px 100px">
            <h2>Registration email not coming through?</h2>
            <ol style="text-align: left; padding-left: 50px">
                <li>Check your junk/spam folder to see if the email is there</li>
                <li>It is possible that you mistyped your email address, you can <a style="text-decoration: underline" href="{% url "accounts:register" %}">register</a> again, double-checking the spelling</li>
            </ol>
        </div>

    </div>

    <h1>Contact Us</h1>
    {% if not is_human %}
        <h2>Form not submitted. Google thinks you are a robot</h2>
    {% endif %}
    <div>
        <div class="inner">
            <form id="contactform" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button class="g-recaptcha"
                    id="id_submit_button"
                    data-sitekey="{{ site_key }}"
                    data-callback='onSubmit'
                    data-action='submit'>Send</button>
                <button id="id_sending_button" disabled style="display: none">
                    Sending...
                </button>
                <a href="/" >Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script src="{% static "assets/js/core/jquery-3.4.1.min.js" %}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        $(document).ready( function () {

            // prevent double clickers
            $("#id_submit_button").click(function(evt){
                $("#id_submit_button").hide();
                $("#id_sending_button").show();
            })
        });

        function onSubmit(token) {
            document.getElementById("contactform").submit();
        }
    </script>
{% endblock footer %}
