{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block headerjs %}

<!-- The js libraries are a problem for Summernote so we override them here -->

<script src="{% static "assets/js/core/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "assets/js/core/popper.min.js" %}"></script>
{% if not request.user.windows_scrollbar %}
<script src="{% static "assets/js/plugins/perfect-scrollbar.jquery.min.js" %}"></script>
{% endif %}
<link href="{% static "assets/css/material-dashboard.css" %}?v=2.1.1" rel="stylesheet" />
<script src="{% static "assets/js/core/bootstrap-material-design.min.js" %}"></script>
<script src="{% static "assets/js/cobalt-core.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/css/bootstrap.4.0.0.min.css" %}">


<style>
  /* remove bug from summernote height in codeview mode */
  .note-codable {
    min-height: 600px !important;
  }

  .note-editable {
    line-height: 1.0;

    background-color: {
        {
        forum.bg_colour
      }
    }

     !important;

    color: {
        {
        forum.fg_colour
      }
    }

     !important;
  }

  .cobalt-min-width-100 {
    min-width: 100%;
  }
</style>
{% endblock %}
{% block content %}

<!-- Instead of using {{ form.media }} we hardcode the static files here
     so we can control the version that we use. Django-summernote comes with
     an older version of summernote that has some bugs especially relating
     to how it shakes when it is slowly scrolled. We point to a newer
     version of summernote and it fixes the problem. -->

<link href="{% static "forums/summernote/summernote-bs4.css" %}" type="text/css" media="all" rel="stylesheet">
<link href="{% static "forums/summernote/django_summernote.css" %}" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="{% static "forums/summernote/jquery.ui.widget.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.iframe-transport.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.fileupload.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/summernote-bs4.min.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/ResizeSensor.js" %}"></script>

<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-success">
          <div class="card-title">
            {% if edit %}
            <h2>Edit Post by {{ request.user.full_name }} in {{ forum }}</h2>
            {% else %}
            <h2>New Post by {{ request.user.full_name }} in {{ forum }}</h2>
            {% endif %}
          </div>
        </div>
        <div class="card-body">

          <form method="POST" class="post-form">
            {% csrf_token %}

            <input type="hidden" name="forum" id="id_forum" value="{{ forum.id }}">

            <div class="form-group row">
              <label for="id_title" class="col-sm-2">Title</label>
              <div class="col-sm-10">
                {{ form.title|as_crispy_field }}
              </div>
            </div>

            {{ form.text|as_crispy_field }}


                        Notifications: {{ form.get_notified_of_replies|as_crispy_field }}

            <div class="form-group row">
              <button type="submit" class="save btn btn-primary btn-sm cobalt-save" name="publish">Publish</button>
              {% if edit %}
              <button type="delete" class="save btn btn-danger btn-sm cobalt-save" name="delete">Delete</button>
              {% endif %}
              <a href="{% url "forums:forums" %}" class="save btn btn-info btn-sm" name="cancel">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static "forums/assets/js/summernote-plugin-spades.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-hearts.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-diamonds.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-clubs.js" %}"></script>
<!-- <script src="{% static "forums/assets/js/summernote-plugin-hand.js" %}"></script> -->

{% endblock %}
