{% load static %}
<div id="access-basic">
    {% include "organisations/club_menu/access_basic_div_htmx.html" %}
</div>

{% include "accounts/user_search_include_htmx.html" %}
{% include "accounts/user_search_include_js_htmx.html" %}

<script>

    function cobaltMemberSearchOk(search_id, user_id, user_name){
        // Add user if search is successful
        const postData = {
            'club_id': {{ club.id }},
            'user_id': user_id
        }

        // post data
        $.ajax({
            url: '{% url "organisations:club_admin_access_basic_add_user_htmx" %}',
            method: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: postData,
        }).done(function(data) {
            // update our div with new data
            $('#access-basic').html(data);
            // We did this outside HTMX so let it know
            htmx.process(document.body);
        });
    }
</script>
