{% load static %}
{% load cobalt_tags %}
<div class="container">
    <div class="row">


        {% for action, data in user_roles.items %}
            <div class="card-group col-lg-4 col-md-6 col-sm-12">
                <div class="card ">
                    <div class="card-header card-header-{% cobalt_random_colour %}">
                        <h3>{{ data.0 }}</h3>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <tbody>
                                    {% for user in data.1 %}
                                        <tr>
                                            <td>{{ user|cobalt_user_link_short }}
                                                {% include "utils/htmx_confirm_modal.html" with id=user.id delete_item=user.first_name hx_target="#access-advanced-outer" hx_post=user.hx_post %}
                                                <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user.id }}">
                                                    Remove
                                                </button>
                                                </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-info mt-auto" data-toggle="modal" data-target="#userSearchModal{{ action }}">Add User</button>
                    </div>
                </div>
            </div>



        {% endfor %}

    </div>
</div>
