{% load static %}
{% load cobalt_tags %}


You are using the basic Role Based Access Control (RBAC) set up. This gives everyone access to all functions and makes everyone an
administrator (able to grant access to others). This is the recommended configuration for most clubs.

<a href="{% url "organisations:admin_club_rbac" club_id=club.id %}">Change RBAC Set Up</a>

<h3>Admin Rights</h3>

<ul>
    {% for role in roles %}
        <li>{{ role }}</li>
    {% endfor %}
</ul>

<h3>Administrators</h3>
<div class="table-responsive col-md-6 col-lg-4">
    <table class="table table-hover table-condensed">
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user|cobalt_user_link_short }}
                        {% include "utils/htmx_confirm_modal.html" with id=user.id delete_item=user.first_name hx_target="#access-basic" hx_post=user.hx_post %}
                        <td><button id="id_delete_user_{{ user.id }}" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user.id }}">
                            Remove
                        </button>
                        </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<button id="id_search_button" type="button" class="btn btn-info" data-toggle="modal" data-target="#userSearchModal">Add Staff</button>



