{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Top part of the finance tab                                            #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load static %}

<div class="card">
    <div class="card-header card-header-primary">
        <h2>Finance</h2>

        <!-- ACTION BUTTONS -->

        <div class="container-flex">
            <div class="d-flex justify-content-between">

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>&nbsp;Transact
                    </button>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0)"
                            hx-post="{% url "organisations:charge_member_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#id_panel_finance"
                            class="btn btn-sm btn-secondary">
                            Charge Member
                        </a>
                        <a href="javascript:void(0)"
                            hx-post="{% url "organisations:pay_member_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#id_panel_finance"
                            class="btn btn-sm btn-secondary">
                            Pay Anyone
                        </a>
                        {#                        <a href="javascript:void(0)"#}
                        {#                            hx-post="{% url "organisations:pay_org_htmx" %}"#}
                        {#                            hx-vars="club_id:{{ club.id }}"#}
                        {#                            hx-target="#id_panel_finance"#}
                        {#                            class="btn btn-sm btn-secondary">#}
                        {#                            Pay Organisation#}
                        {#                        </a>#}
                    </div>
                </div>

                <!-- WHEN FILTER IS CLICKED HIDE IT AND SHOW UN-FILTER -->

                <div
                    class="col-6 col-md-6 col-lg-4 text-right"
                    id="id_transaction_filter"
                    _="on click show #id_transaction_un_filter then hide me"
                >
                    <a
                        hx-post="{% url 'organisations:transaction_filter_htmx' %}"
                        hx-target="#id_panel_finance"
                        hx-vars="club_id: {{ club.id }}"
                    >
                        <button class="text-center btn btn-secondary float-right">
                            <i class="material-icons">filter_alt</i>Filter
                        </button>
                    </a>
                </div>

                <div
                    class="col-6 col-md-6 col-lg-4 text-right"
                    id="id_transaction_un_filter"
                    style="display: none"
                    _="on click show #id_transaction_filter then hide me"
                >
                    <a
                        hx-post="{% url 'organisations:transactions_htmx' %}"
                        hx-target="#id_panel_finance"
                        hx-vars="club_id: {{ club.id }}"
                    >
                        <button class="text-center btn btn-secondary float-right">
                            <i class="material-icons">filter_alt_off</i>Unfilter
                        </button>
                    </a>
                </div>


            </div>

        </div>
    </div>
    <div class="card-body">
        <div id="id_panel_finance"
            hx-post="{% url "organisations:club_menu_tab_finance_htmx" %}"
            hx-trigger="tab_load_event"
            hx-vars="club_id:{{ club.id }}"
        ></div>
    </div>
</div>
