{% load static %}

{% include "accounts/search/user_search_include_js_htmx.html" %}

<script src="{% static "assets/js/plugins/chartist.min.js" %}"></script>
<script src="{% static "assets/packages/sweetalert2.11/sweetalert2.js" %}"></script>
<script src="{% static "assets/js/plugins/jquery.cookie.1.4.1.min.js" %}"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

    $(document).ready(function () {

        // When a tab is clicked for the first time, we load the data

        $('#id_menu a').on('click', function (e) {

            // get matching panel id from this id
            // this.id is something like 'id_tab_dashboard' and the placeholder in the panel is 'id_panel_dashboard'
            // this isn't a proper this so to get the classes we need to create the tab variable

            const id = this.id.split("_")[2];
            const panel_id = '#id_panel_' + id;
            const tab_id = '#id_tab_' + id;
            const panel = $(panel_id);
            const tab = $(tab_id);

            // allow auto refresh using auto-refresh class
            // only auto-refresh if another tab could have changed our values
            if (panel.html().length === 0 || tab.hasClass('auto-refresh')) {
                // empty page before we reload
                panel.html("<h2>Loading...</h2>");
                htmx.trigger(htmx.find(panel_id), "tab_load_event");
            }
        })

        // first time load the active tab
        // htmx.trigger(htmx.find("#id_panel_dashboard"), "tab_load_event");

        // COB-766 - show_tab is passed in to allow particulalrly the finance tab to be shown immediately
        if (show_tab === null || show_tab.length === 0 || show_tab == 'dashboard') {
            // if in doubt show the dashboard
            htmx.trigger(htmx.find("#id_panel_dashboard"), "tab_load_event");
        } else {
            // add an event listener to click an element after the initial tab load
            if (click_id.length > 0) {
                document.body.addEventListener('htmx:afterSwap', function(event) {
                    // Check if the triggered element is the initial tab
                    if(event.detail.triggeringElement.id === '#id_tab_' + show_tab) {
                        // Attempt to find and click the specified element
                        const nextActionBtn = document.getElementById(click_id);
                        if(nextActionBtn) {
                            nextActionBtn.click();
                        }
                        // clear the click target so that it only happens once
                        const click_id = ""
                    }
                });
            }
            // select the specified initial tab
            $('#id_tab_' + show_tab).trigger('click')
        }
    });

    document.body.addEventListener('htmx:afterSwap', function(event) {
        // Check if the triggered element is the one you're interested in
        const triggeringElement = event.detail.triggeringElement;
        if (triggeringElement && triggeringElement.id === 'post-trigger') {
            // Attempt to find and click the new button
            const nextActionBtn = document.getElementById('next-action');
            if(nextActionBtn) {
                nextActionBtn.click();
            }
        }
    });

    // COB-943: To allow edit member to be displayed from contacts add.
    // After an htmx request targetting the members panel, switch to the
    // members if contacts is currently active
    document.body.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.target.id === 'id_panel_members') {
            if (document.getElementById('id_tab_contacts').classList.contains('active')) {
                document.getElementById('id_tab_members').classList.add('active');
                document.getElementById('members').classList.add('active');
                document.getElementById('members').classList.add('show');
                document.getElementById('id_tab_contacts').classList.remove('active');
                document.getElementById('contacts').classList.remove('active');
                document.getElementById('contacts').classList.remove('show');
            }
        }
    });

</script>
