{#---------------------------------------------------------------------------------------------------#}
{#                                                                                                   #}
{# This is the style content for the club admin SPA.                                                 #}
{#                                                                                                   #}
{# Styles need to be loaded in the header so they have to cover all sub pages. Please document them. #}
{#                                                                                                   #}
{#---------------------------------------------------------------------------------------------------#}
{% load static %}
<link href="{% static "assets/css/bootstrap4-toggle.min.css" %}" rel="stylesheet">
<script src="{% static "assets/js/bootstrap4-toggle.min.js" %}"></script>
<link href="{% static "assets/css/cobalt-summernote.css" %}" rel="stylesheet">
{% include "utils/data_tables_heading.html" %}
<style>

    {#disable buttons when they are waiting for HTMX#}
    .htmx-request .btn {
        display: none;
    }

    {#disable showing dropzone for drag and drop in summernote. Used by email send. #}
    {#Otherwise it looks like we want the user to drop into the email body. #}
    .note-editor .note-dropzone { opacity: 0 !important; }

    {# The drag classes are used by member edit for drag and drop #}
    .drag-add {
        background-image: linear-gradient(45deg, #dae7f0 25%, #baddf2 25%, #baddf2 50%, #dae7f0 50%, #dae7f0 75%, #baddf2 75%, #baddf2 100%);
        background-size: 14.14px 14.14px;
    }
    .drag-addable:before{
        content: "Drag tags here to add\A";
        white-space: pre;
    }

    .drag-remove {
        background-image: linear-gradient(45deg, #dae7f0 25%, #baddf2 25%, #baddf2 50%, #dae7f0 50%, #dae7f0 75%, #baddf2 75%, #baddf2 100%);
        background-size: 14.14px 14.14px;
    }

    .drag-removable:before{
        content: "Drag tags here to remove\A";
        white-space: pre;
    }

    /* style for material icons */
    .inline-icon {
        vertical-align: bottom;
        font-size: 22px !important;
    }

    /* Styles to match the active button with the tab header (purple is default)*/
    #id_tab_contacts.active {
        color: #fff; /* Custom text color for the active state */
        background-color: #68A95E; /* Custom background color for the active state */
    }

    #id_tab_members.active {
        color: #fff; /* Custom text color for the active state */
        background-color: #54B3C8; /* Custom background color for the active state */
    }

    #id_tab_sessions.active {
        color: #fff; /* Custom text color for the active state */
        background-color: #EE9C3D; /* Custom background color for the active state */
    }

    #id_tab_congress.active {
        color: #fff; /* Custom text color for the active state */
        background-color: #EE9C3D; /* Custom background color for the active state */
    }

    #id_tab_comms.active {
        color: #fff; /* Custom text color for the active state */
        background-color: #EE9C3D; /* Custom background color for the active state */
    }

    #id_tab_access.active {
        color: #fff; /* Custom text color for the active state */
        background-color: #D64E46    ; /* Custom background color for the active state */
    }

    #id_tab_settings.active {
        color: #fff; /* Custom text color for the active state */
        background-color: #54B3C8; /* Custom background color for the active state */
    }

</style>
