{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Session management tab stub                                            #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<!-- MESSAGE -->
{% include "utils/cobalt_message_h3.html" with fade=True %}

<div
    hx-post="{% url "organisations:club_menu_tab_sessions_sub_htmx" %}"
    hx-trigger="load, tab_load_event"
    hx-vars="club_id:{{ club.id }}"
></div>
