{% load humanize %}
{% load cobalt_tags %}

<div class="card">
    <div class="card-header card-header-danger">
        <h2>Members - {{ total_members|intcomma }}</h2>
        {% include "organisations/club_menu/tab_members_nav_htmx.html" with selected="add" %}
    </div>
    <div class="card-body">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>
                        <button class="btn bg-primary btn-block"
                            hx-post="{% url "organisations:club_menu_tab_members_import_mpc_htmx" %}"
                            hx-indicator=".htmx-indicator"
                            hx-target="#id_panel_members"
                            onClick="this.disabled=true;"
                        >Add Manually</button>
                    </td>
                    <td>
                        Add member details manually
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn bg-primary btn-block"
                            hx-post="{% url "organisations:club_menu_tab_members_import_mpc_htmx" %}"
                            hx-indicator=".htmx-indicator"
                            hx-target="#id_panel_members"
                            onClick="this.disabled=true;"
                        >MPC Import</button>
                    </td>
                    <td>
                        Import members directly from the Masterpoints Centre
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn bg-primary btn-block"
                            hx-post="{% url "organisations:club_menu_tab_members_upload_csv" %}"
                            hx-indicator=".htmx-indicator"
                            hx-target="#id_panel_members"
                        >Pianola Upload</button>
                    </td>
                    <td>
                        Export your member list from Pianola and upload here
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
