{% load humanize %}
<div class="table-responsive">
    <div class="container">
        <div class="row">

            <table class="table table-hover table-condensed col-md-6 col-lg-4">
                <tbody>
                    <tr>
                        <td class="text-left">Total Members</td>
                        <td class="text-left">{{ member_count|intcomma }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Member Changes Last 28 days</td>
                        <td class="text-left">TBA</td>
                    </tr>
                    <tr>
                        <td class="text-left">Staff</td>
                        <td class="text-left">{{ staff_count|intcomma }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Congresses</td>
                        <td class="text-left">{{ congress_count|intcomma }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
