{% load crispy_forms_filters %}
{% load cobalt_tags %}

<form
    hx-post="{% url "organisations:club_menu_tab_settings_htmx" %}"
    hx-indicator=".htmx-indicator"
>

    <h4>It is not recommended to edit these fields as they will be out of step
        with the Masterpoints Centre. It is better to first change them in the MPC
        and then import the club here.</h4>

    <h3 class="text-danger font-weight-bold settings_message" id="settings_message">{{ message }}</h3>

    <div class="row">
        {#                secretary           #}
        <div class="col-md-6">
            <div class="form-group">
                <b>Club Secretary: </b><span id="club_secretary_dummy_name">{{ secretary_name|default_if_none:"Not Set" }}</span>
                <input type="hidden" id="id_secretary" name="secretary" value="{{ secretary_id|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.secretary.errors }}</span>
                <button id="id_search_button" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userSearchModal11">Edit</button>
            </div>
        </div>
        {#            state         #}
        <div class="col-md-3">
            {% if uber_admin %}
                <div class="form-group">
                    {{ org_form.state|as_crispy_field }}
                </div>
            {% else %}
                <span class="cobalt-form-error">{{ org_form.state.errors }}</span>
                <h3>{{ org_form.state.value }}</h3>
                <input type="hidden" name="state" value="{{ org_form.state.value }}">
            {% endif %}

        </div>
    </div>


    {#        Form        #}

    <div class="row">
        {#                name           #}
        <div class="col-md-6">
            <div class="form-group">
                <label class="bmd-label-floating">Club Name</label>
                <input type="text"
                    name="name"
                    id="id_name"
                    class="form-control"
                    maxlength="50"
                    required
                    value="{{ org_form.name.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.name.errors }}</span>
            </div>
        </div>
        {#                org_id         #}
        <div class="col-md-3">
            <div class="form-group">
                <label class="bmd-label-floating">{{ GLOBAL_ORG }} Club Number</label>
                <input type="number" min="0" step="1"
                    name="org_id"
                    id="id_org_id"
                    class="form-control"
                    required
                    {% if not uber_admin %}readonly{% endif %}
                    value="{{ org_form.org_id.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.org_id.errors }}</span>
            </div>
        </div>
    </div>


    <div class="row">
        {#                address1           #}
        <div class="col-md-6">
            <div class="form-group">
                <label class="bmd-label-floating">Address Line 1</label>
                <input type="text"
                    name="address1"
                    id="id_address1"
                    class="form-control"
                    maxlength="100"
                    value="{{ org_form.address1.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.address1.errors }}</span>
            </div>
        </div>
        {#                suburb           #}
        <div class="col-md-3">
            <div class="form-group">
                <label class="bmd-label-floating">Suburb</label>
                <input type="text"
                    name="suburb"
                    id="id_suburb"
                    class="form-control"
                    maxlength="50"
                    value="{{ org_form.suburb.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.suburb.errors }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        {#                address2           #}
        <div class="col-md-6">
            <div class="form-group">
                <label class="bmd-label-floating">Address Line 2</label>
                <input type="text"
                    name="address2"
                    id="id_address2"
                    class="form-control"
                    maxlength="100"
                    value="{{ org_form.address2.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.address2.errors }}</span>
            </div>
        </div>

        {#                postcode           #}
        <div class="col-md-2">
            <div class="form-group">
                <label class="bmd-label-floating">Postcode</label>
                <input type="text"
                    name="postcode"
                    id="id_postcode"
                    class="form-control"
                    maxlength="10"
                    value="{{ org_form.postcode.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.postcode.errors }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        {#                bank_bsb           #}
        <div class="col-md-6">
            <div class="form-group">
                <label class="bmd-label-floating">Bank BSB Number</label>
                <input type="number" min="0" step="1"
                    name="bank_bsb"
                    id="id_bank_bsb"
                    class="form-control"
                    maxlength="7"
                    value="{{ org_form.bank_bsb.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.bank_bsb.errors }}</span>
            </div>
        </div>
        {#                bank_account           #}
        <div class="col-md-6">
            <div class="form-group">
                <label class="bmd-label-floating">Bank Account Number</label>
                <input type="number" min="0" step="1"
                    name="bank_account"
                    id="id_bank_account"
                    class="form-control"
                    maxlength="7"
                    value="{{ org_form.bank_account.value|default_if_none:"" }}">
                <span class="cobalt-form-error">{{ org_form.bank_account.errors }}</span>
            </div>
        </div>
    </div>
    <div class="font-italic small">last Updated {{ club.last_updated|cobalt_nice_datetime }} by {{ club.last_updated_by.full_name }}</div>
</div>


<button type="submit" name="Save" class="cobalt-save btn btn-success">Save</button>
<button class="btn btn-info" onclick="window.location.href='/'; return false;">Cancel</button>
</form>

<script>

    // Hide the message if the form changes so it is obvious when it comes back again after submission. HTMX is too smooth!
    $(document).ready(function () {
        $("input[type='text']").keyup( function() {
            $('#settings_message').text("");
        });
    });
</script>
