{% load humanize %}
{% load cobalt_tags %}

<div class="card">
    <div class="card-header card-header-danger">
        <h2>Members - {{ total_members|intcomma }}</h2>
        {% include "organisations/club_menu/tab_members_nav_htmx.html" with selected="list" %}
    </div>
    <div class="card-body">

        <div class="card-header card-header-primary py-2 my-2">
            <h3 class="my-0 py-1">{{ GLOBAL_TITLE }} Users ({{ cobalt_members.count|intcomma }})</h3>
            <p class="font-italic my-0 py-1">These users are registered for the system.</p>
        </div>
        <div class="card-body">

            {% if cobalt_members %}

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>{{ GLOBAL_ORG }} Number</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for cobalt_member in cobalt_members|intcomma %}
                            <tr>
                                <td><a href="{% url "accounts:public_profile" pk=cobalt_member.id %}"
                                    target="_blank">{{ cobalt_member.first_name }}</a></td>
                                <td><a href="{% url "accounts:public_profile" pk=cobalt_member.id %}"
                                    target="_blank">{{ cobalt_member.last_name }}</a></td>
                                <td><a href="{% url "accounts:public_profile" pk=cobalt_member.id %}"
                                    target="_blank">{{ cobalt_member.system_number }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            {% else %}
                <h3>There are no registered users who are members of this club</h3>
            {% endif %}
        </div>


        {% if unregistered_members %}

            <div class="card">
                <div class="card-header card-header-success py-2 my-2">
                    <h3 class="my-0 py-1">Unregistered Users ({{ unregistered_members.count }})</h3>
                    <p class="font-italic my-0 py-1">These users are yet to register for the system. You can invite them to join
                        and enjoy the benefits for free.</p>
                </div>
                <div class="card-body">

                    <table id="id_member_un_reg_table" class="table table-hover" style="display: none;">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>{{ GLOBAL_ORG }} Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for unregistered_member in unregistered_members %}
                                <tr>
                                    <td><a href="#" hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                        hx-indicator=".htmx-indicator"
                                        hx-target="#id_panel_members"
                                        hx-vars="club_id:{{ club.id }}, un_reg_id:{{ unregistered_member.id }}">
                                        {{ unregistered_member.first_name }}
                                    </a></td>
                                    <td><a href="#" hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                        hx-indicator=".htmx-indicator"
                                        hx-target="#id_panel_members"
                                        hx-vars="club_id:{{ club.id }}, un_reg_id:{{ unregistered_member.id }}">
                                        {{ unregistered_member.last_name }}
                                    </a></td>
                                    <td><a href="#" hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                        hx-indicator=".htmx-indicator"
                                        hx-target="#id_panel_members"
                                        hx-vars="club_id:{{ club.id }}, un_reg_id:{{ unregistered_member.id }}">
                                        {{ unregistered_member.system_number }}
                                    </a></td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready( function () {

        // Initialise datatable - only show pagination if more than one page, sort in order, column 0

        $('#id_member_un_reg_table').DataTable({
            drawCallback: function(settings) {
                const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
            },
        });


        // Unhide table now. This avoids the flicker
        $('#id_member_un_reg_table').show();

    });

</script>
