{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cobalt_tags %}
{% load crispy_forms_tags %}
{% block title %} - Payment Refund Error{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "payments:admin_view_stripe_transactions" %}">Stripe Transactions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header card-header-primary">
                <h1>{{ BRIDGE_CREDITS }}</h1>
                <h1>Stripe Refund Error!!!</h1>
            </div>

            <div class="card-body table-responsive">
                <h1>Unexpected Error while refunding</h1>
                <h1>Please copy this error and pass on to support</h1>

                <h2>Stripe Replied With:</h2>

                <h2>{{ rc }}</h2>

                <table class="table">
                    <tr><td><b>Member</b></td><td>{{ stripe_item.member }}</td></tr>
                    <tr><td><b>Stripe Reference</b></td><td>{{ stripe_item.stripe_reference }}</td></tr>
                    <tr><td><b>Description</b></td><td>{{ stripe_item.description }}</td></tr>
                    <tr><td><b>Created Date</b></td><td>{{ stripe_item.created_date|cobalt_nice_datetime }}</td></tr>
                    <tr><td><b>Member Paid</b></td><td>{{ GLOBAL_CURRENCY_SYMBOL}}{{ stripe_item.amount|floatformat:2 }}</td></tr>

                    <tr><td><b>Status</b></td><td>{{ stripe_item.status }}</td></tr>
                    {% if stripe_item.status in "Refunded,Partial refund" %}
                        <tr><td><b>Refund Amount</b></td><td>{{ GLOBAL_CURRENCY_SYMBOL}}{{ stripe_item.refund_amount|floatformat:2 }}</td></tr>
                        <tr><td><b>Refund Left</b></td><td>{{ GLOBAL_CURRENCY_SYMBOL}}{{ stripe_item.refund_left|floatformat:2 }}</td></tr>
                    {% endif %}
                </table>


            </div>
        </div>
    </div>

{% endblock %}
