.document {
    background-color: white;
}
.wy-nav-content {
    background-color: white;
}

/* CSS for the 4 boxes on the index page */

div.tutorials {
    width: 45%;
    height: 400px;
    float: left;
    background: #f6f6f6;
    color: black;
}

div.howto {
    border: 10px;
    width: 45%;
    height: 400px;
    margin: 5px 5px 5px 60%;
    background: #f1f1f1;
}

div.discussions {
    width: 45%;
    height: 600px;
    float: left;
    background: #ededed;
    margin: 0px 5px 5px 0px;
}

div.reference {
    border: 10px;
    height: 600px;
    width: 45%;
    margin: 40px 5px 5px 60%;
    background: #e8e8e8;
}