{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}
{% block title %} - Admin Event Entry Player{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "events:admin_summary" congress_id=event_entry_player.event_entry.event.congress.id %}">{{ event_entry_player.event_entry.event.congress.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url "events:admin_event_summary" event_id=event_entry_player.event_entry.event.id %}">{{ event_entry_player.event_entry.event.event_name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url "events:admin_evententry" evententry_id=event_entry_player.event_entry.id %}">Entry: {{ event_entry_player.event_entry.id }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Player: {{ event_entry_player.id }}</li>
        </ol>
    </nav>

    <div class="container justify-content-center">
        <div class="row h-100 d-flex justify-content-center">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h2>Congress Admin View</h2>
                    <h3>{{ event_entry_player.event_entry.event.event_name }} - Player Entry</h3>
                    <h4>{{ event_entry_player.event_entry.event.congress }}</h4>
                </div>
                <div class="card-body">

                    <div class="container">
                        <div class="row">

                            <div class="card col-md-6 px-1" id="player_name">
                                {% include "events/congress_admin/event_entry_player_name_htmx.html" %}
                            </div>

                            <div class="card col-md-6 px-1">
                                <div class="card-header card-header-danger">
                                    <h3>Details</h3>
                                </div>
                                <div class="card-body">

                                    <form method="post">
                                        {% csrf_token %}
                                        <table>

                                            {% if event_entry_player.payment_type == "System Adjusted" %}
                                                <tr>
                                                    <td colspan="2"><h4>This entry has a payment type of System Adjusted. You can change the values, but you cannot leave the payment type as System Adjusted if you do.</h4></td>
                                                </tr>
                                            {% endif %}

                                            <tr>
                                                <td>
                                                    <label class="bmd-label-static px-5">Payment Type</label>
                                                </td>
                                                <td>
                                                    <div>

                                                        <span class="cobalt-form-error" id="id_payment_type_errors">{{ form.payment_type.errors|striptags }}</span>
                                                        {% render_field form.payment_type class+="form-control" %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label class="bmd-label-static px-5">Payment Status</label>
                                                </td>
                                                <td>
                                                    <div>

                                                        <span class="cobalt-form-error" id="id_payment_status_errors">{{ form.payment_status.errors|striptags }}</span>
                                                        {% render_field form.payment_status class+="form-control" %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label class="bmd-label-static px-5">Entry Fee Reason</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        {% cobalt_bs4_field form.reason no_label=True %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label class="bmd-label-static px-5">Entry Fee</label>
                                                </td>
                                                <td>
                                                    <div>

                                                        <span class="cobalt-form-error" id="id_entry_fee_errors">{{ form.entry_fee.errors|striptags }}</span>
                                                        {% render_field form.entry_fee class+="form-control" %}
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label class="bmd-label-static px-5">Payment Received</label>
                                                </td>
                                                <td>
                                                    <div class="form-group">

                                                        <span class="cobalt-form-error" id="id_payment_status_errors">{{ form.payment_received.errors|striptags }}</span>
                                                        {% render_field form.payment_received class+="form-control" %}
                                                    </div>
                                                </td>
                                            </tr>

                                            {% if event_entry_player.paid_by %}
                                                <tr>
                                                    <td>
                                                        <label class="bmd-label-static px-5">Paid By</label>
                                                    </td>
                                                    <td>
                                                        {{ event_entry_player.paid_by|default_if_none:"" }}
                                                    </td>
                                                </tr>
                                            {% endif %}

                                        </table>
                                        <div class="row justify-content-center">
                                            <button type="submit" class="btn btn-success cobalt-save mx-auto">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <!-- Include the refund function from the edit event entry screen for players -->
    {% include "events/common/edit_player.html" with event=event_entry_player.event_entry.event %}

    <script src="{% static "assets/packages/sweetalert2.11/sweetalert2.js" %}"></script>

    {% include "accounts/search/user_search_include_js_htmx.html" with search_id=event_entry_player.id %}
    <script>

        // This gets called if the users wants to go ahead with the change. The included js calls this
        // We have unused parameters as we share the code

        function editPlayerExecute(member, name, pic, search_id) {
            // Actually change the player

            postData = {
                'event_entry_player_id': '{{ event_entry_player.id }}',
                'player_id': member,
            };

            $.ajax({
                url: '{% url "events:admin_edit_player_name_htmx" %}',
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: postData,
                dataType: "json"
            }).done(function(response) {
                let title = "Error";
                if (response['status'] === "Success") {
                    title = "Player Changed to " + name;
                }
                Swal.fire({
                    icon: 'success',
                    title: title,
                    html: response['message'],
                }).then(() => {
                    location.reload();
                })
            });
        }

        // user has changed the member - call function in common js to handle
        function changeMember(search_id, member_id, new_name){

            //If we dont have a name set to TBA
            if(typeof new_name == "undefined"){
                new_name = "TBA";
            }
            editPlayer(member_id, new_name, "dummy_value", {{ event_entry_player.id }});
        }

    </script>
{% endblock %}
