{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}
{% block title %} - Admin Summary{% endblock %}
{% block content %}
    <div id="ignore_cobalt_save"></div>

    <div class="mx-3">
        <div class="row h-100 d-flex justify-content-center">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h2>Congress Admin View</h2>
                    <h3>{{ congress }}</h3>
                    <h4>{{ congress.congress_master.org }}</h4>



                    <div class="float-left">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a href="{% url "events:create_congress_wizard" congress_id=congress.id step=2 %}" class="btn btn-sm btn-secondary">Edit Congress</a>
                                <a href="{% url "events:admin_bulletins" congress_id=congress.id %}" class="btn btn-sm btn-secondary">Bulletins</a>
                                <a href="{% url "events:admin_latest_news" congress_id=congress.id %}" class="btn btn-sm btn-secondary">Latest News</a>
                                <a href="{% url "events:admin_congress_email" congress_id=congress.id %}" class="btn btn-sm btn-secondary">Email Congress</a>
                                <a class="cobalt_generic_member btn btn-sm btn-secondary text-dark" data-toggle="modal" id="player_search" data-target="#cobalt_general_member_search1">Player Search</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CSV Downloads
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'events:admin_congress_csv_scoring' congress_id=congress.id %}">Import to Scoring Program (All Events)</a>
                            </div>
                        </div>

                    </div>
                    {#                    <div class="float-right">#}
                    {#                        <a href="{% url "events:admin_convener_settings" congress_id=congress.id %}" class="btn btn-rose">Your Settings</a>#}
                    {#                    </div>#}
                </div>


                <div class="card-body">


                    {% if bad_events %}
                        <div class="card col-md-8 mx-auto">
                            <div class="card-header card-header-danger">
                                <h2 class="text-center">Fix Required!</h2>
                            </div>
                            <div class="card-body text-center">
                                <h3>This congress has finished but there are outstanding payments to be taken</h3>
                                <p>You can go through the entries and resolve this, or you can click the <b>Fix It</b> button below and we will fix it for you.</p>
                                <p>Alternatively, you can do nothing and thy system will close off your congress one week after it finishes.</p>
                                <p>If the missing payments are genuine and you are still chasing them up, then click on <b>Don't Fix It</b>
                                    and the congress will be left until three months after it finishes.</p>
                                <a href="" class="btn btn-info">Fix It</a>
                                <a href="" class="btn btn-danger">Don't Fix It</a>
                            </div>
                        </div>
                    {% endif %}


                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Full Entry Fee</th>
                                <th>Early Entry Fee</th>
                                <th>Entries</th>
                                <th>Tables</th>
                                <th class="text-right">Due</th>
                                <th class="text-right">Paid</th>
                                <th class="text-right">Pending</th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for event in events %}

                                <tr>
                                    <td><a href="{% url "events:admin_event_summary" event_id=event.id %}">{{ event.event_name }}</a></td>
                                    <td>{{ event.event_type|default_if_none:"" }}</td>
                                    <td>{% if event.is_open %}Entries Open{% else %}Entries Closed{% endif %}</td>
                                    <td class="text-right">{{ event.entry_fee|cobalt_number }}</td>
                                    <td class="text-right">{{ event.early_fee|cobalt_number }}</td>
                                    <td class="text-right">{{ event.entries }}</td>
                                    <td class="text-right">{{ event.tables }}</td>
                                    <td class="text-right">{{ event.due|cobalt_number }}</td>
                                    <td class="text-right">{{ event.paid|cobalt_number }}</td>
                                    <td class="text-right">{{ event.pending|cobalt_number }}</td>
                                </tr>

                            {% endfor %}

                            <tr>
                                <td class="font-weight-bold">Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td class="text-right font-weight-bold">{{ total.entries }}</td>
                                <td class="text-right font-weight-bold">{{ total.tables }}</td>
                                <td class="text-right font-weight-bold">{{ total.due|cobalt_number }}</td>
                                <td class="text-right font-weight-bold">{{ total.paid|cobalt_number }}</td>
                                <td class="text-right font-weight-bold">{{ total.pending|cobalt_number }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include "utils/generic_user_search_body.html" with search_id=1 %}

{% endblock %}

{% block footer %}
    <script>
        {% include "utils/generic_user_search_footer.html" with search_id=1 %}

        function cobaltMemberSearchOk() {
            // TODO: Find a good way to do this using url
            window.location = "/events/congress-admin/player_events_list/" + member_id[1] + "/{{ congress.id }}"
        }

    </script>
{% endblock footer %}
