{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Settings - General                                                     #}
{#                                                                        #}
{# Allows user to edit venues or choose default_secondary_payment_method  #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{#{% load crispy_forms_tags %}#}
{#{% load crispy_forms_filters %}#}
{% load cobalt_tags %}

<!-- SET ALL TABS TO AT LEAST 800PX TO IT DOESN'T JUMP MOVING BETWEEN THEM IF SCROLLED DOWN -->
<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-info">
        <h2 id="t_tab_heading_settings">Club Settings</h2>
        {% include "organisations/club_menu/settings/nav_htmx.html" with selected="general" %}
    </div>

    <div class="card-body">

        <h3 class="text-info font-weight-bold settings_message" id="settings_message">{{ message }}</h3>

        <div class="container">

            <!-- VENUES -->
            <div class="row">
                <div class="col-md-6">
                    <div id="club-venues"
                        hx-post="{% url "organisations:club_menu_tab_settings_venues_htmx" %}"
                        hx-vars="club_id:{{ club.id }}"
                        hx-trigger="load"
                    >
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
