{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Settings - General                                                     #}
{#                                                                        #}
{# Allows user to edit venues or choose default_secondary_payment_method  #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}

<!-- SET ALL TABS TO AT LEAST 800PX TO IT DOESN'T JUMP MOVING BETWEEN THEM IF SCROLLED DOWN -->
<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-info">
        <h2 id="t_tab_heading_settings">Club Settings</h2>
        {% include "organisations/club_menu/settings/nav_htmx.html" with selected="general" %}
    </div>

    <div class="card-body">

        <h3 class="text-info font-weight-bold settings_message" id="settings_message">{{ message }}</h3>

        <div class="container">

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input
                                class="form-check-input"
                                id="id_use_last_payment_method_for_player_sessions"
                                name="use_last_payment_method_for_player_sessions"
                                type="checkbox"
                                {% if club.use_last_payment_method_for_player_sessions %}checked="Checked" {% endif %}
                                hx-post="{% url 'organisations:club_menu_tab_settings_use_last_payment_method_for_player_sessions_htmx' %}"
                                hx-trigger="click"
                                hx-target="#settings_message"
                            >
                            Default session payments to last used payment method by player
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div>If this is checked then we will default the payment method for sessions to be whatever the player used last time which may not be {{ BRIDGE_CREDITS }} or your secondary payment method. Only applies to sessions.</div>
                </div>
            </div>

            <!-- VENUES -->
            <div class="row">
                <div class="col-md-6">
                    <div id="club-venues"
                        hx-post="{% url "organisations:club_menu_tab_settings_venues_htmx" %}"
                        hx-vars="club_id:{{ club.id }}"
                        hx-trigger="load"
                    >
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
