{# Nav bar part for Settings tab #}

{% if selected == "details" %}
    <button class="btn btn-primary"
{% else %}
    <button class="btn bg-transparent"
    style="outline: 0; outline-offset: 0; box-shadow: none;"
{% endif %}

type="button"
hx-post="{% url "organisations:club_menu_tab_settings_basic_htmx" %}"
hx-target="#id_settings_form"
>Club Details
</button>

{% if selected == "general" %}
    <button class="btn btn-primary"
{% else %}
    <button class="btn bg-transparent"
    style="outline: 0; outline-offset: 0; box-shadow: none;"
{% endif %}

type="button"
hx-post="{% url "organisations:club_menu_tab_settings_general_htmx" %}"
hx-target="#id_settings_form"
>General
</button>



<div class="btn-group" style="z-index:9999">
    <button type="button"
        class="btn dropdown-toggle
        {% if selected == "memberships" or selected == "payment" or selected == "sessions" %}
            btn-primary
        {% else %}
            bg-transparent
        {% endif %}
        "
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Static Data
        <div class="ripple-container"></div></button>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 41px; left: 0px; will-change: top, left;">

        <a href="javascript: void(0)"
            class="btn btn-sm w-100
            {% if selected == "memberships" %}
                btn-primary text-white btn-block
            {% else %}
                btn-secondary
            {% endif %}
            "
            hx-post="{% url "organisations:club_menu_tab_settings_membership_htmx" %}"
            hx-target="#id_settings_form"
            id="t_settings_membership_types"
        >Membership Types
        </a>

        <a href="javascript: void(0)"
            class="btn btn-sm w-100
            {% if selected == "payment" %}
                btn-primary text-white
            {% else %}
                btn-secondary
            {% endif %}
            "
            hx-post="{% url "organisations:club_menu_tab_settings_payment_htmx" %}"
            hx-target="#id_settings_form"
            id="t_settings_payment_types"
        >Payment Types
        </a>

        {#        <a href="javascript: void(0)"#}
        {#            class="btn btn-sm w-100#}
        {#            {% if selected == "sessions" %}#}
        {#                btn-primary text-white#}
        {#            {% else %}#}
        {#                btn-secondary#}
        {#            {% endif %}#}
        {#            "#}
        {#            hx-post="{% url "organisations:club_menu_tab_settings_sessions_htmx" %}"#}
        {#            hx-target="#id_settings_form"#}
        {#            id="t_settings_sessions_types"#}
        {#        >Sessions#}
        {#        </a>#}

    </div>
</div>


{#<div class="btn-group" style="z-index:9999">#}
{#    <button type="button"#}
{#        class="btn dropdown-toggle#}
{#        {% if selected == "tags" or selected == "templates" %}#}
{#            btn-primary#}
{#        {% else %}#}
{#            bg-transparent#}
{#        {% endif %}#}
{#        "#}
{#        data-toggle="dropdown"#}
{#        aria-haspopup="true"#}
{#        aria-expanded="false">#}
{#        Communications#}
{#        <div class="ripple-container"></div></button>#}
{#    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 41px; left: 0px; will-change: top, left;">#}
{##}
{#        <a href="javascript: void(0)"#}
{#            class="btn btn-sm w-100#}
{#            {% if selected == "tags" %}#}
{#                btn-primary text-white#}
{#            {% else %}#}
{#                btn-secondary#}
{#            {% endif %}#}
{#            "#}
{#            hx-post="{% url "organisations:club_menu_tab_comms_tags_htmx" %}"#}
{#            hx-target="#id_settings_form"#}
{#            id="t_comms_tab_tags"#}
{#        >Tags#}
{#        </a>#}
{#        <br>#}
{##}
{#        <a href="javascript: void(0)"#}
{#            class="btn btn-sm w-100#}
{#            {% if selected == "templates" %}#}
{#                btn-primary text-white#}
{#            {% else %}#}
{#                btn-secondary#}
{#            {% endif %}#}
{#            "#}
{#            hx-post="{% url "organisations:club_menu_tab_comms_templates_htmx" %}"#}
{#            hx-target="#id_settings_form"#}
{#            id="t_comms_tab_templates"#}
{#        >Templates#}
{#        </a>#}
{##}
{#        <a href="javascript: void(0)"#}
{#            class="btn btn-sm w-100#}
{#            {% if selected == "welcome" %}#}
{#                btn-primary text-white#}
{#            {% else %}#}
{#                btn-secondary#}
{#            {% endif %}#}
{#            "#}
{#            hx-post="{% url "organisations:club_menu_tab_comms_templates_htmx" %}"#}
{#            hx-target="#id_settings_form"#}
{#            id="t_comms_tab_welcome"#}
{#        >Welcome Packs#}
{#        </a>#}
{##}
{#    </div>#}
{#</div>#}



{% if selected == "logs" %}
    <button class="btn btn-primary float-right"
{% else %}
    <button class="btn bg-transparent float-right"
    style="outline: 0; outline-offset: 0; box-shadow: none;"
{% endif %}

type="button"
hx-post="{% url "organisations:club_menu_tab_settings_logs_htmx" %}"
hx-target="#id_settings_form"
>Logs
</button>
