{#----------------------------------------------------------------------------#}
{#                                                                            #}
{# Static data payments.                                                      #}
{#                                                                            #}
{# This has three cards, payment_methods, misc payment types (eg car parking) #}
{# and default payment if not bridge credits                                  #}
{#                                                                            #}
{#----------------------------------------------------------------------------#}

{% load static %}
{% load cobalt_tags %}

<div>

    <!-- MAIN MENU -->

    <div class="card">

        <!-- INCLUDE HEADER -->

        <div class="card-header card-header-info">
            <h2 id="t_tab_heading_settings">Club Settings</h2>
            {% include "organisations/club_menu/settings/nav_htmx.html" with selected="payment" %}
        </div>

        <!-- BODY -->

        <div class="card-body" style="z-index:1;">

            <!-- MESSAGE -->
            <h3 class="text-primary font-weight-bold">{{ message }}</h3>

            <div class="container">
                <div class="row">

                    <!--  ACCEPTED PAYMENT METHODS -->

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h3>Accepted Payment Methods</h3>
                            </div>
                            <div class="card-body">
                                <p class="font-italic">
                                    Set the types of payment that the club can accept.
                                </p>
                                <p>If IOU is a payment type (must be uppercase) then players can play without having the funds and can pay the club later. To disable this, remove IOU as a pyment type.</p>

                                <!-- TABLE OF ACCEPTED PAYMENT METHODS -->

                                <div class="table-responsive col-12">
                                    <table class="table table-condensed">
                                        <thead class="text-primary">
                                            <tr>
                                                <th class="text-left">Type</th>
                                                <th>Enabled</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <!-- LOOP THROUGH PAYMENT METHODS -->

                                            {% for payment_method in payment_methods %}

                                                <tr>

                                                    <!-- SHOW ROW -->

                                                    <td class="text-left">

                                                        <!-- EDIT ICON. IF CLICKED SHOW THE RENAME DIALOG -->

                                                        <i
                                                            _="on click toggle .d-none on  #id_tr_change_name_{{ payment_method.id }}"
                                                            class="material-icons" style="font-size: small">edit</i>
                                                        {{ payment_method.payment_method }}
                                                    </td>

                                                    <!-- SHOW CHECKBOX AS SLIDER -->

                                                    <td
                                                        hx-post="{% url "organisations:club_menu_tab_settings_toggle_payment_type_htmx" %}"
                                                        hx-vars="club_id:{{ club.id }},payment_type_id:{{ payment_method.id }}"
                                                        hx-swap="none"
                                                    >
                                                        <input
                                                            id="t_toggle_pay_method_{{ payment_method.id }}"
                                                            type="checkbox"
                                                            class="toggle_button"
                                                            data-toggle="toggle"
                                                            data-size="sm"
                                                            data-onstyle="primary"
                                                            {% if payment_method.active %}checked{% endif %}
                                                        >
                                                    </td>
                                                </tr>

                                                <!-- HIDDEN CHANGE NAME FIELD -->

                                                <tr id="id_tr_change_name_{{ payment_method.id }}" class="d-none">
                                                    <td colspan="2">
                                                        <div class="card col-10">
                                                            <div class="card-header card-header-success">
                                                                <h4>Edit</h4>
                                                            </div>
                                                            <div class="card-body">
                                                                <input
                                                                    class="form-control col-12"
                                                                    id="id_change_name_{{ payment_method.id }}"
                                                                    type="text"
                                                                    maxlength="15"
                                                                    name="new_name"
                                                                    value="{{ payment_method.payment_method }}"
                                                                    hx-post="{% url "organisations:club_menu_tab_settings_payment_edit_name_htmx" %}"
                                                                    hx-target="#id_panel_settings"
                                                                    hx-vars="club_id:{{ club.id }},payment_method_id:{{ payment_method.id }}"
                                                                >
                                                                <button class="col-4 btn btn-sm btn-warning">Rename</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- ADD A NEW PAYMENT METHOD BUTTON -->

                                <div class="col-5 text-nowrap">
                                    <form
                                        hx-post="{% url "organisations:club_menu_tab_settings_payment_htmx" %}"
                                        hx-target="#id_panel_settings"
                                        hx-vars="club_id:{{ club.id }}"
                                    >
                                        {% cobalt_bs4_field form.payment_name %}
                                        <button name="add" id="id_payments_add_type" class="btn btn-sm btn-success">Add</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- MISC INCOME TYPES -->

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h3>Miscellaneous Income Types</h3>
                            </div>
                            <div class="card-body">
                                <i>Manage the list of payments that your club accepts. e.g. Parking, books, coffee, etc.</i>


                                {% if misc_pay_types %}
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-hover">
                                            <thead>
                                                <tr class="text-primary">
                                                    <th class="text-left">Income Type</th>
                                                    <th class="text-right">Default Cost</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for misc_pay_type in misc_pay_types %}
                                                    <tr>
                                                        <td class="text-left">{{ misc_pay_type.description }}</td>
                                                        <td class="text-right">
                                                            <input type="number" min="0.00" max="10000.00" step="0.01"
                                                                name="misc_pay_amount"
                                                                value="{{ misc_pay_type.default_amount }}"
                                                                class="form-control text-right"
                                                                hx-post="{% url "organisations:club_menu_tab_settings_misc_pay_amount_htmx" %}"
                                                                hx-target="#id_panel_settings"
                                                                hx-vars="club_id:{{ club.id }},misc_pay_id:{{ misc_pay_type.id }}"
                                                            >
                                                        </td>
                                                        <td>
                                                            <button
                                                                class="btn btn-sm btn-danger"
                                                                hx-post="{% url "organisations:club_menu_tab_settings_misc_pay_delete_htmx" %}"
                                                                hx-target="#id_panel_settings"
                                                                hx-vars="club_id:{{ club.id }},misc_pay_id:{{ misc_pay_type.id }}"
                                                            >
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                <div class="col-md-6 text-nowrap">

                                    <form
                                        hx-post="{% url "organisations:club_menu_tab_settings_misc_pay_add_htmx" %}"
                                        hx-target="#id_panel_settings"
                                        hx-vars="club_id:{{ club.id }}"
                                    >

                                        <input type="text" class="form-control" name="misc_pay_name"
                                            placeholder="Add new type" maxlength="30" required>

                                        <button class="btn btn-sm btn-success">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- DEFAULT_SECONDARY_PAYMENT_METHOD -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3>Second Choice Payment Method</h3>
                </div>
                <div class="card-body">
                    <div id="club-secondary-pay"
                        hx-post="{% url "organisations:club_menu_tab_settings_default_secondary_payment_method_htmx" %}"
                        hx-vars="club_id:{{ club.id }}"
                        hx-trigger="load"
                    >
                    </div>
                </div>
            </div>



        </div>
    </div>


    <script>
        $( document ).ready(function() {

            // activate toggle buttons
            $('.toggle_button').bootstrapToggle();

            // warn if enabling a payment type
            $('.toggle_button').change(function(evt){
                if ($(this).prop('checked')) {
                    swal.fire({
                        title: "Warning",
                        html: "Check the rates on your sessions (SESSION TYPES above) as a default value has been applied, which may not be what you want.",
                        icon: "warn"
                    });
                }

            });

        });
    </script>
