<div class="card">
    <div class="card-body">
        <h4 class="text-info font-weight-bold settings_message" id="settings_message_rates">{{ message }}</h4>

        <h2>{{ session_type.name }} Rates</h2>

        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr class="text-primary">
                        <th></th>

                        {#-- for the header rows we just go with the data from the first row --#}

                        {% for header in rates.0 %}
                            <th class="text-left">
                                {% if header.membership %}
                                    {{ header.membership.name }}
                                {% else %}
                                    Non-Member
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>

                {# We have a row per payment method --#}

                <tbody>
                    {% for rate_list in rates %}
                        <tr>
                            <td class="font-weight-bold text-primary text-left">{{ rate_list.0.session_type_payment_method.payment_method.payment_method }}</td>
                            {% for session_type_payment_method_membership in rate_list %}
                                <td>
                                    <input type="number"
                                        name="fee"
                                        value="{{ session_type_payment_method_membership.fee }}"
                                        step="0.01"
                                        class="numberinput form-control"
                                        style="width: 50px;"
                                        hx-post="{% url "organisations:club_menu_tab_settings_table_fee_update_htmx" %}"
                                        hx-target="#settings_message_rates"
                                        hx-vars="club_id:{{ club.id }},session_id:{{ session_type_payment_method_membership.id }}"
                                    >
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        {% if allow_delete %}

            {% include "utils/htmx_confirm_modal.html" with id=session_type.id delete_item=session_type.name hx_vars=hx_vars hx_target="#id_panel_settings" hx_post=hx_post %}
            <button id="t_delete_session_type_{{ session_type.id }}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ session_type.id }}">
                Delete Session Type
            </button>

        {% else %}
            <p class="font-italic">This is your only session and cannot be deleted.</p>
        {% endif %}

    </div>
</div>
