{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Manage slugs for a club                                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}

<!-- MAIN CARD -->
<div class="card">

    <!-- CARD HEADER -->
    <div class="card-header card-header-info">
        <h2 id="t_tab_heading_settings">Club Settings</h2>
        {% include "organisations/club_menu/settings/nav_htmx.html" with selected="slugs" %}
    </div>

    <!-- CARD BODY -->
    <div class="card-body table-responsive">
        <p>Slugs allow you to use short text links to pages on {{ GLOBAL_TITLE }} which are nicer for users.</p>
        <p>For example, you can use
            <u class="text-primary">/go/MyCongress</u>
            rather than
            <u class="text-primary">/events/congress/view/58472</u>.</p>
        <dl>
            <dt>Why slugs?</dt>
            <dd>The term comes from the newspaper industry where short names were given to stories as they evolved since the
                headline or content might change as the story moved through to publication.</dd>
        </dl>

        <!-- MESSAGE -->
        {% include "utils/cobalt_message_h3.html" %}

        <!-- SHOW EXISTING SLUGS IF WE HAVE ANY -->
        {% if slugs %}

            <table id="id_slug_table" class="table table-hover">
                <thead class="text-primary">
                    <tr>
                        <th>Slug</th>
                        <th>Address</th>
                        <th>Links To</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slug in slugs %}
                        <tr>
                            <td id="slug_name_{{ slug.id }}" class="font-weight-bold">{{ slug.slug }}</td>
                            <span style="display: none;" id="slug_link_{{ slug.id }}">{{ slug.redirect_path }}</span>
                            <td>https://{{ COBALT_HOSTNAME }}/go/{{ slug.slug }}</td>
                            <td>https://{{ COBALT_HOSTNAME }}/{{ slug.redirect_path }}</td>
                            {% include "utils/htmx_confirm_modal.html" with id=slug.id delete_item=slug.slug hx_vars=slug.hx_vars hx_target="#id_panel_settings" hx_post=slug.hx_post %}

                            <td class="text-center delete-slug">

                                <!-- DELETE SLUG BUTTON -->
                                <button
                                    id="delete_slug_{{ slug.id }}"
                                    data-toggle="modal"
                                    data-target="#deleteModal{{ slug.id }}"
                                    class="btn btn-sm btn-danger">
                                    Delete</button>

                                <!-- EDIT SLUG BUTTON -->
                                <button
                                    class="btn btn-sm btn-info edit-slug"
                                    id="edit_slug_{{ slug.id }}"
                                >Edit</button>

                                <!-- COPY SLUG BUTTON -->
                                <button
                                    class="btn btn-sm btn-success"
                                    onclick="copyToClipboard({{ slug.id }})"
                                >Copy to Clipboard</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}

            <h3>You have no slugs set up yet.</h3>

        {% endif %}

        <!-- HIDDEN ADD SLUG OPTION -->

        <div id="add_a_slug" style="display: none">
            <h3>Add New Slug</h3>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-6">

                        <!-- AUTO SEARCH FOR NAME -->

                        <div class="form-group bmd-form-group">
                            <input type="text"
                                value="{{ slug_text }}"
                                placeholder="Type name to see if it is available"
                                class="form-control"
                                hx-post="{% url "organisations:club_menu_tab_settings_slug_check_available_htmx" %}"
                                hx-trigger="keyup changed delay:100ms"
                                hx-target="#slug-htmx"
                                hx-vars="club_id:{{ club.id }}"
                                hx-include="[name='redirect_path']"
                                name="slug_text"
                                id="id_slug"
                            >
                        </div>
                    </div>

                    <!-- PATH -->
                    <div class="col-6">
                        <div class="form-group bmd-form-group">

                            <input type="text"
                                name="redirect_path"
                                id="id_redirect_path"
                                class="form-control"
                                placeholder="Link location e.g. events/congress/view/1"
                                hx-post="{% url "organisations:club_menu_tab_settings_slug_check_available_htmx" %}"
                                hx-trigger="keyup changed delay:100ms"
                                hx-target="#slug-htmx"
                                hx-vars="club_id:{{ club.id }}"
                                hx-include="[name='slug_text']"

                            >
                        </div>
                    </div>
                </div>

                <!-- PLACEHOLDER FOR SEARCH RESULTS - WHICH INCLUDE SAVE BUTTON IF APPROPRIATE -->
                <div id="slug-htmx"></div>

            </div>
        </div>
    </div>

    <div class="text-center">
        <button
            class="btn btn-info"
            _="on click show #add_a_slug then remove me"
        >Add New Slug</button>
    </div>

</div>
</div>


<script>
    $(document).ready( function () {

        // edit slug - show dialog
        $(".edit-slug").on("click", function() {
            const slug_id = $(this).attr('id').split("_")[2];
            const slug_name = $("#slug_name_" + slug_id).text()
            const slug_link = $("#slug_link_" + slug_id).text()
            Swal.fire({
                title: "Edit " + slug_name,
                text: "Link:",
                input: 'text',
                inputValue: slug_link,
                showCancelButton: true,
                confirmButtonColor: 'green'
            }).then((result) => {
                if (result.value) {

                    // Handle people pasting a URL in
                    let redirect_path = result.value.replace("{{ COBALT_HOSTNAME }}/", "");
                    redirect_path = redirect_path.replace("https:\/\/", "")
                    redirect_path = redirect_path.replace("http:\/\/", "")

                    const postData = {
                        'club_id': {{ club.id }},
                        'slug_id': slug_id,
                        'redirect_path': redirect_path,
                    };
                    htmx.ajax('POST', '{% url "organisations:club_menu_tab_settings_slug_edit_htmx" %}', {'target': '#id_panel_settings', 'values': postData});
                }

            });
        });
    });

    $( document ).ready(function() {

        // only allow alphanumeric and minus sign for slug
        $('#id_slug').keypress(function( e ) {
            if(!/[0-9a-zA-Z-]/.test(String.fromCharCode(e.which)))
            return false;
        });

        // selector used multiple times
        const path_input = $('#id_redirect_path');

        // don't allow leading / for redirect path
        path_input.keypress(function( e ) {

            // check character (/ = 47) and length (will be 0)
            if (e.which === 47 && path_input.val().length === 0){
                swal.fire({ title:"No need for a leading backslash", html: "Links must not have a leading backslash character.", icon: "info"})
                return false;
            }

        });

        // some people will paste in a URL instead of a path
        path_input.on('paste', function() {

            setTimeout(function () {
                let pasted = path_input.val();

                // remove bad bits
                pasted = pasted.replace("{{ COBALT_HOSTNAME }}/", "")
                pasted = pasted.replace("https:\/\/", "")
                pasted = pasted.replace("http:\/\/", "")

                // update value
                path_input.val(pasted);
            },0);
        });

    });
</script>
