{% load crispy_forms_filters %}
{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-info">
        <h2>Club Settings</h2>
        {% include "organisations/club_menu/settings/nav_htmx.html" with selected="tags" %}
    </div>
    <div class="card-body" id="id_comms_email_tab">

        <h3>Tags</h3>
        <p>Tags are used to arrange members into different groups so you can send specific communications only to those who
            are interested.
            Tags are used for general communication, you don't need to set up tags for things like results publishing.
        </p>

        {% if tags %}

            <div class="table-responsive col-md-6">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-left">Tag Name</th>
                            <th>User with Tag</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                            <tr>
                                <td class="text-left">
                                    <!-- EDIT ICON. IF CLICKED SHOW THE RENAME DIALOG -->

                                    <i
                                        _="on click toggle .d-none on  #id_tr_change_tag_name_{{ tag.id }}"
                                        class="material-icons" style="font-size: small">edit</i>
                                    {{ tag.tag_name }}
                                </td>
                                <td>{{ tag.uses }}</td>


                                {% include "utils/htmx_confirm_modal.html" with id=tag.id delete_item=tag.tag_name hx_vars=tag.hx_vars hx_target="#id_panel_settings" hx_post=tag.hx_post %}
                                <td>
                                    <button class="btn btn-sm btn-info"
                                        hx-post="{% url "organisations:club_menu_tab_settings_users_with_tag_htmx" %}"
                                        hx-target="#id_panel_settings"
                                        hx-vars="club_id:{{ club.id }},tag_id:{{ tag.id }}"
                                    >Manage</button>
                                    <button id="t_delete_tag_{{ tag.id }}" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ tag.id }}">
                                        Delete Tag
                                    </button>
                                </td>
                            </tr>

                            <!-- HIDDEN CHANGE NAME FIELD -->

                            <tr id="id_tr_change_tag_name_{{ tag.id }}" class="d-none">
                                <td colspan="3">
                                    <div class="row">
                                        <input
                                            class="form-control col-12"
                                            id="id_change_tag_name_{{ tag.id }}"
                                            type="text"
                                            maxlength="50"
                                            name="new_tag_name"
                                            value="{{ tag.tag_name }}"
                                            hx-post="{% url "organisations:club_menu_tab_settings_tag_edit_name_htmx" %}"
                                            hx-target="#id_panel_settings"
                                            hx-vars="club_id:{{ club.id }},tag_id:{{ tag.id }}"
                                        >
                                        <button class="col-4 btn btn-sm btn-warning">Rename</button>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>No tags defined</h4>

        {% endif %}

        <div class="col-md-3 text-nowrap">
            <form
                hx-post="{% url "organisations:club_menu_tab_comms_tags_htmx" %}"
                hx-target="#id_panel_settings"
                hx-vars="club_id:{{ club.id }}"
            >
                {% cobalt_bs4_field form.tag_name %}
                <button name="add" id="id_tags_add_tag" class="btn btn-sm btn-success">Add</button>
            </form>
        </div>
    </div>
</div>
