{% load post_office %}

<h3>Example Email Preview</h3>

<iframe
    onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
    style="height:200px;width:100%;border:none;overflow:hidden;"
    srcdoc='


    {% include "notifications/django_post_office_core_templates/po_club_template.html" with img_src=template.banner.url title="Example Email" name="Member" email_body="This is some example text for a member email.<br><br>Regards<br>The Committee" box_colour=template.box_colour box_font_colour=template.box_font_colour footer=template.footer %}

    '></iframe>
