{% load crispy_forms_filters %}
{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-info">
        <h2>Club Settings</h2>
        {% include "organisations/club_menu/settings/nav_htmx.html" with selected="templates" %}
    </div>
    <div class="card-body" id="id_comms_email_tab">

        <h3>Email Templates</h3>
        <p>You can use email templates to customise the appearance of emails that you send to your members.
        </p>

        <h3 class="text-info font-weight-bold settings_message" id="template_message">{{ message| default_if_none:"" }}</h3>

        {% if templates %}

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-left">Template Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for template in templates %}
                            <tr>
                                <td class="text-left"><span class="font-weight-bold">{{ template.template_name }}</span> (last modified {{ template.updated_at|cobalt_nice_date }} by {{ template.last_modified_by.full_name }})</td>

                                {% include "utils/htmx_confirm_modal.html" with id=template.id delete_item=template.name hx_vars=template.hx_vars hx_target="#id_panel_settings" hx_post=template.hx_post %}
                                <td>
                                    <button
                                        class="btn btn-sm btn-info"
                                        hx-post="{% url "organisations:club_menu_tab_settings_edit_template_htmx" %}"
                                        hx-target="#id_edit_template"
                                        hx-vars="club_id:{{ club.id }},template_id:{{ template.id }}"

                                    >Edit</button>
                                    <button id="t_delete_template_{{ tag.id }}" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ template.id }}">
                                        Delete Template
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>No templates defined</h4>

        {% endif %}

        <button
            class="btn btn-sm btn-info"
            hx-post="{% url "organisations:club_menu_tab_settings_edit_template_htmx" %}"
            hx-target="#id_edit_template"
            hx-vars="club_id:{{ club.id }}"
        >Add New Template</button>

        <div id="id_edit_template"

            {# If template is set then we were editing a template so re-open it #}

            {% if template %}
                hx-post="{% url "organisations:club_menu_tab_settings_edit_template_htmx" %}"
                hx-vars="club_id:{{ club.id }},template_id:{{ template.id }}"
                hx-trigger="load"
            {% endif %}
        >
        </div>

    </div>
</div>

