{% load cobalt_tags %}

<hr>

<div class="row">
    <div class="card col-md-6">
        <div class="card-header card-header-warning">
            <h3>{{ message }}</h3>
        </div>
        <div class="card-body">

            {# We do these three parts as 3 different forms that update immediately and update the prview when they change #}

            {#         <form hx-encoding='multipart/form-data'#}
            {#               hx-post="{% url "organisations:club_menu_tab_comms_templates_htmx" %}"#}
            {#               hx-target="#id_panel_settings"#}
            {#               hx-vars="club_id:{{ club.id }}{% if template %},template_id:{{ template.id }}{% endif %}"#}
            {#          _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'#}
            {#            >#}

            <div class="container">
                <div class="row">
                    <div class="col-12" id="template_form_name">
                        {% include "organisations/club_menu/settings/template_form_name_htmx.html" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12" id="template_form_banner">
                        {% include "organisations/club_menu/settings/template_form_banner_htmx.html" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12" id="template_form_footer">
                        {% include "organisations/club_menu/settings/template_form_footer_htmx.html" %}
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="email_template_preview" class="col-md-4 mx-auto"
        hx-post="{% url "organisations:club_menu_tab_settings_template_preview_htmx" %}"
        hx-vars="club_id:{{ club.id }}, template_id:{{ template.id }}"
        hx-trigger="load"
    >
    </div>

</div>
