{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-info">
        <h2>Club Settings</h2>
        {% include "organisations/club_menu/settings/nav_htmx.html" with selected="welcome" %}
    </div>
    <div class="card-body" id="id_settings_welcome_tab">

        <h3>Welcome Email</h3>


        <h3 class="text-info font-weight-bold settings_message" id="settings_message">{{ message|default_if_none:"" }}</h3>

        <div id="edit_welcome_pack">


            {% if welcome_pack %}

                <div
                    hx-post="{% url "organisations:club_menu_tab_settings_welcome_pack_edit_htmx" %}"
                    hx-vars="club_id:{{ club.id }}"
                    hx-target="#edit_welcome_pack"
                    hx-trigger="load"
                >

                </div>

            {% else %}

                <p>You can create a welcome email for new members to tell them about your club.</p>

                <button
                    hx-post="{% url "organisations:club_menu_tab_settings_welcome_pack_edit_htmx" %}"
                    hx-vars="club_id:{{ club.id }}"
                    hx-target="#edit_welcome_pack"
                    class="btn btn-success"
                >Create Welcome Email</button>

            {% endif %}

        </div>

    </div>
</div>
