Another user - {{ user }} - is using the same email address as you.
This is supported to allow couples to share the same email address. Only the first
registered user can login using the email address. All users can login with their
{{ GLOBAL_ORG }} number.
<br><br>
All messages for any of the users will be sent to the same email address but will
usually have the first name present to allow you to determine who the message was
intended for.
<br><br>
We recommend that every user has a unique email address, but understand that some
people wish to share an email.
<br><br><br>
The {{ GLOBAL_ORG }} Technology Team
