<div class="card card-profile px-5">
    <div class="card-body">
        <img class="cobalt-rounded" src="/media/{{ member.pic }}" />
        <h3>{{ member.full_name }}</h3>
        <h4>{{ GLOBAL_ORG }} Number: {{ member.system_number }}</h4>
        {% for club in clubs %}
            <h4>{{ club.organisation }}</h4>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <button id="id_cobalt_search_ok{{ search_id}}" onclick="memberSelected(this.id)" class="search-ok btn btn-sm btn-success">Ok</button>
        <button id="id_cobalt_search_cancel{{ search_id}}" onclick="cancelLookup()" class="search-cancel btn btn-sm btn-secondary">Cancel</button>

        {#hidden fields with results#}
        <input type="hidden" id="results_member_id{{ search_id }}" value="{{ member.id }}">
        <input type="hidden" id="results_member_name{{ search_id }}" value="{{ member }}">

    </div>
</div>

