{% extends 'base.html' %}
{% load static %}
{% block header %}
    <link href="{% static 'assets/css/cropper.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/cropper.min.js' %}"></script>
{% endblock %}
{% block content %}

<div id="ignore_cobalt_save"></div>
<div class="container-fluid">
  <p>You can edit your profile here. You can also change less personal things in <a href="{% url "accounts:user_settings" %}" class="btn btn-sm btn-danger">settings</a></p>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Edit Profile for {{ user.full_name }} ({{ user.system_number }})</h4>
          <p class="card-category">Basic details</p>
        </div>
        <div class="card-body">
          <form method="post" action="{% url "accounts:user_profile" %}">
            {% csrf_token %}
            <input type="hidden" id="id_username" name="username" value="{{ form.username.value }}">
            <input type="hidden" name="system_number" id="id_system_number" value="{{ form.system_number.value }}">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Email address</label>
                  <span class="cobalt-form-error" id="id_email_errors">{{ form.email.errors|striptags }}</span>

                  <input type="email" name="email" id="id_email" class="form-control" value="{{ form.email.value }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Mobile Number</label>
                  <input type="text" name="mobile" id="id_mobile" class="form-control" value="{{ form.mobile.value|default_if_none:""}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">First Name</label>
                  <input type="text" name="first_name" id="id_first_name" class="form-control" maxlength="30" value="{{ form.first_name.value }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Last Name</label>
                  <input type="text" name="last_name" id="id_last_name" class="form-control" maxlength="30" value="{{ form.last_name.value }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-static" style="font-size:11px">Date of Birth</label>
                  <input type="text" name="dob" id="id_dob" class="form-control datepicker" value="{{ form.dob.value|default_if_none:'' }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">BBO Username</label>
                  <input type="text" name="bbo_name" id="id_bbo_name" class="form-control" value="{{ form.bbo_name.value|default_if_none:'' }}">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success pull-right cobalt-save">Update Profile</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-warning">
          <h4>Team Mates</h4>
          <p class="card-category">Add people you play with regularly to make it easier to enter events together. They need to be signed up to this system first.</p>
      </div>
      <div class="card-body">

      {% if team_mates %}

        <table class="table" id="team_mate_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>

              {% for team_mate in team_mates %}
                <tr id="div_for_{{ team_mate.team_mate.id }}">
                    <td>
                      <a href="{% url "accounts:public_profile" pk=team_mate.team_mate.id %}">
                        {{ team_mate.team_mate.full_name }}
                      </a>
                    </td>
                    <td id="status_{{ team_mate.team_mate.id }}">
                      {% if team_mate.make_payments %}
                        Team Mate<a href="javascript:void(0)" onclick='help("Team Mate Plus", "This person can use your bridge credits to enter you in an event");'>
                          <i class="material-icons">add_box</i>
                        </a>
                      {% else %}
                        Team mate - basic
                      {% endif %}
                    </td>
                    <td class="td-actions text-right">
                        <button type="button" id="toggle_team_mate_{{ team_mate.team_mate.id }}"
                          data-toggle="tooltip"
                          title="{% if team_mate.make_payments %}Stop {{ team_mate.team_mate.first_name }} from being able to use your money to enter you in an event{% else %}Allow {{ team_mate.team_mate.first_name }} to enter you in an event using your money{% endif %}"
                          class="make_payments btn btn-info">
                            <i class="material-icons">
                              {% if team_mate.make_payments %}
                                money_off
                              {% else %}
                                attach_money
                              {% endif %}
                            </i>
                        </button>
                        <button type="button" id="delete_team_mate_{{ team_mate.team_mate.id }}"
                          data-toggle="tooltip"
                          class="btn btn-danger delete_team_mate"
                          title="Remove {{ team_mate.team_mate.first_name }} as a team mate."
                        >
                          <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-dark">Note: You can only add team mates who have already signed up to the system. Encourage your friends to sign up.</h4>
        {% endif %}

        {% include "utils/generic_user_search_body.html" with search_id=1 %}

        <div class="d-flex">
          <div>
            <a href="" class="btn btn-success cobalt_generic_member" data-toggle="modal" id="cobalt_user" data-target="#cobalt_general_member_search1">Add Team Mate</a>
          </div>
        </div>

        </div>
      </div>
    </div>

    <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade" id="modalCrop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Crop the photo</h4>
          </div>
          <div class="modal-body">
            <img src="" id="image" style="max-width: 100%;">
          </div>
          <div class="modal-footer">
            <div class="btn-group pull-left" role="group">
              <button type="button" class="btn btn-sm btn-default js-zoom-in">
                <span class="text-large">+</span>
              </button>
              <button type="button" class="btn btn-sm btn-default js-zoom-out">
                <span class="text-large">-</span>
              </button>
            </div>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Discard</button>
            &nbsp;
            <button type="button" class="btn btn-sm btn-primary js-crop-and-upload">Crop and upload</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-info">
            <h4 class="card-title">About {{ request.user.first_name}}</h4>
              <p class="card-category">Picture and description</p>
          </div>
          <div class="card-body">
            <img id="cobalt-pic" class="cobalt-rounded text-center" style="height: 140px; width: 140px;" src="/media/{{ form.pic.value }}" />
            <br>
            <form method="post" id="pic_form" action="update-photo" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="x" id="id_x" value="1"><input type="hidden" name="y" id="id_y" value="1"><input type="hidden" name="width" id="id_width" value="1"><input type="hidden" name="height" id="id_height" value="1">

            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
              <div>
                <span class="btn btn-sm btn-raised btn-round btn-rose btn-file">
                  <span class="fileinput-new">Change Photo</span>

                  <input type="file" name="pic" accept="image/*" id="id_pic" value="{{ form.pic.value }}"/></span>

                  <br>
                  <a href="{% url "accounts:delete_photo" %}" class="btn btn-sm">Delete Photo</a>
                <br />
                <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
              </div>
            </div>
                  </form>
            <form method="post" id="blurb_form" action="update-blurb" enctype="multipart/form-data">
              {% csrf_token %}
            <p class="card-description">
              <label class="bmd-label-floating">About You</label>
              <textarea rows=8 name="about" id="id_about" class="form-control" placeholder="Tell people about yourself in a few words.">{{ blurbform.about.value|default_if_none:"" }}</textarea>
            </p>

            <button type="submit" class="btn btn-success cobalt-save">Update</button>
      </form>
    </div>
  </div>
</div>
</div>
<div class="form-group">
  <button onclick="location.href='/accounts/change-password';" class="btn-success btn">Change Password</button>
</div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>


  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_pic").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#pic_form").submit();
      });

    });

{% include 'utils/generic_user_search_footer.html' with search_id=1 %}

  $(document).ready(function() {

// initialise date time picker
    $('#id_dob').datetimepicker({
      format: 'DD/MM/YYYY'
    });

// initialise tooltips
  $('[data-toggle="tooltip"]').tooltip()

// handle delete action
    $(".delete_team_mate").click(function(){
// get member id from element id
      id = $(this).attr('id').split('_')[3]
      deleteUser(id);
    });

// handle toggle payment auth
    $(".make_payments").click(function(){
// get member id from element id
      id = $(this).attr('id').split('_')[3]
      toggleUser(id);
    });

  });

// add a team mate
  function addUser(member_id){
    $.get("{% url "accounts:add_team_mate_ajax" %}?member_id=" + member_id)
        .done(response => {
          msg = response['data']['message'];
          if (msg == 'Success'){
            swal.fire({ title:"Team Mate Added", html: "Success. Added a new team mate", icon: "success"})
            .then((result) => {
              cobalt_form_data_changed = false;
              location.reload();
            });
          } else {
            swal.fire({ title:"Error", html: msg, icon: "error"})
          }
        });
    }

// Generic member search popup ok button pressed
    function cobaltMemberSearchOk() {
      addUser(member_id[1]);
    };

// change setting about whether payments can be made
    function toggleUser(member_id) {
      $.get("{% url "accounts:toggle_team_mate_ajax" %}?member_id=" + member_id)
          .done(response => {

            var msg = response['data']['message'];
            var first_name = response['data']['first_name'];
            var icon = $("#toggle_team_mate_" + member_id)
            var txt_field = $("#status_" + member_id)

            if (msg == false){

              txt_field.html("Team mate - basic");
              icon.html("<i class='material-icons'>attach_money</i>");
              var title = "Allow " + first_name + " to enter you in an event using your money";

            } else {

              txt_field.html("Team Mate<a href='javascript:void(0);' onclick='help();'><i class='material-icons'>add_box</i></a>");
              icon.html("<i class='material-icons'>money_off</i>");
              var title = "Stop " + first_name + " from being able to enter you in an event using your money";

            }


            icon.attr('title', title);
            icon.attr('data-original-title', title);
            icon.tooltip('update');
            icon.tooltip('show');

          });
    }

    function deleteUser(member_id) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to undo this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          $.get("{% url "accounts:delete_team_mate_ajax" %}?member_id=" + member_id)
              .done(response => {
                msg = response['data']['message'];
                if (msg == 'Success'){
                  swal.fire({ title:"Team Mate Removed", html: "Success. Team mate has been removed.", icon: "success"})
                  .then((result) => {
                    $('table#team_mate_table tr#div_for_' + member_id).remove();
                  });
                } else {
                  swal.fire({ title:"Error", html: msg, icon: "error"})
                }
              });
          }
      })
    }

    function help(title, html){
      swal.fire({ title:title, html: html, icon: "info"})
      return false;
    }

</script>
{% endblock %}
