{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content">
  <p>You can edit your settings here. You can also change more personal things in <a href="{% url "accounts:user_profile" %}" class="btn btn-sm btn-success">profile</a></p>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-warning">
              <h2>Edit Settings</h2>
            </div>
            <div class="card-body">

              <form method="post">
                {% csrf_token %}

                <input type="hidden" name="username" id="id_username" value="{{ form.username.value }}">

                <!-- Personal Notifications -->

                <!-- <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Personal Notifications</h4>
                <p class="card-category">SMS and Email</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="form-check">
                        <div class="row justify-content-center">
                           <span class="cobalt-form-error" id="id_receive_sms_results">{{ form.receive_sms.errors|striptags }}</span>
                        </div>
                        <label class="form-check-label">
                              <input class="form-check-input" id="id_receive_sms_results" name="receive_sms_results" type="checkbox" {% if form.receive_sms_results.value %}checked="Checked"{% endif %}>
                              Receive SMS notifications of results
                              <span class="form-check-sign">
                                  <span class="check"></span>
                              </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-check">
                      <div class="row justify-content-center">
                         <span class="cobalt-form-error" id="id_receive_sms_reminders">{{ form.receive_sms_reminders.errors|striptags }}</span>
                      </div>
                      <label class="form-check-label">
                            <input class="form-check-input" id="id_receive_sms_reminders" name="receive_sms_reminders" type="checkbox" {% if form.receive_sms_reminders.value %}checked="Checked"{% endif %}>
                          Receive SMS reminders for upcoming events
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

                <!-- End Personal Notifications -->

                <!-- General Notifications -->

                <!-- <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">General Notifications</h4>
              <p class="card-category">Marketing and Communications</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-check">
                      <div class="row justify-content-center">
                         <span class="cobalt-form-error" id="id_receive_sms_results">{{ form.receive_abf_newsletter.errors|striptags }}</span>
                      </div>
                      <label class="form-check-label">
                            <input class="form-check-input" id="id_receive_abf_newsletter" name="receive_abf_newsletter" type="checkbox" {% if form.receive_abf_newsletter.value %}checked="Checked"{% endif %}>
                        Receive ABF Newsletter
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-check">
                      <div class="row justify-content-center">
                         <span class="cobalt-form-error" id="id_receive_marketing">{{ form.receive_marketing.errors|striptags }}</span>
                      </div>
                      <label class="form-check-label">
                            <input class="form-check-input" id="id_receive_marketing" name="receive_marketing" type="checkbox" {% if form.receive_marketing.value %}checked="Checked"{% endif %}>
                          Receive Marketing information
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-check">
                      <div class="row justify-content-center">
                         <span class="cobalt-form-error" id="id_receive_monthly_masterpoints_report">{{ form.receive_monthly_masterpoints_report.errors|striptags }}</span>
                      </div>
                      <label class="form-check-label">
                            <input class="form-check-input" id="id_receive_monthly_masterpoints_report" name="receive_monthly_masterpoints_report" type="checkbox" {% if form.receive_monthly_masterpoints_report.value %}checked="Checked"{% endif %}>
                          Receive monthly masterpoints report
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
                <!-- End General Notifications -->

                <!-- ABF Dollars -->

                <!-- <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">{{ BRIDGE_CREDITS }}</h4>
              <p class="card-category">Payment System</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">

                  <div class="col-md-12">
                    <div class="form-check">
                      <div class="row justify-content-center">
                         <span class="cobalt-form-error" id="id_receive_payments_emails">{{ form.receive_payments_emails.errors|striptags }}</span>
                      </div>
                      <label class="form-check-label">
                            <input class="form-check-input" id="id_receive_payments_emails" name="receive_payments_emails" type="checkbox" {% if form.receive_payments_emails.value %}checked="Checked"{% endif %}>
                            Receive email notifications
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div> -->

                <!-- End ABF Dollars -->

                <!-- Site -->

                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Site Settings</h4>
                    <p class="card-category">Preferences</p>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">

                        <div class="col-md-12">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" id="id_system_number_search" name="system_number_search" type="checkbox" {% if form.system_number_search.value %}checked="Checked" {% endif %}>
                              Show {{ GLOBAL_ORG }} Number on searches
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" id="id_windows_scrollbar" name="windows_scrollbar" type="checkbox" {% if form.windows_scrollbar.value %}checked="Checked" {% endif %}>
                              Use perfect-scrollbar on Windows
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>

                        <!-- <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="Checked">
                            Show MP Percentage on Dashboard
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="Checked">
                            Only if above 50%
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                  </div> -->



                      </div>
                    </div>
                  </div>
                </div>

                <!-- End Site Settings -->

                <!-- Club -->

                <!-- <div class="card" style="width: 400px">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Your Clubs</h4>
              <p class="card-category">Tick shows home club</p>
            </div>

            <div class="card-body">

              <button type="button" class="btn btn-default">SABA&nbsp;<i class="material-icons">done</i></button>
              <button type="button" class="btn btn-default">NSBC</button>
              <button type="button" class="btn btn-default">Trumps</button>
              <br>
              <a href="./settings.html">Change settings...</a>
            </div>
          </div>



          <div class="card" style="width: 400px">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Your States</h4>
              <p class="card-category">Tick shows home state</p>
            </div>

            <div class="card-body">
              <button type="button" class="btn btn-info">NSW&nbsp;<i class="material-icons">done</i></button>
              <button type="button" class="btn btn-info">SA</button>
              <br>
              <a href="./settings.html">Change settings...</a>
            </div>
          </div>

 -->


                <!-- Club Settings -->




                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary cobalt-save">Update Settings</button>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </div>
          <!-- system notifications -->

          <!-- <br>
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title">Manage Notifications</h4>
              <p class="card-category">System alerts</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  {% if notifications %}
                    <td><button class="btn btn-sm btn-info">Remove All</button></td>
                  {% endif %}
                    <td><button class="btn btn-sm btn-info">Add Notification</button></td>
                    <br>
                <table class="table table-responsive">
                {% if notifications %}
                <thead>
                  <th>Application</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Action</th>
                </thead>
                {% endif %}
                <tbody>
                  {% for notification in notifications_list %}
                  <tr>
                    <td>{{ notification.application }}</td>
                    <td>{{ notification.type }}</td>
                    <td>{{ notification.description }}</td>
                    <td><button class="btn btn-sm btn-info">Remove</button></td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td>Nothing set</td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>

                </div>
              </div>
            </div>
          </div> -->
          <!-- system notifications -->

        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-body">
              <img id="cobalt-pic" class="cobalt-rounded text-center" style="height: 140px; width: 140px;" src="/media/{{ request.user.pic }}" />

              <h4 class="card-title">{{ request.user.full_name }}</h4>
              <p class="card-description">
                {{ request.user.about|default_if_none:"You haven't added anything yet. Visit Profile to change this." }}
              </p>
              <a href="{% url "accounts:user_profile" %}">Edit...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
