/* Cobalt error standard - new version 2 */

.cobalt-form-error {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

/* rounded images for profile pics */
img.cobalt-rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* Used by the message framework to add headings */

.cobalt-message-debug:before {
    font-size: 25px;
    content: 'Debug';
}
.cobalt-message-info:before {
    font-size: 25px;
    content: 'Info';
}
.cobalt-message-success:before {
    font-size: 25px;
    content: 'Success';
}
.cobalt-message-warning:before {
    font-size: 25px;
    content: 'Warning';
}
.cobalt-message-error:before {
    font-size: 25px;
    content: 'Error';
}

/* prevent text being changed to uppercase */
.cobalt-text-transform-off { text-transform: none !important; }

/* styles for pagination */

.pagination {
    margin-top: 1em;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

.pagination-number:hover,
.pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #3354AA;
}

/* Properly disable buttons */
.btn[disabled]{
  pointer-events:none;
  opacity:0.5
}
