@charset "UTF-8";
/* CSS Document */

.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
}

.container {

  padding: 5vw;
  display: block;
}

.newsitem {

  background-color: #E5E5E5;
  width: 25vw;
  display: inline-block;
  margin: 4vw;
  text-align: center;
  vertical-align: top

}

.newsitem button {

  background-color: #404040;
  color: white;
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #E63B37;
  left: 50%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 position:absolute;
}

button {
  border: none;
  padding: 18px 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
 text-decoration: none;
 letter-spacing: 1px;


}

.boldfeature {

  background-color: #E63B37;
  position: relative;
  min-height: 300px;
}

.boldfeature button {

  background-color: white;
  color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;

}


.buttoncluster {
  width: 90vw;
  padding-top: 0;
display: block ;
 margin: auto;
 min-height: 100px;
 padding-bottom: 30px;
}


.buttoncluster button {
  background-color: white;
  color: white;
background-color: #E63B37;
font-size: 20px;
width: 40%;
float: left;
display: inline-block;




}
.container button {
position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   font-size: 20px;
  background-color: white;
  color: black;

}

/* MG */
.parallax {
  background-image: url("/static/assets/img/cards.6aeb9858f686.jpg");
  height: 350px;
 /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block

}

/* MG */
.congressbox {

  background-color: #E5E5E5;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px;

}

/* MG */
.boxbody {
  text-align: left;
}

.messagebar {
	background-color: #404040;
  text-align: center;
  padding: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
  color: #F5F5F5;

}

.title {

  color: #E63B37
}

.header img {
  margin: auto;
  display: block;
  margin-bottom: -40px
}
.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px

}


.header-left {
  float: left;
  padding-left: 15px
}
.header-right {
  float: right;
  color: black;
  padding-right: 15px
}

@media screen and (max-width: 700px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    text-align: center
  }

  .header img {
    display: block;
    margin: auto
  }


  .header-right {
    float: none;
  }

  .header-left {
    float: none;
  }
}



a {
  text-decoration: none;
	color: inherit
}


body {
	background-color: #FFFFFF;
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s
}



.content {
	background-color: #EEEEEE;
	width: 100vw;
  min-height: 50vw
}

header {

  padding: 3vw;
  style: inline-block
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: normal;
  padding: 10px 20px 10px 20px;

}

/* MG */

h1 {
	text-align: center;
	font-size: 24px;
	margin: 0;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 30px;
  padding-bottom: 10px;
  text-transform: uppercase


}
h2 {
	text-align: center;
	font-size: 18px;
	margin: 0;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 30px;
  padding-bottom: 10px;
  text-transform: uppercase


}


/* MG */
.table {
  border-collapse: collapse;
  	width: 100%;
}

#footer {
	background-color: #404040;
  text-align: center;
  padding: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
  color: #F5F5F5;
}
