{% extends 'base.html' %}
{% load cobalt_tags %}
{% load static %}
{% load humanize %}
{% block title %} - Admin Player Payments{% endblock %}
{% block content %}

    <div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-profile">
                        <div class="card-header card-header-warning">
                            <h3 class="card-title">{{ profile.full_name }}</h3>
                            <h4 class="card-title">{{ GLOBAL_ORG }} No. {{ profile.system_number }}</h4>
                            {% if summary.RankName %}
                                <h5>{{ summary.RankName }}: {{ summary.TotalMPs }} Masterpoints</h5>
                            {% endif %}
                            {% if summary.home_club %}
                                {% if summary.IsActive %}
                                    <h4>Home Club: {{ summary.home_club }}</h4>
                                {% else %}
                                    <h4>Used to play at: {{ summary.home_club }}</h4>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <img id="cobalt-pic" class="cobalt-rounded text-center" style="height: 140px; width: 140px;" src="/media/{{ profile.pic }}" />
                            <p class="card-description">
                                <br>
                                {{ profile.about|default_if_none:"" }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-8">
                    <div class="card-header-success">
                        <h3>Basics</h3>
                    </div>
                    <div class="card-body">
                        <h4>Balance: {{ GLOBAL_CURRENCY_SYMBOL }}{{ balance|floatformat:2|intcomma }}</h4>
                        <a href="{% url "payments:statement_admin_view" member_id=profile.id %}" class="btn btn-sm btn-info">View Statement</a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3>Stripe Transactions</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Organisation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            {% for stripe in stripes %}
                                <tr>
                                    <td>{{ stripe.created_date|cobalt_nice_date }}</td>
                                    <td>{{ GLOBAL_CURRENCY_SYMBOL }}{{ stripe.amount }}</td>
                                    <td>{{  stripe.status }}</td>
                                    <td>{{ stripe.linked_organisation|default_if_none:"" }}</td>
                                    {% if stripe.status in "Refunded,Partial refund" %}
                                        <td><a href="{% url "payments:admin_refund_stripe_transaction" stripe_transaction_id=stripe.id %}" class="btn btn-sm btn-danger">Refund</a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
