{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Stripe Transactions</li>
  </ol>
</nav>

<div class="container">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1>{{ BRIDGE_CREDITS }}</h1>
      <h2>Stripe Transactions Report</h2>
    </div>

    <div class="card-body table-responsive">
      <form method="post">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-static" style="font-size:11px">Start Date</label>
              <input type="text" name="from_date" id="id_from_date" autocomplete="id_from_date" class="form-control datepicker" style="overflow: visible;" value="{{ form.from_date.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-static" style="font-size:11px">End Date</label>
              <input type="text" name="to_date" id="id_to_date" autocomplete="id_to_date" class="form-control datepicker" value="{{ form.to_date.value|default_if_none:'' }}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary cobalt-save" name="show">Show</button>
            <button type="submit" class="btn btn-success cobalt-save" name="export">CSV Download</button>
          </div>
          {% if things %}

          <div class="card">
            <div class="card-header card-header-success">
              <h2>Stripe Transactions</h2>

            </div>
            <div class="card-body">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Member</th>
                    <th>Description</th>
                    <th>Amount({{ GLOBAL_CURRENCY_SYMBOL }})</th>
                    <th>Stripe Fees({{ GLOBAL_CURRENCY_SYMBOL}})</th>
                    <th>Due Amount({{ GLOBAL_CURRENCY_SYMBOL }})</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for thing in things %}
                  <tr>
                    <td>{{ thing.created_date }}</td>
                    <td>{{ thing.member }}</td>
                    <td>{{ thing.description }}</td>
                    <td class="text-right">{{ thing.amount|intcomma }}</td>
                    <td class="text-right">{{ thing.stripe_fees|floatformat:2|intcomma }}</td>
                    <td class="text-right">{{ thing.stripe_settlement|floatformat:2|intcomma }}</td>
                    <td><a href="{% url "payments:admin_view_stripe_transaction_detail" stripe_transaction_id=thing.id %}" class="btn btn-info">View</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          <br><br><br><br><br><br><br><br><br><br><br>
          {% endif %}

      </form>
    </div>
    {% include 'utils/pagination_footer.html' %}

  </div>
</div>

{% endblock %}

{% block footer %}
<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<script>
  $(document).ready(function() {

    $('#id_from_date').datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $('#id_to_date').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false
    });
    $("#id_from_date").on("dp.change", function(e) {
      $('#id_to_date').data("DateTimePicker").minDate(e.date);
    });
    $("#id_to_date").on("dp.change", function(e) {
      $('#id_from_date').data("DateTimePicker").maxDate(e.date);
    });
  });
</script>
{% endblock %}
