{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Organisations with Balances</li>
  </ol>
</nav>

<div class="">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1>{{ BRIDGE_CREDITS }} - Organisation Open Balances</h1>
    </div>
    <div class="card-body table-responsive">
      <a href="{% url "payments:admin_orgs_with_balance_csv" %}" class="btn btn-sm btn-warning">Download All as CSV</a>
      <table class="table table-responsive">
        <thead>
          <th>Member</th>
          <th>Balance</th>
          <th></th>
        </thead>
        <tbody>
          {% for thing in things %}
          <tr>
            <td><a href=" {% url "accounts:public_profile" pk=thing.member.id %}">{{ thing.organisation }}</a></td>
            <td class="text-right">{{ thing.balance }}</td>
            <td><a href="{% url "payments:statement_org" org_id=thing.organisation.id %}" class="btn btn-sm btn-info">View Statement</a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

      {% include 'utils/pagination_footer.html' %}

    </div>
  </div>
</div>

{% endblock %}
