{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url "payments:admin_payments_static" %}">Payments Static</a></li>
    <li class="breadcrumb-item"><a href="{% url "payments:admin_payments_static_org_override" %}">Organisation Override</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>

<div class="">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1>{{ BRIDGE_CREDITS }}</h1>
      <h2>Organisation level Overrides<span id="org"></span></h2>
    </div>
    <div class="card-body table-responsive">
      {% include "generic_org_search_body.html" %}
      <a class="cobalt_generic_org btn btn-warning btn-sm" data-toggle="modal" id="id_org_search" data-target="#cobalt_general_org_search"><span style="color: white;">Organisation Search</span></a>
      <div id="cobalt_form" style="display: none;">
        <form method="POST">
          {% csrf_token %}
          <div id="cobalt-hidden-org"></div>
          <table class="table">
          <tr><th><label for="id_org_fee_percent">Organisation Settlement Fee Percent:</label></th><td><input type="number" name="org_fee_percent" step="0.01" required id="id_org_fee_percent"></td></tr>
          </table>
              <button type="submit" class="btn btn-success center-text cobalt-save">Submit</button>
              <a class="btn btn-info center-text" href="{% url "payments:admin_payments_static_org_override" %}">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
<script>
  {% include 'generic_org_search_footer.html' %}

  $('#cobalt_general_org_search').modal('show');

  function cobaltOrgSearchOk() {
    // Show form now that search is complete
    $("#cobalt_form").show();
    $("#id_org_search").hide();
    $("#cobalt-hidden-org").html("<input type='hidden' id='id_organisation' name='organisation' value='" + org_id + "'>");
    $("#org").html(" - " + org_name);
    clearModalOrg();
  }
</script>


{% endblock %}
