{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">View manual ajustments</li>
  </ol>
</nav>

<div class="container">
  <div class="card md-6">
    <div class="card-header card-header-primary">
      <h1>{{ BRIDGE_CREDITS }} </h1>
      <h2>Manual Adjustments Report</h2>
    </div>

    <div class="card-body table-responsive">
      <form method="post">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-static" style="font-size:11px">Start Date</label>
              <input type="text" name="from_date" id="id_from_date" class="form-control datepicker" value="{{ form.from_date.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-static" style="font-size:11px">End Date</label>
              <input type="text" name="to_date" id="id_to_date" class="form-control datepicker" value="{{ form.to_date.value|default_if_none:'' }}">
            </div>
          </div>

          {% if manual_member %}

          <div class="card">
            <div class="card-header card-header-danger">
              <h2>Members</h2>
            </div>
            <div class="card-body">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Administrator</th>
                    <th>Transaction Type</th>
                    <th>User</th>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in manual_member %}
                  <tr>
                    <td>{{ member.created_date }}</td>
                    <td>{{ member.other_member }}</td>
                    <td>{{ member.type }}</td>
                    <td>{{ member.member }}</td>
                    <td>{{ member.description }}</td>
                    <td class="text-right">{{ member.amount|intcomma }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          <br><br><br><br><br><br>
          {% endif %}

          {% if manual_org %}

          <div class="card">
            <div class="card-header card-header-danger">
              <h2>Organisations</h2>
            </div>
            <div class="card-body">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Administrator</th>
                    <th>Transaction Type</th>
                    <th>Club ID</th>
                    <th>Organisation</th>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for org in manual_org %}
                  <tr>
                    <td>{{ org.created_date }}</td>
                    <td>{{ org.member }}</td>
                    <td>{{ org.type }}</td>
                    <td>{{ org.organisation.org_id }}</td>
                    <td>{{ org.organisation }}</td>
                    <td>{{ org.description }}</td>
                    <td class="text-right">{{ org.amount|intcomma }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          <br><br><br><br><br><br>
          {% endif %}

          <button type="submit" class="btn btn-primary" name="show">Show</button>
          <button type="submit" class="btn btn-success" name="export">CSV Download</button>
      </form>

    </div>
  </div>
</div>


{% endblock %}

{% block footer %}
<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<script>
  $(document).ready(function() {
    $('#id_from_date').datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $('#id_to_date').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false
    });
    $("#id_from_date").on("dp.change", function(e) {
      $('#id_to_date').data("DateTimePicker").minDate(e.date);
    });
    $("#id_to_date").on("dp.change", function(e) {
      $('#id_from_date').data("DateTimePicker").maxDate(e.date);
    });

  });
</script>
{% endblock %}
