{% extends 'base.html' %}

{% block content %}

<h2>This screen will change later</h2>
<p>It is here primarly for testing purposes.</p>
<p>Payments doesn't really work as a standalone module so we need
  to have some pretend external connection to it for testing. Statements,
  Transfers and setting up Auto Top Up will remain as part of Payments,
  but the other 3 will not.</p>
<br>
<br>

<div align="center">
  <div class="card col-11 col-md-6" align="center">
    <div class="card-header card-header-warning">
      <h4 class="card-title">Payments</h4>
    </div>


    <div class="card-body" style="text-align: center">
      <div>
        <a href="./test-payment"><button class="text-left btn btn-primary btn-round" style="width: 270px;">
            <i class="material-icons">attach_money</i>&nbsp;Make Test Payment
          </button>
        </a>

        <a href="./setup-autotopup"><button class="text-left btn btn-info btn-round" style="width: 270px">
            <i class="material-icons">credit_card</i>&nbsp;Set up Auto Top Up
          </button>
        </a>

        <a href="./member-transfer"><button class="text-left btn btn-dark btn-round" style="width: 270px">
            <i class="material-icons">people_alt</i>&nbsp;Transfer to another Member
          </button>
        </a>

        <a href="./statement"><button class="text-left btn btn-danger btn-round" style="width: 270px">
            <i class="material-icons">assignment</i>&nbsp;View Statement
          </button>
        </a>

        <a href="./manual-topup"><button class="text-left btn btn-success btn-round" style="width: 270px">
            <i class="material-icons">assignment</i>&nbsp;Manual Top Up
          </button>
        </a>

      </div>
    </div>
  </div>
</div>

{% endblock %}
