{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manual Adjust Member</li>
  </ol>
</nav>

<div class="">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1>{{ BRIDGE_CREDITS }}</h1>
      <h2>Manual Adjust Member Account<span id="member"></span></h2>
    </div>
    <div class="card-body table-responsive">
      {% include "utils/generic_user_search_body.html" with search_id=1 %}
      <a class="cobalt_generic_member btn btn-warning btn-sm" data-toggle="modal" id="id_member_search" data-target="#cobalt_general_member_search1"><span style="color: white;">Member Search</span></a>
      <div id="cobalt_form" style="display: none;">
        <form method="POST">
          {% csrf_token %}
          <div id="cobalt-hidden-member"></div>
          <div class="row justify-content-center">
            <span class="cobalt-form-error" id="id_description_errors">{{ form.description.errors|striptags }}</span>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="form-group">
              <label for="id_description" class="bmd-label-floating">Description</label>
              {% render_field form.description class+="form-control" %}
            </div>
          </div>
          <div class="row justify-content-center">
            <span class="cobalt-form-error" id="id_amount_errors">{{ form.amount.errors|striptags }}</span>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="form-group">
              <label for="id_amount" class="bmd-label-floating">Amount($)</label>
              {% render_field form.amount class+="form-control" %}
            </div>
          </div>
          <div class="row justify-content-center">
            <span class="cobalt-form-error" id="id_description_errors">{{ form.type.errors|striptags }}</span>
          </div>
          <br>
          <div class="col-md-12 d-flex">
            <div>
              <button type="submit" class="btn btn-success center-text cobalt-save">Submit</button>
            </div>
            <div class="ml-auto">
              <a class="btn btn-info center-text" href="{% url "payments:statement_admin_summary" %}">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
<script>
  {% include 'utils/generic_user_search_footer.html' with search_id=1 %}

  $('#cobalt_general_member_search1').modal('show');

  function cobaltMemberSearchOk() {
    // Show form now that search is complete
    $("#cobalt_form").show();
    $("#id_member_search").hide();
    $("#cobalt-hidden-member").html("<input type='hidden' id='id_member' name='member' value='" + member_id[1] + "'>");
    $("#member").html(" - " + member_name[1]);
    clearModal();
  }
</script>


{% endblock %}
