{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Settlements - Complete</li>
  </ol>
</nav>

<div class="">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1>{{ BRIDGE_CREDITS }}</h1>
      <h2>Settlement Confirmation</h2>
    </div>
    <div class="card-body table-responsive">
      <div class="card">
        <div class="card-header card-header-success">
          <h2>Transactions Generated</h2>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Organisation</th>
                <th>BSB</th>
                <th>Account Number</th>
                <th>Amount({{ GLOBAL_CURRENCY_SYMBOL }})</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for tran in trans %}
              <tr>
                <td>{{ tran.organisation }}</td>
                <td>{{ tran.organisation.bank_bsb }}</td>
                <td>{{ tran.organisation.bank_account }}</td>
                <td>{{ tran.amount }}</td>
                <td>{{ tran.created_date }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <h2>Total {{ GLOBAL_CURRENCY_SYMBOL }}{{ total|floatformat:2|intcomma }}</h2>
      <div class="text-center">
        <a href="{% url "payments:statement_admin_summary"%}" class="btn btn-success text-center">Return to summary</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
