{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "payments:statement_admin_summary" %}">Payments Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Settlements</li>
  </ol>
</nav>

<div class="">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1>{{ BRIDGE_CREDITS }}</h1>
      <h2>System Settlement</h2>
    </div>
    <form action="" method="post">
      {% csrf_token %}
      <br>
      <p class="container">This screen does not make bank account payments. Use this screen to
        confirm the amount required for settlement and make the payments manually through your
        bank provided application. Once completed, use this screen to insert the corresponding transactions
        in the system.</p>
      <p class="container">If you wish to transfer a different amount than the current balance,
        use the manual adjustment screen.</p>
      <div class="card-body table-responsive">
        <div class="card container">
          <div class="card-header card-header-success">
            <h2>Organisations</h2>
          </div>
          <table class="bx-5">
            <thead>
              <th class="px-2">Include</th>
              <th class="px-2">Club Number</th>
              <th class="px-2">Organisation</th>
              <th class="px-2">BSB</th>
              <th class="px-2">Account Number</th>
              <th class="px-2 text-right">Gross Amount</th>
              <th class="px-2 text-right">{{ GLOBAL_ORG }} Costs</th>
              <th class="px-2 text-right">Settlement Amount</th>
            </thead>
            <tbody>
              {% for org in orgs %}
              <tr>
                <td class="px-2"><input type="checkbox" value="{{ org.id }}" id="id_settle_list" name="settle_list" value="{{ org.id }}"></td>
                <td class="px-2"><a href="{% url 'payments:statement_org' org_id=org.organisation.id %}">{{ org.organisation.org_id }}</a></td>
                <td class="px-2"><a href="{% url 'payments:statement_org' org_id=org.organisation.id %}">{{ org.organisation.name }}</a></td>
                <td class="px-2">{{ org.organisation.bank_bsb|default_if_none:'<b>NOT SET</b>' }}</td>
                <td class="px-2">{{ org.organisation.bank_account|default_if_none:'<b>NOT SET</b>' }}</td>
                <td class="text-right px-2">{{ GLOBAL_CURRENCY_SYMBOL }}{{ org.balance|floatformat:2|intcomma }}</td>
                <td class="text-right px-2">{{ org.organisation.settlement_fee_percent }}%</td>
                <td class="text-right px-2">{{ GLOBAL_CURRENCY_SYMBOL }}{{ org.settlement_amount|floatformat:2|intcomma }}</td>
              </tr>
              {% endfor %}
              <tr>
                <td class="px-2"><input id="checkall" type="checkbox" value="All"> Select All</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <button class="btn btn-success" type="submit" name="export">Export Selected to CSV</button>
          <button class="btn btn-primary" type="submit" name="confirm">Confirm Payment</button>
        </div>
    </form>
  </div>
</div>


{% endblock %}

{% block footer %}
<script>
  $(document).ready(function() {
    $("#checkall").click(function() {
      $('input:checkbox').not(this).prop('checked', this.checked);
    });
  });
</script>
{% endblock %}
