{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cobalt_tags %}

{% block header %}
<link href="{% static "assets/css/bootstrap4-toggle.min.css" %}" rel="stylesheet">
<script src="{% static "assets/js/bootstrap4-toggle.min.js" %}"></script>
<link href="{% static "assets/css/animate.4.0.0/animate.min.css" %}" rel="stylesheet">

<style>
  .cobalt-left {
    text-align: left;
    padding-right: 20px;
  }

  .cobalt-table {
    margin: 0px auto;
  }
</style>
{% endblock %}

{% block content %}

<div class="">
  <div class="card">
    <div class="card-header card-header-primary">
      <h1>
        <div class="d-flex justify-content-between">
          <div>
            {{ BRIDGE_CREDITS }} - {{ user.full_name }}
          </div>
          <div>
            <i class="material-icons" style="font-size:60px">account_balance</i>
          </div>
      </h1>

      <h3>{% if summary.IsActive %}{{club}}{% else %}Inactive - Used to play at {{club}}{% endif %}</h3>
      <h2>Balance: <span id="balance">{{ balance }}</span></h2>

      <div class="float-left">

        <b>Auto Top Up</b>
        {% if auto_button %} ({{GLOBAL_CURRENCY_SYMBOL}}{{ auto_amount }}) {% endif %}
        <input id="auto-button" class="cobalt-save another" type="checkbox" data-toggle="toggle" data-onstyle="success" data-size="sm" {% if auto_button %} checked {% endif %}>
        {% if auto_button %}
        &nbsp;<a class="btn btn-sm btn-secondary" href="{% url "payments:setup_autotopup" %}">Update</a>
        {% endif %}
        <div id="console-event"></div>
      </div>

    </div>
    <div class="card-body table-responsive">
      {% if admin_view %}
      <div class="col-6 col-md-6 col-lg-4 text-center">
        <a href="{% url 'payments:statement_csv' member_id=user.id %}" <button class="text-center btn btn-primary btn-round" style="width: 170px">
          <i class="material-icons">arrow_downward</i>&nbsp;Download as CSV
          </button>
        </a>
      </div>
      {% else %}
      <div class="container">
        <!-- <img src="{% static "assets/img/calculator.jpg" %}" alt="calculator" width="200px"> -->
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4 text-center">
            <a href="{% url 'payments:manual_topup' %}" <button class="text-center btn btn-success btn-round" style="width: 170px">
              <i class="material-icons">attach_money</i>&nbsp;Top Up Balance
              </button>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4 text-center">
            <a href="{% url 'payments:member_transfer' %}" <button class="text-center btn btn-dark btn-round" style="width: 170px">
              <i class="material-icons">people_alt</i>&nbsp;Transfer
              </button>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4 text-center">
            <a href="{% url 'payments:statement_csv' %}" <button class="text-center btn btn-primary btn-round" style="width: 170px">
              <i class="material-icons">arrow_downward</i>&nbsp;Download as CSV
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <hr>

    {% include 'payments/statement_list.html' %}
    {% include 'utils/pagination_footer.html' %}


  </div>
</div>
{% endblock %}

{% block footer %}

<script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
<script src="{% static "assets/js/countUp.2.0.7/countUp.umd.js" %}"></script>

<script>
  $(document).ready(function() {
    if (window.performance.navigation.type === 2) {
      // the page was navigated to via the forward or back button
      // refresh to make sure auto top up status is correct
      location.reload();
    }

{% if balance != "Nil" %}
      const options = {
        decimalPlaces: 2,
        duration: 1.5,
      };
      let counter = new countUp.CountUp('balance', {{ balance }}, options);
      if (!counter.error) {
        counter.start(() => $("#balance").html("{{ balance|cobalt_credits }}"));
      } else {
        console.error(counter.error);
      }

{% endif %}

  // change to auto top up toggle
  $(function() {
    $('#auto-button').change(function() {
      if ($(this).prop('checked')) {
        window.location.href = "{% url "payments:setup_autotopup" %}";
      } else {
        window.location.href = "{% url "payments:cancel_autotopup" %}";
      }
    })
  })
});
</script>

{% endblock %}
