{% load humanize %}

{% if summary %}
<table border class="table table-striped float-left">
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount({{ GLOBAL_CURRENCY_SYMBOL}})</th>
    </tr>
  </thead>
  <tbody>
    {% for line in summary %}
    <tr>
      <td class="text-sm-left m-0" style="padding:2px">{{ line.type }}</td>
      <td class="text-sm-right m-0" style="padding: 2px;">{{ line.total|floatformat:2|intcomma }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
<h3>Total: {{ GLOBAL_CURRENCY_SYMBOL }}{{ total|floatformat:2|intcomma }}</h3>
{% else %}
<h3>No data</h3>
{% endif %}
