{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<p>This screen simulates other parts of the system talking to
  the payments module.</p>
<br><br>
<div align="center">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Make Test Payment</h4>
    </div>
    <div class="card-body" style="text-align: center">
      <div class="text-left">
        <h5>You are: {{ user.full_name }} ({{ GLOBAL_ORG }} Number: {{ user.system_number }})</h5>
        <h5>Balance: ${{ balance|floatformat:2|intcomma }}</h5>
        <h5>Auto Top Up: ${{ auto_amount|default_if_none:" Not Set Up" }}</h5>
        <h5>System Low Balance Trigger: ${{ lowbalance|floatformat:2|intcomma  }}</h5>
      </div>
      <form action="test-payment" method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" onclick="this.disabled=true,this.form.submit();" class="btn btn-block">

      </form>

    </div>
  </div>
</div>
<br>
<br>
<p>Possible outcomes:</p>
<ol>
  <li>You have sufficient funds so money is transferred</li>
  <ol>
    <li>Your balance is above the system top up threshold - no further action</li>
    <li>Your balance is below the system top up threshold</li>
    <ul>
      <li>Auto top up is enabled</li>
      <ul>
        <li>Auto top up is successful</li>
        <li>Auto top up fails</li>
      </ul>
      <li>Auto top up is not enabled - no further action</li>
    </ul>
  </ol>
  <li>You have insufficient funds</li>
  <ol>
    <li>Auto top up is enabled</li>
    <ul>
      <li>The payment amount and auto top up amount are used to calculate an auto top up payment</li>
      <ul>
        <li>The payment works - calling module notified</li>
        <li>The payment fails - error for user. Calling module notified</li>
      </ul>
    </ul>
    <li>Auto top up not enabled - go to manaul payment screen</li>
  </ol>
</ol>

{% endblock %}
