{% extends 'base.html' %}

{% block content %}

<p>This screen takes money off a card set up for auto top up. It is effectively the card payment triggered by a low balance, but it is manual, so the balance can be anything.</p>
<p>This screen will go away. Currently anyone can make a payment for anyone else.</p>
<br><br>
<div align="center">
  <div class="card col-5">
    <div class="card-header card-header-success">
      <h4 class="card-title">Take Money Off an Auto Top Up Customer</h4>
    </div>
    <div class="card-body" style="text-align: center">
      <div class="text-left">
        You are: {{ user.full_name }} ({{ GLOBAL_ORG }} Number: {{ user.system_number }})
      </div>
      <form action="test-autotopup" method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Apply" class="btn btn-block">

      </form>

    </div>
  </div>
</div>

{% endblock %}
