{% extends "tests/simple_selenium_base.html" %}

{% block title %}Errors{% endblock %}

{% block content %}

    <h1 class="text-center pt-03" style="font-size: 70px">{{ data.title }} - Smoke Test Failed</h1>
    <div class="container">

        {% include "tests/simple_selenium_sub_results.html" with colour="danger" %}

        <div class="card">
            <div class="card-header bg-info">
                <h2>Final Screen</h2>
            </div>
            <div class="card-body text-center">
                <img src="/tmp/simple_selenium.png" width="80%">
            </div>
        </div>

    </div>

{% endblock %}
