{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Admin screen menu.                                                     #}
{#                                                                        #}
{# This lives in RBAC but should probably be somewhere else.              #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cobalt_tags %}
{% block title %}- Admin Menu{% endblock %}
{% block content %}

    <!-- HEADER -->

    <div class="card">
        <div class="card-header card-header-danger">
            <h1>
                <div class="d-flex justify-content-between">
                    <div>
                        <!-- Show on large screens, not small -->
                        <span class="d-none d-md-block d-lg-block">
                            Administration Menu
                        </span>
                        <!-- Show on small screens, not large -->
                        <span class="d-md-none d-lg-none d-xl-none d-xs-block d-sm-block">
                            Admin
                        </span>

                    </div>
                    <div>
                        <i class="material-icons" style="font-size:60px">power_settings_new</i>
                    </div>
                </div>
            </h1>
            <h3>Cobalt Version:
                {% if request.META.HTTP_HOST == GLOBAL_TEST %}
                    [Test has no versioning]
                {% else %}
                    {{ COBALT_VERSION }}
                {% endif %}
            </h3>
            <h4>
                Build date: {{ build_date|cobalt_nice_datetime }}
            </h4>
        </div>

        <!-- TOP NAVIGATION TABS -->

        <!-- WE SHOW ICONS AND LONG NAMES ONLY ON LARGE SCREENS -->

        <div class="card-body">
            <div class="mx-auto">
                <div class="card">
                    <div class="card-header card-header-secondary">
                        <ul id="id_menu" class="nav nav-pills nav-justified nav-pills-icons nav-pills-warning" role="tablist">
                            <li class="nav-item">
                                <a id="id_tab_general" class="nav-link active auto-refresh" href="#general" role="tab" data-toggle="tab">
                                    <span class="d-none d-md-block">
                                        <i class="material-icons d-none d-md-block">list</i>
                                        General
                                    </span>
                                    <span class="d-md-none">
                                        General
                                    </span>
                                </a>
                            </li>

                            {% if forums_admin %}
                                <li class="nav-item">
                                    <a id="id_tab_forums" class="nav-link auto-refresh" href="#forums" role="tab" data-toggle="tab">
                                        <span class="d-none d-md-block">
                                            <i class="material-icons d-none d-md-block">chat</i>
                                            Forums
                                        </span>
                                        <span class="d-md-none">
                                            Forums
                                        </span>
                                    </a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a id="id_tab_orgs" class="nav-link" href="#orgs" role="tab" data-toggle="tab">
                                    <span class="d-none d-md-block">
                                        <i class="material-icons d-none d-md-block">corporate_fare</i>
                                        Organisations
                                    </span>
                                    <span class="d-md-none">
                                        Orgs
                                    </span>
                                </a>
                            </li>
                            {% if payments_site_admin or payments_admin %}
                                <li class="nav-item">
                                    <a id="id_tab_payments" class="nav-link" href="#payments" role="tab" data-toggle="tab">
                                        <span class="d-none d-md-block">
                                            <i class="material-icons d-none d-md-block">account_balance</i>
                                            Finance
                                        </span>
                                        <span class="d-md-none">
                                            Finance
                                        </span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if events_site_admin %}
                                <li class="nav-item">
                                    <a id="id_tab_events" class="nav-link" href="#events" role="tab" data-toggle="tab">
                                        <span class="d-none d-md-block">
                                            <i class="material-icons d-none d-md-block">event_note</i>
                                            Congresses
                                        </span>
                                        <span class="d-md-none">
                                            Congress
                                        </span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if email_site_admin or realtime_sender %}
                                <li class="nav-item">
                                    <a id="id_tab_email" class="nav-link" href="#email" role="tab" data-toggle="tab">
                                        <span class="d-none d-md-block">
                                            <i class="material-icons d-none d-md-block">campaign</i>
                                            Communications
                                        </span>
                                        <span class="d-md-none">
                                            Comms
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a id="id_tab_rbac" class="nav-link" href="#rbac" role="tab" data-toggle="tab">
                                    <span class="d-none d-md-block">
                                        <i class="material-icons d-none d-md-block">lock_open</i>
                                        Access
                                    </span>
                                    <span class="d-md-none">
                                        Access
                                    </span>
                                </a>
                            </li>
                            {% if request.user.is_superuser %}
                                <li class="nav-item">
                                    <a id="id_tab_it" class="nav-link" href="#it" role="tab" data-toggle="tab">
                                        <span class="d-none d-md-block">
                                            <i class="material-icons d-none d-md-block">architecture</i>
                                            IT
                                        </span>
                                        <span class="d-md-none">
                                            IT
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if development_admin %}
                                <li class="nav-item">
                                    <a id="id_tab_dev" class="nav-link" href="#dev" role="tab" data-toggle="tab">
                                        <span class="d-none d-md-block">
                                            <i class="material-icons d-none d-md-block">code</i>
                                            Development
                                        </span>
                                        <span class="d-md-none">
                                            Dev
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- CONTENT PART -->

                    <div class="card-body" style="min-height: 500px;">
                        <div class="tab-content tab-space">

                            <!-- GENERAL -->

                            <div class="tab-pane fade show active" id="general">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>

                                            {% if request.user.is_superuser %}

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-success btn-block" href="/admin_1234567">Django Admin</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Django built in admin functions
                                                    </td>
                                                </tr>

                                            {% endif %}
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-success btn-block" href="{% url "utils:status" %}">System Status</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    Overall health of the system
                                                </td>
                                            </tr>

                                            {% if request.user.is_superuser %}

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-success btn-block" href="{% url "utils:statistics" %}">System Statistics</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Statistics for the system
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-success btn-block" href="{% url "utils:admin_system_settings" %}">System Settings</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Settings for this system
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-success btn-block" href="{% url "accounts:user_signed_up_list" %}">User Sign Ups</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Users who have signed up for {{ GLOBAL_TITLE }}
                                                    </td>
                                                </tr>

                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- FORUMS -->

                            <div class="tab-pane fade" id="forums">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-primary btn-block" href="/forums/forum/create">Add Forum</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    Add a forum to the system
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- ORGS -->

                            <div class="tab-pane fade" id="orgs">
                                <div class="table-responsive">


                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-info btn-block" href="{% url "organisations:admin_list_clubs" %}">List Orgs</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    List all organisations in {{ GLOBAL_TITLE }}
                                                </td>
                                            </tr>
                                            {% if orgs_site_admin %}
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-info btn-block" href="{% url "organisations:admin_add_club" %}">Add Club</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Add a club to {{ GLOBAL_TITLE }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-info btn-block" href="{% url "organisations:admin_blocked_memberships" %}">Blocked Memberships</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        List members blocking club memberships
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- EVENTS -->

                            <div class="tab-pane fade" id="events">
                                <div class="table-responsive">

                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-warning btn-block" href="{% url "events:global_admin_congress_masters" %}">Congress Masters</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    Add a congress definition for an organisation
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-warning btn-block" href="{% url "events:global_admin_event_payment_health_report" %}">Congress Payment Health Report</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    Show overall health report for congresses
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- PAYMENTS -->

                            <div class="tab-pane fade" id="payments">
                                <div class="table-responsive">

                                    <table class="table table-condensed">
                                        <tbody>

                                            {% for org in payments_admin %}
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-primary btn-block" href="{% url 'organisations:club_menu_tab_finance_statement' club_id=org.id %}">{{org}}</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        View statement for {{ org }}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% if payments_site_admin %}

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-danger btn-block" href="{% url "payments:statement_admin_summary" %}">{{ GLOBAL_ORG}} Payments</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Payments functions for the whole of {{ GLOBAL_TITLE }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-danger btn-block" href="{% url "payments:stripe_pending" %}">Stripe Transactions</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        View Stripe Transactions
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-danger btn-block" href="{% url "payments:admin_payments_static" %}">Settings</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Global payments settings
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-danger btn-block" href="{% url "payments:settlement" %}">Settlement</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Record payments to organisations
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-danger btn-block" href="{% url "payments:admin_stripe_rec" %}">Stripe Reconciliation</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Reconcile Stripe data with {{ GLOBAL_TITLE }}
                                                    </td>
                                                </tr>

                                                {% if request.user.id == 4 %}

                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-info btn-block" href="{% url "xero:xero_home" %}">Xero</a>
                                                        </td>
                                                        <td class="text-left pl-5">
                                                            Xero functions
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <!-- RBAC -->

                            <div class="tab-pane fade" id="rbac">
                                <h3>User</h3>
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-info btn-block" href="{% url "rbac:view_screen" %}">View Your Access</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        Show your RBAC groups and roles
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-info btn-block" href="{% url "rbac:tree_screen" %}">View The Whole Tree</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        View entire RBAC (normal) tree
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-info btn-block" href="{% url "rbac:list_screen" %}">View The Whole Tree as List</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        View entire RBAC (normal) tree as a list
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <h3>Admin</h3>

                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-warning btn-block" href="{% url "rbac:rbac_admin" %}">View Your Admin Access</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        Show your RBAC admin groups and roles
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-warning btn-block" href="{% url "rbac:admin_tree_screen" %}">View The Whole Admin Tree</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        View entire RBAC admin tree
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-warning btn-block" href="{% url "rbac:role_view_screen" %}">View All Models and Roles</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        View models and roles in RBAC
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-warning btn-block" href="{% url "rbac:group_create" %}">Create A New Group</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        Create an RBAC (normal) group
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-warning btn-block" href="{% url "rbac:rbac_tests" %}">Tools</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        Tools to examine RBAC
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <h3>Admin of Admin</h3>
                                <div class="table-responsive">

                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-danger btn-block" href="{% url "rbac:admin_group_create" %}">Create A New Admin Group</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    <span class="d-none d-md-inline-flex">
                                                        Add an admin group to the admin tree
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <!-- DEV -->

                            <div class="tab-pane fade" id="dev">

                                {% if user.is_superuser %}

                                    <div class="table-responsive">

                                        <table class="table table-condensed">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-warning btn-block" href="{% url "support:non_production_email_changer" %}">Non-production Email
                                                            Changer</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Change all Test/UAT emails to the same address for testing
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-sm btn-warning btn-block" href="/api/docs">
                                                            API Explorer</a>
                                                    </td>
                                                    <td class="text-left pl-5">
                                                        Django Ninja API tools
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>

                            <!-- COMMUNICATIONS -->

                            <div class="tab-pane fade table-responsive" id="email">
                                <table class="table table-condensed">
                                    <tbody>
                                        {% if email_site_admin %}
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-success btn-block" href="{% url "notifications:admin_view_all" %} ">Emails</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    View status and content of sent emails
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-success btn-block" href="{% url "notifications:admin_aws_suppression" %} ">Email Suppression</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    Manage emails blocked by AWS Suppression Lists
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-success btn-block" href="{% url "utils:admin_manage_slugs" %} ">Slugs</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    Manage slugs (shortcuts to specific pages)
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if realtime_sender %}
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-success btn-block" href="{% url "notifications:admin_view_realtime_notifications" %} ">Real Time Msgs</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    View status and content of real time notifications you have sent
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if email_site_admin %}
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-success btn-block" href="{% url "notifications:global_admin_view_realtime_notifications" %} ">All Real Time Msgs</a>
                                                </td>
                                                <td class="text-left pl-5">
                                                    View status and content of real time notifications sent by anyone
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- IT -->

                            <div class="tab-pane fade" id="it">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-primary btn-block" href="{% url "logs:logs" %} ">Logs</a>
                                            </td>
                                            <td class="text-left pl-5">
                                                View Application Logs
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-primary btn-block" href="{% url "utils:admin_system_activity" %} ">IT System Activity</a>
                                            </td>
                                            <td class="text-left pl-5">
                                                View System Logs
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-primary btn-block" href="{% url "utils:api_log_viewer" %} ">API Logs</a>
                                            </td>
                                            <td class="text-left pl-5">
                                                View API Logs
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-primary btn-block" href="{% url "utils:database_view" %}">Database Stats</a>
                                            </td>
                                            <td class="text-left pl-5">
                                                View statistics on database
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-primary btn-block" href="{% url "utils:recent_errors" %}">Recent Errors</a>
                                            </td>
                                            <td class="text-left pl-5">
                                                View recent errors from error log
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-primary btn-block" href="{% url "notifications:admin_send_test_fcm_message" %}">Send FCM Test</a>
                                            </td>
                                            <td class="text-left pl-5">
                                                Send a test message to a mobile app
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}
    <script>
        $( document ).ready(function() {

            // Got to tab if url ends #tab_name
            const url = document.location.toString();
            if (url.match('#')) {
                $('#id_tab_' + url.split('#')[1]).tab('show')
            }

        });
    </script>
{% endblock footer %}
