{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "rbac:main_admin_screen" %}">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">View RBAC Admin Group</li>
  </ol>
</nav>

<div class="jumbotron">

  <h1>Role Based Access Controls</h1>
  <p>This shows the members of an admin group and its associated roles.</p>

  <div class="card col-lg-9">
    <div class="card-header card-header-danger">
      <h3 class="card-title">Group Information</h3>
    </div>
    <div class="card-body" style="text-align: center">
      <div class="container">
        <div class="row">
          <table style="border-collapse: separate; border-spacing-left: 3em;">
            <tr>
              <td class="text-right font-weight-bold">ID:</td>
              <td class="text-left">{{ group.id }}</td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Description:</td>
              <td class="text-left">{{ group.description }}</td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Qualifier:</td>
              <td class="text-left">{{ group.name_qualifier }}</td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Name:</td>
              <td class="text-left">{{ group.name_item }}</td>
            </tr>
          </table>
        </div>
        {% if is_admin %}
        <a href="{% url "rbac:admin_group_edit" group.id %}" class="btn btn-success">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  <div>
    <div class="card col-lg-9">
      <div class="card-header card-header-warning">
        <h3 class="card-title">Admins</h3>
      </div>
      <div class="card-body" style="text-align: center">
        <div class="container">
          {% for user in users %}
          <div class="row">
            <a href="{% url "accounts:public_profile" pk=user.member.id %}">{{ user.member }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <div class="card col-lg-9">
      <div class="card-header card-header-success">
        <h3 class="card-title">Roles</h3>
      </div>
      <div class="card-body" style="text-align: center">
        <div class="container">
          <div class="row">
            <table class="table table-hover">
              <thead class="text-info">
                <tr>
                  <th>Role Key</th>
                  <th>Application</th>
                  <th>Model</th>
                  <th>Model ID</th>
                </tr>
              </thead>
              <tbody>
                {% for role in roles %}
                <tr>
                  <td>{{ role.id }}</td>
                  <td>{{ role.app }}</td>
                  <td>{{ role.model }}</td>
                  <td>{{ role.model_id|default_if_none:"" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table><br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card col-lg-9">
      <div class="card-header card-header-info">
        <h3 class="card-title">Tree</h3>
      </div>
      <div class="card-body" style="text-align: center">
        <div class="container">
          {% for tree in trees %}
          <div class="row">
            {{ tree.tree }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
