{% extends 'base.html' %}
{% load static %}
{% block title %} - RBAC Tree View (List){% endblock %}
{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#rbac">RBAC</a></li>
            <li class="breadcrumb-item active" aria-current="page">List View (by Group)</li>
        </ol>
    </nav>

    <h1>Role Based Access Control</h1>

    <div>
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">RBAC Details by Group</h3>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Roles</th>
                                    <th>Members</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td id="group_{{ group.id }}" class="align-top">
                                            <span class="font-weight-bold">
                                                <a href="{% url "rbac:group_edit" group_id=group.id %}">
                                                    {{ group.name_qualifier }}.{{ group.name_item }}
                                                </a>
                                            </span><br>
                                            <span class="font-italic">
                                                {{ group.description }}
                                            </span>
                                        </td>
                                        <td class="align-top">
                                            <ul>
                                                {% for role in group.roles %}
                                                    <li>
                                                        <a href="{% url "rbac:list_roles_screen" %}#role_{{ role.id }}">
                                                            {{ role.role }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td class="align-top">
                                            <ul>
                                                {% for member in group.members %}
                                                    <li>
                                                        <a href="{% url "rbac:list_members_screen" %}#member_{{ member.member.id }}">
                                                            {{ member.member.full_name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
{% endblock %}
