{% extends 'base.html' %}

{% load cobalt_tags %}

{% block content %}

<!-- Top heading and card -->


<div class="card">
  <div class="card-header card-header-danger">
    <h1>
      <div class="d-flex justify-content-between">
        <div>
          <!-- Show on large screens, not small -->
          <span class="d-none d-md-block d-lg-block">
            Administration
          </span>
          <!-- Show on small screens, not large -->
          <span class="d-md-none d-lg-none d-xl-none d-xs-block d-sm-block">
            Admin
          </span>

        </div>
        <div>
          <i class="material-icons" style="font-size:60px">power_settings_new</i>
        </div>
    </h1>
    <h3>Cobalt Version:
    {% if request.META.HTTP_HOST == GLOBAL_TEST %}
      [Test has no versioning]
    {% else %}
     {{ COBALT_VERSION }}
    {% endif %}
    </h3>
    <h4>
      Build date: {{ build_date|cobalt_nice_datetime }}
    </h4>
  </div>
  <div class="card-body">
    <div class="mx-auto">

<!-- General -->

      <div class="card col-lg-9 mx-auto">
        <div class="card-header card-header-warning">
          <h2>
              <div class="d-flex justify-content-between">
                <div>
                  General
                </div>
                <div>
                  <i class="material-icons" style="font-size:45px">list</i>
                </div>
          </h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="/admin">Django Admin Pages</a>
            <li><a href="{% url "utils:status" %} ">System Status</a>
            <li><a href="/utils/batch">Batch Job Status</a>
              {% if email_site_admin %}
            <li><a href="{% url "notifications:admin_view_all" %} ">Emails</a>
              {% endif %}
            <li><a href="/logs">System Logs</a>
            <li><a href="{% url "utils:user_activity" %}">User Activity</a>
            <li><a href="{% url "accounts:user_signed_up_list" %}">User Sign Ups</a>
              {% if user.is_superuser %}
            <li><a href="{% url "support:non_production_email_changer" %}">Non-production Email Changer</a>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <br>

<!-- RBAC - User -->

    <div>
      <div class="card col-lg-9 mx-auto">
        <div class="card-header card-header-primary">
          <h2>
              <div class="d-flex justify-content-between">
                <div>
                  Role Based Access Control - User
                </div>
                <div>
                  <i class="material-icons" style="font-size:45px">lock_open</i>
                </div>
          </h2>

        </div>
        <div class="card-body">
          <ul>
            <li><a href="{% url "rbac:view_screen" %}">View Your Access</a>
            <li><a href="{% url "rbac:tree_screen" %}">View The Whole Tree</a>
          </ul>
        </div>
      </div>
    </div>
    <br>

<!-- RBAC - Admin -->

    <div>
      <div class="card col-lg-9 mx-auto">
        <div class="card-header card-header-primary">
          <h2>
              <div class="d-flex justify-content-between">
                <div>
                  Role Based Access Control - Admin
                </div>
                <div>
                  <i class="material-icons" style="font-size:45px">lock</i>
                </div>
          </h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="{% url "rbac:rbac_admin" %}">View Your Admin Access</a>
            <li><a href="{% url "rbac:admin_tree_screen" %}">View The Whole Admin Tree</a>
            <li><a href="{% url "rbac:role_view_screen" %}">View All Models and Roles</a>
            <li><a href="{% url "rbac:group_create" %}">Create A New Group</a>
            <li><a href="{% url "rbac:rbac_tests" %}">Tests</a>
          </ul>
        </div>
      </div>
    </div>
    <br>

<!-- RBAC Admin of Admin -->

    <div>
      <div class="card col-lg-9 mx-auto">
        <div class="card-header card-header-primary">
          <h2>
              <div class="d-flex justify-content-between">
                <div>
                  RBAC - Admin of Admin
                </div>
                <div>
                  <i class="material-icons" style="font-size:45px">lock</i>
                  <i class="material-icons" style="font-size:45px">lock</i>
                </div>
          </h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="{% url "rbac:admin_group_create" %}">Create A New Admin Group</a>
          </ul>
        </div>
      </div>
    </div>
    <br>

<!-- Forums -->

    <div>
      <div class="card col-lg-9 mx-auto">
        <div class="card-header card-header-success">
          <h2>
              <div class="d-flex justify-content-between">
                <div>
                  Global Forums
                </div>
                <div>
                <i class="material-icons" style="font-size:45px">language</i>
                  <i class="material-icons" style="font-size:45px">chat</i>
                </div>
          </h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="/forums/forum/create">Add Forum</a>
          </ul>
        </div>
      </div>
    </div>
    <br>

<!-- Payments  -->

    {% if payments_admin %}
    <div class="card col-lg-9 mx-auto">
      <div class="card-header card-header-info">
        <h2>
            <div class="d-flex justify-content-between">
              <div>
                Payments for Organisations
              </div>
              <div>
                <i class="material-icons" style="font-size:45px">account_balance</i>
              </div>
        </h2>
      </div>
      <div class="card-body" style="text-align: left">
        <div class="container">
          <div class="row">
            <ul>
              {% for org in payments_admin %}
              <li><a href="{% url "payments:statement_org" org_id=org.id %}">{{org}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endif %}

<!-- Global Payments -->

    {% if payments_site_admin %}
    <div class="card col-lg-9 mx-auto">
      <div class="card-header card-header-danger">
        <h2>
            <div class="d-flex justify-content-between">
              <div>
                Global Payments
              </div>
              <div>
                <i class="material-icons" style="font-size:45px">language</i>
                <i class="material-icons" style="font-size:45px">account_balance</i>
              </div>
        </h2>
      </div>
      <div class="card-body" style="text-align: left">
        <div class="container">
          <div class="row">
            <ul>
              <li><a href="{% url "payments:statement_admin_summary" %}">{{ GLOBAL_ORG}} Payments</a></li>
              <li><a href="{% url "payments:stripe_pending" %}">Stripe Transactions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endif %}

<!-- Events -->

    {% if events_site_admin %}
    <div class="card col-lg-9 mx-auto">
      <div class="card-header card-header-info">
        <h2>
            <div class="d-flex justify-content-between">
              <div>
                Global Events
              </div>
              <div>
                <i class="material-icons" style="font-size:45px">language</i>
                <i class="material-icons" style="font-size:45px">book_online</i>
              </div>
        </h2>
      </div>
      <div class="card-body" style="text-align: left">
        <div class="container">
          <div class="row">
            <ul>
              <li><a href="{% url "events:global_admin_congress_masters" %}">Manage Congress Masters</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}
