{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Dashboard view for club admin                                          #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load static %}
{% load humanize %}

<div class="table-responsive">

    <div class="container">

        <div class="row">

            <!-- WARNINGS FOR INCOMPLETE ACTIVITIES -->
            {% if warnings %}
                <div class="alert alert-warning col-12" role="alert" style="display: none" id="incomplete-box">
                    <div class="container text-right">
                        <p class="d-inline font-weight-bold" _="on click hide #incomplete-box" style="cursor: pointer; font-size: larger">X</p>
                    </div>
                    {% if is_initial %}
                        <h1 class="text-center">Welcome to Club Admin!</h1>
                        <h2 class="text-center">Set Up Your Club</h2>
                    {% else %}
                        <h2 class="text-center">Incomplete Set Up</h2>
                    {% endif %}

                    <h3>Things to Do:</h3>

                    <ul style="font-size: larger">

                        {% if not club.bank_bsb or not club.bank_account %}
                            <li><em class="font-weight-bold">Bank Details</em> - go to Settings - Club Details to add your bank details</li>
                        {% endif %}

                        {% if not has_members %}
                            <li><em class="font-weight-bold">Import Members</em> - go to Members - Add to add your members</li>
                        {% endif %}

                        {% if not public_profile_edited %}
                            <li><em class="font-weight-bold">Public Information</em> - go to Communications to update your club's profile</li>
                        {% endif %}

                        {% if not has_templates %}
                            <li><em class="font-weight-bold">Email Templates</em> - go to Settings - Communications to add a custom template</li>
                        {% endif %}

                    </ul>

                    <div class="text-center">
                        <button id="set-cookie-for-warning" class="btn btn-outline-secondary btn-sm">Don't Show Again on this Computer</button>
                    </div>
                </div>
            {% endif %}




            <div class="col-12 col-xl-6">

                <table class="table table-hover table-condensed col-md-6 col-lg-4">
                    <tbody>
                        <tr
                            hx-post="{% url "organisations:club_menu_tab_dashboard_members_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-trigger="load, click"
                            hx-target="#dashboard_chart_div"
                        >
                            <td class="text-left"><a href="javascript:void(0)">Total Members</a></td>
                            <td class="text-right">{{ member_count|intcomma }}</td>
                        </tr>
                        <tr
                            hx-post="{% url "organisations:club_menu_tab_dashboard_member_changes_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#dashboard_chart_div"
                        >
                            <td class="text-left"><a href="javascript:void(0)">Member Changes</a></td>
                            <td class="text-right">Last 28 days {{ diff_28_days }}</td>
                        </tr>
                        <tr
                            hx-post="{% url "organisations:club_menu_tab_dashboard_staff_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#dashboard_chart_div"
                        >
                            <td class="text-left"><a href="javascript:void(0)">Staff</a></td>
                            <td class="text-right">{{ staff_count|intcomma }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="dashboard_chart_div" class="col-12 col-xl-6">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready( function () {

        // Only show notices about incomplete set up if cookie is missing

        if (typeof $.cookie('club-menu-incomplete-box') === 'undefined') {
            $("#incomplete-box").show();
        }

        // set cookie if requested
        $("#set-cookie-for-warning").click(function() {
            $.cookie('club-menu-incomplete-box', 'set', {
                expires: 10000000,
                domain: '',
                path: ''
            });
            $("#incomplete-box").hide();
        });

    });
</script>
