{% load static %}
{% load humanize %}
<div class="table-responsive">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table table-hover table-condensed col-md-6 col-lg-4">
                    <tbody>
                        <tr
                            hx-post="{% url "organisations:club_menu_tab_dashboard_members_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-trigger="load, click"
                            hx-target="#dashboard_chart_div"
                        >
                            <td class="text-left">Total Members</td>
                            <td class="text-right">{{ member_count|intcomma }}</td>
                        </tr>
                        <tr
                            hx-post="{% url "organisations:club_menu_tab_dashboard_member_changes_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#dashboard_chart_div"
                        >
                            <td class="text-left">Member Changes Last 28 days</td>
                            <td class="text-right">{{ diff_28_days }}</td>
                        </tr>
                        <tr
                            hx-post="{% url "organisations:club_menu_tab_dashboard_staff_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#dashboard_chart_div"
                        >
                            <td class="text-left">Staff</td>
                            <td class="text-right">{{ staff_count|intcomma }}</td>
                        </tr>
                        <tr
                            hx-post="{% url "organisations:club_menu_tab_dashboard_congresses_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#dashboard_chart_div"
                        >
                            <td class="text-left">Congresses</td>
                            <td class="text-right">{{ congress_count|intcomma }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="dashboard_chart_div" class="col-6">

            </div>
        </div>
    </div>
</div>
