<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  Dear <b>{{ user.first_name }}</b>,

  You're receiving this email because you requested a password reset for your user
  account at {{ domain }}.

  Please go to the following page and choose a new password:

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


  Yours,
  The ABF Team

</body>
</html>
