{# main menu for club view #}

{% extends 'base.html' %}
{% load cobalt_tags %}

{% block title %} - Clubs{% endblock %}

{% block header %}
    {% include "utils/data_tables_heading.html" %}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header card-header-danger">

            <h1>
                <div class="d-flex justify-content-between">
                    <div>
                        Clubs
                    </div>
                    <div>
                        <i class="material-icons" style="font-size:50px">groups</i>
                    </div>
                </h1>

            </div>
            <div class="card-body">

                <!-- ADMIN ACCESS -->

                {% if admin_for_clubs %}
                    <div class="card mt-5">
                        <div class="card-header card-header-info">
                            <h3>Club Administration</h3>
                            <p>You have administration access to these clubs</p>
                        </div>
                        <div class="card-body">
                            <ul>
                                {% for club in admin_for_clubs %}
                                    <li><a href="{% url "organisations:club_menu" club_id=club.id %}">{{ club }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                {% endif %}

                <!-- MEMBERSHIPS TEMPORARILY COMMENTED OUT AS IT IS CAUSING SOME CONFUSION WITH DIFFERENCES TO ACTUALO MEMBERSHIPS-->

                {#                <div class="card mt-5">#}
                {#                    <div class="card-header card-header-success">#}
                {#                        <h3>Your Memberships</h3>#}
                {#                        <p>If any of these memberships are incorrect please contact the club directly.</p>#}
                {#                    </div>#}
                {#                    <div class="card-body">#}
                {##}
                {#                        {% if not memberships %}#}
                {##}
                {#                            <h4>You are not set up as a member of any club through {{ GLOBAL_TITLE }}</h4>#}
                {##}
                {#                        {% else %}#}
                {##}
                {#                            <table class="table-condensed table table-hover">#}
                {#                                <thead>#}
                {#                                    <tr class="text-primary">#}
                {#                                        <th class="text-left">Club</th>#}
                {#                                        <th class="text-left">Membership Type</th>#}
                {#                                        <th class="text-left">Last Modified By</th>#}
                {#                                        <th class="text-left">Last Updated</th>#}
                {#                                    </tr>#}
                {#                                </thead>#}
                {#                                <tbody>#}
                {#                                    {% for membership in memberships %}#}
                {#                                        <tr>#}
                {#                                            <td class="text-left">#}
                {#                                                <a href="{% url "organisations:general_org_profile" org_id=membership.membership_type.organisation.id %}">#}
                {#                                                    {{ membership.membership_type.organisation }}#}
                {#                                                </a>#}
                {#                                            </td>#}
                {#                                            <td class="text-left">{{ membership.membership_type.name }}</td>#}
                {#                                            <td class="text-left">{{ membership.membership_type.last_modified_by }}</td>#}
                {#                                            <td class="text-left">{{ membership.membership_type.updated_at|cobalt_nice_datetime }}</td>#}
                {#                                        </tr>#}
                {#                                    {% endfor %}#}
                {#                                </tbody>#}
                {#                            </table>#}
                {##}
                {#                        {% endif %}#}
                {##}
                {#                    </div>#}
                {#                </div>#}


                <!-- ALL CLUBS -->

                <div class="card mt-5">
                    <div class="card-header card-header-primary">
                        <h3>All Clubs</h3>
                    </div>
                    <div class="card-body">

                        <table id="all-clubs" class="table-condensed table table-hover">
                            <thead>
                                <tr class="text-primary">
                                    <th class="text-left">Club</th>
                                    <th class="text-left">State</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for club in clubs %}
                                    <tr>
                                        <td class="text-left">
                                            <a href="{% url "organisations:general_org_profile" org_id=club.id %}">
                                                {{ club }}
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            {{ club.state }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


{% endblock content %}

{% block footer %}

    <script>
        $(document).ready( function () {

            // Initialise datatable - only show pagination if more than one page, sort in order, column 0

            $('#all-clubs').DataTable({
                drawCallback: function(settings) {
                    const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                    pagination.toggle(this.api().page.info().pages > 1);
                },
            });
        });
    </script>

{% endblock footer %}
