{% load static %}

<div class="card">
    <div class="card-header card-header-danger">
        <h4>Covid Certification</h4>
        <p class="card-category">
            All ABF face-to-face national events, and many other events in Australia
            now require proof that you have received a COVID-19 vaccination.
        </p>
    </div>
    <div class="card-body">

        {% if user.user_covid_confirm %}
            {% if user.admin_covid_confirm %}
                <span class="material-icons display-4 text-primary">done_all</span>
                Your Covid vaccination status is confirmed
            {% else %}
                <span class="material-icons display-4 text-primary">done</span>
                You have confirmed you are vaccinated. You need to show your certificate that the next ABF face-to-face event you attend.
            {% endif %}
        {% else %}

            <div class="d-flex">
                <div>
                    <a id="confirm-vaccine" class="btn btn-primary text-light">Click here to confirm you are vaccinated</a>
                </div>
            </div>
            <p class="bb-0 mb-0 pt-3 pb-0 font-italic text-center">If there is a medical reason that you are unable to be
                vaccinated please contact <a href='{% url "support:contact_logged_in" %}'>
                    My ABF Support.</a></p>

        {% endif %}

    </div>
</div>

<script>
    $(document).ready(function() {

        // Covid confirmation
        $('#confirm-vaccine').click(function(){
            swal.fire(
                {
                    title:"Confirm Covid Vaccination Status",
                    html: "Click to confirm you have a Covid-19 digital certificate " +
                    "that will be viewed at your first ABF Licensed event in 2022.<br><br>",
                    confirmButtonText: "I am vaccinated",
                    showCancelButton: true,
                    imageUrl: '{% static "assets/img/covid.png" %}',
                    imageWidth: 200,
                    imageHeight: 200,
                    imageAlt: 'Covid Logo',
                }
            ).then(result => {
                if (result.isConfirmed) {
                    htmx.ajax('POST', '{% url "accounts:covid_user_confirm_htmx" %}', {'target': '#covid-status'});
                }
            })
        });

    });

</script>
