{% load static %}

<div class="card">
    <div class="card-header card-header-danger">
        <h4>Covid Certification</h4>
        <p class="card-category">
            All ABF face-to-face national events, and many other events in Australia
            now require proof that you have received a COVID-19 vaccination.
        </p>
    </div>
    <div class="card-body">

        {% if user.covid_status == user.CovidStatus.ADMIN_CONFIRMED %}
            <span class="material-icons display-4 text-primary">done_all</span>
            Your Covid vaccination status is confirmed

        {% elif user.covid_status == user.CovidStatus.USER_CONFIRMED %}
            <span class="material-icons display-4 text-primary">done</span>
            You have confirmed you are vaccinated. You need to show your certificate
            at the next ABF face-to-face event you attend.

        {% elif user.covid_status == user.CovidStatus.USER_EXEMPT %}
            <span class="material-icons display-4 text-primary">medical_services</span>
            You have a medical certificate confirming you are ineligible to be
            vaccinated for medical reasons.
            You are required to email the Tournament Organiser
            the confirmation of a negative Covid test conducted within 3 days of the
            commencement of each event you enter.

        {% elif user.covid_status == user.CovidStatus.UNSET %}

            <div class="d-flex">
                <div>
                    <a id="confirm-vaccine" class="btn btn-primary text-light">Click here to update your vaccine status</a>
                </div>
            </div>

        {% endif %}

    </div>
</div>

<script>
    $(document).ready(function() {

        // Covid confirmation
        $('#confirm-vaccine').click(function(){
            swal.fire(
                {
                    title:"Confirm Covid Vaccination Status",
                    html: "Click to confirm you have a Covid-19 digital certificate " +
                    "that will be viewed at your first ABF Licensed event in 2022.<br><br>",
                    confirmButtonText: "I am vaccinated",
                    showCancelButton: true,
                    showDenyButton: true,
                    denyButtonText: "Medically Exempt",
                    imageUrl: '{% static "assets/img/covid.png" %}',
                    imageWidth: 200,
                    imageHeight: 200,
                    imageAlt: 'Covid Logo',
                    width: '800px'
                }
            ).then(result => {
                if (result.isConfirmed) {
                    htmx.ajax('POST', '{% url "accounts:covid_user_confirm_htmx" %}', {'target': '#covid-status'});
                } else if (result.isDenied) {
                    swal.fire(
                        {
                            title:"Covid Vaccination Medical Exemption",
                            html: "Please tick to confirm you have a medical certificate confirming you are " +
                            "ineligible to be vaccinated for medical reasons." +
                            "<br><br><b>Note:</b> You will be required to email the Tournament Organiser " +
                            "the confirmation of a negative Covid test conducted within 3 days of the " +
                            "commencement of each event you enter.",
                            confirmButtonText: "Confirm",
                            showCancelButton: true,
                            imageUrl: '{% static "assets/img/covid.png" %}',
                            imageWidth: 200,
                            imageHeight: 200,
                            imageAlt: 'Covid Logo',
                        }).then(result2 => {
                            if (result2.isConfirmed) {
                                htmx.ajax('POST', '{% url "accounts:covid_user_exempt_htmx" %}', {'target': '#covid-status'});

                            }
                        });
                }
            });
        });

    });


</script>
