{#Snippet for admin (superuser) to enable/disable a user from the search screen#}

<h4 class="text-center">Account is {{ profile.is_active|yesno:"Active,Inactive" }}</h4>

{% if request.user.is_superuser %}
    <div class="text-center">
        <button
            hx-post="{% url "accounts:admin_toggle_user_is_active" %}"
            hx-vars="user_id:{{ profile.id }}"
            hx-target="#active-status"

            {% if profile.is_active %}
                class="btn btn-sm btn-warning">De-activate</button>
            {% else %}
                class="btn btn-sm btn-success">Activate</button>
            {% endif %}
        </div>
        <p class="font-italic text-rose">Use "Login As" to see and change user settings such as email, or date of birth.</p>
{% endif %}
