{#------------------------------------------------------------------------#}
{#                                                                        #}
{# System card - openings                                                 #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load system_card_tags %}

<span id="openings"></span>
<!-- PADDING -->
<div class="py-2"></div>
<div class="card mt-5">
    <a href="#top">
        <div class="card-header card-header-danger pt-2 pb-0">
            <h2>Openings</h2>
        </div>
    </a>
    <div class="card-body">
        <div class="row">

            <!-- SUITS -->
            <div class="col-sm-6">
                <div class="container bg-colour-1">

                    <!-- CURLY -->
                    <div class="row">
                        {% system_card_basic_field form.opening_1c editable "1!C" %}
                        {% system_card_basic_field form.opening_1h editable "1!H" %}
                    </div>

                    <!-- POINTY -->
                    <div class="row">
                        {% system_card_basic_field form.opening_1d editable "1!d" %}
                        {% system_card_basic_field form.opening_1s editable "1!s" %}
                    </div>
                </div>
            </div>

            <!-- NT -->
            <div class="col-sm-6">
                <div class="container bg-colour-1">
                    <div class="row">
                        <div class="col">
                            {% system_card_basic_field form.opening_1nt editable "1!n" large=True %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i style="font-size: medium">5 Card Major Possible</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NT RESPONSE AND 2 LEVEL BIDS -->
        <div class="row">
            <div class="col-md-6">

                <!-- NT RESPONSES -->
                <div class="card">
                    <div class="card-header card-header-info pt-0 pb-0">
                        <h3 class="mt-2">1NT Responses</h3>
                    </div>
                    <div class="card-body">

                        <div class="container">
                            <!-- 2C -->
                            <div class="row">
                                {% system_card_basic_field form.nt1_response_2c editable "2!c" %}
                            </div>

                            <!-- D, H -->
                            <div class="row">
                                {% system_card_basic_field form.nt1_response_2d editable "2!d" %}
                                {% system_card_basic_field form.nt1_response_2h editable "2!h" %}

                            </div>

                            <!-- S, NT -->
                            <div class="row">
                                {% system_card_basic_field form.nt1_response_2s editable "2!s" %}
                                {% system_card_basic_field form.nt1_response_2nt editable "2!n" %}
                            </div>

                        </div>

                    </div>
                </div>
                <!-- END NT RESPONSES -->

            </div>
            <div class="col-md-6">

                <!-- 2 LEVEL OPENINGS -->
                <div class="card">
                    <div class="card-header card-header-warning pt-0 pb-0">
                        <h3 class="mt-2">2 Level Openings</h3>
                    </div>
                    <div class="card-body">

                        <div class="container">

                            <!-- MINORS -->
                            <div class="row">
                                {% system_card_basic_field form.opening_2c editable "2!c" %}
                                {% system_card_basic_field form.opening_2d editable "2!d" %}
                            </div>

                            <!-- MAJORS -->
                            <div class="row">
                                {% system_card_basic_field form.opening_2h editable "2!h" %}
                                {% system_card_basic_field form.opening_2s editable "2!s" %}
                            </div>

                            <!-- 2NT -->
                            <div class="row">
                                {% system_card_basic_field form.opening_2nt editable "2!n" %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END 2 LEVEL OPENINGS -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-primary pt-0 pb-0">
                        <h3 class="mt-2">Other Openings</h3>
                    </div>
                    <div class="card-body">
                        {% if editable %}
                            <textarea class="input-group" name="opening_other" rows="5" cols="80" id="id_opening_other">{{ form.opening_other.value }}</textarea>
                        {% else %}
                            {{ form.opening_other.value|linebreaks }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <span class="to-top"><a href="#top">Back to top</a></span>
        </div>
    </div>
</div>

