{#------------------------------------------------------------------------#}
{#                                                                        #}
{# System card - basic system                                             #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load system_card_tags %}

<h1>ABF System Card</h1>

{% if editable %}
    <!-- SHOW INSTRUCTIONS -->
    <div class="row">

        <div class="alert alert-rose col-12" role="alert" style="" id="instructions">
            <div class="container text-right">
                <p class="d-inline font-weight-bold" _="on click hide #instructions" style="cursor: pointer; font-size: larger">X</p>
            </div>
            <h1 class="text-center">Instructions</h1>
            <p>Fill in the fields below. You can click on the SAVE button on the right as often as you like,
                to save your system card. We keep the last five versions for each card.</p>
            <p>To insert suit symbols you can type:</p>
            <ul>
                <li style="font-size: larger">!c = clubs</li>
                <li style="font-size: larger">!d = diamonds</li>
                <li style="font-size: larger">!h = hearts</li>
                <li style="font-size: larger">!s = spades</li>
            </ul>
            <p>Hearts and Diamonds will show up as black, but don't worry, we will change that when you use the card.</p>
        </div>
    </div>
{% endif %}
<h2>
    {% cobalt_edit_or_show form.player1 editable min_width=True %}
    -
    {% cobalt_edit_or_show form.player2 editable min_width=True %}
</h2>

<div class="card">
    <div class="card-header card-header-success">
        <h2>{% cobalt_edit_or_show form.basic_system editable min_width=True %}</h2>

        <!-- THESE ARE ABOUT THE ONLY NON-TEXT FIELDS SO JUST HANDLE WITH IF STATEMENTS -->
        {% if editable %}

            <h3>System Classification: {{ form.system_classification }}</h3>

            <div class="form-check text-center">
                <label class="form-check-label text-white" style="font-size: x-large">
                    <input type="checkbox" name="brown_sticker" id="id_brown_sticker" {% if form.brown_sticker.value %}checked="Checked" {% endif %}>
                    Brown Sticker
                </label>
            </div>

        {% else %}

            <h3>
                {{ system_card.get_system_classification_display }} System
                {% if system_card.brown_sticker %}

                    with Brown Sticker

                {% endif %}
            </h3>

        {% endif %}

    </div>
    <div class="card-body">

        <!-- ONLY SHOW SUMMARY OPENINGS ON VIEWING NOT EDITING -->
        {% if not editable %}

            <div class="row">
                <!-- SUITS -->
                <div class="col-sm-6">
                    <div class="container bg-colour-1">

                        <!-- CURLY -->
                        <div class="row">
                            <div class="col-md-6">
                                <b>1</b><span style="font-size: larger">&clubs;</span> 11-19 <b>2+</b>
                            </div>
                            <div class="col-md-6">
                                <b>1</b><span class="red-card">&hearts;</span> 11-19 5+
                            </div>
                        </div>

                        <!-- POINTY -->
                        <div class="row">
                            <div class="col-md-6">
                                <b>1</b><span class="red-card">&diamondsuit;</span> 11-19 4+
                            </div>
                            <div class="col-md-6">
                                <b>1</b><span style="font-size: larger">&spades;</span> 11-19 5+
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NT -->
                <div class="col-sm-6">
                    <div class="container bg-colour-1">
                        <div class="row">
                            <div class="col">
                                <b>1NT</b> 14-16 VUL, 10-12 NV
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i style="font-size: medium">5 Card Major Possible</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <h3 class="text-left pt-2">Summary</h3>

        <div class="row">
            <div class="col-md-3">
                <b>Bidding</b>
            </div>
            <div class="col-md-9">
                {% cobalt_edit_or_show form.summary_bidding editable %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <b>Carding</b>
            </div>
            <div class="col-md-9">
                {% cobalt_edit_or_show form.summary_carding editable %}
            </div>
        </div>

        <div class="text-center col-8 mx-auto">
            <a href="#pre-alerts" class="btn btn-danger text-white btn-block" style="font-size: x-large">
                <i class="material-icons" style="font-size: larger">notifications_active</i>
                Pre-Alerts
                <i class="material-icons" style="font-size: larger">notifications_active</i>
            </a>
        </div>

    </div>
</div>
