{#------------------------------------------------------------------------#}
{#                                                                        #}
{# System card - defence                                                  #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load system_card_tags %}

<span id="defence"></span>

<!-- PADDING -->
<div class="py-2"></div>

<div class="card mt-5">
    <a href="#top">
        <div class="card-header card-header-danger pt-2 pb-0">
            <h2>Defensive Carding</h2>
        </div>
    </a>
    <div class="card-body">
        <p>Coming later</p>
        <div class="text-right">
            <span class="to-top"><a href="#top">Back to top</a></span>
        </div>
    </div>
</div>