{#------------------------------------------------------------------------#}
{#                                                                        #}
{# System card - pre-alerts                                               #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load system_card_tags %}

<!-- PADDING -->
<div class="py-5"></div>

<span id="pre-alerts"></span>
<div class="card mt-5"><a href="#top">
    <div class="card-header card-header-danger pt-2 pb-0">
        <h2>Pre Alerts</h2>
    </div>
</a>
    <div class="card-body">
        <p class="brown-sticker">
            BROWN STICKER<br>Why? - Unanchored 2 bids
        </p>
        <ul>
            <li>Opening two bids are unusual, see below</li>
            <li>Transfer responses to 1<span style="font-size: larger">&clubs;</span></li>
            <li>Shape more important than points</li>
            <li>Occasional psyches</li>
        </ul>

        <div class="text-right">
            <span class="to-top"><a href="#top">Back to top</a></span>
        </div>

    </div>
</div>

