{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Main page for system card view                                         #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'empty.html' %}
{% load cobalt_system_card_tags %}

{% block title %}
    - System Card
{% endblock title %}

{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Styles                                                                 #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% block header %}
    <style>
        h1, h2, h3, h4 {
            text-align:center;
        }

        .card-body{
            font-size: large;
        }
        .red-card{
            color: red;
            font-size: larger;
        }

        .brown-sticker {
            background-color: brown;
            font-weight: bold;
            border-radius: 20px;
            width: auto;
            height: auto;
            padding: 5px 30px 5px 30px;
            margin-left: 100px;
            margin-right: 100px;
            font-size: 18px;
            color: white;
            text-align:center;
        }

        .to-top {
            font-size: small;
            font-style: italic;
        }

        .hidden-class {
            display: none;
        }

        .club {
            font-size: large;
        }

        .club::after {
            content: "♣";
            font-size: x-large;
        }

        .diamond {
            font-size: large;
        }

        .diamond::after {
            content: "♦";
            color: red;
            font-size: x-large;
        }
        .heart {
            font-size: large;
        }

        .heart::after {
            content: "♥";
            color: red;
            font-size: x-large;
        }

        .spade {
            font-size: large;
        }

        .spade::after {
            content: "♠";
            font-size: x-large;
            font-weight: bold;
        }

        .nt {
            font-size: large;
        }

        .nt::after {
            content: "NT";
            font-size: large;
            font-weight: bold;
        }

        .bg-colour-1 {
            background-color: #f1f8e9;
        }

        .borderless td, .borderless th {
            border: none;
        }

        .response-table {
            width: 250px;
        }

        .response-table td {
            text-align: left;
        }

        .response-highlight {
            background-color: #3fb8af !important;
            font-size: xxx-large;
        }


    </style>
{% endblock header %}

{% block content %}
    <div class="jumbotron" id="top">

        <h1>ABF System Card</h1>
        <h2>


            Fred West
            -
            Marvin Gaye
        </h2>

        <a target="_blank" href="{% url "accounts:create_pdf_system_card" system_card_id=1 %}" class="btn btn-sm btm-info">Generate PDF</a>

        <!-- BASIC SYSTEM -->
        <div class="card">
            <div class="card-header card-header-success">
                <h2>Standard American</h2>
                <h4>Green System - with Brown Sticker</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <!-- SUITS -->
                    <div class="col-sm-6">
                        <div class="container bg-colour-1">

                            <!-- CURLY -->
                            <div class="row">
                                <div class="col-md-6">
                                    <b>1</b><span style="font-size: larger">&clubs;</span> 11-19 <b>2+</b>
                                </div>
                                <div class="col-md-6">
                                    <b>1</b><span class="red-card">&hearts;</span> 11-19 5+
                                </div>
                            </div>

                            <!-- POINTY -->
                            <div class="row">
                                <div class="col-md-6">
                                    <b>1</b><span class="red-card">&diamondsuit;</span> 11-19 4+
                                </div>
                                <div class="col-md-6">
                                    <b>1</b><span style="font-size: larger">&spades;</span> 11-19 5+
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- NT -->
                    <div class="col-sm-6">
                        <div class="container bg-colour-1">
                            <div class="row">
                                <div class="col">
                                    <b>1NT</b> 14-16 VUL, 10-12 NV
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i style="font-size: medium">5 Card Major Possible</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="text-left pt-2">Summary</h3>

                <p class="mb-0 bb-0 "><b>Bidding</b> - 5 Card Majors, Variable NT, Transfers over 1C, Bergen, 1430</p>
                <p class="bt-0 mt-0 pt-0"><b>Carding</b> - Overlead, Reverse Count/Attitude, Odds and Evens</p>

                <div class="text-center col-8 mx-auto">
                    <a href="#pre-alerts" class="btn btn-danger text-white btn-block" style="font-size: x-large">
                        <i class="material-icons" style="font-size: larger">notifications_active</i>
                        Pre-Alerts
                        <i class="material-icons" style="font-size: larger">notifications_active</i>
                    </a>
                </div>

            </div>
        </div>

        <!-- END BASIC SYSTEM -->

        <!-- NAVIGATION ELEMENTS -->

        <div class="d-flex justify-content-between pb-5">
            <a href="#openings" class="btn btn-round btn-primary text-white">

                <span class="d-md-none">
                    Open
                </span>
                <span class="d-none d-md-inline">
                    Openings
                </span>

            </a>
            <a href="#responses" class="btn btn-round btn-success text-white">

                <span class="d-md-none">
                    Resp
                </span>
                <span class="d-none d-md-inline">
                    Responses
                </span>

            </a>
            <a href="#competitive" class="btn btn-round btn-warning text-white">
                <span class="d-md-none">
                    Comp
                </span>
                <span class="d-none d-md-inline">
                    Competitive
                </span>
            </a>

            <a href="#slams" class="btn btn-round btn-danger text-white">

                <span class="d-md-none">
                    Slam
                </span>
                <span class="d-none d-md-inline">
                    Slams
                </span>

            </a>
            <a href="#defence" class="btn btn-round btn-info text-white">

                <span class="d-md-none">
                    Def.
                </span>
                <span class="d-none d-md-inline">
                    Defence
                </span>

            </a>
        </div>

        <!-- END NAVIGATION ELEMENTS -->

        <!-- PADDING -->
        <div class="py-5"></div>

        <!-- PRE ALERTS -->
        <span id="pre-alerts"></span>
        <div class="card mt-5"><a href="#top">
            <div class="card-header card-header-danger pt-2 pb-0">
                <h2>Pre Alerts</h2>
            </div>
        </a>
            <div class="card-body">
                <p class="brown-sticker">
                    BROWN STICKER<br>Why? - Unanchored 2 bids
                </p>
                <ul>
                    <li>Opening two bids are unusual, see below</li>
                    <li>Transfer responses to 1<span style="font-size: larger">&clubs;</span></li>
                    <li>Shape more important than points</li>
                    <li>Occasional psyches</li>
                </ul>

                <div class="text-right">
                    <span class="to-top"><a href="#top">Back to top</a></span>
                </div>

            </div>
        </div>

        <!-- END PRE ALERTS -->

        <!-- OPENINGS -->
        <span id="openings"></span>
        <!-- PADDING -->
        <div class="py-2"></div>
        <div class="card mt-5">
            <a href="#top">
                <div class="card-header card-header-danger pt-2 pb-0">
                    <h2>Openings</h2>
                </div>
            </a>
            <div class="card-body">
                <div class="row">
                    <!-- SUITS -->
                    <div class="col-sm-6">
                        <div class="container bg-colour-1">

                            <!-- CURLY -->
                            <div class="row">
                                <div class="col-md-6">
                                    <b>1</b><span style="font-size: larger">&clubs;</span> 11-19 <b>2+</b>
                                </div>
                                <div class="col-md-6">
                                    <b>1</b><span class="red-card">&hearts;</span> 11-19 5+
                                </div>
                            </div>

                            <!-- POINTY -->
                            <div class="row">
                                <div class="col-md-6">
                                    <b>1</b><span class="red-card">&diamondsuit;</span> 11-19 4+
                                </div>
                                <div class="col-md-6">
                                    <b>1</b><span style="font-size: larger">&spades;</span> 11-19 5+
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- NT -->
                    <div class="col-sm-6">
                        <div class="container bg-colour-1">
                            <div class="row">
                                <div class="col">
                                    <b>1NT</b> 14-16 VUL, 10-12 NV
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i style="font-size: medium">5 Card Major Possible</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NT RESPONSE AND 2 LEVEL BIDS -->
                <div class="row">
                    <div class="col-md-6">

                        <!-- NT RESPONSES -->
                        <div class="card">
                            <div class="card-header card-header-info pt-0 pb-0">
                                <h3 class="mt-2">1NT Responses</h3>
                            </div>
                            <div class="card-body">

                                <div class="container">
                                    <!-- 2C -->
                                    <div class="row">
                                        <div class="col">
                                            <b>2</b><span style="font-size: larger">&clubs;</span> &nbsp;= Puppet Stayman
                                        </div>
                                    </div>

                                    <!-- D, H -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>2</b><span class="red-card">&diamondsuit;</span> -> <span class="red-card">&hearts;</span>
                                        </div>
                                        <div class="col-md-6">
                                            <b>2</b><span class="red-card">&hearts;</span> -> <span style="font-size: larger">&spades;</span>
                                        </div>
                                    </div>

                                    <!-- S, NT -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>2</b><span style="font-size: larger">&spades;</span> -> Minors
                                        </div>
                                        <div class="col-md-6">
                                            <b>2</b>NT -> Invite
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- END NT RESPONSES -->

                    </div>
                    <div class="col-md-6">

                        <!-- 2 LEVEL OPENINGS -->
                        <div class="card">
                            <div class="card-header card-header-warning pt-0 pb-0">
                                <h3 class="mt-2">2 Level Openings</h3>
                            </div>
                            <div class="card-body">

                                <div class="container">

                                    <!-- MINORS -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>2</b><span style="font-size: larger">&clubs;</span> Strong 19+
                                        </div>
                                        <div class="col-md-6">
                                            <b>2</b><span class="red-card">&diamondsuit;</span> Weak M or 20-22
                                        </div>
                                    </div>

                                    <!-- MAJORS -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>2</b><span class="red-card">&hearts;</span> Any 4441
                                        </div>
                                        <div class="col-md-6">
                                            <b>2</b><span style="font-size: larger">&spades;</span> Any 2 suits
                                        </div>
                                    </div>

                                    <!-- 2NT -->
                                    <div class="row">
                                        <div class="col">
                                            <b>2NT</b> 20-22
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END 2 LEVEL OPENINGS -->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header card-header-primary pt-0 pb-0">
                                <h3 class="mt-2">Other Openings</h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>3NT - Gambling: Solid 8 card minor</li>
                                    <li><span class="club">4</span> - <span class="heart">7+</span> better than <span class="heart">4</span> opening</li>
                                    <li><span class="diamond">4</span> - <span class="spade">7+</span> better than <span class="spade">4</span> opening</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <span class="to-top"><a href="#top">Back to top</a></span>
                </div>
            </div>
        </div>
        <!-- END OPENINGS -->

        <!-- RESPONSES -->
        <span id="responses"></span>
        <!-- PADDING -->
        <div class="py-2"></div>
        <div class="card mt-5">
            <a href="#top">
                <div class="card-header card-header-danger pt-2 pb-0">
                    <h2>Responses</h2>
                </div>
            </a>
            <div class="card-body">

                <p>Click on opening bid to see responses:</p>

                {% for bid, responses in all_responses.items %}
                    {% include "accounts/system_card/system_card_responses_headings.html" with data=response %}
                {% endfor %}

                <div class="py-3"></div>

                {% for bid, responses in all_responses.items %}
                    {% include "accounts/system_card/system_card_responses_body.html" with data=response %}
                {% endfor %}

                <div class="text-right">
                    <span class="to-top"><a href="#top">Back to top</a></span>
                </div>
            </div>
        </div>

        <!-- END RESPONSES -->

        <!-- COMPETITIVE -->
        <span id="competitive"></span>
        <!-- PADDING -->
        <div class="py-2"></div>
        <div class="card mt-5">
            <a href="#top">
                <div class="card-header card-header-danger pt-2 pb-0">
                    <h2>Competitive Bids</h2>
                </div>
            </a>
            <div class="card-body">



                <div class="text-right">
                    <span class="to-top"><a href="#top">Back to top</a></span>
                </div>
            </div>
        </div>

        <!-- END COMPETITIVE -->

        <!-- SLAMS -->
        <span id="slams"></span>
        <!-- PADDING -->
        <div class="py-2"></div>
        <div class="card mt-5">
            <a href="#top">
                <div class="card-header card-header-danger pt-2 pb-0">
                    <h2>Slam Bidding</h2>
                </div>
            </a>
            <div class="card-body">
                <p>Coming later</p>
                <div class="text-right">
                    <span class="to-top"><a href="#top">Back to top</a></span>
                </div>
            </div>
        </div>

        <!-- END SLAMS -->

        <!-- CONVENTIONS -->
        <span id="conventions"></span>
        <!-- PADDING -->
        <div class="py-2"></div>
        <div class="card mt-5">
            <a href="#top">
                <div class="card-header card-header-danger pt-2 pb-0">
                    <h2>Other Conventions</h2>
                </div>
            </a>
            <div class="card-body">
                <p>Coming later</p>
                <div class="text-right">
                    <span class="to-top"><a href="#top">Back to top</a></span>
                </div>
            </div>
        </div>

        <!-- END CONVENTIONS -->

        <!-- DEFENCE -->
        <span id="defence"></span>
        <!-- PADDING -->
        <div class="py-2"></div>
        <div class="card mt-5">
            <a href="#top">
                <div class="card-header card-header-danger pt-2 pb-0">
                    <h2>Defensive Carding</h2>
                </div>
            </a>
            <div class="card-body">
                <p>Coming later</p>
                <div class="text-right">
                    <span class="to-top"><a href="#top">Back to top</a></span>
                </div>
            </div>
        </div>

        <!-- END DEFENCE -->


        <!-- END JUMBOTRON -->
    </div>

{% endblock content %}

{% block footer %}

    <script>
        $(document).ready( function () {

            // handle clicking on the opening bid in the response section
            // we hide all other and toggle this one
            $(".response-button").on("click", function () {

                // get the id from the button and create the jquery selector for this section
                const button_id = $(this).attr('id');
                const section_id = button_id.replace("button_","");
                const button_selector = $("#" + button_id);
                const section_selector = $("#" + section_id);

                // see if this is showing its data
                const is_hidden = section_selector.hasClass('hidden-class');

                // hide everything
                $(".bid").addClass("hidden-class");
                $(".response-button").removeClass("response-highlight");

                // set on this element
                if (is_hidden) {
                    section_selector.removeClass("hidden-class");
                    button_selector.addClass("response-highlight");
                } else {
                    section_selector.addClass("hidden-class");
                    button_selector.removeClass("response-highlight");
                }
            })

        });
    </script>


{% endblock footer %}
