{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Main page for system card view and edit                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends template %}

{% load system_card_tags %}

<!-- TITLE -->
{% block title %}
    - System Card
{% endblock title %}

<!-- STYLES -->
{% block header %}
    {% include "accounts/system_card/system_card_styles.html" %}
{% endblock header %}

{% block content %}

    <div id="ignore_cobalt_save"></div>

    <!-- WRAP THIS IN AN 11-1 BOOTSTRAP COL THING AND A FORM IF WE ARE EDITING IT -->
    {% if editable %}

        <!-- MAKE THIS A FORM -->
        <form method="POST"
            hx-post="{% url "accounts:system_card_edit" system_card_name=system_card.card_name %}"
            hx-target="#save_msg"
        >
            {% csrf_token %}


            <h2>Card Name:
                <input type="text" name="card_new_name" value="{{ system_card.card_name }}" max_length="100" id="id_card_new_name">
            </h2>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-11">

    {% endif %}

    <!-- JUMBOTRON FOR MAIN CARD VIEW -->
    <div class="jumbotron" id="top">

        {% include "accounts/system_card/system_card_1_basic.html" %}
        {% include "accounts/system_card/system_card_2_navigation.html" %}
        {% include "accounts/system_card/system_card_3_pre_alerts.html" %}
        {% include "accounts/system_card/system_card_4_openings.html" %}
        {% include "accounts/system_card/system_card_5_responses.html" %}
        {% include "accounts/system_card/system_card_6_competitive.html" %}
        {% include "accounts/system_card/system_card_7_slam.html" %}
        {% include "accounts/system_card/system_card_8_conventions.html" %}
        {% include "accounts/system_card/system_card_9_defence.html" %}

        <!-- END JUMBOTRON -->
    </div>

    <!-- CLOSE WRAPPER IF EDITABLE -->
    {% if editable %}
        </div>
        <div class="col-1" style="z-index: 10">
            <div class="save-button">
                <!-- SAVE BUTTON STAYS IN PLACE AS WE SCROLL -->
                <div class="row">
                    <a target="_blank" href="{% url "accounts:create_pdf_system_card" system_card_name=system_card.card_name %}" class="btn btn-sm btn-info mx-auto">Print</a>
                </div>
                <button class="btn btn-success btn-sm">Save</button>
                <div id="save_msg"></div>
                <a
                    class="btn btn-sm btn-primary"
                    href="{% url "accounts:system_card_view" user_id=user.id system_card_name=system_card.card_name %}"
                    target="_blank"
                >View
                </a>
            </div>
        </div>
        </div>
        </div>
        </form>

    {% endif %}

{% endblock content %}

{% block footer %}

    <script>
        $(document).ready( function () {

            // If we get !c change that to club symbol, same of other symbols
            $(":input").on("keyup change", function(e) {
                let this_string = $(this).val();
                this_string = this_string.replace("!c", "♣")
                this_string = this_string.replace("!d", "♦")
                this_string = this_string.replace("!h", "♥")
                this_string = this_string.replace("!s", "♠")
                this_string = this_string.replace("!C", "♣")
                this_string = this_string.replace("!D", "♦")
                this_string = this_string.replace("!H", "♥")
                this_string = this_string.replace("!S", "♠")
                $(this).val(this_string);
            })

            // handle clicking on the opening bid in the response section
            // we hide all other and toggle this one
            $(".response-button").on("click", function () {

                // get the id from the button and create the jquery selector for this section
                const button_id = $(this).attr('id');
                const section_id = button_id.replace("button_","");
                const button_selector = $("#" + button_id);
                const section_selector = $("#" + section_id);

                // see if this is showing its data
                const is_hidden = section_selector.hasClass('hidden-class');

                // hide everything
                $(".bid").addClass("hidden-class");
                $(".response-button").removeClass("response-highlight");

                // set on this element
                if (is_hidden) {
                    section_selector.removeClass("hidden-class");
                    button_selector.addClass("response-highlight");
                } else {
                    section_selector.addClass("hidden-class");
                    button_selector.removeClass("response-highlight");
                }
            })

        });
    </script>

{% endblock footer %}
