{#------------------------------------------------------------------------#}
{#                                                                        #}
{# System card - navigation                                               #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<div class="d-flex justify-content-between pb-5">
    <a href="#openings" class="btn btn-round btn-primary text-white">

        <span class="d-md-none">
            Open
        </span>
        <span class="d-none d-md-inline">
            Openings
        </span>

    </a>
    <a href="#responses" class="btn btn-round btn-success text-white">

        <span class="d-md-none">
            Resp
        </span>
        <span class="d-none d-md-inline">
            Responses
        </span>

    </a>
    <a href="#competitive" class="btn btn-round btn-warning text-white">
        <span class="d-md-none">
            Comp
        </span>
        <span class="d-none d-md-inline">
            Competitive
        </span>
    </a>

    <a href="#slams" class="btn btn-round btn-danger text-white">

        <span class="d-md-none">
            Slam
        </span>
        <span class="d-none d-md-inline">
            Slams
        </span>

    </a>
    <a href="#defence" class="btn btn-round btn-info text-white">

        <span class="d-md-none">
            Def.
        </span>
        <span class="d-none d-md-inline">
            Defence
        </span>

    </a>
</div>

