{#------------------------------------------------------------------------#}
{#                                                                        #}
{# System card - competitive                                              #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load system_card_tags %}

<span id="competitive"></span>
<!-- PADDING -->
<div class="py-2"></div>
<div class="card mt-5">
    <a href="#top">
        <div class="card-header card-header-danger pt-2 pb-0">
            <h2>Competitive Bids</h2>
        </div>
    </a>
    <div class="card-body">

        <div class="row">

            <div class="col-md-7 col-12 my-2">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <span><b>Doubles</b></span>
                    </div>
                    <div class="col-6 col-lg-8">
                        {% system_card_basic_field form.competitive_doubles editable large=True %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-12 my-2">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <span><b>Negative Double thru</b></span>
                    </div>
                    <div class="col-lg-4 col-6">
                        {% system_card_basic_field form.competitive_negative_double_through editable large=True %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-7 col-12 my-2">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <span><b>Lead Directing</b></span>
                    </div>
                    <div class="col-6 col-lg-8">
                        {% system_card_basic_field form.competitive_lead_directing_doubles editable large=True %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-12 my-2">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <span><b>Responsive Double thru</b></span>
                    </div>
                    <div class="col-lg-4 col-6">
                        {% system_card_basic_field form.competitive_responsive_double_through editable large=True %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-7 col-12 my-2">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <span><b>Jump Overcalls</b></span>
                    </div>
                    <div class="col-6 col-lg-8">
                        {% system_card_basic_field form.competitive_jump_overcalls editable large=True %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-12 my-2">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <span><b>Unusual NT</b></span>
                    </div>
                    <div class="col-lg-4 col-6">
                        {% system_card_basic_field form.competitive_unusual_nt editable large=True %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-7 col-12 my-2">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <span><b>1NT Overcall (Immediate)</b></span>
                    </div>
                    <div class="col-6 col-lg-8">
                        {% system_card_basic_field form.competitive_1nt_overcall_immediate editable large=True %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-12 my-2">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <span><b>(Reopening)</b></span>
                    </div>
                    <div class="col-lg-4 col-6">
                        {% system_card_basic_field form.competitive_1nt_overcall_reopening editable large=True %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-7 col-12 my-2">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <span><b>Immediate Cue (Minor)</b></span>
                    </div>
                    <div class="col-6 col-lg-8">
                        {% system_card_basic_field form.competitive_immediate_cue_bid_minor editable large=True %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-12 my-2">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <span><b>(Major)</b></span>
                    </div>
                    <div class="col-lg-4 col-6">
                        {% system_card_basic_field form.competitive_immediate_cue_bid_major editable large=True %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-7 col-12 my-2">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <span><b>Weak Two Defense</b></span>
                    </div>
                    <div class="col-6 col-lg-8">
                        {% system_card_basic_field form.competitive_weak_2_defense editable large=True %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-12 my-2">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <span><b>Weak 3 Defense</b></span>
                    </div>
                    <div class="col-lg-4 col-6">
                        {% system_card_basic_field form.competitive_weak_3_defense editable large=True %}
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-7 col-12 my-2">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <span><b>Opponents Transfers</b></span>
                    </div>
                    <div class="col-6 col-lg-8">
                        {% system_card_basic_field form.competitive_transfer_defense editable large=True %}
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-12"></div>
        </div>


        <div class="row">

            <div class="col-12 my-2">
                <span><b>NT Defense:</b></span>
            </div>
            <div class="col-12 my-2">
                {% system_card_basic_field form.competitive_nt_defense editable large=True table_cell=False %}
            </div>
        </div>






        <div class="text-right">
            <span class="to-top"><a href="#top">Back to top</a></span>
        </div>
    </div>
</div>
