{#------------------------------------------------------------------------#}
{#                                                                        #}
{# This is called by the system card template tag                         #}
{#                                                                        #}
{# We only handle simple text input fields                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<input
    {% if not min_width %}
        class="input-group"
    {% endif %}
    type="text"
    name="{{ field.name }}"
    value="{{ field.value }}"
    maxlength="{{ field.field.max_length }}"
    id="id_{{ field.name }}"
>
