{#This file is the script for the tour. It is called by adding ?tour=anything to the URL#}

{% load static %}
<script src="{% static "assets/packages/intro.js.4.3.0/intro.min.js" %}"></script>
<script>
    $(document).ready(function() {

        // This is the common bits that work the same on any size window
        const steps_part1 = [
            {
                title: 'Dashboard Tour',
                intro: '<img src="{% static "assets/img/abftechlogo.png" %}" style="width:170px ; display: block; margin-left: auto; margin-right: auto;">' +
                '<br>This short tour will introduce you to the features available on the {{ GLOBAL_TITLE }} ' +
                '<b>Dashboard</b>. This is the main screen in the system.',
                scrollTo: document.querySelector('.wrapper'),
            },
            {
                title: 'Your Name',
                element: document.querySelector('#base-user-name'),
                intro: 'Because you are logged in to the system, we can show you content ' +
                'that is customised to you. For example, events you have entered and your masterpoints. ' +
                '<br><br>In fact. Lets start there. Click on the <b>Next</b> button to move forwards in the tour.',
            },
            {
                element: document.querySelector('#dashboard-top-info'),
                title: 'Top Information Row',
                intro: 'This top part shows high level information about your {{ GLOBAL_TITLE }} account.',
            },
            {
                element: document.querySelector('#dashboard-bridge-credits'),
                title: 'Bridge Credits',
                intro: 'You can use Bridge Credits to pay for your bridge.' +
                'Your current balance shows here. <br><br>You can click on this to go to your statement ' +
                'and you can top up your account any time you like or set up Auto Top Up for the ' +
                'system to top you up automatically when required.',
            },
            {
                element: document.querySelector('#dashboard-booked-events'),
                title: 'Booked Events',
                intro: 'This shows how many events you are booked to play in.' {% if not events %} +
                    '<br><br>Hmmm... It looks like you are yet to enter an event. Later I will show you how to do that.'
                {% endif %}
            },
            {
                element: document.querySelector('#dashboard-masterpoints'),
                title: 'Masterpoints',
                intro: 'This shows how many masterpoints you currently have and ' +
                'your ranking. Click on this to go to more detail.',
            },
            {
                element: document.querySelector('#dashboard-results'),
                title: 'Results',
                intro: "We are in the process of adding results to {{ GLOBAL_TITLE }}, "  +
                "this is where your recent results will show."
            },
            {
                element: document.querySelector('#dashboard-upcoming'),
                title: 'Upcoming Events',
                intro: 'This lists any events that you have entered. If you have any ' +
                'then the first link takes you to the congress page and the second (event) ' +
                'link takes you to your entry.',
            },
            {
                element: document.querySelector('#dashboard-announce'),
                title: 'Announcements',
                intro: 'These are the latest announcements on {{ GLOBAL_TITLE }}. ' +
                'You can control what announcements you receive from the <b>Forums</b> section.',
            },
            {
                element: document.querySelector('#dashboard-discuss'),
                title: 'Discussions',
                intro: '{{ GLOBAL_TITLE }} users can discuss anything bridge related within ' +
                'Forums. The latest posts appear here.',
            },
            {
                title: "And There's More!",
                intro: "Let's look at what else you can do."
            },
        ]

        // this is the bit for bigger windows
        const steps_part2 = [
            {
                title: 'Search',
                element: document.querySelector('#search_string'),
                intro: 'You can search for people, clubs, forums, events, even payments.',
            },
            {
                title: 'Notifications',
                element: document.querySelector('#navbarDropdownMenuLink'),
                {% if notifications %}
                    intro: 'Any messages for you will appear here.',
                {% else %}
                    intro: "You don't have any notifications, but if you did, they would appear next to the " +
                    "search. <br><br>You will see a bell icon if you have any messages.",
                {% endif %}
            },
            {
                title: 'Shopping Cart',
                element: document.querySelector('#navbarDropdownMenuLink2'),
                {% if basket_items %}
                    intro: 'Events you have started to enter, but not yet completed appear here.',
                {% else %}
                    intro: "You don't have anything in your shopping cart, but if you did, it would also appear next to the " +
                    "search. <br><br>You will see a shopping trolley icon if you have anything in your cart.",
                {% endif %}
            },
            {
                title: 'Profile and Settings',
                element: document.querySelector('#navbarDropdownProfile'),
                intro: 'Under here you can find your <b>Profile</b>, <b>Settings</b> and the <b>Logout</b> button.',
            },
            {
                title: "Navigation Bar",
                element: document.querySelector('.sidebar-wrapper'),
                intro: "Finally, we have the navigation bar.<br><br>This appears on every page and " +
                "lets you navigate around the {{ GLOBAL_TITLE }} site.<br><br>You can click on anything here to " +
                "go to that area. For example, if you click on <b>Congresses</b> it will take you to a list of " +
                "upcoming events so you can enter something."
            },
        ]

        // this is for smaller windows
        const steps_small = [
            {
                element: document.querySelector('#base-navbar'),
                title: 'Small Window',
                intro: "On a smaller screen like yours, you will see these three lines here. By clicking " +
                "on this you can find the rest of the menu items including <b>Search</b>, " +
                "<b>Notifications</b> and the <b>Navigation</b> menu.<br><br>For more details try taking this " +
                "tour on a device with a larger screen.",
            },
        ]
        // this is for smaller windows
        const steps_finish = [
            {
                title: 'Dashboard Tour',
                intro: '<img src="{% static "assets/img/abftechlogo.png" %}" ' +
                'style="width:170px ; display: block; margin-left: auto; margin-right: auto;">' +
                '<br>That is the end of the <b>Dashboard Tour</b> but you can take tours of other pages if ' +
                'you like. Tours can be found under the <b>Support</b> menu.<br><br><ul>' +
                '<li><a href="{% url "accounts:user_profile" %}?tour=yes"><b>Profile Tour</b></a>' +
                '<li><a href="{% url "payments:statement" %}?tour=yes"><b>{{ BRIDGE_CREDITS }} Tour</b></a>' +
                '</ul>',
            },
        ]

        let steps = [];
        const width = document.body.clientWidth;

        if (width >= 992) {

            // Big screens are fairly straightforward
            steps = steps_part1.concat(steps_part2).concat(steps_finish);
            introJs().setOptions({
                showBullets: false,
                steps: steps,
            }).start();

        }else{

            // Smaller screens need a bit more work
            steps = steps_part1.concat(steps_small).concat(steps_finish);

            let tour = introJs().setOptions({
                showBullets: false,
                steps: steps,
            });

            tour.start();



        }
    });
</script>
