{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Main landing page. Dashboard for all players                           #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load cobalt_tags %}

{% block title %} - Dashboard{% endblock %}

{% block header %}
    <link href="{% static "assets/packages/intro.js.4.3.0/introjs.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row" id="dashboard-top-info">

            <!-- PENDING PAYMENTS (IOUS) -->
            {% if user_pending_payments %}

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2>Pending Payments</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive align-content-center">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th class="text-primary text-left">Club</th>
                                        <th class="text-primary text-left">Description</th>
                                        <th class="text-primary text-left">Date</th>
                                        <th class="text-primary text-right">Amount</th>
                                        <th class="text-primary">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user_pending_payment in user_pending_payments %}
                                        <tr>

                                            <td class="text-left">{{ user_pending_payment.organisation }}</td>
                                            <td class="text-left">{{ user_pending_payment.description }}</td>
                                            <td class="text-left">{{ user_pending_payment.created_at|cobalt_nice_datetime_short }}</td>
                                            <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ user_pending_payment.amount|floatformat:2 }}</td>
                                            <td class="text-primary">
                                                <a href="{% url "payments:pay_user_pending_payment" user_pending_payment_id=user_pending_payment.id %}" class="btn btn-sm btn-success">pay now</a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% endif %}

            <!-- PAYMENTS BOX -->

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href=' {% url "payments:payments" %}' id="dashboard-bridge-credits">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <p class="card-category text-dark">{{ BRIDGE_CREDITS }}</p>

                            <h3 class="card-title"><span class="text-nowrap" id="id_account_balance">{{ payments.balance|intcomma }}</span></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i>
                                <span class="text-dark">
                                    {% if payments.last_top_up %}
                                        Last event:
                                    {% endif %}
                                    {{ payments.last_top_up|cobalt_nice_datetime|default_if_none:"No History" }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- EVENTS BOX -->

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href='{% url "events:view_events" %}' id="dashboard-booked-events">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">list_alt</i>
                            </div>
                            <p class="card-category  text-dark">Booked Events</p>
                            <h3 class="card-title">{{ total_events }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i>
                                <span class="text-dark">
                                    Events
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- MASTERPOINTS BOX -->

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/masterpoints/view/{{ request.user.system_number }}" id="dashboard-masterpoints">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">call_made</i>
                            </div>
                            <p class="card-category text-dark">Masterpoints</p>

                            <h3 class="card-title"><span id="masterpoints" class="text-nowrap text-dark">{{ mp.points|floatformat:2|intcomma }}</span> </h3>

                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">stars</i>
                                <span class="text-dark">
                                    {{ mp.rank }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- RECENT RESULTS -->

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card" id="dashboard-results">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Your Recent Results</h4>
                    </div>
                    <div class="card-body table-responsive">
                        {% if recent_results %}
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr class="text-warning" style="font-size: larger">
                                        <td class="text-left">Date</td>
                                        <td class="text-left">Partner/Team</td>
                                        <td class="text-left">Event</td>
                                        <td class="text-left">Result</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for recent_result in recent_results %}
                                        <tr>
                                            <td class="text-left">
                                                <a href="{% url "results:usebio_mp_pairs_results_summary_view" results_file_id=recent_result.results_file.id %}">
                                                    {{ recent_result.result_date|cobalt_date_dashboard }}
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a href="{% url "results:usebio_mp_pairs_results_summary_view" results_file_id=recent_result.results_file.id %}">
                                                    {{ recent_result.partner_or_team_name.split.0 }}
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a href="{% url "results:usebio_mp_pairs_results_summary_view" results_file_id=recent_result.results_file.id %}">
                                                    {{ recent_result.event_name }}
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a href="{% url "results:usebio_mp_pairs_results_summary_view" results_file_id=recent_result.results_file.id %}">
                                                    {{ recent_result.position|ordinal }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if more_results %}
                                <a href="{% url "results:results" %}">More Results...</a>
                            {% endif %}
                        {% else %}
                            No results found
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- UPCOMING EVENTS -->

            <div class="col-lg-6 col-md-12">
                <div class="card" id="dashboard-upcoming">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Your Upcoming Events</h4>
                    </div>

                    <div class="card-body table-responsive">

                        {% if unpaid == True %}
                            You have unpaid entries <a class="btn btn-sm btn-danger" href='{% url "events:view_events" %}'>Pay Now</a><br>
                        {% endif %}

                        {% if pending_memberships %}
                            You have unpaid club membership fees, see profile for details <a class="btn btn-sm btn-danger" href='{% url "accounts:user_profile" %}'>Profile</a><br>
                        {% endif %}

                        {% if events %}

                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr class="text-primary" style="font-size: larger">
                                        <td class="text-left">Date</td>
                                        <td class="text-left">Congress</td>
                                        <td class="text-left">Event</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for event in events %}

                                        <tr>

                                            <td class="text-left">
                                                {% if event.is_running  %}
                                                    <span class="text-success font-weight-bold">TODAY</span>
                                                {% else %}
                                                    {{ event.calculated_start_date }}
                                                {% endif %}
                                            </td>

                                            <td class="text-left">
                                                <a class="card-link" href="{% url "events:view_congress" congress_id=event.event_entry.event.congress.id %}">
                                                    {{ event.event_entry.event.congress }}</a>
                                            </td>

                                            <td class="text-left">
                                                <a href="{% url "events:edit_event_entry" congress_id=event.event_entry.event.congress.id event_id=event.event_entry.event.id %}">
                                                    {{ event.event_entry.event.event_name }}</a>

                                                {% if event.in_cart %}
                                                    (in cart)
                                                {% endif %}
                                                {% if event.in_other_cart %}
                                                    (in {{ event.in_other_cart.full_name }}'s cart)
                                                {% endif %}
                                                {% if event.payment_status == "Pending Manual" and event.payment_type == "bank-transfer" %}
                                                    (transfer pending)
                                                {% endif %}
                                                {% if event.payment_status == "Pending Manual" and event.payment_type == "cheque" %}
                                                    (cheque pending)
                                                {% endif %}
                                            </td>

                                            <td>
                                                <a href="{% url "events:edit_event_entry" congress_id=event.event_entry.event.congress.id event_id=event.event_entry.event.id %}">
                                                    <i class="material-icons" data-toggle="tooltip" title="Edit Entry">edit</i>
                                                </a>
                                            </td>

                                        </tr>

                                    {% endfor %}

                                </tbody>
                            </table>

                            {% if more_events %}
                                <a href='{% url "events:view_events" %}'>See More...</a>
                            {% endif %}

                        {% else %}

                            <span class="card-link">Nothing booked</span>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <!-- FORUM POSTS -->

        <div class="row">

            <div class="col-lg-6 col-md-12">
                <div class="card" >
                    <div class="card-header card-header-danger" id="dashboard-announce">
                        <h2 class="text-center"><i class="material-icons align-center" style="font-size:27px;">campaign</i>&nbsp;
                            <!-- Show on large screens, not small -->
                            <span class="d-none d-md-block d-lg-block">
                                Announcements
                            </span>
                            <!-- Show on small screens, not large -->
                            <span class="d-md-none d-lg-none d-xl-none d-xs-block d-sm-block">
                                Announce
                            </span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="infinite-container2">
                            {% for post in posts2 %}

                                <div class="infinite-item2">

                                    <div class="container mt-2 bg-light">
                                        <div class="row">
                                            <div class="col-12">
                                                <h3 class="p-0 m-0"><a href="{% url 'forums:post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-auto p-1 m-0">
                                                            <a href="{% url "accounts:public_profile" pk=post.author.id %}">
                                                                <img id="cobalt-pic" class="cobalt-rounded" src="/media/{{ post.author.pic }}" />
                                                            </a>
                                                        </div>
                                                        <div class="col-8 p-0 m-0 justify-content-center align-self-center">
                                                            <h4 class="p-0 m-0"><a href=" {% url "accounts:public_profile" pk=post.author.id %}" class="text-dark">{{ post.author.full_name }}</a></h4>
                                                            <p>Posted in <a href="{% url "forums:post_list_single_forum" forum_id=post.forum.id %}">{{ post.forum.title }}</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <p class="p-0 m-0 font-italic"><small>{{ post.created_date|naturaltime }}.</small></p>&nbsp;
                                                        <p class="p-0 m-0"><small>{{ post.created_date|cobalt_nice_datetime }}</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                {{ post.text|truncatewords_html:50|safe }}
                                            </div>
                                        </div>
                                        <a href="{% url 'forums:post_detail' pk=post.pk %}">Read more</a>

                                    </div> <!-- end container bg-light -->
                                </div>    <!-- end infinite-item -->

                            {% endfor %}
                        </div>
                    </div>
                    {% if posts2.has_next %}
                        <a class="infinite-more-link2" href="/dashboard/scroll2?page={{ posts2.next_page_number }}">More</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card" >
                    <div class="card-header card-header-success" id="dashboard-discuss">
                        <h2 class="text-center"><i class="material-icons align-center" style="font-size:27px;">people_alt</i>&nbsp;
                            <!-- Show on large screens, not small -->
                            <span class="d-none d-md-block d-lg-block">
                                Discussions
                            </span>
                            <!-- Show on small screens, not large -->
                            <span class="d-md-none d-lg-none d-xl-none d-xs-block d-sm-block">
                                Discuss
                            </span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="infinite-container">
                            {% for post in posts %}
                                <div class="infinite-item">
                                    <div class="container mt-2 bg-light">

                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="p-0 m-0"><a href="{% url 'forums:post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-auto p-1 m-0">
                                                            <a href="{% url "accounts:public_profile" pk=post.author.id %}">
                                                                <img id="cobalt-pic" class="cobalt-rounded" src="/media/{{ post.author.pic }}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between">
                                                        <div class="col-lg-7 p-0 m-0 justify-content-center align-self-center">
                                                            <h4 class="p-0 m-0"><a href=" {% url "accounts:public_profile" pk=post.author.id %}" class="text-dark">{{ post.author.full_name }}</a></h4>
                                                            Posted in <a href="{% url "forums:post_list_single_forum" forum_id=post.forum.id %}">{{ post.forum.title }}</a>
                                                            <br>
                                                            <p class="p-0 m-0 font-italic" ><small>{{ post.created_date|naturaltime }}.</small></p>
                                                            <p class="p-0 m-0" style="line-height: 3px !important;"><small>{{ post.created_date|cobalt_nice_datetime }}</small></p>
                                                            <br>
                                                        </div>
                                                        <div class="col-auto p-0 m-0 text-right justify-content-center align-self-center">
                                                            <div class="text-center display-3">
                                                                {{ post.comment_count }}
                                                            </div>
                                                            <div class="text-center" style="font-size:12px">
                                                                comment{{ post.comment_count|pluralize}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div> <!-- End bg-light -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if posts.has_next %}
                        <a class="infinite-more-link" href="/dashboard/scroll1?page={{ posts.next_page_number }}">More</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <script src="{% static "assets/js/waypoints/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "assets/js/waypoints/shortcuts/infinite.min.js" %}"></script>
    <script src="{% static "assets/js/countUp.2.0.7/countUp.umd.js" %}"></script>

    {#    This page is set up with tour enabled #}
    {% if tour %}
        {% include "dashboard/home_tour.html" %}
    {% endif %}

    <script>
        $(document).ready(function() {

            //  Activate the tooltips
            $('[data-toggle="tooltip"]').tooltip()

            // Infinite Scroll
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                items: '.infinite-item',
                onBeforePageLoad: function() {
                    $('.loading').show();
                },
                onAfterPageLoad: function($items) {
                    $('.loading').hide();
                }
            });

            var infinite2 = new Waypoint.Infinite({
                element: $('.infinite-container2')[0],
                items: '.infinite-item2',
                more: '.infinite-more-link2',
                onBeforePageLoad: function() {
                    $('.loading').show();
                },
                onAfterPageLoad: function($items) {
                    $('.loading').hide();
                }
            });

            // countup settings
            const options = {
                decimalPlaces: 2,
                duration: 1.5
            };
            // ABF$
            {% if payments.balance_num %}

                let counter = new countUp.CountUp('id_account_balance', {{ payments.balance_num }}, options);
                if (!counter.error) {
                    counter.start();
                } else {
                    console.error(counter.error);
                }
            {% endif %}

            // Masterpoints

            {% if  mp.points != "Not found" %}
                let counter3 = new countUp.CountUp('masterpoints', {{ mp.points }}, options);
                if (!counter3.error) {
                    counter3.start();
                } else {
                    console.error(counter3.error);
                }
            {% endif %}


        });
    </script>
{% endblock %}
