<div class="container-fluid">
    <div class="row mx-0">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-info">
                    <h3>Congress Series</h3>
                    <p>All congresses need to be part of a series. Usually this will be an annual event,
                        but it doesn't have to be.</p>
                    <p>Create a congress series first and then you can create congresses as part of that series.</p>
                </div>
                <div class="card-body">
                    {% if congress_masters %}

                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-left">Series</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for congress_master in congress_masters %}
                                        <tr id="rename-{{ congress_master.id }}">
                                            <td class="text-left">
                                                <a href="javascript:void()"
                                                    hx-post="{% url "organisations:club_menu_tab_congress_list_htmx" %}"
                                                    hx-vars="club_id:{{ club.id }},congress_master_id:{{ congress_master.id }}"
                                                    hx-target="#congress-list"
                                                >
                                                    {{ congress_master.name }}
                                                </a>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success"
                                                    hx-post="{% url "organisations:club_menu_tab_congress_list_htmx" %}"
                                                    hx-vars="club_id:{{ club.id }},congress_master_id:{{ congress_master.id }}"
                                                    hx-target="#congress-list"
                                                >View</button>
                                                <button class="btn btn-sm btn-info"
                                                    hx-post="{% url "organisations:club_menu_tab_congress_rename_series_form_htmx" %}"
                                                    hx-vars="club_id:{{ club.id }},congress_master_id:{{ congress_master.id }}"
                                                    hx-target="#rename-{{ congress_master.id }}"
                                                >Rename</button>
                                                <button class="btn btn-sm btn-danger"
                                                    id="btn-congress-master-delete-{{ congress_master.id }}"
                                                    {% if congress_master.has_congresses %}disabled{% endif %}
                                                    hx-post="{% url "organisations:club_menu_tab_congress_delete_congress_master_htmx" %}"
                                                    hx-vars="club_id:{{ club.id }},congress_master_id:{{ congress_master.id }}"
                                                    hx-target="#id_panel_congress"
                                                >Delete</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    {% else %}

                        <h3>This club has no congresses set up</h3>

                    {% endif %}

                    <div id="create-series">
                        <button class="btn btn-primary btn-sm"
                            hx-post="{% url "organisations:club_menu_tab_congress_create_series_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#create-series"
                        >
                            Create New Series
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div id="congress-list" class="col-md-6">
        </div>
    </div>
</div>
