{% if congress_masters %}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Congress</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for congress_master in congress_masters %}
                    <tr>
                        <td>{{ congress_master.name }}</td>
                        <td>{{ congress_master.org }}</td>
                        <td>
                            {#                            <a href="{% url "events:create_congress_wizard" step=2 congress_id=congress.id %}" class="btn btn-sm btn-warning">Edit</a>#}
                            {#                            <a href="{% url "events:admin_summary" congress_id=congress.id %}" class="btn btn-sm btn-success">Manage</a>#}
                            {#                        </td>#}

                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <h3>This club has no congresses set up</h3>

{% endif %}
