{# HTMX returns this to replace the HTML. This is a list of matching names #}

<ul>
    {% for name in name_list %}
        <li class="cobalt-button-as-link"
            hx-post="{% url "accounts:member_match_htmx" %}"
            hx-target="#name-matches{{ search_id }}"
            {# add parameters to hx-vars #}
            hx-vars="user_id_field:'{{ user_id_field }}', member_id:{{ name.id }}, search_id:'{{ search_id }}'{% if include_me %}, include_me:'yes'{% endif %}"
        >{{ name }}</li>
    {% empty %}
        <h4>No Matches</h4>
    {% endfor %}
</ul>
{% if more_data %}
    <i>More Results</i>
{% endif %}
