{# This is the HTMX user search #}
{#  include it in your HTML file with an optional search_id value if you want to have more than once search or a page #}
{#  This form is shown inline, not as a modal popup, you can use the wrapper user_search_include_htmx.html #}
{#  if you want to use a modal #}

<!--
 parameters:

    search_id:     any random string that identifies this search. Can be blank if only one search on this page
    user_id_field: DOM identifier of field that should get the selected userid
    callback:      Javascript function to call once a user is selected.
                        Parameters are: (search_id, user_id, user_name)
                        cobaltMemberSearchOk() - what is this?
    include_me:    flag to decide if the user can pick themselves
-->

{% load static %}

<!-- MAIN CONTAINER DIV FOR SEARCH -->
<div class="container">

    <!-- MUST HAVE A FORM FOR HX-INCLUDE TO WORK -->
    <form>

        <!-- ROW - WITH SEARCH_ID TO IDENTIFY -->
        <div id="cobalt-search{{ search_id }}" class="row justify-content-center">

            <!-- LASTNAME (SAME SEARCH AS FIRSTNAME, BOTH FIELDS ARE SENT) -->
            <div class="col-12 form-group">
                <input type="text"
                    class="form-control modal-input"
                    name="last_name_search"
                    placeholder="Last Name"
                    id="id_last_name_search{{ search_id }}"

                    {# Use HTMX to send in search #}
                    hx-post="{% url "accounts:member_search_htmx" %}"

                    {# Only search after a brief delay #}
                    hx-trigger="keyup changed delay:100ms"

                    {# Put response into the name-matches field below #}
                    hx-target="#name-matches{{ search_id }}"

                    {# Include other name too. Use id to get specific field but pass name which is always the same #}
                    {#                hx-include="[id='id_first_name_search{{ search_id }}']"#}
                    hx-include="[id='id_first_name_search{{ search_id }}']"

                    {# Pass through parameters for later #}
                    hx-vars="user_id_field:'{{ user_id_field }}',
                    search_id:'{{ search_id }}'
                    {% if callback %}, callback:'{{ callback }}'{% endif %}
                    {% if include_me %}, include_me:'yes'{% endif %}
                    "
                    {# Use hyperscript to clear ABF Number #}
                    _="on click put '' into #id_system_number{{ search_id }}.value"
                >
            </div>

            <!-- FIRSTNAME (SAME SEARCH AS LASTNAME, BOTH FIELDS ARE SENT) -->
            <div class="col-12 form-group">
                <input type="text"
                    class="form-control modal-input"
                    name="first_name_search"
                    placeholder="First Name"
                    id="id_first_name_search{{ search_id }}"

                    {# Use HTMX to send in search #}
                    hx-post="{% url "accounts:member_search_htmx" %}"

                    {# Only search after a brief delay #}
                    hx-trigger="keyup changed delay:100ms"

                    {# Put response into the name-matches field below #}
                    hx-target="#name-matches{{ search_id }}"

                    {# Include other name too. Use id to get specific field but pass name which is always the same #}
                    hx-include="[id='id_last_name_search{{ search_id }}']"

                    {# Pass through parameters for later #}
                    hx-vars="user_id_field:'{{ user_id_field }}',
                    search_id:'{{ search_id }}'
                    {% if callback %}, callback:'{{ callback }}'{% endif %}
                    {% if include_me %}, include_me:'yes'{% endif %}
                    "
                    {# Use hyperscript to clear ABF Number #}
                    _="on click put '' into #id_system_number{{ search_id }}.value"
                >
            </div>

            <!-- SYSTEM_NUMBER SEARCH IF REQUIRED -->
            {% if request.user.system_number_search %}
                <div class="col-12 form-group">
                    <input type="number"
                        class="form-control modal-input col-8"
                        id="id_system_number{{ search_id }}"
                        name="system_number"
                        value=""
                        placeholder="{{ GLOBAL_ORG }} Number"
                        hx-post="{% url "accounts:system_number_search_htmx" %}"
                        hx-target="#name-matches{{ search_id }}"
                        hx-trigger="keyup changed delay:100ms"
                        hx-vars="user_id_field:'{{ user_id_field }}',
                        search_id:'{{ search_id }}'
                        {% if callback %}, callback:'{{ callback }}'{% endif %}
                        {% if include_me %}, include_me:'yes'{% endif %}
                        "
                        {# Use hyperscript to clear other inputs #}
                        _="on click
                        put '' into #id_first_name_search{{ search_id }}.value
                        then put '' into #id_last_name_search{{ search_id }}.value"
                    >
                </div>

                <!-- NAME MATCH IS WHERE WE PUT THE SEARCH RESULTS. CAN BE A LIST OR A SPECIFIC USER -->
                <div class="name-match" id="name-matches{{ search_id }}">
                </div>
            {% endif %}
        </div>
    </form>
</div>
