{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Finance view tab under club admin                                      #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}
{% load static %}

<!-- SHOW WARNING IF BSB NOT SET -->
{% if not club.bank_bsb or not club.bank_account %}

    <h3 class="text-primary font-weight-bold">This club doesn't have bank details set up</h3>
    <h4 class="text-primary font-weight-bold">You will not receive any settlements until this is resolved. Please go to Settings to update your details.</h4>

{% endif %}

<h3>
    <div class="d-flex justify-content-between">
        <div>
            Club Balance: {{ balance|cobalt_currency }}
        </div>
        <div>
            Members' Balance: {{ members_balance|cobalt_currency }}
        </div>
    </div>
</h3>

<!-- MESSAGE -->
{% include "utils/cobalt_message_h3.html" %}

<!-- SHOW ANY PLAYER DEBTS -->

{% if user_pending_payments %}
    <div class="card mb-5" id="id_outstanding_debt">
        <div class="card-header card-header-danger">

            <div class="d-flex justify-content-between">
                <div>
                    <h3>Outstanding Debts</h3>
                </div>
                <div>
                    <span class="align-left text-white"
                        _="on click toggle .d-none on #id_outstanding_debt"
                        style="cursor: pointer"
                    ><i class="material-icons">close</i></span>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive align-content-center">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-primary text-left">Player</th>
                            <th class="text-primary text-left">Description</th>
                            <th class="text-primary text-left">Date</th>
                            <th class="text-primary text-right">Amount</th>
                            <th class="text-primary">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_pending_payment in user_pending_payments %}
                            <tr>

                                <td class="text-left">{{ user_pending_payment.player }}</td>
                                <td class="text-left">{{ user_pending_payment.description }}</td>
                                <td class="text-left">{{ user_pending_payment.created_at|cobalt_nice_datetime_short }}</td>
                                <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ user_pending_payment.amount|floatformat:2 }}</td>
                                <td class="text-primary">

                                    {% include "utils/htmx_confirm_modal.html" with id=user_pending_payment.id delete_message="Cancel this debt" delete_button="Cancel Debt" hx_target="#id_panel_finance" hx_post=user_pending_payment.hx_delete hx_vars=user_pending_payment.hx_vars %}
                                    <button id="{{ user_pending_payment.id }}" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user_pending_payment.id }}">Cancel Debt</button>

                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endif %}

<!-- SHOW TRANSACTIONS -->

<!-- SPINNER -->
<div class='justify-content-center text-center'>
    <span class="htmx-indicator" id="low_spinner">
        <img style="width: 40px" src="{% static "assets/img/spinners/bars.svg" %}"/>
    </span>
</div>

<div id="id_finance_transactions"
    hx-trigger="load"
    hx-post="{% url "organisations:transactions_htmx" %}"
    hx-vars="club_id: {{ club.id }}"
    hx-indicator="#low_spinner"
></div>
