{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Finance view tab under club admin                                      #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}
<h2>
    <div class="d-flex justify-content-between">
        <div>
            Club Balance: {{ balance|cobalt_currency }}
        </div>
        <div>
            Members' Balance: {{ members_balance|cobalt_currency }}
        </div>
    </div>
</h2>

<!-- MESSAGE -->
<h3 class="text-primary font-weight-bold">{{ message }}</h3>

<!-- SHOW ANY PLAYER DEBTS -->

{% if user_pending_payments %}
    <div class="card">
        <div class="card-header card-header-danger">
            <h3>Outstanding Debts</h3>
        </div>
        <div class="card-body">



            <div class="table-responsive align-content-center">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-primary text-left">Player</th>
                            <th class="text-primary text-left">Description</th>
                            <th class="text-primary text-left">Date</th>
                            <th class="text-primary text-right">Amount</th>
                            <th class="text-primary">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_pending_payment in user_pending_payments %}
                            <tr>

                                <td class="text-left">{{ user_pending_payment.player }}</td>
                                <td class="text-left">{{ user_pending_payment.description }}</td>
                                <td class="text-left">{{ user_pending_payment.created_at|cobalt_nice_datetime_short }}</td>
                                <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ user_pending_payment.amount|floatformat:2 }}</td>
                                <td class="text-primary">

                                    {% include "utils/htmx_confirm_modal.html" with id=user_pending_payment.id delete_message="Cancel this debt" delete_button="Cancel Debt" hx_target="#id_panel_finance" hx_post=user_pending_payment.hx_delete hx_vars=user_pending_payment.hx_vars %}
                                    <button id="{{ user_pending_payment.id }}" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user_pending_payment.id }}">Cancel Debt</button>

                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endif %}

<h2 class="text-primary">Recent Transactions</h2>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="text-left">Date</th>
                <th class="text-left">Description</th>
                <th class="text-left">Who</th>
                <th class="text-right">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for tran in recent_trans %}
                <tr>
                    <td class="text-left">{{ tran.created_date|cobalt_nice_datetime_short }}</td>
                    <td class="text-left">{{ tran.description }}</td>
                    <td class="text-left">{{ tran.member|default_if_none:tran.other_organisation|default_if_none:"" }}</td>
                    <td class="text-right">{{ tran.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{% url "payments:statement_org" org_id=club.id %}" class="btn btn-success">Go To Club Statement</a>



