{% load cobalt_tags %}
{#------------------------------------------------------------------------#}
{#                                                                        #}
{# show org transaction search results grouped by events                  #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% if things %}

    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-left">Start Date</th>
                    <th class="text-left">Congress Name</th>
                    <th class="text-left">Event Name</th>
                    <th class="text-right">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for thing in things %}
                    <tr>
                        <td class="text-left">{{ thing.start_date }}</td>
                        <td class="text-left">{{ thing.congress_name }}</td>
                        <td class="text-left"><a
                            href="#"
                            hx-post="{% url 'organisations:transaction_event_details_htmx' %}"
                            hx-target="#id_filtered_transactions"
                            hx-vars="club_id: {{ club.id }}, event_id: {{ thing.id }}, date_range_warning: 1"
                        >
                            {{ thing.event_name }}
                        </a>
                        </td>
                        <td class="text-right">
                            {% if thing.amount_outside_range != 0 %}
                                <button class="btn btn-xs btn-danger" data-toggle="tooltip" title="Payments of {{ thing.amount_outside_range|cobalt_currency_colour }} were made outside the selected date range">!</button>
                            {% endif %}
                            {{ thing.amount|cobalt_currency_colour }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "utils/pagination_footer_htmx.html" %}

{% else %}

    <h4>No data found</h4>

{% endif %}

<script>
    $(document).ready( function () {
        // initialise tooltips
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
