{% load cobalt_tags %}
{#------------------------------------------------------------------------#}
{#                                                                        #}
{# show org transaction search results grouped by sessions                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% if things %}

    {% if balance_at_end_date %}
        <h3>Balance as at {{ end_datetime|cobalt_nice_date_short }}: {{ balance_at_end_date|cobalt_currency_colour }},
            Total for sessions: {{ sessions_total|cobalt_currency_colour }}
        </h3>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-left">Session Date</th>
                    <th class="text-left">Session</th>
                    <th class="text-right">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for thing in things %}
                    <tr>
                        <td class="text-left"><a href="{% url "club_sessions:manage_session" session_id=thing.id %}" target="_blank">{{ thing.session_date }}</a></td>
                        <td class="text-left"><a href="{% url "club_sessions:manage_session" session_id=thing.id %}" target="_blank">{{ thing.description }}</a></td>
                        <td class="text-right">{{ thing.amount|cobalt_currency_colour }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "utils/pagination_footer_htmx.html" %}

{% else %}

    <h4>No data found</h4>

{% endif %}
