{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show the details row for a single transaction                          #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load humanize %}
{% load cobalt_tags %}

<!-- THIS GETS INSERTED INTO A TR -->

<td></td>
<td colspan="4">

    <div class="card col-lg-7 mx-lg-auto">

        <div class="card-header card-header-rose">

            <div class="d-flex justify-content-between">
                <div>
                    <h3><i class="material-icons">info</i> Transaction Details</h3>
                </div>
                <div>
                    <span class="align-left text-white"
                        _="on click put '' into #trans_dets_{{ trans.id }}"
                        style="cursor: pointer"
                    ><i class="material-icons">close</i></span>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold text-left">Sequence Number:</td>
                            <td class="text-left">{{ trans.id }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-left">Reference Number:</td>
                            <td class="text-left">{{ trans.reference_no }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-left">Counterparty:</td>
                            <td class="text-left">{{ trans.member|default_if_none:"" }}{{ trans.other_organisation|default_if_none:"" }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-left">Amount:</td>
                            <td class="text-left">{{ trans.amount|cobalt_currency_colour }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-left">Balance:</td>
                            <td class="text-left">{{ trans.balance|cobalt_currency_colour }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-left">Description:</td>
                            <td class="text-left">{{ trans.description }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-left">Date:</td>
                            <td class="text-left">{{ trans.created_date|cobalt_nice_datetime }}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-left">Transaction Type:</td>
                            <td class="text-left">{{ trans.get_type_display }}</td>
                        </tr>

                        {% if trans.club_session_id %}
                            <tr>
                                <td class="font-weight-bold text-left">Session ID:</td>
                                <td class="text-left">{{ trans.club_session_id }}</td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</td>
