{% load crispy_forms_filters %}
{# HTMX Calls this to replace the whole form if org_id is provided.. Also provided empty for a new form. #}

{% load cobalt_tags %}

{# anchor for JS to go to after load #}
<span id="top_of_form"></span>

{% if errors %}
    <span class="cobalt-form-error">{{ errors }}</span>
    <a href="{% url "organisations:admin_add_club" %}" class="btn btn-success cobalt-save">Reset</a>

{% else %}

    <div class="card">
        <div class="card-header card-header-danger">
            <h2>{{ form.name.value|default_if_none:"Add Club" }}</h2>
            {% if club_number %}
                <h3>{{ GLOBAL_ORG }} Club Number: {{ club_number }}</h3>
                <h4>It is not recommended to edit these fields as they will be out of step
                    with the Masterpoints Centre. It is better to first change them in the MPC
                    and then import the club here.</h4>
            {% endif %}
        </div>
        <div class="card-body">

            {# ------ Club Secretary ------- #}

            {% if possible_club_sec_name %}

                <p>Found a club secretary from the Masterpoints Centre: <b>{{ possible_club_sec_name }}</b></p>

                {% if club_secs %}
                    <p>
                        Matches within {{ GLOBAL_TITLE }}:
                        <ul>
                            {% for club_sec in club_secs %}
                                <li>{{ club_sec|cobalt_user_link_short }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% else %}
                    <b>No matches for {{ possible_club_sec_name }} (club secretary) found in {{ GLOBAL_TITLE }}</b>
                {% endif %}

            {% endif %}



            <div class="row">
                {#                secretary           #}
                <div class="col-md-6">
                    <div class="form-group">
                        <b>Club Secretary: </b><span id="dummy_name">{% if secretary_name != "Not Set" %}{{ secretary_name }}{% else %}Defaulting to ABF{% endif %}</span>
                        <input type="hidden" id="id_secretary" name="secretary" value="{{ secretary_id|default_if_none:"3" }}">
                        <span class="cobalt-form-error">{{ form.secretary.errors }}</span>
                        <button id="id_search_button" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userSearchModal1">Edit</button>
                        <button
                            type="button"
                            class="btn btn-success btn-sm"
                            _="on click put 3 into #id_secretary then put 'ABF User' into #dummy_name then remove me"
                        >Set to ABF User</button>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {% cobalt_bs4_field form.state %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% cobalt_bs4_field form.name %}
                </div>
                <div class="col-md-3">
                    {% cobalt_bs4_field form.org_id %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% cobalt_bs4_field form.club_email %}
                </div>
                <div class="col-md-6">
                    {% cobalt_bs4_field form.club_website %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% cobalt_bs4_field form.address1 %}
                </div>
                <div class="col-md-3">
                    {% cobalt_bs4_field form.suburb %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% cobalt_bs4_field form.address2 %}
                </div>

                <div class="col-md-2">
                    {% cobalt_bs4_field form.postcode %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% cobalt_bs4_field form.bank_bsb %}
                </div>
                <div class="col-md-6">
                    {% cobalt_bs4_field form.bank_account %}
                </div>
            </div>

        </div>
    </div>

{% endif %}
