{% extends 'base.html' %}
{% load static %}
{% block title %} - Club RBAC{% endblock %}

{% block content %}

    <div class="">
        <div class="card col-md-12 align-content-center">
            <div class="card-header card-header-primary">
                <h1>{{ club }}</h1>
                <h3>{{ club.state }}</h3>
                <h3>Secretary: {{ club.secretary }}</h3>
                <h2>Role Based Access Controls</h2>
            </div>
            <div class="card-body">
                <h2>{{ error }}</h2>

                {% if rbac_basic %}
                    <p>This club is set up for Basic RBAC.</p>
                    <a href="{% url "organisations:admin_club_rbac_convert_basic_to_advanced" club_id=club.id %}"
                        class="btn btn-danger">Change to Advanced</a>
                {% endif %}

                {% if rbac_advanced %}
                    <p>This club is set up for Advanced RBAC.</p>
                    <a href="{% url "organisations:admin_club_rbac_convert_advanced_to_basic" club_id=club.id %}" class="btn btn-danger">Change to Basic</a>
                {% endif %}

                {% if new_setup %}
                    <p>Select basic or advanced set up (You can change it later).</p>
                    <ul>
                        <li><b>Basic</b> - Creates a single security group for everything. All users get the same access.</li>
                        <li><b>Advanced</b> - Creates a number of security groups to allow different roles within the club
                            such as finance, directing and user administration.</li>
                    </ul>
                    <p>Basic is good for small clubs. Advanced is good for larger clubs or clubs that want more granular control of security.</p>
                    <p>This only applies to club administrators, not to members.</p>
                    <a href="{% url "organisations:admin_club_rbac_add_basic" club_id=club.id %}" class="btn btn-success">Basic</a>
                    <a href="{% url "organisations:admin_club_rbac_add_advanced" club_id=club.id %}" class="btn btn-warning">Advanced</a>

                {% else %}

                    <a href="{% url "organisations:club_menu" club_id=club.id %}"
                        class="btn btn-info">Go to club Menu</a>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock content %}

