{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} - Add Club{% endblock %}
{% block content %}

    {#    This file uses HTMX. It is the first trial of HTMX in Cobalt     #}

    {% include "accounts/user_search_include_htmx.html" with search_id=1 %}

    <div class="">
        <div class="card col-md-12 align-content-center">
            <div class="card-header card-header-primary">
                <h2>Add A Club</h2>
                <h3>Clubs should already be defined in the Masterpoints Centre before they are added to {{ GLOBAL_TITLE }}</h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-10">

                        <div class="card-body">
                            <div class="card">
                                <div class="card-header card-header-success">
                                    <h3>Search Masterpoints Centre</h3>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">

                                                <form
                                                    hx-post="{% url "organisations:get_club_details_ajax" %}"
                                                    hx-target="#club">

                                                    <div class="form-group">
                                                        <label>{{ GLOBAL_ORG }} Club Number</label>
                                                        <input type="text" class="form-control" name="club_number">
                                                    </div>
                                                    <button class="btn btn-sm btn-info">Search</button>
                                                </form>
                                            </div>
                                            <div class="col-6">

                                                <div class="form-group">
                                                    <label>Club Name
                                                        <span class="htmx-indicator">
                                                            <img src="{% static "assets/img/spinners/bars.svg" %}"/>
                                                        </span>
                                                    </label>

                                                    <input type="text"
                                                        class="form-control"
                                                        name="club_name_search"
                                                        hx-post="{% url "organisations:club_name_search_ajax" %}"
                                                        hx-trigger="keyup changed delay:500ms"
                                                        hx-target="#club-search"
                                                        hx-indicator=".htmx-indicator"
                                                        placeholder="Start typing to search..."
                                                    >
                                                </div>

                                                <div id="club-search"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <form method="POST">
                    {% csrf_token %}

                    <div id="club">
                        {% include "organisations/admin_add_club_htmx.html" %}
                    </div>

                    <button type="submit" name="Save" class="cobalt-save btn btn-success">Save</button>
                    <button class="btn btn-info" onclick="window.location.href='/'; return false;">Cancel</button>

                </form>

            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include "utils/include_htmx.html" %}
    {% include "accounts/user_search_include_js_htmx.html" with search_id=1 include_me='yes' %}

    <script>
        function cobaltMemberSearchOk(search_id, member_id, member_name) {
            // update club_secretary. Note: the fields are not defined in this file, they are loaded from admin_add_club_ajax.html
            $('#id_secretary').val(member_id);
            $('#dummy_name').text(member_name);

        }

        $(document).ready(function () {
            if (window.performance.navigation.type === 2) {
                // the page was navigated to via the forward or back button
                // refresh to make sure auto top up status is correct
                location.reload();
            }

            // after HTMX reloads the table we want to move the focus down to the form
            htmx.on("htmx:after-swap", function(evt) {
                // only if this targeted the club div
                if (evt.target.id === "club") {
                    // scroll down
                    const aTag = $('#top_of_form');
                    $('html,body').animate({scrollTop: aTag.offset().top}, 'slow');
                };
            });
        });

    </script>
{% endblock footer %}
