{% extends 'base.html' %}
{% load static %}
{% load cobalt_tags %}
{% block title %} - List Clubs{% endblock %}
{% block header %}
    {% include "utils/data_tables_heading.html" %}
{% endblock header %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#orgs">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Clubs</li>
        </ol>
    </nav>

    <div class="">
        <div class="card col-md-12 align-content-center">
            <div class="card-header card-header-primary">
                <h1>List Clubs</h1>
            </div>

            <div class="card-body">
                {% for state, clubs in grouped_by_state.items %}
                    <div class="card col-md-8 mb-5">
                        <div class="card-header card-header-{% cobalt_random_colour %}">
                            <h2>{{ state }}</h2>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="club-table table table-condensed" >
                                <thead>
                                    <tr>
                                        <th class="text-left">State</th>
                                        <th class="text-left">Club Name</th>
                                        <th class="text-left">Club Secretary</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for club in clubs %}
                                        <tr>
                                            <td class="text-left">{{ club.state }}</td>
                                            <td class="text-left">{{ club.name }}</td>
                                            <td class="text-left">{{ club.secretary|default_if_none:"-" }}</td>
                                            <td>
                                                {% if club.user_can_edit %}
                                                    <a href="{% url "organisations:club_menu" club_id=club.id %}"
                                                        class="btn btn-sm btn-info">Club Menu</a>
                                                    {% if club.manually_added %}
                                                        <a href="{% url "organisations:admin_convert_manual_club_to_automatic" club_id=club.id %}"
                                                            class="btn btn-sm btn-success">Convert from Manual</a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                {% endfor %}
            </div>




        </div>
    </div>
{% endblock content %}

{% block footer %}
    <script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
    <script>
        $(document).ready(function () {

            // Initialise datatable - only show pagination if more than one page, sort in name order, column 0
            $('.club-table').DataTable({
                "order": [[1, "asc"]],
                drawCallback: function (settings) {
                    const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                    pagination.toggle(this.api().page.info().pages > 1);
                },
            });
        });
    </script>

{% endblock footer %}
