{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header card-header-warning">
                <h1>
                    <div class="d-flex justify-content-between">
                        <div>
                            Club Admin Portal
                        </div>
                        <div>
                            <i class="material-icons" style="font-size:50px">admin_panel_settings</i>
                        </div>
                    </div>
                </h1>
                <h3>{{ org }}</h3>
                <h4>{{ org.state }}</h4>
            </div>

            <div class="card-body">
                <div class="card">
                    <div class="card-header-primary card-header">
                        <h2>Congresses</h2>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for congress in congresses %}
                                <li>{{ congress }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card">
                    <div class="card-header-success card-header">
                        <h2>Staff</h2>
                    </div>
                    <div class="card-body">

                        <div class="card col-lg-9">
                            <div class="card-header card-header-warning">
                                <h3 class="card-title">Users</h3>
                            </div>
                            <div class="card-body" style="text-align: center">
                            <div class="container">
                            {{ rbac_groups }}
                                <label for="user_list"></label><select class="w-100" size="10" id="user_list">
                                    {% for user in users %}
                                        <option value="{{ user.member.id }}"><a
                                           href="{% url "accounts:public_profile" pk=user.member.id %}">
                                            {{ user.member }}</a>
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% include "utils/generic_user_search_body.html" with search_id=1 %}

                            <div class="d-flex">
                                <div>
                                    <a href="" class="btn btn-success btn-sm cobalt_generic_member"
                                       data-toggle="modal" id="cobalt_user"
                                       data-target="#cobalt_general_member_search1">Add User</a>
                                    <button class="btn btn-success btn-sm" id="cobalt_self"
                                        onclick="addSelf();">Add Yourself</button>
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-info btn-sm center-text"
                                            onclick="deleteUser();">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
<script>
  function help(title, html) {
    swal.fire({
      title: title,
      html: html,
      icon: "info"
    })
    return false;
  }
</script>
{% endblock %}
