{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}- Club Menu {{ club }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="card">
            <div class="card-header card-header-rose">
                <h1 class="text-center">{{ club }}</h1>
                <h2 class="text-center">Club Menu</h2>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header card-header-secondary">
                        <ul class="nav nav-pills nav-pills-icons" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#dashboard" role="tab" data-toggle="tab">
                                    <i class="material-icons">dashboard</i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#congress" role="tab" data-toggle="tab">
                                    <i class="material-icons">book_online</i>
                                    Congresses
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#results" role="tab" data-toggle="tab">
                                    <i class="material-icons">content_paste</i>
                                    Results
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#access" role="tab" data-toggle="tab">
                                    <i class="material-icons">face</i>
                                    Access
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings" role="tab" data-toggle="tab">
                                    <i class="material-icons">settings</i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content tab-space">
                            <div class="tab-pane" id="dashboard">
                                <p>The dashboard is a summary</p>
                                <p>3,543 Members</p>
                                <p>6 Administrators</p>
                                <p>4 Annual congresses</p>
                            </div>
                            <div class="tab-pane" id="congress">
                                Congress list goes here
                            </div>
                            <div class="tab-pane" id="results">
                                Results go here. Upload files etc.
                            </div>
                            <div class="tab-pane  active" id="access">

                                {% if access_basic %}
                                    {% include "organisations/club_menu_sub_access_basic.html" %}
                                {% else %}
                                    {% include "organisations/club_menu_sub_access_advanced.html" %}
                                {% endif %}

                            </div>
                            <div class="tab-pane" id="settings">
                                club settings.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block footer %}
    {% include "utils/include_htmx.html" %}
    <script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
{% endblock footer %}
