{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Basic page to show list of events and allow filtering and searching    #}
{#                                                                        #}
{# Updates are done using HTMX                                            #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load static %}
{% load cobalt_tags %}

{% block title %} - Calendar{% endblock %}

{% block header %}
    <style>
        /* show the clickable row in the listing as clickable */
        tr.congress-link-row {
            cursor: pointer;
        }

        /* Make all of the tables the same widths but only for larger screens. No need on smaller and messes up view */

        @media screen and (min-width: 800px) {

            table.fixed-congress {
                table-layout: fixed;
                width: 100%;
            }

            table.fixed-congress td {
                font-size: larger;
            }

            /* start date */
            table.fixed-congress td:nth-of-type(1), th:nth-of-type(1) {
                width: 10%;
            }

            /* Name */
            table.fixed-congress td:nth-of-type(2), th:nth-of-type(2) {
                width: 35%;
            }

            /* State */
            table.fixed-congress td:nth-of-type(3), th:nth-of-type(3) {
                width: 10%;
            }

            /* congress type */
            table.fixed-congress td:nth-of-type(4), th:nth-of-type(4) {
                width: 15%;
            }

            /* congress venue type */
            table.fixed-congress td:nth-of-type(4), th:nth-of-type(4) {
                width: 15%;
            }

            /* club/organiser */
            table.fixed-congress td:nth-of-type(5), td:nth-of-type(5) {
                width: 15%;
            }

        }

    </style>
{% endblock header %}

{% block content %}

    <!-- DON'T ALERT ON LEAVING SCREEN IF SEARCH FORM HAS CHANGED -->
    <div id="ignore_cobalt_save"></div>

    <!-- MAIN CARD ON PAGE -->

    <div class="card">

        <!-- CARD HEADER -->
        <div class="card-header card-header-primary">
            <h1>
                <div class="d-flex justify-content-between">
                    <div>
                        {% if reverse_list %}Completed{% endif %} Calendar
                    </div>
                    <!-- DONT SHOW ICON ON SMALL SCREENS - OVERLAPS -->
                    <div class="d-none d-md-inline">
                        <i class="material-icons" style="font-size:50px">book_online</i>
                    </div>
                </div>
            </h1>

            <!-- REVERSE ORDER -->
            {% if reverse_list %}
                <a href="{% url "events:congress_listing" %}" class="text-white" style="text-decoration: underline">View running and upcoming events</a>
            {% else %}
                <a href="{% url "events:congress_listing" reverse_list="reverse" %}" class="text-white" style="text-decoration: underline">View completed events</a>
            {% endif %}

        </div>

        <!-- CARD BODY -->
        <div class="card-body">

            <div class="row" id="id_filters" style="display: none">

                <span class="d-md-none">
                    <h2>Filters</h2>
                </span>
                {# Show this on screens md or larger #}
                <span class="d-none d-md-inline">
                </span>

                <div class="ml-auto mr-3 mb-3">
                    <div class="btn btn-round" id="clear_filters">
                        <span class="material-icons" style="font-size: large">restart_alt</span>
                        <span class="d-md-none">
                            Clear
                        </span>
                        {# Show this on screens md or larger #}
                        <span class="d-none d-md-inline">
                            Clear Filters
                        </span>
                    </div>
                    <div class="btn btn-outline-secondary btn-round" id="save_filters" style="display: none">
                        <span class="material-icons" style="font-size: large">save</span>
                        <span class="d-md-none">
                            Save
                        </span>
                        {# Show this on screens md or larger #}
                        <span class="d-none d-md-inline">
                            Save Filters
                        </span>
                    </div>
                    <div class="btn btn-outline-secondary btn-round" id="delete_filters" style="display: none">
                        <span class="material-icons" style="font-size: large">delete</span>
                        <span class="d-md-none">
                            Delete
                        </span>
                        {# Show this on screens md or larger #}
                        <span class="d-none d-md-inline">
                            Delete Filters
                        </span>
                    </div>
                </div>
            </div>

            <form id="events_form">

                <!-- NAVIGATION, FILTER AND SEARCH -->
                <div class="d-flex justify-content-between">

                    <div>
                        <!-- STATE -->
                        <label for="id_state">State</label>
                        <select
                            class="selectpicker"
                            data-style="btn btn-danger"
                            id="id_state"
                            name="state"
                        >
                            <option value="All">All</option>
                            {% for state in states %}
                                <option value="{{ state }}">{{ state }}</option>
                            {% endfor %}
                        </select>

                        <!-- EVENT TYPE -->
                        <label for="id_congress_type" class="ml-lg-2">Event Type</label>
                        <select
                            class="selectpicker"
                            data-style="btn btn-info"
                            id="id_congress_type"
                            name="congress_type">
                            <option value="All">All</option>
                            {% for congress_type in congress_types %}
                                <option value="{{ congress_type.0 }}">{{ congress_type.1|title }}</option>
                            {% endfor %}
                        </select>

                        <!-- VENUE TYPE -->
                        <label for="id_congress_venue_type" class="ml-lg-2">Format</label>
                        <select
                            class="selectpicker"
                            data-style="btn btn-warning"
                            id="id_congress_venue_type"
                            name="congress_venue_type">
                            <option value="All">All</option>
                            {% for congress_venue_type in congress_venue_types %}
                                <option value="{{ congress_venue_type.0 }}">{{ congress_venue_type.1 }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <!-- SEARCH -->
                    <div>

                        <div class="input-group no-border">
                            <input
                                type="text"
                                value=""
                                maxlength="10"
                                class="form-control"
                                name="congress_search_string"
                                id="id_congress_search_string"
                                {% if reverse_list %}
                                    placeholder="Search Page..."
                                {% else %}
                                    placeholder="Search Upcoming..."
                                {% endif %}
                            >
                        </div>

                    </div>
                </div>
            </form>

            <div id="events_list"
                hx-post="{% url "events:congress_listing_data_htmx" %}"
                hx-include="[id='events_form']"
                hx-trigger="load, refresh_events"

                {% if reverse_list %}
                    hx-vars="reverse_list:'reverse'"
                {% endif %}
            >
            </div>

        </div>
    </div>

{% endblock content %}

{% block footer %}
    <script src="{% static "assets/js/plugins/bootstrap-selectpicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.cookie.1.4.1.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>

    <script>

        // Show or hide the filter buttons if there are (or aren't) filters set
        function manage_filter_buttons(){
            if ($("#id_state").val() !== "All" || $("#id_congress_type").val() !== "All" || $("#id_congress_venue_type").val() !== "All" || $("#id_congress_search_string").val() !== "") {
                $("#id_filters").show();
            } else {
                $("#id_filters").hide();
            }
        }

        // when something changes we check if we should allow the save filters button to show or not
        function check_save_filter_button(){
            // show unless everything is at defaults:
            if ($("#id_state").val() !== "All" || $("#id_congress_type").val() !== "All" || $("#id_congress_venue_type").val() !== "All" || $("#id_congress_search_string").val() !== "") {
                $("#save_filters").show();
            }else {
                $("#save_filters").hide();
            }
        }

        // clear form
        function clear_form() {
            // update select pickers
            $('select[name=state]').val("All");
            $('select[name=congress_type]').val("All");
            $('select[name=congress_venue_type]').val("All");

            // refresh select pickers
            $('.selectpicker').selectpicker('refresh')

            // update the search field
            $("#id_congress_search_string").val("");

            // refresh data
            htmx.trigger("#events_list", "refresh_events");
            manage_filter_buttons();
        }

        $(document).ready(function () {

            // Activate select pickers
            $('.selectpicker').selectpicker();

            // we don't want the form to be submitted if user hits enter
            $('#events_form').submit(function (evt) {
                evt.preventDefault();
            });

            // if dropdowns change, reload
            $("#id_state, #id_congress_type, #id_congress_venue_type").on("changed.bs.select", function() {
                htmx.trigger("#events_list", "refresh_events");
                manage_filter_buttons();
                check_save_filter_button();
            });

            // if search change, reload
            $("#id_congress_search_string").on("keyup", function() {
                htmx.trigger("#events_list", "refresh_events");
                manage_filter_buttons();
                check_save_filter_button();
            });

            // handle save filters
            $("#save_filters").on("click", function() {

                // get data from page
                const state = $("#id_state").val();
                const congress_type = $("#id_congress_type").val();
                const congress_venue_type = $("#id_congress_venue_type").val();
                const search_string = $("#id_congress_search_string").val();

                // convert to json and add csrf token
                const json_data = {
                    "state": state,
                    "congress_type": congress_type,
                    "congress_venue_type": congress_venue_type,
                    "search_string": search_string,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }

                // save to server
                $.post("{% url "events:save_congress_view_filters_ajax" %}", json_data, function(result) {

                    // notify user
                    swal.fire({ title:"Filters Saved", html: "Your filters have been saved.", icon: "success"});

                    // hide/show buttons
                    $("#delete_filters").show();
                    $("#save_filters").hide();

                });

            });

            // load filters at start up
            $.post("{% url "events:load_congress_view_filters_ajax" %}", {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(result) {

                if (result !== ""){
                    $("#delete_filters").show();

                    // update select pickers
                    $('select[name=state]').val(result.state);
                    $('select[name=congress_type]').val(result.congress_type);
                    $('select[name=congress_venue_type]').val(result.congress_venue_type);

                    // refresh select pickers
                    $('.selectpicker').selectpicker('refresh')

                    // update the search field
                    $("#id_congress_search_string").val(result.search_string);

                    // refresh data
                    htmx.trigger("#events_list", "refresh_events");

                    // check if we should show filter buttons
                    manage_filter_buttons();
                }
            });


            // handle clear filters
            $("#clear_filters").on("click", function() {
                clear_form();
            });

            // handle delete filters
            $("#delete_filters").on("click", function() {
                $.post("{% url "events:clear_congress_view_filters_ajax" %}", {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(result) {
                    clear_form();
                    swal.fire({
                        title: "Filters Removed",
                        html: "Your filters have been removed.",
                        icon: "success"
                    });
                });
            });

        });
    </script>

{% endblock %}
