{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Returns the formatted table data for the congress listing              #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}

<!-- HANDLE NO DATA -->

{% if not month_list %}

    <!-- Different message for forwards and backwards -->
    {% if reverse_list %}
        <h3>You are at the end of the data.</h3>
    {% else %}
        <h3>No data found. Change your filters or search.</h3>
    {% endif %}

{% else %}

    <!-- WE HAVE DATA -->

    {% if reverse_list %}

        <!-- NAVIGATION ICONS -->
        {% include "events/players/congress_listing_data_htmx_buttons.html" %}

        <h2>{{ date_string }}</h2>

    {% endif %}

    {% for month,congresses in month_list.items %}

        <div class="card">
            <div class="card-header card-header-{% cobalt_random_colour %}">
                <h3 class="text-center by-0 my-0 py-0">{{ month }}</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped fixed-congress">
                        <thead>
                            <tr class="text-info">
                                <th style="font-weight: bold;">Start Date</th>
                                <th style="font-weight: bold">Congress</th>
                                <th style="font-weight: bold">State</th>
                                <th style="font-weight: bold">Congress Type</th>
                                <th class="text-center" style="font-weight: bold">Venue Type</th>
                                <th style="font-weight: bold">Organiser</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for congress in congresses %}
                                <tr class="congress-link-row" data-href="{% url "events:view_congress" congress_id=congress.id %}">
                                    <td>{{ congress.start_date }}</td>
                                    <td>{{ congress.name }}</td>
                                    <td>{{ congress.congress_master.org.state }}</td>
                                    <td>
                                        {% if congress.congress_type == "national_gold" %}
                                            <span class="material-icons d-none d-xl-inline" style="color: orange; vertical-align: bottom;font-size: 25px !important;">hotel_class</span>
                                        {% endif %}
                                        {% if congress.congress_type == "state_championship" %}
                                            <span class="material-icons d-none d-xl-inline" style="color: red; vertical-align: bottom;font-size: 25px !important;">star</span>
                                        {% endif %}
                                        {{ congress.get_congress_type_display|title }}
                                    </td>
                                    <td class="text-center">
                                        {% if congress.get_congress_venue_type_display == "Face-to-Face" %}
                                            <span class="material-icons text-primary"
                                                style="vertical-align: bottom;font-size: 25px !important;"
                                                data-toggle="tooltip"
                                                title="This congress is being held Face-to-Face"
                                            >face</span>
                                        {% elif congress.get_congress_venue_type_display == "Online" %}
                                            <span class="material-icons text-success"
                                                style="vertical-align: bottom;font-size: 25px !important;"
                                                data-toggle="tooltip"
                                                title="This congress is being held Online"
                                            >videocam</span>
                                        {% elif congress.get_congress_venue_type_display == "Mixed" %}
                                            <span class="material-icons  text-primary"
                                                style="vertical-align: bottom;font-size: 25px !important;"
                                                data-toggle="tooltip"
                                                title="This congress has both Online and Face-to-Face events"
                                            >face</span>
                                            <span class="material-icons text-success"
                                                style="vertical-align: bottom;font-size: 25px !important;"
                                                data-toggle="tooltip"
                                                title="This congress has both Online and Face-to-Face events"
                                            >videocam</span>
                                        {% elif congress.get_congress_venue_type_display == "Unknown" %}
                                            <span class="material-icons text-info"
                                                style="vertical-align: bottom;font-size: 25px !important;"
                                                data-toggle="tooltip"
                                                title="The convener has not specified a format for this congress"
                                            >help</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ congress.congress_master.org }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endfor %}

    {% if reverse_list %}

        <!-- NAVIGATION ICONS -->
        {% include "events/players/congress_listing_data_htmx_buttons.html" %}

    {% endif %}

    <script>
        $(document).ready(function () {

            // initialise tooltips
            $('[data-toggle="tooltip"]').tooltip()

            // make the whole row clickable for the table
            $(".congress-link-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>

{%endif %}
