{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Main page to view an individual congress details                       #}
{# Has links to enter and view entries                                    #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

{% extends template %}
{% load static %}
{% block animate %}
{% endblock %}
{% block title %} - Congress View{% endblock %}
{% block content %}

    {# We don't use the raw_html yet, but it would allow totally overriding the page #}

    {% if congress.raw_html %}
        {{ congress.raw_html|safe }}
    {% else %}

        <!-- CARD FOR WHOLE PAGE -->

        <!-- COB-782 -->
        <style>
            .card-body {
                color:black
            }
        </style>

        <div class="col-md-12 mx-0 bx-0 px-0">
            <div class="card">

                <!-- CARD HEADER FOR WHOLE PAGE -->

                <div class="card-header card-header-warning">
                    <h2 class="card-title"><a href="#program">{{ congress.name }}<a></h2>
                        <h3>{{ congress.congress_master.org }}</h3>
                        <h3>{{ congress.date_string }}</h3>

                        <!-- CONGRESS ADMIN BUTTONS -->

                        {% if is_admin %}

                            <a class="btn btn-sm btn-success"href="{% url "events:create_congress_wizard" congress_id=congress.id step=2 %}">Edit<a>
                                <a class="btn btn-sm btn-info" href="{% url "events:admin_summary" congress_id=congress.id %}">Manage</a>
                        {% endif %}

                    </div>

                        <!-- CARD BODY FOR WHOLE PAGE -->

                        <div class="card-body table-responsive">

                            <!-- TOP ROW QUICK ACTION BUTTONS -->

                            <div class="row">

                                <div class="col-12 col-md-6">
                                    <div class="text-center">
                                        <a href="#program" style="text-transform: none;" class="btn btn-sm btn-success">
                                            <span style="font-size: 150%;">
                                                Click here to jump to program...
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                {% if congress.contact_email %}
                                    <div class="col-12 col-md-6">
                                        <div class=text-center>
                                            <a href="mailto:{{ congress.contact_email }}?subject={{ congress.name }}"
                                                target="_blank" style="text-transform: none;" class="btn btn-sm btn-rose">
                                                <span style="font-size: 150%;">
                                                    Email Tournament Organiser
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <!-- SPONSORS -->

                            {% if congress.sponsors %}
                                <div class="row">
                                    <div class="card col-lg-10 mx-auto">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title">Sponsors</h4>
                                        </div>
                                        <div class="card-body">
                                            {{ congress.sponsors|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- LATEST NEWS -->

                            {% if congress.latest_news %}
                                <div class="row">
                                    <div class="card col-lg-10 mx-auto">
                                        <div class="card-header card-header-success">
                                            <h4 class="card-title">Latest News</h4>
                                        </div>
                                        <div class="card-body">
                                            {{ congress.latest_news|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- PEOPLE AND LINKS GO ON SAME ROW IF SCREEN IS BIG ENOUGH -->

                            <div class="row">
                                <div class="col-lg-10 mx-auto">

                                    <div class="row">

                                        <!-- PEOPLE -->

                                        <div class=" col-xl-6 col-12 card">
                                            <div class="card-header card-header-warning">
                                                <h4 class="card-title">People</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                {{ congress.people|safe }}
                                                {#                                            <a href="fake_link_to_fix_spacing"></a>#}
                                            </div>
                                        </div>

                                        <!-- LINKS -->

                                        <div class="card col-xl-6 col-12 mx-auto">
                                            <div class="card-header card-header-primary">
                                                <h4 class="card-title">Links</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                {{ congress.links|safe }}
                                                {#                                            <a href="fake_link_to_fix_spacing"></a>#}
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>

                            <!-- BULLETINS -->

                            {% if bulletins %}
                                <a id="bulletins"></a>
                                <div class="row">
                                    <div class="card col-lg-10 mx-auto">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title">Bulletins</h4>
                                        </div>
                                        <div class="card-body table-responsive">
                                            <ul>
                                                {% for bulletin in bulletins %}
                                                    <li><a href="{{ bulletin.document.url }}">{{ bulletin.description }}</a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- DOWNLOADS -->

                            {% if downloads %}
                                <div class="row">
                                    <div class="card col-lg-10 mx-auto">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title">Downloads</h4>
                                        </div>
                                        <div class="card-body table-responsive">
                                            <ul>
                                                {% for download in downloads %}
                                                    <li><a href="{{ download.document.url }}"
                                                        target="_blank">{{ download.description }}</a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            {% endif %}


                            <!-- GENERAL INFO -->

                            <div class="row">
                                <div class="card col-lg-10 mx-auto">
                                    <div class="card-header card-header-danger">
                                        <h4 class="card-title">General Information</h4>
                                    </div>
                                    <div class="card-body table-responsive">
                                        {{ congress.general_info|safe }}
                                    </div>
                                </div>
                            </div>

                            <!-- VENUE LOCATION -->

                            <!-- DON'T SHOW FOR ONLINE CONGRESSES -->

                            {% if congress.get_congress_venue_type_display != "Online" %}

                                <div class="row">
                                    <div class="card col-lg-10 mx-auto">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title">Location - {{ congress.venue_name }}</h4>
                                        </div>
                                        <div class="card-body table-responsive">
                                            {% if congress.venue_location %}
                                                <iframe
                                                    width="100%"
                                                    height="450"
                                                    style="border:0"
                                                    loading="lazy"
                                                    allowfullscreen
                                                    referrerpolicy="no-referrer-when-downgrade"
                                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAXnhnh7zL17kiLo59SnWbTiy4rwoi9VY
                                                    &q={{ congress.venue_location }}">
                                                </iframe>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!-- VENUE TRANSPORT -->

                                {% if congress.venue_transport %}
                                    <div class="row">
                                        <div class="card col-lg-10 mx-auto">
                                            <div class="card-header card-header-info">
                                                <h4 class="card-title">Transport</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                {{ congress.venue_transport|safe }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- VENUE CATERING -->

                                {% if congress.venue_catering %}
                                    <div class="row">
                                        <div class="card col-lg-10 mx-auto">
                                            <div class="card-header card-header-primary">
                                                <h4 class="card-title">Catering</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                {{ congress.venue_catering|safe }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- VENUE ADDITIONAL INFO -->

                                {% if congress.venue_additional_info %}
                                    <div class="row">
                                        <div class="card col-lg-10 mx-auto">
                                            <div class="card-header card-header-warning">
                                                <h4 class="card-title">Venue Additional Information</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                {{ congress.venue_additional_info|safe }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- END IF FOR NOT SHOWING IF ONLINE -->
                            {% else %}
                                <div class="row">
                                    <div class="card col-lg-10 mx-auto">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title">This Congress is being held Online using {{ congress.get_online_platform_display }}</h4>
                                        </div>
                                        <div class="card-body"></div>
                                    </div>
                                </div>

                            {% endif %}

                            <!-- PARTNERSHIP DESK -->

                            {% if congress.allow_partnership_desk %}

                                <div class="col-lg-10 mx-auto" id="partnership-show">
                                    This congress is running a
                                    <button _="on click show #partnership then remove #partnership-show"
                                        class="btn btn-sm btn-rose">
                                        Partnership Desk
                                    </button>
                                </div>
                                <div class="col-lg-10 mx-auto" style="display: none" id="partnership">
                                    <div class="card">
                                        <div class="card-header card-header-warning">
                                            <h4 class="card-title">Partnership Desk</h4>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                Use the partnership desk to find partners or teammates for events
                                                you would like to play in.
                                            </p>
                                            <ul>
                                                {% for program in program_list %}
                                                    {% if program.event_id %}
                                                        <li>
                                                            <a href="{% url "events:view_event_partnership_desk" congress_id=congress.id event_id=program.event_id %}">{{ program.event_name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}

                            <!-- PROGRAM -->
                            <!-- COB-782 -->
                            <style>
                                span.title {
                                    color:black
                                }
                            </style>
                            <div class="row">
                                <div class="card col-lg-10 mx-auto">
                                    <div class="card-header card-header-success">
                                        <h4 class="card-title">Program</h4>
                                        <a name="Program"></a>
                                    </div>
                                    {% if congress.members_only or includes_teams_event %}
                                        <div class="card-body">
                                            {% if congress.members_only %}
                                                <p class="font-weight-bold">Note: Entry to this congress is restricted to members of {{ congress.congress_master.org }}.</p>
                                            {% endif %}
                                            {% if includes_teams_event %}
                                                <p>* For teams events Entry fee per player assumes a team of 4. Amounts will differ for teams of 5 or 6.</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="card-body table-responsive">
                                        <div class="table-responsive">
                                            <table border class="table">
                                                <thead class="text-primary">
                                                    <th id="program">Event</th>
                                                    <th>Entry fee per player</th>
                                                    <th>Day</th>
                                                    <th>Time</th>
                                                    <th>Entries</th>
                                                    <th class="text-center">Action</th>
                                                </thead>
                                                <tbody>
                                                    {% for program in program_list %}
                                                        <tr>
                                                            {{ program.event|safe }}
                                                            {{ program.day|safe }}
                                                            {{ program.time|safe }}
                                                            {{ program.entries_total|safe }}
                                                            {{ program.links|safe }}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {{ congress.additional_info|safe }}

                                        <!-- COB-548 -->
                                        {% if congress.payment_method_bank_transfer and congress.bank_transfer_details %}
                                            <h3>Bank Transfer Details</h3>
                                            {{ congress.bank_transfer_details|safe }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end raw HTML if/else -->
    {% endif %}
{% endblock %}

{% block footer %}
    <script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>

    <script>
        $(document).ready(function () {

            {% if msg %}
                $('html,body').animate({scrollTop: $("#program").offset().top}, 'slow');
                swal.fire({
                    title: "Entry Added",
                    html: "Remember to checkout to complete entry. You can click on the cart at the top right whenever you are ready.",
                    icon: "success"
                });
            {% endif %}

        });
    </script>
{% endblock %}
