{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Entry screen for events - HTMX Version                                 #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

{% extends 'base.html' %}
{% load static %}
{% load cobalt_tags %}

{% block title %} - Enter Event{% endblock %}

{% block content %}

    <!-- WARNING ON SMALL SCREENS -->

    {% include "utils/small_screen_warning_banner.html" %}

    <div class="container">
        <div class="row text-center">

            <!-- MAIN CARD FOR PAGE -->
            <div class="card">

                <!-- MAIN CARD HEADER FOR PAGE -->
                <div class="card-header card-header-primary">

                    <h1>
                        <div class="d-flex justify-content-between">
                            <div>
                                Enter Event
                            </div>
                            <div>
                                <i class="material-icons" id="icon" style="font-size:60px;">edit</i>
                            </div>
                        </div>
                    </h1>

                    <h2>{{ event.event_name }} in {{ congress.name}}</h2>
                    <h3>{{ event.description|default_if_none:"" }}</h3>
                    <h4>{{ event_start.session_date|cobalt_nice_date }} {{ event_start.session_start|cobalt_time }}</h4>
                </div>

                <!-- MAIN CARD BODY FOR PAGE -->
                <div class="card-body mx-lg-auto">
                    <div class="container">

                        <!-- ALERT USER IF THEY HAVE ALREADY ENTERED -->
                        {% if enter_for_another %}
                            <h5>You are placing an entry for someone else</h5>
                            <h5>Click here to <a class="btn btn-sm btn-info" href="{% url "events:edit_event_entry" congress_id=congress.id event_id=event.id %}">Edit Your Own Entry</a></h5>
                        {% endif %}

                        <!-- FORM -->
                        <form method="POST">
                            {% csrf_token %}

                            <!-- OPTIONAL CATEGORIES -->
                            {% if categories %}
                                <label for="id_category">Category</label>
                                <select
                                    required
                                    class="selectpicker"
                                    data-style="btn btn-info"
                                    id="id_category"
                                    name="category">
                                    <option value="">Select...</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            <!-- MAIN ENTRY PART -->
                            <div
                                id="id_players_form"
                                hx-post="{% url "" %}"
                            ></div>

                            {% if event.allow_team_names %}
                                <div class="row">
                                    <label class="col-md-5 col-form-label">Team Name</label>
                                    <div class="col-md-5">
                                        <div class="form-group has-success">
                                            <input type="text"maxlength="15" class="form-control" id="id_team_name" autocomplete="off" name="team_name" value="{{ request.user.last_name }}" style="cursor: auto;">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- OPTIONAL RANDOM QUESTION -->
                            {% if event.free_format_question %}
                                <div class="row">
                                    <label class="col-sm-5 col-form-label">{{ event.free_format_question }}</label>
                                    <div class="col-sm-7">
                                        <div class="form-group has-success">
                                            <input type="text" maxlength="60" class="form-control" id="id_free_format_answer" name="free_format_answer" autocomplete="off" style="cursor: auto;">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- PLAYER SUPPLIED COMMENTS FOR CONVENER -->
                            <div class="row">
                                <label class="col-sm-5 col-form-label">Comments</label>
                                <div class="col-sm-7">
                                    <div class="form-group has-success">
                                        <input type="text" class="form-control" id="id_comment" autocomplete="off" name="comment" style="cursor: auto;">
                                    </div>
                                </div>
                            </div>

                            <!-- ROW OF ACTION BUTTONS -->
                            <div class="row">
                                <div class="col text-center">
                                    <button id="id_checkout" type="submit" name="now"
                                        class="btn btn-success cobalt-save" style="width:200px" disabled>Confirm
                                        and Pay Now
                                    </button>
                                    <button id="id_cart" type="submit" name="cart"
                                        class="btn btn-success cobalt-save" style="width:200px" disabled>Save
                                        and Pay Later
                                    </button>
                                </div>
                            </div>


                        </form>
                        <!-- END FORM -->

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}

    <script src="{% static "assets/js/plugins/bootstrap-selectpicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.cookie.1.4.1.min.js" %}"></script>

{% endblock %}
