{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Entry screen for events                                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}

{% block title %} - Enter Event{% endblock %}

{% block header %}
    <style>

        th, td {
            /*use this property to disable soft wrap*/
            white-space: nowrap;
            /*To make extra certain,add this css property*/
            word-break: keep-all;
        }

        .borderless td, .borderless th {
            border: none;
        }

    </style>
{% endblock %}

{% block content %}

    <!-- WARNING ON SMALL SCREENS -->

    {% include "utils/small_screen_warning_banner.html" %}

    <div class="container">
        <div class="row text-center">

            <!-- MAIN CARD FOR PAGE -->
            <div class="card">

                <!-- MAIN CARD HEADER FOR PAGE -->
                <div class="card-header card-header-primary">

                    <h1>
                        <div class="d-flex justify-content-between">
                            <div>
                                Enter Event
                            </div>
                            <div>
                                <i class="material-icons" id="icon" style="font-size:60px;">edit</i>
                            </div>
                        </div>
                    </h1>

                    <h2>{{ event.event_name }} in {{ congress.name}}</h2>
                    <h3>{{ event.description|default_if_none:"" }}</h3>
                    <h4>{{ event_start.session_date|cobalt_nice_date }} {{ event_start.session_start|cobalt_time }}</h4>
                </div>

                <!-- MAIN CARD BODY FOR PAGE -->
                <div class="card-body mx-lg-auto">
                    <div class="container">

                        <!-- ALERT USER IF THEY HAVE ALREADY ENTERED -->
                        {% if enter_for_another %}
                            <h5>You are placing an entry for someone else</h5>
                            <h5>Click here to <a class="btn btn-sm btn-info" href="{% url "events:edit_event_entry" congress_id=congress.id event_id=event.id %}">Edit Your Own Entry</a></h5>
                        {% endif %}

                        <!-- PLAYER SEARCHES -->

                        <!-- PLAYER 0 -->
                        {% include "utils/generic_user_search_body.html" with search_id=0 %}

                        <!-- OTHERS -->
                        {% for our_form_row in our_form %}
                            {% include "utils/generic_user_search_body.html" with search_id=our_form_row.player_no %}
                        {% endfor %}
                        <!-- END PLAYER SEARCHES -->

                        <!-- FORM -->
                        <form method="POST">
                            {% csrf_token %}

                            <!-- OPTIONAL CATEGORIES -->
                            {% if categories %}
                                <label for="id_category">Category</label>
                                <select
                                    required
                                    class="selectpicker"
                                    data-style="btn btn-info"
                                    id="id_category"
                                    name="category">
                                    <option value="">Select...</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            <!-- MAIN TABLE OF ENTRY ROWS -->

                            <div class="container">
                                <div class="row">
                                    <div class="table-responsive">

                                        <!-- TABLE -->
                                        <table class="table borderless">

                                            <!-- THEAD -->
                                            <thead>
                                                <tr>

                                                    <th class="text-left text-primary">Player</th>
                                                    <th class="text-left text-primary">Payment Method
                                                    </th>
                                                    <th></th>
                                                    <th class="text-right text-primary">Pay Now</th>
                                                    <th class="text-right text-primary">Pending</th>
                                                </tr>
                                            </thead>

                                            <!-- TBODY -->
                                            <tbody>

                                                <!-- TOP ROW = PLAYER 0 -->
                                                <tr>

                                                    <!-- PLAYER NAME - ALLOW IT TO BE CHANGED -->
                                                    <td class="col">
                                                        <div id="div_id_player0">
                                                            <select class="cobalt-playerN selectpicker"
                                                                data-style="btn btn-warning"
                                                                title="Select"
                                                                id="id_player0"
                                                                name="player0">

                                                                <!-- PLAYER NAME IF A PRIMARY ENTRY, OTHERWISE SELECT OPTION -->

                                                                {% if enter_for_another %}

                                                                    <option selected disabled>Select...</option>

                                                                {% else %}

                                                                    <option value="{{ player0.id }}"
                                                                        selected>{{ player0.name }}
                                                                    </option>

                                                                {% endif %}

                                                                {% for val,item in player0.name_choices %}

                                                                    <option value="{{ val }}"
                                                                        {% if our_form_row.name_selected == val %}
                                                                            selected
                                                                        {% endif %}
                                                                    >{{ item }}</option>

                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </td>

                                                    <!-- PAYMENT CHOICES -->
                                                    <td class="col">
                                                        <div>
                                                            <select id="id_player0_payment"
                                                                name="player0_payment"
                                                                {#                                                                style="width: 160px"#}
                                                                class="payment-method selectpicker"
                                                                data-style="btn btn-primary">
                                                                {% for val,item in player0.payment_choices %}
                                                                    <option value="{{ val }}">{{ item }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </td>

                                                    <!-- DISCOUNT ALERT -->
                                                    <td class="col">
                                                        {% if discount %}
                                                            <span class="myHover"
                                                                data-toggle="tooltip"
                                                                title="{{ description }}"
                                                                data-delay="100"
                                                                data-placement="bottom">
                                                                <i class="fas fa-tag"></i>
                                                            </span>
                                                        {% else %}
                                                            &nbsp;
                                                        {% endif %}
                                                    </td>

                                                    <!-- READ ONLY AMOUNT TO PAY NOW -->
                                                    <td class="text-right">
                                                        <input id="fee_0_now"
                                                            class="pay_now text-right"
                                                            type="text"
                                                            size="12"
                                                            readonly
                                                            style="border: none;"
                                                            value="{{ player0.entry_fee_you|cobalt_credits }}">
                                                    </td>

                                                    <!-- READ ONLY AMOUNT TO PAY LATER -->
                                                    <td class="col text-right">
                                                        <input id="fee_0_later"
                                                            class="pay_later text-right"
                                                            type="text"
                                                            size="12"
                                                            readonly
                                                            style="border: none;"
                                                            value="">
                                                    </td>
                                                </tr>

                                                <!-- END TOP ROW = PLAYER 0 -->

                                                <!-- ADDITIONAL PLAYERS -->
                                                {% for our_form_row in our_form %}
                                                    {% include "events/players/enter_event_sub.html" with row=our_form_row %}
                                                {% endfor %}

                                                <!-- TOTALS ROW -->
                                                <tr><td>&nbsp;</td></tr>
                                                <tr>
                                                    <td colspan="3" class="col font-weight-bold" style="text-align: right; padding-right:18px; font-size: larger">
                                                        <b>Total</b>
                                                    </td>
                                                    <td class="col text-right">
                                                        <input id="total_now"
                                                            type="text"
                                                            size="12"
                                                            readonly
                                                            style="border: none; font-size: larger"
                                                            class = "font-weight-bold text-right"
                                                            value="">
                                                    </td>
                                                    <td class="col text-right">
                                                        <input id="total_later"
                                                            type="text"
                                                            size="12"
                                                            style="border: none; font-size: larger"
                                                            readonly
                                                            class = "font-weight-bold text-right"
                                                            value="">
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>

                                {% if event.allow_team_names %}
                                    <div class="row">
                                        <label class="col-md-5 col-form-label">Team Name</label>
                                        <div class="col-md-5">
                                            <div class="form-group has-success">
                                                <input type="text"maxlength="15" class="form-control" id="id_team_name" autocomplete="off" name="team_name" value="{{ request.user.last_name }}" style="cursor: auto;">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- OPTIONAL RANDOM QUESTION -->
                                {% if event.free_format_question %}
                                    <div class="row">
                                        <label class="col-sm-5 col-form-label">{{ event.free_format_question }}</label>
                                        <div class="col-sm-7">
                                            <div class="form-group has-success">
                                                <input type="text" maxlength="60" class="form-control" id="id_free_format_answer" name="free_format_answer" autocomplete="off" style="cursor: auto;">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- PLAYER SUPPLIED COMMENTS FOR CONVENER -->
                                <div class="row">
                                    <label class="col-sm-5 col-form-label">Comments</label>
                                    <div class="col-sm-7">
                                        <div class="form-group has-success">
                                            <input type="text" class="form-control" id="id_comment" autocomplete="off" name="comment" style="cursor: auto;">
                                        </div>
                                    </div>
                                </div>

                                <!-- ROW OF ACTION BUTTONS -->
                                <div class="row">
                                    <div class="col text-center">
                                        <button id="id_checkout" type="submit" name="now"
                                            class="btn btn-success cobalt-save" style="width:200px" disabled>Confirm
                                            and Pay Now
                                        </button>
                                        <button id="id_cart" type="submit" name="cart"
                                            class="btn btn-success cobalt-save" style="width:200px" disabled>Save
                                            and Pay Later
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <!-- END FORM -->

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}

    <script src="{% static "assets/js/plugins/bootstrap-selectpicker.js" %}"></script>
    <script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.cookie.1.4.1.min.js" %}"></script>

    {% include "events/players/enter_event_js_functions.html" %}
    {% include "events/players/enter_event_js_ready_functions.html" %}

{% endblock %}
