{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Javascript document ready functions for event_entry.html               #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<script>
    // Doc Ready
    $(document).ready(function(){

        $('.selectpicker').selectpicker();


        // calculate totals
        totals();

        // show early discount etc msg but only once per congress
        {% if alert_msg %}

            var alert0 = "{{ alert_msg.0 }}";
            var alert0_cookie = alert0.replace(/ /g, "-");

            if (typeof $.cookie(alert0_cookie + '-{{ congress.id }}') === 'undefined') {
                $.cookie(alert0_cookie+ '-{{ congress.id }}', 'set', {
                    expires: 10000,
                    domain: '',
                    path: ''
                });

                swal.fire({
                    title: "{{ alert_msg.0 }}",
                    html: "{{ alert_msg.1 }}",
                    icon: "success"
                })
            }

        {% endif %}

        // init tooltips
        $(".myHover").tooltip();

        // Handle member select
        previous={};
        previous_name={};

        // when player N identity changes get their entry fee and update table
        // $('.cobalt-playerN').change(function(event) {
        //   player_has_changed($(this));
        // });

        $('.cobalt-playerN').on('change', player_has_changed_wrapper);


        // when player payment method changes update totals
        // id of trigger event is id_player(N)_payment
        // we need to change
        $('.payment-method').on('change', payment_has_changed);

        // for teams add row when plus sign clicked
        $('#plus_sign_4').click(function(event){
            event.preventDefault();
            $('#div_id_player4').show();
            $('#fee_4_now').show();
            $('#fee_4_later').show();
            $('#id_player4_paydiv').show();
            $('#plus_5').show();
            $('#plus_4').hide();
            $('#plus_sign_4').hide();
            return false;
        });

        $('#plus_sign_5').click(function(event){
            event.preventDefault();
            $('#div_id_player5').show();
            $('#fee_5_now').show();
            $('#fee_5_later').show();
            $('#id_player5_paydiv').show();
            $('#plus_5').hide();
            return false;
        });

        // for an individual enable the buttons
        {% if event.player_format == "Individual" %}
            $("#id_checkout").prop("disabled", false);
            $("#id_cart").prop("disabled", false);
        {% endif %}


    });
</script>

