{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Shows the entries for a user where they aren't a player.               #}
{#                                                                        #}
{# This allows a user to edit other entries that they make.               #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<!-- RETURN NOTHING IF NO ENTRIES OTHERWISE LINKS TO EDIT THEM -->

{% if entries %}
    <div class="card pt-3 col-lg-6 mx-auto">
        <div class="card-header card-header-danger">
            <h4>You have created other entries to this event</h4>
        </div>
        <div class="card-body">

            <!-- GO THROUGH ALL ENTRIES AND FILTER OUT THIS ONE -->
            {% for entry in entries %}

                <!-- LIST PLAYERS -->
                <div class="text-left">
                    <a class="btn btn-sm btn-primary" href="{% url "events:edit_event_entry" event_entry_id=entry.id %}">Edit</a>

                    {% for event_entry in entry.evententryplayer_set.all %}

                        {{ event_entry.player.full_name }}
                        {%if not forloop.last%},{%endif%}

                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    </div>

{% endif %}
