{% extends 'base.html' %}
{% load static %}
{% load cobalt_tags %}
{% block title %} - View Event Entries{% endblock %}
{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="text-center">
                    <h2>{{ event.event_name|safe }}</h2>
                    <h3>{{ congress }}</h3>
                    <h3>{{ date_string }} - {{ event.denormalised_start_time|cobalt_time }} Start</h3>

                    {% if multiple_start_times %}
                        <h3>This event starts at different times on subsequent days</h3>
                        <div class="table-responsive col-md-6 mx-auto">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for session in sessions %}
                                        <tr>
                                            <td>{{ session.session_date|cobalt_nice_date }}</td>
                                            <td>{{ session.session_start|cobalt_time }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    <h4>{{ entries|length }} entr{{ entries|length|pluralize:"y,ies" }}
                        {% if event.max_entries %}
                            out of a maximum of {{ event.max_entries }}
                        {% endif %}
                    </h4>
                    {% if user_entered %}
                        <a class="btn btn-round btn-secondary btn-sm" style="width: 150px" href="{% url "events:edit_event_entry" event_id=event.id congress_id=congress.id %}">Your Entry</a>
                    {% else %}
                        <a class="btn btn-round btn-secondary btn-sm" style="width: 150px" href="{% url "events:enter_event" event_id=event.id congress_id=congress.id %}">Enter</a>
                    {% endif %}
                    &nbsp;
                    <a class="btn btn-round btn-secondary btn-sm" style="width: 150px" href="{% url "events:view_congress" congress_id=congress.id %}">Congress Details</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div >
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th class="text-left">Entry</th>
                                        <th class="text-left">Status</th>
                                        {% if categories %}
                                            <th>Category</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for entry in entries %}
                                        <tr>
                                            <td class="py-1 text-left">
                                                {% if entry.my_entry %}
                                                    <a class="" href="{% url "events:edit_event_entry" event_id=event.id congress_id=congress.id %}/edit=1">
                                                {% endif %}
                                                {% if event.allow_team_names %}
                                                    <strong>{{ entry.get_team_name }} - </strong>
                                                {% endif %}
                                                {% for player in entry.ordered_event_entry_player %}
                                                    {#                                            {% for player in entry.event_entry_player_all %}#}
                                                    {% if player.player.id == TBA_PLAYER and player.override_tba_name %}<span class="font-italic" title="This name was added by an administrator">{{ player.override_tba_name }}</span>{% else %}{{ player.player.full_name }}{% endif %}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                                {% if entry.my_entry %}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td class="py-1 text-left"">
                                                {{ entry.entry_status }}
                                            </td>

                                            {% if categories %}
                                                <td>
                                                    {{ entry.category }}
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% empty %}
                                        <tr><td colspan="2"><h3>No entries yet</h3></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
