{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} - Congress Wizard Step 2{% endblock %}
{% block header %}
    {% include "events/congress_builder/congress_wizard_include_header.html" %}
{% endblock %}
{% block content %}
    {% include "events/congress_builder/congress_wizard_include_body.html" %}

    <div class="container">
        <a class="btn btn-warning btn-sm" href="{% url "events:manage_congress_download" congress_id=congress.id %}">Manage Download Files</a>
        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h2>General Information</h2>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>{{ congress.congress_master }}</h3>
                            </div>
                        </div>
                        <br>



                        <form method="POST">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-2 justify-content-center align-self-center">
                                    Short Name
                                </div>
                                <div class="col-8">
                                    <div name="slug" class="form-group bmd-form-group">
                                        <input type="text"
                                            value="{{ slug.slug|default_if_none:"" }}"
                                            placeholder="Type name to see if it is available"
                                            class="form-control"
                                            hx-post="{% url "events:check_slug_is_free_htmx" %}"
                                            hx-trigger="keyup changed delay:100ms"
                                            hx-target="#slug-msg"
                                            name="slug"
                                        >
                                        <span class="text-info font-weight-bold font-italic" id="slug-msg"></span>

                                    </div>
                                    {% if slug %}
                                        Short link is <a href="/{{ slug.redirect_path }}">http://{{ COBALT_HOSTNAME }}/{{ slug.slug }}</a>
                                    {% endif %}
                                </div>
                                <div class="col-2 justify-content-center align-self-center">
                                    <a href="javascript:void(0)" onclick='help("Short Name", "You can create a unique shortname for your event which allows you to send links to e.g. <b>myabf.com.au/my_short_name</b> instead of having to use the congress number, e.g. myabf.com.au/events/congress/view/9584");'>help</a>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-2 justify-content-center align-self-center">
                                Congress Type
                            </div>
                            <div class="col-8">
                                <div id="div_id_congress_types" class="form-group">
                                    <span class="cobalt-form-error" id="id_year_errors">{{ form.congress_types.errors|striptags }}</span>
                                    {% render_field form.congress_type class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Congress Type", "Select what type of congress this is.");'>help</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 justify-content-center align-self-center">
                                Contact Email
                            </div>
                            <div class="col-8">
                                <div id="div_id_contact_email" class="form-group">
                                    <span class="cobalt-form-error" id="id_contact_email_errors">{{ form.contact_email.errors|striptags }}</span>
                                    {% render_field form.contact_email class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Contact Email", "This is the address that queries will be directed to.");'>help</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 justify-content-center align-self-center">
                                Year
                            </div>
                            <div class="col-8">
                                <div id="div_id_name" class="form-group">
                                    <span class="cobalt-form-error" id="id_year_errors">{{ form.year.errors|striptags }}</span>
                                    {% render_field form.year class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Congress Year", "The year that this event will take place.");'>help</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 justify-content-center align-self-center">
                                Name
                            </div>
                            <div class="col-8">
                                <div id="div_id_name" class="form-group">
                                    <span class="cobalt-form-error" id="id_name_errors">{{ form.name.errors|striptags }}</span>
                                    {% render_field form.name class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Congress Name", "The name you wish to give this congress. Typically the Congress Master plus the Year.");'>help</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 justify-content-center align-self-center">
                                Dates
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-float" style="font-size:11px">Start</label>
                                    <input type="text" name="start_date" id="id_start_date" class="form-control datepicker" value="{{ form.start_date.value|default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-float" style="font-size:11px">End</label>
                                    <input type="text" name="end_date" id="id_end_date" class="form-control datepicker" value="{{ form.end_date.value|default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Dates", "First and last day of congress.");'>help</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 justify-content-center align-self-center">
                                Date String
                            </div>
                            <div class="col-8">
                                <div id="div_id_date_string" class="form-group">
                                    <span class="cobalt-form-error" id="id_date_string_errors">{{ form.date_string.errors|striptags }}</span>
                                    {% render_field form.date_string class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Date String", "Free format text for the dates of the congress. e.g. 23rd March 2021 to 29th March 2021.");'>help</a>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-10 justify-content-center align-self-center">
                                <h3>People</h3>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("People", "List people and contact details.");'>help</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form.people|as_crispy_field }}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-10 justify-content-center align-self-center">
                                <h3>General Information</h3>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("General Info", "This goes near the top and should describe high level things about the congress.");'>help</a>
                            </div>
                            <div class="col-12">
                                {{ form.general_info|as_crispy_field }}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-10 justify-content-center align-self-center">
                                <h3>Links</h3>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Links", "Here you can add links to useful information. We suggest using a bullet list.");'>help</a>
                            </div>
                            <div class="col-12">
                                {{ form.links|as_crispy_field }}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-10 justify-content-center align-self-center">
                                <h3>Additional Information (footer)</h3>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                <a href="javascript:void(0)" onclick='help("Additional Info", "This is extra info for the bottom of the page if required.");'>help</a>
                            </div>
                            <div class="col-12">
                                {{ form.additional_info|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-info btn-sm cobalt-save">Save/Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
{% block footer %}
    <script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.cookie.1.4.1.min.js" %}"></script>

    {% include "events/congress_builder/congress_wizard_include_footer.html" %}
    {% include "utils/include_htmx.html" %}

    <script>
        function generate_date_string() {

            if ($("#id_start_date").val() != "" & $("#id_end_date").val() != "") {

                var start_day = $('#id_start_date').data("DateTimePicker").viewDate().format("Do");
                var start_month = $('#id_start_date').data("DateTimePicker").viewDate().format("MMMM");
                var start_year = $('#id_start_date').data("DateTimePicker").viewDate().format("YYYY");
                var end_day = $('#id_end_date').data("DateTimePicker").viewDate().format("Do");
                var end_month = $('#id_end_date').data("DateTimePicker").viewDate().format("MMMM");
                var end_year = $('#id_end_date').data("DateTimePicker").viewDate().format("YYYY");
                var end_date = $('#id_end_date').data("DateTimePicker").viewDate().format("Do MMMM YYYY");

                if (start_year == end_year) {
                    start_year = "";
                }

                if (start_month == end_month) {
                    start_month = "";
                } else {
                    start_month = " " + start_month;
                    if (start_year != "") {
                        start_year = " " + start_year;
                    }
                }

                var display_date = start_day + start_month + start_year + " to " + end_date;

                $("#id_date_string").val(display_date);
            }
        }

        $(document).ready(function() {

            $("#id_congress_type").css("position", "revert");
            $('#id_start_date').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            $('#id_end_date').datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });
            $("#id_start_date").on("dp.change", function(e) {
                $('#id_end_date').data("DateTimePicker").minDate(e.date);
            });
            $("#id_end_date").on("dp.change", function(e) {
                $('#id_start_date').data("DateTimePicker").maxDate(e.date);
            });

            $("#id_year").change(function() {
                var name_id = $("#id_name");
                if (name_id.val() == "") {
                    name_id.val("{{ congress.congress_master.name }} " + $("#id_year").val())
                }
            });

            $("#id_start_date").change(function() {
                generate_date_string();
            });

            $("#id_date_string").focus(function() {
                generate_date_string();
            });

            if (typeof $.cookie('congress-previewmsg-{{ congress.id }}') === 'undefined') {
                $.cookie('congress-previewmsg-{{ congress.id }}', 'set', {
                    expires: 10000,
                    domain: '',
                    path: ''
                });

                Swal.fire({
                    title: 'Hint: Preview',
                    html: 'At any time after saving your data you can go to <a href="{% url "events:create_congress_wizard" congress_id=congress.id step=7 %}">Step 7 - Publish</a> to preview your page.',
                });
            }

        });
    </script>
{% endblock %}
