{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-danger">
        <h2>{{ total_members|intcomma }} Member{{ total_members|pluralize }}</h2>
        {% include "organisations/club_menu/members/nav_htmx.html" with selected="add" %}
    </div>
    <div class="card-body" id="id_member_add_tab">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>
                        <button class="btn bg-primary btn-block"
                            id="t_member_add_individual_member"
                            hx-post="{% url "organisations:club_menu_tab_members_add_member_htmx" %}"
                            hx-target="#id_member_add_tab"
                            hx-vars="club_id:{{ club.id }}"
                        >Add Member</button>
                    </td>
                    <td class="text-left pl-5">
                        Add a member to the club
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn bg-primary btn-block"
                            id="t_member_add_individual_un_reg"
                            hx-post="{% url "organisations:club_menu_tab_members_add_un_reg_htmx" %}"
                            hx-target="#id_member_add_tab"
                            hx-vars="club_id:{{ club.id }}"
                        >Add Unregistered</button>
                    </td>
                    <td class="text-left pl-5">
                        Add a user who isn't registered with {{ GLOBAL_TITLE }} yet
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn bg-primary btn-block"
                            id="t_mpc_import"
                            hx-post="{% url "organisations:club_menu_tab_members_import_mpc_htmx" %}"
                            hx-target="#id_member_add_tab"
                        >MPC Import</button>
                    </td>
                    <td class="text-left pl-5">
                        Import members directly from the Masterpoints Centre
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn bg-primary btn-block"
                            hx-post="{% url "organisations:club_menu_tab_members_upload_csv" %}"
                            hx-target="#id_member_add_tab"
                        >CSV Upload</button>
                    </td>
                    <td class="text-left pl-5">
                        Upload your membership list in various formats
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
