{% load static %}
{% load cobalt_tags %}
<div class="container">
    <div class="row">
        <div class="card col-md-8">
            <div class="card-header card-header-info">
                <h2 class="text-center">Member Search</h2>
            </div>

            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text"
                                    id="id_member_last_name_search"
                                    name="member_last_name_search"
                                    placeholder="Last Name"
                                    class="form-control"
                                    hx-post="{% url "organisations:club_menu_tab_members_add_member_search_htmx" %}"
                                    hx-trigger="keyup changed delay:100ms"
                                    hx-target="#add-member-search-results"
                                    hx-include="[id='id_member_first_name_search']"
                                    hx-vars="club_id: {{ club.id }}"
                                    autofocus="autofocus"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text"
                                    id="id_member_first_name_search"
                                    name="member_first_name_search"
                                    placeholder="First Name"
                                    class="form-control"
                                    hx-post="{% url "organisations:club_menu_tab_members_add_member_search_htmx" %}"
                                    hx-trigger="keyup changed delay:100ms"
                                    hx-target="#add-member-search-results"
                                    hx-include="[id='id_member_last_name_search']"
                                    hx-vars="club_id: {{ club.id }}"
                                >
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" id="add-member-search-results"></div>

    {#---------------------------------------------------------------------------------#}
    {# This modal is used to add a Cobalt member to the club if picked from the search #}
    <div id="add_member_modal">

        <div class="modal fade" id="id_member_add_modal" tabindex="-1" role="dialog" aria-labelledby="addMemberModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="material-icons">how_to_reg</i>&nbsp;&nbsp;Add <span id="id_member_add_modal_title_name"></span> as a Member</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="$('.modal-input').val(''); $('.name-match').html(''); $('.modal').modal('hide');"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Add <span id="id_member_add_modal_name"></span> as a member of {{ club }}.

                        They are already registered for My ABF, so they already manage their personal
                        details in their profile, and you can contact them using those.

                        <form
                            hx-post="{% url "organisations:club_menu_tab_members_add_member_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#id_panel_members"
                        >

                            <br>
                            <input type="hidden" name="system_number" id="id_add_member_system_number">
                            <div class="col-12 form-group ">
                                <label for="membership_type" class="bmd-label-static">Membership Type
                                </label>
                                {% cobalt_bs4_field member_form.membership_type %}
                            </div>
                            <br>
                            {% if welcome_pack %}
                                <br>
                                <div class="col-12 form-group ">
                                    {% cobalt_bs4_field member_form.send_welcome_email %}
                                </div>
                                <br>
                            {% endif %}
                            <button class="btn btn-sm btn-success" onclick="$('.modal').modal('hide');">Add Member</button>
                            <button type="reset" class="btn btn-sm btn-info" data-dismiss="modal" aria-label="Close"
                                onclick="$('.modal-input').val(''); $('.name-match').html(''); $('.modal').modal('hide');"
                            >Cancel
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#---------------------------------------------------------------------------------#}


    {#---------------------------------------------------------------------------------#}
    {# This modal is used to add an unregistered Cobalt member to the club if picked from the search #}
    {# this could be a new person from MPC or someone who is already an unregistered member in Cobalt #}
    <div id="id_un_reg_add_modal_parent">

        <div class="modal fade" id="id_un_reg_add_modal" tabindex="-1" role="dialog" aria-labelledby="addMemberModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="material-icons">how_to_reg</i>&nbsp;&nbsp;Add <span id="id_un_reg_add_modal_title_name"></span> as an Unregistered Member</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="$('.modal-input').val(''); $('.name-match').html(''); $('.modal').modal('hide');"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Add <span id="id_member_add_un_reg_name"></span> as a member of {{ club }}.
                        They are not
                        yet registered for {{ GLOBAL_TITLE }} but you can invite them to join. As an unregistered
                        member of your club, you can manage them fine, but they will not be able to enter events
                        or view results or other information.

                        <form
                            id="add_un_reg_form"
                            hx-post="{% url "organisations:club_menu_tab_members_add_un_reg_htmx" %}"
                            hx-vars="club_id:{{ club.id }}"
                            hx-target="#id_panel_members"
                        >

                            <br>
                            <input type="hidden" name="system_number" id="id_add_un_reg_system_number">
                            <input type="hidden" name="first_name" id="id_add_un_reg_first_name">
                            <input type="hidden" name="last_name" id="id_add_un_reg_last_name">
                            <div class="col-12 form-group ">
                                <label for="membership_type" class="bmd-label-static">Membership Type
                                </label>
                                {% cobalt_bs4_field un_reg_form.membership_type %}
                            </div>
                            <br>
                            <br>
                            {#  Optional fields - show form field if MPC #}
                            {#                            <div id="modal_mpc_email_mpc_div" class="col-12 form-group ">#}
                            {#                                {% cobalt_bs4_field un_reg_form.mpc_email %}#}
                            {#                            </div>#}
                            {#                            <div id="modal_mpc_email_un_reg_div" class="col-12 form-group ">#}
                            {#                                <span id="id_mpc_email_read_only"></span>#}
                            {#                            </div>#}


                            <div class="col-12 form-group ">
                                {% cobalt_bs4_field un_reg_form.club_email %}
                            </div>

                            {% if welcome_pack %}

                                <div class="col-12 form-group ">
                                    {% cobalt_bs4_field un_reg_form.send_welcome_email %}
                                </div>

                            {% endif %}

                            <br>
                            <button class="btn btn-sm btn-success" id="t_add_unreg_member" onclick="$('#add_un_reg_form').validate();$('.modal').modal('hide');">Add Member</button>
                            <button type="reset" class="btn btn-sm btn-info" data-dismiss="modal" aria-label="Close"
                                onclick="$('.modal-input').val(''); $('.name-match').html(''); $('.modal').modal('hide');"
                            >Cancel
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {#---------------------------------------------------------------------------------#}

</div>

<script>
    function user_type_help(title, html){
        html += "<br><br>There are three possible types of user listed here:<br><br>" +
        "<span style=\"text-align: left;\">" +
        "<ul>" +
        "<li><b>Registered</b> - User has signed up for {{ GLOBAL_TITLE }}.</li>" +
        "<li><b>Unregistered</b> - User has not signed up for {{ GLOBAL_TITLE }}, " +
        "but a club administrator has added them to the system. " + "" +
        "Unregistered users cannot use {{ GLOBAL_TITLE }} but can be set up as club members for administrative purposes.</li>" +
        "<li><b>MPC</b> - User is a valid {{ GLOBAL_ORG }} member but has not been set " + "" +
        "up in {{ GLOBAL_TITLE }} yet. You can add them and they will become an unregistered user.</li>" +
        "</ul><span>"
        swal.fire({ title:title, html: html, icon: "info"})
        return false;
    }

    function show_add_member_modal(system_number, first_name, last_name){
        // update the details in the member add modal and show it
        $('#id_add_member_system_number').val(system_number);
        $('#id_member_add_modal_title_name').text(first_name + " " + last_name);
        $('#id_member_add_modal_name').text(first_name + " " + last_name);
        $('#id_member_add_modal').modal('show');
    }

    function show_add_mpc_modal(system_number, first_name, last_name, mpc_email, is_mpc=true){
        // update the details in the un registered add modal and show it
        // this is for MPC users. We do exactly the same thing for Unregistered users
        // except they can't edit the mpc_email field
        $('#id_add_un_reg_system_number').val(system_number);
        $('#id_mpc_email').val(mpc_email);
        $('#id_un_reg_add_modal_title_name').text(first_name + " " + last_name);
        $('#id_member_add_un_reg_name').text(first_name + " " + last_name);
        $('#id_add_un_reg_first_name').val(first_name);
        $('#id_add_un_reg_last_name').val(last_name);
        // If user is already registered, show a different div in the modal
        if (is_mpc === true) {
            $("#modal_mpc_email_mpc_div").show();
            $("#modal_mpc_email_un_reg_div").hide();
        } else {
            $("#modal_mpc_email_mpc_div").hide();
            $("#modal_mpc_email_un_reg_div").show();
            if (mpc_email === ""){
                $('#id_mpc_email_read_only').text("No email found for this person");
            } else {
                $('#id_mpc_email_read_only').html("Email is already set to: <b>" + mpc_email + "</b>. You can override this below if you wish.");
            }
        }
        $('#id_un_reg_add_modal').modal('show');
    }

    function show_add_un_reg_modal(system_number, first_name, last_name, mpc_email){
        // update the details in the un registered add modal and show it
        // Same form as for MPC users, just don't show the email edit form
        show_add_mpc_modal(system_number, first_name, last_name, mpc_email, false)
    }
</script>

