{% load cobalt_tags %}
{% load static %}

<p>
    Auto payment of club membership fees for {{ club.name }} were processed for {{ today }}.
</p>

{% if paid_memberships %}

    <p>
        {% if paid_memberships|length == 1 %}
            1 membership fee auto payment was
        {% else %}
            {{ paid_memberships|length }} membership fee auto payments were
        {% endif %}
        charged successfully, with total fees of {{ total_collected|cobalt_number }}.
    </p>

    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Member</th>
                <th style="text-align: left;">Membership</th>
                <th style="text-align: right;">Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in paid_memberships %}

                <tr>
                    <td style="text-align: left;">
                        {{ membership.user_or_unreg_or_unreg.first_name }} {{ membership.user_or_unreg.last_name }}
                        ({{ GLOBAL_ORG }} No {{ membership.user_or_unreg.system_number }})
                    </td>
                    <td style="text-align: left;">
                        {{ membership.membership_type.name }} {{ membership.period }}
                    </td>
                    <td style="text-align: right;">
                        {{ membership.fee|cobalt_number }}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <br>

{% else %}

    <p>No membership fee auto payments were successful.</p>

{% endif %}


{% if failed_memberships %}
    <p>
        {% if failed_memberships|length == 1 %}
            1 membership fee auto payment was
        {% else %}
            {{ failed_memberships|length }} membership fee auto payments were
        {% endif %}
        unsuccessful. Auto payment of these fees will be attempted again tomorrow.
    </p>

    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Member</th>
                <th style="text-align: left;">Membership</th>
                <th style="text-align: right;">Fee</th>
                <th>Issue</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in failed_memberships %}

                <tr>
                    <td style="text-align: left;">
                        {{ membership.user_or_unreg.first_name }} {{ membership.user_or_unreg.last_name }}
                        ({{ GLOABL_ORG }} No {{ membership.user_or_unreg.system_number }})
                    </td>
                    <td style="text-align: left;">
                        {{ membership.membership_type.name }} {{ membership.period }}
                    </td>
                    <td style="text-align: right;">
                        {{ membership.fee|cobalt_number }}
                    </td>
                    <td>
                        {{ membership.message }}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}

{% if blocked_memberships %}
    <p>
        The following members have disallowed auto payment of their fees. Auto payment will not be attempted again for these membership fees.
    </p>

    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Member</th>
                <th style="text-align: left;">Membership</th>
                <th style="text-align: right;">Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in blocked_memberships %}

                <tr>
                    <td style="text-align: left;">
                        {{ membership.user_or_unreg.first_name }} {{ membership.user_or_unreg.last_name }}
                        ({{ GLOBAL_ORG }} No {{ membership.user_or_unreg.system_number }})
                    </td>
                    <td style="text-align: left;">
                        {{ membership.membership_type.name }} {{ membership.period }}
                    </td>
                    <td style="text-align: right;">
                        {{ membership.fee|cobalt_number }}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}

{% if unreg_memberships %}
    <p>
        The following members are not registered with My ABF so are not eligible for auto
        pay at this time. Auto payment will not be attempted again for these membership fees.
    </p>

    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Member</th>
                <th style="text-align: left;">Membership</th>
                <th style="text-align: right;">Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in unreg_memberships %}

                <tr>
                    <td style="text-align: left;">
                        {{ membership.user_or_unreg.first_name }} {{ membership.user_or_unreg.last_name }}
                        ({{ GLOBAL_ORG }} No {{ membership.user_or_unreg.system_number }})
                    </td>
                    <td style="text-align: left;">
                        {{ membership.membership_type.name }} {{ membership.period }}
                    </td>
                    <td style="text-align: right;">
                        {{ membership.fee|cobalt_number }}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endif %}
