<!--
View for extending an existing membership
This will be rendered in the action pane of the club admin edit member window
-->
{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<div class="card-body">
    <div class="card mt-5">
        <div class="card-header card-header-primary">
            Make a Membership Payment
        </div>
        <div class="container">
            <div class="card-body">
                <form
                    hx-post="{% url 'organisations:club_admin_edit_member_payment_htmx' %}"
                    hx-vars='{ "club_id": {{ club.id }}, "system_number": {{ system_number }}, "save": "YES" }'
                    hx-target="#id_action_pane"
                >
                    {% csrf_token %}

                    {% if message %}
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <h3 class="text-danger">{{ message }}</h3>
                            </div>
                        </div>
                    {% endif %}

                    <p>
                        Making a payment of {{ membership.fee }} for membership type: {{ membership.membership_type.name }},
                        {% if membership.end_date %}
                            for the period {{ membership.start_date }} to {{ membership.end_date }}
                        {% else %}
                            starting {{ membership.start_date }}
                        {% endif %}
                    </p>

                    <div class="row pb-2">

                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Payment method
                        </div>
                        <div class="col-3">
                            <div id="div_id_payment_method" class="form-group">
                                <span class="cobalt-form-error" id="id_is_paid_errors">
                                    {{ form.payment_method.errors|striptags }}
                                </span>
                                {% render_field form.payment_method class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col">
                            <button
                                type="Save"
                                id="id-pay-button"
                                class="btn btn-sm btn-success cobalt-save"
                            >
                                Pay
                            </button>
                        </div>
                        <div class="col text-right">
                            <button
                                class="btn btn-sm btn-info"
                                hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                hx-vars="club_id:{{ club.id }}, system_number:{{ system_number }}, message:'', save:'NO'"
                                hx-target="#id_panel_members"
                                hx-trigger="click"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    // set up to change date and fees when the membership type selection changes
    function initialiseHTMXForm() {

        console.log("-- initialiseHTMXForm make a payment --")

        $('select[name="payment_method"]').on('change', function() {
            var paymentMethod = this.options[this.selectedIndex].text;
            if (paymentMethod == 'Bridge Credits') {
                $('#id-pay-button').text("Pay");
            } else {
                $('#id-pay-button').text("Mark as Paid");
            }
        });

        console.log("--- sending initising change events ---")

        // Trigger change event on page load to set initial values
        $('select[name="payment_method"]').trigger('change');
    };

</script>
