<!--
An activity option button used in the member activity nav bar
Use include with:
    activity_name : email, tags etc
    endpoint_name : 'organisations:club_admin_activity_<activity_name>_htmx' 
-->

<button
    {% if activity_selected == activity_name %}
        class="btn btn-sm bg-light text-dark"
    {% else %}
        class="btn bg-transparent"
        style="outline: 0; outline-offset: 0; box-shadow: none;"
    {% endif %}
    hx-post="{% url endpoint_name %}"
    hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}"
    hx-target="#id-activity-card"
>
    {{ activity_name }}
</button>
