{#------------------------------------------------------------------------#}
{#                                                                        #}
{#  Club Admin - Edit Member Page, htmx version                           #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% include "utils/summernote_heading.html" %}

<div class="card" style="min-height: 800px; height: auto">

    <!-- SUB-LEVEL NAVIGATION -->

    <div class="card-header card-header-info">
        <h2>Members</h2>
        {% include "organisations/club_menu/members/nav_htmx.html" with selected="list" %}
    </div>

    <div class="card-body" id="id_member_edit_tab">

        <div class="text-center">
            <h2>{{ member_details.first_name }} {{ member_details.last_name }} - {{ GLOBAL_ORG }}:{{ member_details.system_number }} ({{ club }})</h2>

            {% if message %}
                <h3 class="text-danger">{{ message }}</h3>
            {% endif %}
        </div>

        <!-- MEMBERSHIP DETAILS -->

        <div class="card mt-5">
            <div class="card-header card-header-warning">
                Membership Details
            </div>
            <div class="container">
                <div class="card-body">

                    <div class="row">
                        <div class="col-10">
                            <h4>{{ member_description }}</h4>
                        </div>
                        <div class="col text-right">
                            <button
                                class="btn btn-sm btn-info"
                                id="id-history-button"
                                data-toggle="collapse"
                                data-target="#id-history-table"
                                aria-expanded="false"
                                aria-controls="myTable"
                            >
                                Show history
                            </button>
                        </div>
                    </div>

                    <!-- MEMBERSHIP HISTORY TABLE -->

                    <div class="collapse" id="id-history-table">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-left">Type</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-left">Start</th>
                                        <th class="text-left">Fee</th>
                                        <th class="text-left">Due</th>
                                        <th class="text-left">Paid Unit</th>
                                        <th class="text-left">End</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mmt in member_history %}
                                        <tr
                                            {% if forloop.first %}
                                                class="font-weight-bold"
                                            {% else %}
                                                class="text-muted"
                                            {% endif %}
                                        >
                                            <td class="text-left">{{ mmt.membership_type.name }}</td>
                                            <td class="text-left">{{ mmt.get_membership_state_display }}</td>
                                            <td class="text-left">{{ mmt.start_date }}</td>
                                            {% if mmt_fee %}
                                                <td class="text-left {% if forloop.first and mmt.paid_until_date != mmt.end_date %} text-danger{% endif %}">
                                                    {{ mmt.fee }}
                                                </td>
                                            {% else %}
                                                <td class="text-left">-</td>
                                            {% endif %}
                                            <td class="text-left">
                                                {% if mmt.due_date %}
                                                    {{ mmt.due_date }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-left">
                                                {% if mmt.paid_until_date %}
                                                    {{ mmt.paid_until_date }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-left">
                                                {% if mmt.end_date %}
                                                    {{ mmt.end_date }}
                                                {% else %}
                                                    Perpetual
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- ACTION BUTTONS -->

                    <div class="row" id="id_action_pane">
                        <div class="col">

                            {% if 'change_status' in valid_actions %}

                                <!-- CHANGE STATUS DROPDOWN -->

                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Change Status
                                    </button>
                                    <div class="dropdown-menu">

                                        <!-- LAPSED -->
                                        {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='lapsed' label='Lapsed' %}

                                        <!-- RESIGNED -->
                                        {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='resigned' label='Resigned' %}

                                        <!-- TERMINATED-->
                                        {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='terminated' label='Terminated' %}

                                        <!-- DECEASED-->
                                        {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='deceased' label='Deceased' %}
                                    </div>
                                </div>
                            {% endif %}

                            <!-- PAID -->
                            {% include 'organisations/club_menu/members/club_admin_edit_member_action_button.html' with action_name='paid' label='Mark as Paid' %}

                            <!-- EXTEND-->
                            {% if 'extend' in valid_actions %}
                                <button
                                    class="btn btn-sm btn-primary"
                                    hx-post="{% url 'organisations:club_admin_edit_member_extend_htmx' %}"
                                    hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}"
                                    hx-target="#id_action_pane"
                                >
                                    Extend Membership
                                </button>
                            {% endif %}

                            <!-- CHANGE-->
                            {% if 'change' in valid_actions %}
                                <button
                                    class="btn btn-sm btn-primary"
                                    hx-post="{% url 'organisations:club_admin_edit_member_change_htmx' %}"
                                    hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}"
                                    hx-target="#id_action_pane"
                                >
                                    Change Membership Type
                                </button>
                            {% endif %}

                            <!-- REINSTATE-->
                            {% include 'organisations/club_menu/members/club_admin_edit_member_action_button.html' with action_name='reinstate' label='Reinstate previous status' %}

                            <!-- DELETE-->
                            {% include 'organisations/club_menu/members/club_admin_edit_member_action_button.html' with action_name='delete' label='Delete' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MEMBER DETAILS -->

        <div class="card mt-5">
            <div class="card-header card-header-warning">
                Member Details
            </div>
            <div class="container">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <!-- EMAIL -->
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                Email
                            </div>
                            <div class="col-8">
                                <div id="div_id_email" class="form-group">
                                    <span class="cobalt-form-error" id="id_email_errors">
                                        {{ form.email.errors|striptags }}
                                    </span>
                                    {% render_field form.email class+="form-control" %}
                                </div>
                            </div>
                        </div>
                        {% if member_details.email_hard_bounce %}
                            <div class="row pb-2">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    Warning - this email address bounced!
                                </div>
                            </div>
                        {% endif %}

                        <!-- MOBILE AND OTHER PHONE -->
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center">
                                Mobile
                            </div>
                            <div class="col-3">
                                <div id="div_id_mobile" class="form-group">
                                    <span class="cobalt-form-error" id="id_mobile_errors">
                                        {{ form.mobile.errors|striptags }}
                                    </span>
                                    {% render_field form.mobile class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                Other phone
                            </div>
                            <div class="col-3">
                                <div id="div_id_other_phone" class="form-group">
                                    <span class="cobalt-form-error" id="id_other_phone_errors">
                                        {{ form.other_phone.errors|striptags }}
                                    </span>
                                    {% render_field form.other_phone class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <!-- ADDRESS 1 -->
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                Address 1
                            </div>
                            <div class="col-8">
                                <div id="div_id_address1" class="form-group">
                                    <span class="cobalt-form-error" id="id_address1_errors">
                                        {{ form.address1.errors|striptags }}
                                    </span>
                                    {% render_field form.address1 class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <!-- ADDRESS 2 -->
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center">
                                Address 2
                            </div>
                            <div class="col-8">
                                <div id="div_id_address2" class="form-group">
                                    <span class="cobalt-form-error" id="id_address2_errors">
                                        {{ form.address2.errors|striptags }}
                                    </span>
                                    {% render_field form.address2 class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <!-- STATE POSTCODE -->
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center">
                                State
                            </div>
                            <div class="col-3">
                                <div id="div_id_state" class="form-group">
                                    <span class="cobalt-form-error" id="id_state_errors">
                                        {{ form.state.errors|striptags }}
                                    </span>
                                    {% render_field form.state class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                Postcode
                            </div>
                            <div class="col-3">
                                <div id="div_id_postcode" class="form-group">
                                    <span class="cobalt-form-error" id="id_postcode_errors">
                                        {{ form.postcode.errors|striptags }}
                                    </span>
                                    {% render_field form.postcode class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <!-- DOB AND CLUB NUMBER -->
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center">
                                Date of birth
                            </div>
                            <div class="col-3">
                                <div id="div_id_dob" class="form-group">
                                    <span class="cobalt-form-error" id="id_dob_errors">
                                        {{ form.dob.errors|striptags }}
                                    </span>
                                    {% render_field form.dob class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-2 justify-content-center align-self-center">
                                Club membership number
                            </div>
                            <div class="col-3">
                                <div id="div_id_club_membership_number" class="form-group">
                                    <span class="cobalt-form-error" id="id_club_membership_number_errors">
                                        {{ form.club_membership_number.errors|striptags }}
                                    </span>
                                    {% render_field form.club_membership_number class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <!-- EMERGENCY CONTACT -->
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center">
                                Emergency contact
                            </div>
                            <div class="col-8">
                                <div id="div_id_emergency_contact" class="form-group">
                                    <span class="cobalt-form-error" id="id_emergency_contact_errors">
                                        {{ form.emergency_contact.errors|striptags }}
                                    </span>
                                    {% render_field form.emergency_contact class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <!-- NOTES -->
                        <div class="row pb-2">
                            <div class="col-12 my-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating" for="id_notes">
                                        Notes
                                    </label>
                                    {% cobalt_bs4_field form.notes no_label=True %}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success cobalt-save">Save</button>
                    </form>
                </div>
            </div>

        </div>

        <!-- MEMBER ACTIVITY -->

        <div class="card mt-5" id="id-activity-card">
            {% include "organisations/club_menu/members/club_admin_member_activity_nav_htmx.html" with activity_selected="NONE" %}
            <div class="card-body">
                Select a category to view
            </div>
        </div>

        <!-- CHANGE HISTORY -->

        <div class="card mt-5">
            <div class="card-header card-header-warning">
                Change History
            </div>
            <div class="container">
                <div class="card-body">

                    {% if log_history %}
                        <!-- LOG HISTORY TABLE -->

                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-left">Date</th>
                                        <th class="text-left">Description</th>
                                        <th class="text-left">By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in log_history %}
                                        <tr>
                                            <td class="text-left">{{ log.date }}</td>
                                            <td class="text-left">{{ log.description }}</td>
                                            <td class="text-left">{{ log.actor }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        No changes have been made
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function() {

        // change the text on the history table toggle button when pressed
        $('#id-history-button').click(function() {
            var button = $(this);
            var target = $(button.data('target'));

            // Wait for the collapse animation to finish before changing the button text
            target.on('shown.bs.collapse', function () {
                button.text('Hide History');
            });
            target.on('hidden.bs.collapse', function () {
                button.text('Show History');
            });
        });
    });

    document.addEventListener('htmx:afterSettle', function(event) {

        if (event.detail.target.id === 'id_action_pane') {
            // hook for any initialisation required for the form entry in the action pane
            initialiseHTMXForm();
        }
    });

</script>
