{#------------------------------------------------------------------------#}
{#                                                                        #}
{#  Club Admin - Edit Member Page, htmx version                           #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% include "utils/summernote_heading.html" %}

<div class="card" style="min-height: 800px; height: auto">

    <!-- SUB-LEVEL NAVIGATION -->

    <div class="card-header card-header-info">
        <h2>Members</h2>
        {% include "organisations/club_menu/members/nav_htmx.html" with selected="list" %}
    </div>

    <div class="card-body" id="id_member_edit_tab">

        <div class="text-center">
            <h2>{{ member_details.first_name }} {{ member_details.last_name }} - {{ GLOBAL_ORG }}:{{ member_details.system_number }}</h2>

            {% if message %}
                <h3
                    class="text-danger"
                >
                    {{ message }}
                </h3>
            {% endif %}
        </div>

        <!-- SHOW ANY PLAYER DEBTS -->

        {% if user_pending_payments %}
            <div class="card mt-5" id="id_outstanding_debt">
                <div class="card-header card-header-danger d-flex justify-content-between align-items-center">
                    <div>
                        <h3>Outstanding Debts</h3>
                    </div>
                    <div>
                        <span class="align-left text-white"
                            _="on click toggle .d-none on #id_outstanding_debt"
                            style="cursor: pointer"
                        ><i class="material-icons">close</i></span>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive align-content-center">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-primary text-left">Club</th>
                                    <th class="text-primary text-left">Description</th>
                                    <th class="text-primary text-left">Date</th>
                                    <th class="text-primary text-center">Amount</th>
                                    <th class="text-primary">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_pending_payment in user_pending_payments %}
                                    <tr>

                                        <td class="text-left">{{ user_pending_payment.organisation }}</td>
                                        <td class="text-left">{{ user_pending_payment.description }}</td>
                                        <td class="text-left">{{ user_pending_payment.created_at|cobalt_nice_datetime_short }}</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ user_pending_payment.amount|floatformat:2 }}</td>
                                        <td class="text-primary">

                                            {% if user_pending_payment.can_delete %}

                                                {% include "utils/htmx_confirm_modal.html" with id=user_pending_payment.id delete_message="Cancel this debt" delete_button="Cancel Debt" hx_target="#id_panel_members" hx_post=user_pending_payment.hx_delete hx_vars=user_pending_payment.hx_vars %}
                                                <button id="{{ user_pending_payment.id }}" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user_pending_payment.id }}">Cancel Debt</button>

                                            {% endif %}

                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        {% endif %}


        {% if club.full_club_admin %}

            <!-- MEMBERSHIP DETAILS -->

            <div class="card mt-5">
                <div class="card-header card-header-warning">
                    Membership Details
                </div>
                <div class="container">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-10 text-center">
                                <h4>{{ member_description }}</h4>
                            </div>
                            <div class="col text-right">
                                <button
                                    class="btn btn-sm btn-info"
                                    hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                    hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}, save: 'NO', edit: 'NO', show_history: {% if show_history %}'NO'{% else %}'YES'{% endif %}"
                                    hx-target="#id_panel_members"
                                >
                                    {{ show_history|yesno:"Hide detail,Show detail" }}
                                </button>
                            </div>
                        </div>

                        <!-- MEMBERSHIP HISTORY TABLE -->

                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-left">Type</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-left">From</th>
                                        <th class="text-left">To</th>
                                        <th class="text-center">Fee</th>
                                        <th class="text-left">Paid by</th>
                                        <th class="text-left">Due</th>
                                        {% if member_admin and show_history %}
                                            <th class="text-center">Manual Override</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mmt in member_history %}
                                        {% if show_history or forloop.counter0 <= current_index %}
                                            {% include "organisations/club_menu/members/club_admin_edit_member_history_row.html" %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% if current_index > 0 %}
                            <p class="small">Note: This member has a future dated membership which limits what can be done to the current membership. The future dated membership can be deleted if no longer required.</p>
                        {% endif %}

                        <!-- ACTION BUTTONS -->

                        <div class="row" id="id_action_pane">
                            <div class="col">

                                <span
                                    class="font-weight-bold mr-3"
                                >
                                    Actions:
                                </span>

                                {% if 'change_status' in valid_actions %}

                                    <!-- CHANGE STATUS DROPDOWN -->

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Change Status
                                        </button>
                                        <div class="dropdown-menu">

                                            <!-- LAPSED -->
                                            {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='lapsed' label='Lapsed' %}

                                            <!-- RESIGNED -->
                                            {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='resigned' label='Resigned' %}

                                            <!-- TERMINATED-->
                                            {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='terminated' label='Terminated' %}

                                            <!-- DECEASED-->
                                            {% include 'organisations/club_menu/members/club_admin_edit_member_status_button.html' with action_name='deceased' label='Deceased' %}
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- PAID -->
                                {% if 'paid' in valid_actions %}
                                    <button
                                        class="btn btn-sm btn-primary"
                                        hx-post="{% url 'organisations:club_admin_edit_member_payment_htmx' %}"
                                        hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}"
                                        hx-target="#id_action_pane"
                                    >
                                        Make Payment
                                    </button>
                                {% endif %}

                                <!-- EXTEND-->
                                {% if 'extend' in valid_actions %}
                                    <button
                                        class="btn btn-sm btn-primary"
                                        hx-post="{% url 'organisations:club_admin_edit_member_extend_htmx' %}"
                                        hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}"
                                        hx-target="#id_action_pane"
                                    >
                                        Renew Membership
                                    </button>
                                {% endif %}

                                <!-- CHANGE-->
                                {% if 'change' in valid_actions %}
                                    <button
                                        class="btn btn-sm btn-primary"
                                        hx-post="{% url 'organisations:club_admin_edit_member_change_htmx' %}"
                                        hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}"
                                        hx-target="#id_action_pane"
                                    >
                                        Change Membership Type
                                    </button>
                                {% endif %}

                                <!-- REINSTATE-->
                                {% include 'organisations/club_menu/members/club_admin_edit_member_action_button.html' with action_name='reinstate' label='Reinstate previous status' %}

                                <!-- DELETE-->
                                {% if 'delete' in valid_actions %}
                                    <button
                                        type="submit"
                                        class="btn btn-sm btn-primary"
                                        onclick="confirmDeleteMember(this, '#id_panel_members')"
                                    >
                                        Delete Member
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <!-- MEMBER DETAILS -->

        <div class="card mt-5">
            <div class="card-header card-header-warning">
                {% if edit_details %}
                    Editing Member Details : {{ member_details.first_name }} {{ member_details.last_name }} - {{ GLOBAL_ORG }}:{{ member_details.system_number }}
                {% else %}
                    Member Details
                {% endif %}
            </div>
            <div class="container">
                <div class="card-body" id="id-member-details">

                    {% if not club.full_club_admin %}

                        <!-- SIMPLIFIED MEMBERSHIP MANAGEMENT -->

                        <p class="font-italic text-center">Your club is currently using simplified membership management. Full membership management can be enabled under Settings | General</p>

                        {% include "organisations/club_menu/members/club_admin_edit_member_simplified_htmx.html" %}

                    {% endif %}

                    <form
                        hx-target="#id_panel_members"
                        hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                        hx-vars="club_id:{{ club.id }}, system_number: {{ member_details.system_number }}, save:'YES'"
                        {% if not club.full_club_admin %}
                            hx-include="#id-ssm-form"
                        {% endif %}
                    >
                        {% csrf_token %}

                        {% include "organisations/club_admin/common_details.html" %}

                        {% if edit_details %}

                            <div class="row">

                                <!-- SAVE / CANCEL BUTTONS -->

                                <div class="col">
                                    <button
                                        type="submit"
                                        class="btn btn-sm btn-success cobalt-save"
                                    >
                                        Save
                                    </button>
                                </div>

                                <div class="col text-right">
                                    <button
                                        class="btn btn-sm btn-info"
                                        hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                        hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}, save: 'NO', edit: 'NO'"
                                        hx-target="#id_panel_members"
                                    >
                                        Cancel
                                    </button>
                                </div>

                            </div>

                        {% endif %}

                    </form>

                    {% if not edit_details %}

                        <div class="row">

                            <div class="col">
                                <button
                                    class="btn btn-sm btn-primary"
                                    hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                    hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}, save: 'NO', edit: 'YES'"
                                    hx-target="#id_panel_members"
                                >
                                    Edit Details
                                </button>
                            </div>

                            {% if not club.full_club_admin %}

                                <!-- DELETE MEMBER - IN SIMPLIFIED MODE -->

                                <div class="col text-right">
                                    {% if 'delete' in valid_actions %}
                                        <button
                                            class="btn btn-sm btn-primary"
                                            onclick="confirmDeleteMember(this, '#id_panel_members')"
                                        >
                                            Delete Member
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- MEMBER ACTIVITY -->

        {% include "organisations/club_admin/activity_card_htmx.html" %}

        <!-- MEMBERSHIP LOG -->

        <div class="card mt-5">
            <div class="card-header card-header-warning">
                Membership Log
            </div>
            <div class="container">
                <div class="card-body">

                    {% if not edit_details %}

                        <!-- ADD LOG ENTRY -->

                        <div class="row">
                            <div class="col-10">
                                <input
                                    class="form-control"
                                    type="text"
                                    maxlength=254
                                    id="id-log-entry"
                                    name="log_entry"
                                    placeholder="Add a comment to the log"
                                >
                            </div>

                            <div class="col-2">
                                <button
                                    class="btn btn-sm btn-success"
                                    hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                    hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}, save: 'LOG', edit: 'NO'"
                                    hx-include="#id-log-entry"
                                    hx-target="#id_panel_members"
                                >
                                    Add
                                </button>

                            </div>
                        </div>

                    {% endif %}


                    {% if log_history %}
                        <!-- LOG HISTORY TABLE -->

                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-left">Date</th>
                                        <th class="text-left">Description</th>
                                        <th class="text-left">By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in log_history %}
                                        <tr>
                                            <td class="text-left">{{ log.date|date:'d/m/Y h:i A' }}</td>
                                            <td class="text-left">{{ log.description }}</td>
                                            <td class="text-left">{{ log.actor }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include "organisations/club_admin/member_log_pagination_htmx.html" with page_type='MEMBERS' %}
                        </div>
                    {% else %}
                        No changes have been made
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}

    <script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>

    <script>

        $(document).ready(function() {

            if ($('.datepicker').length) {
                $('.datepicker').datetimepicker({
                    format: 'DD/MM/YYYY',
                    showTodayButton: true,
                    showClear: true,
                    showClose: true,
                    icons: {
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                        today: 'fa fa-calendar-day',
                        close: 'fa fa-times',
                        clear: 'fa fa-trash'
                    },
                });
            }
        });


        document.addEventListener('htmx:afterSettle', function(event) {

            console.log("htmx:afterSettle "+event.detail.target.id+" - "+event.detail.elt.id)

            if ($('.datepicker').length) {
                $('.datepicker').datetimepicker({
                    format: 'DD/MM/YYYY',
                    showTodayButton: true,
                    showClear: true,
                    showClose: true,
                    icons: {
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                        today: 'fa fa-calendar-day',
                        close: 'fa fa-times',
                        clear: 'fa fa-trash'
                    },
                });
            }

            if (event.detail.target.id == 'id_action_pane') {
                // hook for any initialisation required for the form entry in the action pane
                console.log("calling initialiseHTMXForm()")
                initialiseHTMXForm();
            }

            if (event.detail.target.id === 'id-activity-card') {
                initialiseActivityView();
            }
        });

        function confirmDeleteMember(button, target) {
            Swal.fire({
                title: 'Are you sure?',
                text: "The member will become a contact and membership history will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {

                    // Define your custom post data
                    const postData = {
                        'club_id': '{{ club.id }}',
                        'system_number': '{{ member_details.system_number }}',
                        'action_name': 'delete'
                    };

                    // Make the HTMX request
                    htmx.ajax('POST', '{% url "organisations:club_admin_edit_member_membership_action_htmx" %}', {
                        'values': postData,
                        'target': target
                    });

                }
            });
        }

    </script>

{% endblock %}
