{# ---------------------------------------------------------------------------- #}
{#  View for changing membership type for an existing member                    #}
{#  OR converting a contact to a member (converting == True)                    #}
{#  OR adding a member (adding = "YES")                                         #}
{#                                                                              #}
{#  If converting may be called from contacts of members (add member search)    #}
{# ---------------------------------------------------------------------------- #}

{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<div class="card-body">
    <div class="card">
        <div class="card-header card-header-primary">
            {% if adding %}
                {% if mpc_details %}
                    Add Member : {{ mpc_details.GivenNames }} {{ mpc_details.Surname }} (Home club {{ mpc_details.HomeClubName }})
                {% else %}
                    Add Member : {{ user.full_name }}
                {% endif %}
            {% elif converting %}
                Convert Contact to Member
            {% else %}
                Change Membership Type
            {% endif %}
        </div>
        <div class="container">
            <div class="card-body">
                <form
                    {% if adding %}
                        hx-post="{% url 'organisations:club_admin_add_member_detail_htmx' %}"
                        hx-target="#id_add_member_pane"
                    {% elif converting %}
                        hx-post="{% url 'organisations:club_admin_edit_covert_contact_htmx' %}"
                        {% if caller == "contacts" %}
                            hx-target="#id_contact_action_pane"
                        {% else %}
                            hx-target="#id_add_member_pane"
                        {% endif %}
                    {% else %}
                        hx-post="{% url 'organisations:club_admin_edit_member_change_htmx' %}"
                        hx-target="#id_action_pane"
                    {% endif %}
                    hx-vars='{ "club_id": {{ club.id }}, "system_number": {{ system_number }}, "save": "YES" }'
                >
                    {% csrf_token %}

                    {% if message %}
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <h3 class="text-danger">{{ message }}</h3>
                            </div>
                        </div>
                    {% endif %}

                    {% if converting and internal %}
                        <!-- SYSTEM NUMBER REQUIRED -->

                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                {{ GLOBAL_ORG }} Number
                            </div>
                            <div class="col-8">
                                <div id="div_id_new_system_number_type" class="form-group">
                                    <span class="cobalt-form-error" id="id_new_system_number_errors">
                                        {{ form.new_system_number.errors|striptags }}
                                    </span>
                                    {% render_field form.new_system_number class+="form-control" %}
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Membership Type
                        </div>
                        <div class="col-8">
                            <div id="div_id_membership_type" class="form-group">
                                <span class="cobalt-form-error" id="id_membership_type_errors">
                                    {{ form.membership_type.errors|striptags }}
                                </span>
                                {% render_field form.membership_type class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Start date
                        </div>
                        <div class="col-3">
                            <div id="div_id_start_date" class="form-group">
                                <span class="cobalt-form-error" id="id_start_date_errors">
                                    {{ form.start_date.errors|striptags }}
                                </span>
                                {% render_cobalt_datepicker form.start_date %}
                            </div>
                        </div>
                    </div>

                    <div id="id_optional_end_date">
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                End date
                            </div>
                            <div class="col-3">
                                <div id="div_id_end_date" class="form-group">
                                    <span class="cobalt-form-error" id="id_end_date_errors">
                                        {{ form.end_date.errors|striptags }}
                                    </span>
                                    {% render_cobalt_datepicker form.end_date %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if club.full_club_admin %}

                        <div class="row pb-2">

                            <div class="col-2 justify-content-center align-self-center pt-3">
                                Fee
                            </div>
                            <div class="col-3">
                                <div id="div_id_fee" class="form-group">
                                    <span class="cobalt-form-error" id="id_fee_errors">
                                        {{ form.fee.errors|striptags }}
                                    </span>
                                    {% render_field form.fee class+="form-control" %}
                                </div>
                            </div>

                            <div class="col-2 justify-content-center align-self-center pt-3 optional_payment_method">
                                Payment method
                            </div>
                            <div class="col-3 optional_payment_method">
                                <div
                                    id="div_id_payment_method"
                                    class="form-group"
                                >
                                    <span class="cobalt-form-error" id="id_is_paid_errors">
                                        {{ form.payment_method.errors|striptags }}
                                    </span>
                                    {% render_field form.payment_method class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <div id="id_optional_due_date">
                            <div class="row pb-2">
                                <div class="col-2 justify-content-center align-self-center pt-3">
                                    Due date
                                </div>
                                <div class="col-3">
                                    <div id="div_id_due_date" class="form-group">
                                        <span class="cobalt-form-error" id="id_new_date_errors">
                                            {{ form.due_date.errors|striptags }}
                                        </span>
                                        {% render_cobalt_datepicker form.due_date %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}

                        {% render_field form.fee class+="form-control d-none" %}
                        {% render_field form.payment_method class+="form-control d-none" %}
                        {% render_field form.due_date class+="form-control d-none" %}

                    {% endif %}

                    {% if adding %}

                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                Email address
                            </div>
                            <div class="col-8">
                                <div id="div_id_new_email_type" class="form-group">
                                    <span class="cobalt-form-error" id="id_new_email_errors">
                                        {{ form.new_email.errors|striptags }}
                                    </span>
                                    {% render_field form.new_email class+="form-control" %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if adding or converting %}
                        {% if welcome_pack %}
                            <div class="row pb-2">
                                <div class="col-3">
                                    <div class="form-check">
                                        <div class="row justify-content-center">
                                            <span class="cobalt-form-error" id="id_receive_email_errors">{{ form.send_welcome_pack.errors|striptags }}</span>
                                        </div>
                                        <label class="form-check-label">
                                            <input
                                                class="form-check-input"
                                                id="id_is_paid" name="send_welcome_pack"
                                                type="checkbox"
                                                {% if form.send_welcome_pack.value %}checked="Checked"{% endif %}
                                            >
                                            Send a welcome email
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% render_field form.send_welcome_pack class+="form-control d-none" %}
                        {% endif %}
                    {% endif %}

                    <div class="optional_payment_method">
                        <p>
                            Select a payment method to initiate a payment ({{ BRIDGE_CREDITS }})
                            or to mark the membership fee as paid (off-system methods).
                        </p>
                    </div>

                    <!-- Hidden field for 'caller' -->
                    <input type="hidden" name="caller" value="{{ caller }}">

                    <div class="row pb-2">
                        <div class="col">
                            <button
                                type="submit"
                                class="btn btn-sm btn-success cobalt-save"
                            >
                                <span id="id-save-button-text">
                                    Save
                                </span>
                            </button>
                        </div>
                        <div class="col text-right">
                            <button
                                class="btn btn-sm btn-info"
                                type="button"
                                {% if adding %}
                                    hx-post="{% url 'organisations:club_menu_tab_members_add_htmx' %}"
                                    hx-target="#id_panel_members"
                                {% elif converting %}
                                    {% if caller == "contacts" %}
                                        hx-post="{% url 'organisations:club_admin_tab_edit_contact_htmx' %}"
                                        hx-target="#id_panel_contacts"
                                    {% else %}
                                        hx-post="{% url 'organisations:club_menu_tab_members_add_htmx' %}"
                                        hx-target="#id_panel_members"
                                    {% endif %}
                                {% else %}
                                    hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                    hx-target="#id_panel_members"
                                {% endif %}
                                hx-vars="club_id:{{ club.id }}, system_number:{{ system_number }}, message:'', save:'NO'"
                                hx-trigger="click"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    // set up to change date and fees when the membership type selection changes
    function initialiseHTMXForm() {

        console.log("-- initialiseHTMXForm --")

        const membershipTypeField = document.getElementById('id_membership_type');
        const feeField = document.getElementById('id_fee');
        const dueDateField = document.getElementById('id_due_date');
        const endDateField = document.getElementById('id_end_date');
        const endDateDiv = document.getElementById('id_optional_end_date');
        const dueDateDiv = document.getElementById('id_optional_due_date');
        const paymentMethodField = document.getElementById('id_payment_method');

        feesAndDates = {{ fees_and_dates|safe }};

        membershipTypeField.addEventListener('change', function() {

            const selectedType = membershipTypeField.value;
            if (selectedType in feesAndDates) {
                feeField.value = feesAndDates[selectedType].annual_fee;
                feeField.dispatchEvent(new Event('change'));
                dueDateField.value = feesAndDates[selectedType].due_date;
                endDateField.value = feesAndDates[selectedType].end_date;
                if (feesAndDates[selectedType].perpetual == 'Y') {
                    endDateDiv.style.display = 'none';
                } else {
                    endDateDiv.style.display = 'block';
                }
            }
        });

        feeField.addEventListener('change', function() {
            if (this.value == 0) {
                dueDateDiv.style.display = 'none';
                $('.optional_payment_method').hide();
            } else {
                dueDateDiv.style.display = 'block';
                $('.optional_payment_method').show();
            }
        });

        paymentMethodField.addEventListener('change', function() {
            var method = this.options[this.selectedIndex].text
            if (method == '-') {
                $('#id-save-button-text').text('Save');
            } else if ((method == '{{ BRIDGE_CREDITS }}')) {
                $('#id-save-button-text').text('Save and Charge {{ BRIDGE_CREDITS }}');
            } else {
                $('#id-save-button-text').text('Save and Mark as Paid');
            }
        });

        console.log("--- sending initising change events ---")

        // Trigger change event on page load to set initial values
        membershipTypeField.dispatchEvent(new Event('change'));
        feeField.dispatchEvent(new Event('change'));
        paymentMethodField.dispatchEvent(new Event('change'));
    };

</script>
