{# ---------------------------------------------------------------------------- #}
{#  View for changing membership type for an existing member                    #}
{#  OR converting a contact to a member (converting == True)                    #}
{#  OR adding a member (adding = "YES")                                         #}
{#                                                                              #}
{#  If converting may be called from contacts of members (add member search)    #}
{# ---------------------------------------------------------------------------- #}

{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<div class="card-body">
    <div class="card">
        <div class="card-header card-header-primary">
            {% if adding %}
                {% if mpc_details %}
                    Add Member : {{ mpc_details.GivenNames }} {{ mpc_details.Surname }} (Home club {{ mpc_details.HomeClubName }})
                {% else %}
                    Add Member : {{ user.full_name }}
                {% endif %}
            {% elif converting %}
                Convert Contact to Member
            {% else %}
                {% if inactive_member %}
                    Add Membership
                {% else %}
                    Change Membership Type
                {% endif %}
            {% endif %}
        </div>
        <div class="container">
            <div class="card-body">
                <form
                    {% if adding %}
                        hx-post="{% url 'organisations:club_admin_add_member_detail_htmx' %}"
                        hx-target="#id_add_member_pane"
                    {% elif converting %}
                        hx-post="{% url 'organisations:club_admin_edit_covert_contact_htmx' %}"
                        {% if caller == "contacts" %}
                            hx-target="#id_contact_action_pane"
                        {% else %}
                            hx-target="#id_add_member_pane"
                        {% endif %}
                    {% else %}
                        hx-post="{% url 'organisations:club_admin_edit_member_change_htmx' %}"
                        hx-target="#id_action_pane"
                    {% endif %}
                    hx-vars='{ "club_id": {{ club.id }}, "system_number": {{ system_number }}, "save": "YES" }'
                >
                    {% csrf_token %}

                    {% if message %}
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <h3 class="text-danger">{{ message }}</h3>
                            </div>
                        </div>
                    {% endif %}

                    {% if converting %}

                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                {{ GLOBAL_ORG }} Number
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    {{ form.new_system_number.value }}
                                    {% render_field form.new_system_number class+="form-control d-none" %}
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Membership Type
                        </div>
                        <div class="col-8">
                            <div id="div_id_membership_type" class="form-group">
                                <span class="cobalt-form-error" id="id_membership_type_errors">
                                    {{ form.membership_type.errors|striptags }}
                                </span>
                                {% render_field form.membership_type class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Start date
                        </div>
                        <div class="col-3">
                            <div id="div_id_start_date" class="form-group">
                                <span class="cobalt-form-error" id="id_start_date_errors">
                                    {{ form.start_date.errors|striptags }}
                                </span>
                                {% render_cobalt_datepicker form.start_date %}
                            </div>
                        </div>
                    </div>

                    <div id="id_optional_end_date">
                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                End date
                            </div>
                            <div class="col-3">
                                <div id="div_id_end_date" class="form-group">
                                    <span class="cobalt-form-error" id="id_end_date_errors">
                                        {{ form.end_date.errors|striptags }}
                                    </span>
                                    {% render_cobalt_datepicker form.end_date %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if club.full_club_admin %}

                        <div class="row pb-2">

                            <div class="col-2 justify-content-center align-self-center pt-3">
                                Fee
                            </div>
                            <div class="col-3">
                                <div id="div_id_fee" class="form-group">
                                    <span class="cobalt-form-error" id="id_fee_errors">
                                        {{ form.fee.errors|striptags }}
                                    </span>
                                    {% render_field form.fee class+="form-control" %}
                                </div>
                            </div>

                            <div class="col-2 justify-content-center align-self-center pt-3 optional_payment_method">
                                Payment method
                            </div>
                            <div class="col-3 optional_payment_method">
                                <div
                                    id="div_id_payment_method"
                                    class="form-group"
                                >
                                    <span class="cobalt-form-error" id="id_is_paid_errors">
                                        {{ form.payment_method.errors|striptags }}
                                    </span>
                                    {% render_field form.payment_method class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <div id="id_optional_due_date">
                            <div class="row pb-2">
                                <div class="col-2 justify-content-center align-self-center pt-3">
                                    Due date
                                </div>
                                <div class="col-3">
                                    <div id="div_id_due_date" class="form-group">
                                        <span class="cobalt-form-error" id="id_new_date_errors">
                                            {{ form.due_date.errors|striptags }}
                                        </span>
                                        {% render_cobalt_datepicker form.due_date %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}

                        {% render_field form.fee class+="form-control d-none" %}
                        {% render_field form.payment_method class+="form-control d-none" %}
                        {% render_field form.due_date class+="form-control d-none" %}

                    {% endif %}

                    {% if adding %}

                        <div class="row pb-2">
                            <div class="col-2 justify-content-center align-self-center pt-3">
                                Email address
                            </div>
                            <div class="col-8">
                                <div id="div_id_new_email_type" class="form-group">
                                    <span class="cobalt-form-error" id="id_new_email_errors">
                                        {{ form.new_email.errors|striptags }}
                                    </span>
                                    {% render_field form.new_email class+="form-control" %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if adding or converting %}
                        {% if welcome_pack %}
                            <div class="row pb-2">
                                <div class="col-3">
                                    <div class="form-check">
                                        <div class="row justify-content-center">
                                            <span class="cobalt-form-error" id="id_receive_email_errors">{{ form.send_welcome_pack.errors|striptags }}</span>
                                        </div>
                                        <label class="form-check-label">
                                            <input
                                                class="form-check-input"
                                                id="id_is_paid" name="send_welcome_pack"
                                                type="checkbox"
                                                {% if form.send_welcome_pack.value %}checked="Checked"{% endif %}
                                            >
                                            Send a welcome email
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% render_field form.send_welcome_pack class+="form-control d-none" %}
                        {% endif %}
                    {% endif %}

                    <div class="optional_payment_method">
                        <p>
                            Select a payment method to initiate a payment ({{ BRIDGE_CREDITS }})
                            or to mark the membership fee as paid (off-system methods).
                        </p>
                    </div>

                    <!-- Hidden field for 'caller' -->
                    <input type="hidden" name="caller" value="{{ caller }}">

                    <div class="row pb-2">
                        <div class="col">
                            <button
                                type="submit"
                                class="btn btn-sm btn-success cobalt-save"
                            >
                                <span id="id-save-button-text">
                                    Save
                                </span>
                            </button>
                        </div>
                        <div class="col text-right">
                            <button
                                id="id-cancel-change"
                                class="btn btn-sm btn-info"
                                type="button"
                                {% if adding %}
                                    hx-post="{% url 'organisations:club_menu_tab_members_add_htmx' %}"
                                    hx-target="#id_panel_members"
                                {% elif converting %}
                                    {% if caller == "contacts" %}
                                        hx-post="{% url 'organisations:club_admin_tab_edit_contact_htmx' %}"
                                        hx-target="#id_panel_contacts"
                                    {% else %}
                                        hx-post="{% url 'organisations:club_menu_tab_members_add_htmx' %}"
                                        hx-target="#id_panel_members"
                                    {% endif %}
                                {% else %}
                                    hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                    hx-target="#id_panel_members"
                                {% endif %}
                                hx-vars="club_id:{{ club.id }}, system_number:{{ system_number }}, message:'', save:'NO'"
                                hx-trigger="click"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function changeMembershipType(event = null) {
        // event listener for membership type changes
        // sets the fee and due date if responding to an event
        // and shows/hides the end date
        // NOTE: 'this' will not be definied if called explicitly
        const selectedType = $('#id_membership_type').val();
        if (selectedType in feesAndDates) {
            if (event) {
                console.log("*** setting values ***");
                $('#id_fee').val(feesAndDates[selectedType].annual_fee);
                $('#id_fee').change();
                $('#id_due_date').val(feesAndDates[selectedType].due_date);
                $('#id_end_date').val(feesAndDates[selectedType].end_date);
            }
            if (feesAndDates[selectedType].perpetual == 'Y') {
                $('#id_optional_end_date').hide();
            } else {
                $('#id_optional_end_date').show();
            }
        }
    };

    function changeFeeField() {
        // event listener for fee changes
        // shows/hides the due date and any element of class optional_payment_method
        // NOTE: 'this' will not be definied if called explicitly
        const feeValue = $('#id_fee').val()
        if (feeValue == 0 || feeValue === '0' || feeValue === null || feeValue === "") {
            $('#id_optional_due_date').hide();
            $('.optional_payment_method').hide();
        } else {
            $('#id_optional_due_date').show();
            $('.optional_payment_method').show();
        }
    };

    function changePaymentMethod() {
        // event listener for payment method changes
        // modifies the save button text depending on the payment method
        // NOTE: 'this' will not be definied if called explicitly
        var method = $('#id_payment_method').find('option:selected').text();
        if (method == '-') {
            $('#id-save-button-text').text('Save');
        } else if ((method == '{{ BRIDGE_CREDITS }}')) {
            $('#id-save-button-text').text('Save and Charge {{ BRIDGE_CREDITS }}');
        } else {
            $('#id-save-button-text').text('Save and Mark as Paid');
        }
    };

    function initialiseHTMXForm() {
        // set up to change date and fees when the membership type selection changes

        console.log("-- initialiseHTMXForm in member change--")

        if ($('.datepicker').length) {
            $('.datepicker').datetimepicker({
                format: 'DD/MM/YYYY',
                showTodayButton: true,
                showClear: true,
                showClose: true,
                icons: {
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-calendar-day',
                    close: 'fa fa-times',
                    clear: 'fa fa-trash'
                },
            });
        }

        feesAndDates = {{ fees_and_dates|safe }};

        $('#id_membership_type').off();
        $('#id_fee').off();
        $('#id_payment_method').off();

        $('#id_membership_type').on('change', changeMembershipType);
        $('#id_fee').on('change', changeFeeField);
        $('#id_payment_method').on('change', changePaymentMethod);

        // call handlers explicitly to condition the display, but not change values
        changeMembershipType();
        changeFeeField();
        changePaymentMethod();
    };

</script>
