<!--
View for extending an existing membership
This will be rendered in the action pane of the club admin edit member window
-->
{% load static %}
{% load cobalt_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<div class="card-body">
    <div class="card mt-5">
        <div class="card-header card-header-primary">
            Renew the current membership
        </div>
        <div class="container">
            <div class="card-body">
                <form
                    hx-post="{% url 'organisations:club_admin_edit_member_extend_htmx' %}"
                    hx-vars='{ "club_id": {{ club.id }}, "system_number": {{ system_number }}, "save": "YES" }'
                    hx-target="#id_action_pane"
                >
                    {% csrf_token %}

                    {% if message %}
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <h3 class="text-danger">{{ message }}</h3>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row pb-2">

                        <div class="col-2 justify-content-center align-self-center pt-3">
                            New end date
                        </div>
                        <div class="col-3">
                            <div id="div_id_new_end_date" class="form-group">
                                <span class="cobalt-form-error" id="id_new_end_date_errors">
                                    {{ form.new_end_date.errors|striptags }}
                                </span>
                                {% render_cobalt_datepicker form.new_end_date %}
                            </div>
                        </div>

                        <div class="col-2 justify-content-center align-self-center pt-3 optional_payment_method">
                            Due date
                        </div>
                        <div class="col-3 optional_payment_method">
                            <div id="div_id_due_date" class="form-group">
                                <span class="cobalt-form-error" id="id_new_date_errors">
                                    {{ form.due_date.errors|striptags }}
                                </span>
                                {% render_cobalt_datepicker form.due_date %}
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Fee
                        </div>
                        <div class="col-3">
                            <div id="div_id_fee" class="form-group">
                                <span class="cobalt-form-error" id="id_fee_errors">
                                    {{ form.fee.errors|striptags }}
                                </span>
                                {% render_field form.fee class+="form-control" %}
                            </div>
                        </div>

                        <div class="col-2 justify-content-center align-self-center pt-3 optional_payment_method">
                            Payment method
                        </div>
                        <div class="col-3 optional_payment_method">
                            <div id="div_id_payment_method" class="form-group">
                                <span class="cobalt-form-error" id="id_is_paid_errors">
                                    {{ form.payment_method.errors|striptags }}
                                </span>
                                {% render_field form.payment_method class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3 optional_payment_method">
                            Auto pay date
                        </div>
                        <div class="col-3 optional_payment_method">
                            <div id="div_id_auto_pay_date" class="form-group">
                                <span class="cobalt-form-error" id="id_auto_pay_date_errors">
                                    {{ form.auto_pay_date.errors|striptags }}
                                </span>
                                {% render_cobalt_datepicker form.auto_pay_date %}
                            </div>
                        </div>

                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Send notice
                        </div>
                        <div class="col-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="id_send_notice" name="send_notice" type="checkbox" {% if form.send_notice.value %}checked="Checked" {% endif %}>
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Club template
                        </div>
                        <div class="col">
                            <div id="div_id_club_template" class="form-group">
                                <span class="cobalt-form-error" id="id_club_template_errors">
                                    {{ form.club_template.errors|striptags }}
                                </span>
                                {% render_field form.club_template class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-2 justify-content-center align-self-center pt-3">
                            Subject
                        </div>
                        <div class="col">
                            <div id="div_id_email_subject" class="form-group">
                                <span class="cobalt-form-error" id="id_email_subject_errors">
                                    {{ form.email_subject.errors|striptags }}
                                </span>
                                {% render_field form.email_subject class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-12 my-4">
                            <div class="form-group">
                                <label class="bmd-label-floating" for="id_email_content">
                                    Email content
                                </label>
                                {% render_field form.email_content class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="optional_payment_method">
                        <p>
                            Select a payment method to initiate a payment ({{ BRIDGE_CREDITS }})
                            or to mark the membership fee as paid (off-system methods).
                        </p>
                    </div>

                    <div class="row pb-2">
                        <div class="col">
                            <button
                                type="Save"
                                class="btn btn-sm btn-success cobalt-save"
                            >
                                <span id="id-save-button-text">
                                    Renew
                                </span>
                            </button>
                        </div>
                        <div class="col text-right">
                            <button
                                class="btn btn-sm btn-info"
                                hx-post="{% url 'organisations:club_admin_edit_member_htmx' %}"
                                hx-vars="club_id:{{ club.id }}, system_number:{{ system_number }}, message:'', save:'NO'"
                                hx-target="#id_panel_members"
                                hx-trigger="click"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    function updateForFeeAndPM() {
        // update the screen layout and button text
        // based on the fee amount and payment method

        var method = $('#id_payment_method').find('option:selected').text();
        var fee = $('#id_fee').val()

        if ((method == '-') || (fee == 0)) {
            $('#id-save-button-text').text('Renew');
        } else if ((method == '{{ BRIDGE_CREDITS }}')) {
            $('#id-save-button-text').text('Renew and Charge {{ BRIDGE_CREDITS }}');
        } else {
            $('#id-save-button-text').text('Renew and Mark as Paid');
        }

        if (fee == 0) {
            $('.optional_payment_method').hide();
        } else {
            $('.optional_payment_method').show();
        }
    };

    function initialiseHTMXForm() {

        console.log("-- initialiseHTMXForm in member extend --")

        $('#id_payment_method').on('change', updateForFeeAndPM);
        $('#id_fee').on('change', updateForFeeAndPM);

        $('#id_fee').change()
    };

</script>
