<!--
    Member Activity card navigation header on the edit member page 

    Context variable "activity_selected" determines what is shown, pass "NONE" if no selection
-->

<div class="card-header card-header-warning">
    Member Activity:

    <!-- TAGS -->
    {% include 'organisations/club_menu/members/club_admin_member_activity_nav_button.html' with activity_name='TAGS' endpoint_name='organisations:club_admin_activity_tags_htmx' %}

    <!-- EMAILS -->
    {% include 'organisations/club_menu/members/club_admin_member_activity_nav_button.html' with activity_name='EMAILS' endpoint_name='organisations:club_admin_activity_emails_htmx' %}

    {% if member_details.user_type == GLOBAL_TITLE|stringformat:"s User" %}

        <!-- ENTRIES -->
        {% include 'organisations/club_menu/members/club_admin_member_activity_nav_button.html' with activity_name='ENTRIES' endpoint_name='organisations:club_admin_activity_entries_htmx' %}

        <!-- SESSIONS -->
        {% include 'organisations/club_menu/members/club_admin_member_activity_nav_button.html' with activity_name='SESSIONS' endpoint_name='organisations:club_admin_activity_sessions_htmx' %}

        <!-- TRANSACTIONS -->
        {% include 'organisations/club_menu/members/club_admin_member_activity_nav_button.html' with activity_name='TRANSACTIONS' endpoint_name='organisations:club_admin_activity_transactions_htmx' %}

    {% elif member_details.user_type == "Unregistered User" %}

        <!-- INVITATIONS -->
        {% include 'organisations/club_menu/members/club_admin_member_activity_nav_button.html' with activity_name='INVITATIONS' endpoint_name='organisations:club_admin_activity_invitations_htmx' %}

    {% endif %}

</div>
