{#----------------------------------------------------------------------------------------------#}
{#                                                                                              #}
{# Edit member screen                                                                           #}
{#                                                                                              #}
{# TODO: Julian has an issue getting the buttons to work on his browser. I can't reproduce this #}
{# but he made a video and it definitely happens for him. The commented out code shows buttons  #}
{# and clicking them uses hyperscript to remove d-none from the relevant div and to delete the  #}
{# button.                                                                                      #}
{#                                                                                              #}
{# For Julian the div never shows.                                                              #}
{#                                                                                              #}
{# Commented out for now. Need to revisit. This screen is very busy otherwise.                  #}
{#                                                                                              #}
{#----------------------------------------------------------------------------------------------#}

{% load cobalt_tags %}

<div class="container">
    <div class="row">

        <!-- SHOW ANY PLAYER DEBTS -->

        {% if user_pending_payments %}
            <div class="card mb-5" id="id_outstanding_debt">
                <div class="card-header card-header-danger">

                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Outstanding Debts</h3>
                        </div>
                        <div>
                            <span class="align-left text-white"
                                _="on click toggle .d-none on #id_outstanding_debt"
                                style="cursor: pointer"
                            ><i class="material-icons">close</i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive align-content-center">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-primary text-left">Club</th>
                                    <th class="text-primary text-left">Description</th>
                                    <th class="text-primary text-left">Date</th>
                                    <th class="text-primary text-right">Amount</th>
                                    <th class="text-primary">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_pending_payment in user_pending_payments %}
                                    <tr>

                                        <td class="text-left">{{ user_pending_payment.organisation }}</td>
                                        <td class="text-left">{{ user_pending_payment.description }}</td>
                                        <td class="text-left">{{ user_pending_payment.created_at|cobalt_nice_datetime_short }}</td>
                                        <td class="text-right">{{ GLOBAL_CURRENCY_SYMBOL }}{{ user_pending_payment.amount|floatformat:2 }}</td>
                                        <td class="text-primary">

                                            {% if user_pending_payment.can_delete %}

                                                {% include "utils/htmx_confirm_modal.html" with id=user_pending_payment.id delete_message="Cancel this debt" delete_button="Cancel Debt" hx_target="#id_panel_members" hx_post=user_pending_payment.hx_delete hx_vars=user_pending_payment.hx_vars %}
                                                <button id="{{ user_pending_payment.id }}" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user_pending_payment.id }}">Cancel Debt</button>

                                            {% endif %}

                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        {% endif %}



        <!-- MAIN EDIT MEMBER CARD -->

        {#        <div id="id_main_member_card" class="card col-lg-9 mx-auto">#}
        <div class="col-lg-6">
            <div id="id_main_member_card" class="card">

                <div class="card-header card-header-rose">
                    <h2 class="text-center">Edit Membership</h2>
                </div>

                <!-- EDIT MEMBER CARD BODY -->

                <div class="card-body">

                    <h3 class="text-info font-weight-bold settings_message"
                        id="user_add_message">{{ message| default_if_none:"" }}</h3>

                    <h3>{{ member }}</h3>

                    <!-- FORM -->

                    <form
                        hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                        hx-target="#id_panel_members"
                        hx-vars="club_id:{{ club.id }},member:{{ member.id }}"
                    >

                        <!-- ERRORS -->

                        <div class="cobalt_form_errors">{{ form.errors }}</div>

                        <!-- SYSTEM NUMBER -->

                        <input type="hidden" name="system_number" value="{{ member.system_number }}">

                        <!-- MEMBERSHIP TYPE -->

                        <div id="div_id_membership_type" class="form-group row">
                            <div class="col-6">
                                <label for="id_membership_type" class="bmd-label-static">
                                    Membership type
                                </label>
                            </div>

                            <div class="col-6 mb-5">
                                <select name="membership_type" class="select form-control" id="id_membership_type">
                                    {% for option in form.membership_type.field.choices %}
                                        <option value="{{ option.0 }}"
                                            {% if form.membership_type.value == option.0 %}selected{% endif %}>{{ option.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        {#                    <div class="form-group row">#}
                        {#                        <input id="id_home_club" type="checkbox" name="home_club" {% if form.home_club.value %}checked=checked{% endif %}">#}
                        {#                        <label for="id_home_club" style="color: black">&nbsp;Home Club</label><br>#}
                        {#                    </div>#}

                        <!-- BUTTONS -->

                        <button type="submit" name="save" class="btn btn-success">Save</button>
                        {% include "utils/htmx_confirm_modal.html" with id="memdel" delete_item=member.first_name delete_button="Remove" hx_target="#id_panel_members" hx_post=hx_delete hx_vars=hx_vars %}
                        <button id="id_delete_user_1" type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteModalmemdel">Remove Membership
                        </button>
                    </form>
                </div>
            </div>


            <!-- END FORM -->

            <!--  PAYMENTS -->

            {% if user_has_payments_view %}
                <div id="id_misc_pay_member">
                    {% include "organisations/club_menu/members/edit_member_payments_htmx.html" %}
                </div>
            {% endif %}
        </div>

        <!-- EMAILS AND TAGS -->

        <div class="col-md-6">
            {% include "organisations/club_menu/members/drag_and_drop.html" %}
            {% include "organisations/club_menu/members/recent_emails.html" %}
        </div>
    </div>
</div>
