{% load crispy_forms_filters %}
{% load cobalt_tags %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">


        <div class="card col-lg-9">
            <div class="card-header card-header-rose">
                <h2 class="text-center">{{ un_reg }}</h2>

                {% if un_reg.email_hard_bounce %}
                    <h3>Email received hard bounce. Not sending emails to this user.</h3>
                    <p>When we last tried to send an email to {{ un_reg.first_name }}, it bounced. Check the email
                        address is correct and save this form to remove the block on sending to this user.</p>
                {% endif %}

                <h3 class="text-center">
                    {#                    {% if member_details.home_club %}#}
                    {#                        This is {{ un_reg.first_name }}'s home club#}
                    {#                    {% else %}#}
                    {#                        This is NOT {{ un_reg.first_name }}'s home club#}
                    {#                    {% endif %}#}
                </h3>
            </div>
            <div class="card-body pt-0">

                <p class="mt-3">There are two emails option that can be changed. The main email address is the
                    centrally registered one for this (unregistered) user. You can edit this if your club
                    added this user. This is visible and usable by all other clubs. If you wish to keep
                    the email private or to override it, then you can use a club-specific email address.</p>
                <p>To make things even easier, invite this user to sign up for {{ GLOBAL_TITLE }} so
                    they can manage their own contact details as well as the other benefits of membership.</p>

                <h3 class="text-info font-weight-bold settings_message" id="user_edit_message">{{ message }}</h3>

                <form
                    hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                    hx-target="#id_member_list_tab"
                    hx-vars="club_id:{{ club.id }}, un_reg_id:{{ un_reg.id }}"
                >

                    {% if club == un_reg.added_by_club %}
                        <h4>{{ GLOBAL_ORG }} Number: {{ un_reg.system_number }}</h4>
                        {% cobalt_bs4_field user_form.first_name %}
                        {% cobalt_bs4_field user_form.last_name %}
                        {% cobalt_bs4_field user_form.email %}

                        {% if public_email_blocked %}
                            <a class="btn btn-sm btn-info" href="javascript:void(0)" _="on click show #public_blocked then remove me">Email Blocked</a>

                            <div id="public_blocked_div">
                                <div class="card col-md-6" id="public_blocked" style="display: none">
                                    <div class="card-header card-header-danger">
                                        <h3>This Email is blocked</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>This email had been blocked by the user. {{ un_reg.first_name }} has clicked on the link at
                                            the bottom of an email and asked not to receive further emails from us. Don't unblocking it without express permission from {{ un_reg.first_name }}.</p>
                                        <div class="text-center">
                                            <a class="btn btn-sm btn-danger"
                                                href="javascript:void(0)"
                                                hx-post="{% url "organisations:club_menu_tab_members_unblock_unreg_email_address_htmx" %}"
                                                hx-target="#public_blocked_div"
                                                hx-vars="club_id:{{ club.id }}, email:'{{ un_reg.email }}'"
                                            >Unblock</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% else %}
                        <h3>View Only - User Belongs to {{ un_reg.added_by_club }}</h3>
                        {{ un_reg.first_name }} {{ un_reg.last_name }} ({{ GLOBAL_ORG }} Number: {{ un_reg.system_number }}) - {{ un_reg.email|default_if_none:"No Email Address Found" }}
                        {#  We still need the fields from the user_form even if we can't edit them #}
                        <input type="hidden" name="first_name" value="{{ user_form.first_name.value }}">
                        <input type="hidden" name="last_name" value="{{ user_form.last_name.value }}">
                        <input type="hidden" name="email" value="{{ user_form.email.value }}">
                    {% endif %}

                    {{ club_email_form | crispy }}

                    {% if private_email_blocked %}
                        <a class="btn btn-sm btn-info" href="javascript:void(0)" _="on click show #private_blocked then remove me">Email Blocked</a>

                        <div id="private_blocked_div">
                            <div class="card col-md-6" id="private_blocked" style="display: none">
                                <div class="card-header card-header-danger">
                                    <h3>This Email is blocked</h3>
                                </div>
                                <div class="card-body">
                                    <p>This email had been blocked by the user. {{ un_reg.first_name }} has clicked on the link at
                                        the bottom of an email and asked not to receive further emails from us. Don't unblocking it without express permission from {{ un_reg.first_name }}.</p>
                                    <div class="text-center">
                                        <a class="btn btn-sm btn-danger"
                                            href="javascript:void(0)"
                                            hx-post="{% url "organisations:club_menu_tab_members_unblock_unreg_email_address_htmx" %}"
                                            hx-target="#private_blocked_div"
                                            hx-vars="club_id:{{ club.id }}, email:'{{ club_email_form.email.value }}'"
                                        >Unblock</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-6">Membership type</div>
                        <div class="col-6">{% cobalt_bs4_field club_membership_form.membership_type %}</div>
                    </div>

                    <br><br>

                    {#                    {% cobalt_bs4_field club_membership_form.home_club %}#}

                    <button type="submit" name="save" class="btn btn-success">Save</button>

                    {% include "utils/htmx_confirm_modal.html" with id="undel" delete_item=un_reg.first_name hx_target="#id_panel_members" hx_post=hx_delete hx_args=hx_args delete_button="Remove" %}
                    <button id="id_delete_user_1" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModalundel">Remove Membership</button>


                    <button
                        hx-post="{% url "organisations:club_menu_tab_members_invite_user_to_join_htmx" %}"
                        hx-target="#id_member_list_tab"
                        hx-vars="club_id:{{ club.id }}, un_reg_id:{{ un_reg.id }}"
                        class="btn btn-info"
                        onclick="GrowlNotification.notify({
                        title: 'Sending invite...',
                        description: 'Sending invite to {{ un_reg.first_name }}.',
                        type: 'success',
                        position: 'top-right',
                        closeTimeout: 2000})"
                    >Send Invite to Join {{ GLOBAL_TITLE }}
                    </button>
                </form>

                <p class="my-0 font-italic small">Origin: {{ un_reg.origin }}</p>
                <p class="my-0 font-italic small">Added On: {{ un_reg.created_at|cobalt_nice_datetime }}</p>
                <p class="my-0 font-italic small">Last Updated: {{ un_reg.updated_at|cobalt_nice_datetime }}</p>
                <p class="my-0 font-italic small">Last Updated By: {{ un_reg.last_updated_by.full_name }}</p>
                {% if un_reg.last_registration_invite_sent %}
                    <p class="my-0 font-italic small">Last Invited to Join By: {{ un_reg.last_registration_invite_by_user.full_name }} ({{ un_reg.last_registration_invite_by_club }})</p>
                    <p class="my-0 font-italic small">Last Invited to Join At: {{ un_reg.last_registration_invite_sent }}</p>
                {% else %}
                    <p class="my-0 font-italic small">Never invited to join {{ GLOBAL_TITLE }}</p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            {% include "organisations/club_menu/members/drag_and_drop.html" with member=un_reg %}
            {% include "organisations/club_menu/members/recent_emails.html" %}
        </div>
    </div>
