{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">
    <div class="card-header card-header-info">
        {% include "organisations/club_menu/members/nav_htmx.html" with selected="list" %}
    </div>

    <div class="card-body" id="id_member_list_tab">

        <h3>{{ club }} has {{ total_members|intcomma }} Member{{ total_members|pluralize }}</h3>

        <h3 class="text-info font-weight-bold settings_message" id="user_list_message">{{ message| default_if_none:"" }}</h3>

        {% if members %}

            <table id="id_attach_table" class="table table-condensed table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>{{ GLOBAL_ORG }} Number</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td>
                                {% if member_admin %}
                                    <a href="#"
                                        id="t_edit_member_{{ member.id }}"
                                        hx-target="#id_member_list_tab"
                                        {% if member|get_class == "User" %}
                                            hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                            hx-vars="club_id:{{ club.id }}, member:{{ member.id }}"
                                        {% else %}
                                            hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                            hx-vars="club_id:{{ club.id }}, un_reg_id:{{ member.id }}"
                                        {% endif %}
                                    >
                                        {{ member.first_name }}
                                    </a>
                                {% else %}
                                    {{ member.first_name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if member_admin %}

                                    <a href="#"
                                        id="t_edit_member_{{ member.id }}"
                                        hx-target="#id_member_list_tab"
                                        {% if member|get_class == "User" %}
                                            hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                            hx-vars="club_id:{{ club.id }}, member:{{ member.id }}"
                                        {% else %}
                                            hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                            hx-vars="club_id:{{ club.id }}, un_reg_id:{{ member.id }}"
                                        {% endif %}
                                    >
                                        {{ member.last_name }}
                                    </a>
                                {% else %}
                                    {{ cobalt_member.last_name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if member_admin %}
                                    <a href="#"
                                        id="t_edit_member_{{ member.id }}"
                                        hx-target="#id_member_list_tab"
                                        {% if member|get_class == "User" %}
                                            hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                            hx-vars="club_id:{{ club.id }}, member:{{ member.id }}"
                                        {% else %}
                                            hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                            hx-vars="club_id:{{ club.id }}, un_reg_id:{{ member.id }}"
                                        {% endif %}
                                    >
                                        {{ member.system_number }}
                                    </a>
                                {% else %}
                                    {{ member.system_number }}
                                {% endif %}
                            </td>
                            <td>
                                {% if member|get_class == "User" %}
                                    {{ GLOBAL_TITLE }} User
                                {% else %}
                                    Unregistered User
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if member|get_class == "User" %}
                                    <a target="_blank" href="{% url "accounts:public_profile" pk=member.id %}" style="width: 150px" class="btn btn-sm btn-info text-center">view profile</a>
                                {% else %}
                                    <a style="width: 150px"
                                        class="btn btn-sm btn-success text-center text-white"
                                        hx-post="{% url "organisations:club_menu_tab_members_invite_user_to_join_htmx" %}"
                                        hx-vars="club_id:{{ club.id }}, un_reg_id:{{ member.id }}"
                                        hx-target="#id_panel_members"
                                        onclick="GrowlNotification.notify({
                                        title: 'Sending invite...',
                                        description: 'Sending invite to {{ member.first_name }}.',
                                        type: 'success',
                                        position: 'top-right',
                                        closeTimeout: 2000})"
                                    >invite to {{ GLOBAL_TITLE }}</a>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <h3>You have no members listed here. You can add real members using the <b>Add</b> link above.</h3>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready( function () {

        // Initialise datatable - only show pagination if more than one page, sort in order, column 0

        $('#id_attach_table').DataTable({
            "order": [[ 1, "asc" ]],
            drawCallback: function(settings) {
                const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
            },
        });


        // Unhide table now. This avoids the flicker
        $('#id_attach_table').show();

    });

</script>
