{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Basic list view of members, shown under the membership tab             #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

{% load humanize %}
{% load cobalt_tags %}

<div class="card" style="min-height: 800px; height: auto">

    <!-- SUB-LEVEL NAVIGATION -->

    <div class="card-header card-header-info">
        <h2>Members</h2>
        {% include "organisations/club_menu/members/nav_htmx.html" with selected="list" %}
    </div>

    <div class="card-body" id="id_member_list_tab">

        <!-- HEADINGS -->

        {% if former_members %}
            <h3>
                {{ club }} has {{ total_members|intcomma }} Current and Former Member{{ total_members|pluralize }}
                <span style="font-size: 1rem;">
                    (
                    <a
                        href="javascript:void(0)"
                        hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"
                        hx-vars="club_id:{{ club.id }}, former_members:'off'"
                        hx-target="#id_panel_members"
                    >
                        Show current members only
                    </a>
                    )
                </span>
            </h3>
        {% else %}
            <h3>
                {{ club }} has {{ total_members|intcomma }} Member{{ total_members|pluralize }}
                <span style="font-size: 1rem;">
                    (
                    <a
                        href="javascript:void(0)"
                        hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"
                        hx-vars="club_id:{{ club.id }}, former_members:'on'"
                        hx-target="#id_panel_members"
                    >
                        Also show former members
                    </a>
                    )
                </span>
            </h3>
        {% endif %}
        <h3 class="text-info font-weight-bold settings_message" id="user_list_message">{{ message| default_if_none:"" }}</h3>

        {% if things %}

            <!-- TABLE -->

            <div class="table-responsive">

                <table id="id_attach_table" class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <!-- SORTABLE COLUMNS -->

                            <th class="text-left">

                                <!-- FIRST NAME -->

                                <a href="javascript:void(0)"
                                    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"

                                    {% if sort_option == "first_desc" %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'first_asc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% else %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'first_desc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% endif %}
                                    hx-target="#id_panel_members"
                                >
                                    <span class="cobalt-no-wrap">
                                        First Name
                                        {% if sort_option == "first_desc" %}
                                            &darr;
                                        {% elif sort_option == "first_asc"  %}
                                            &uarr;
                                        {% endif %}
                                    </span>
                                </a>
                            </th>

                            <th class="text-left">

                                <!-- LAST NAME -->

                                <a href="javascript:void(0)"
                                    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"

                                    {% if sort_option == "last_desc" %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'last_asc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% else %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'last_desc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% endif %}

                                    hx-target="#id_panel_members"
                                >
                                    <span class="cobalt-no-wrap">
                                        Last Name
                                        {% if sort_option == "last_desc" %}
                                            &darr;
                                        {% elif sort_option == "last_asc"  %}
                                            &uarr;
                                        {% endif %}
                                    </span>
                                </a>
                            </th>

                            <th class="text-left">

                                <!-- SYSTEM NUMBER -->

                                <a href="javascript:void(0)"
                                    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"

                                    {% if sort_option == "system_number_desc" %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'system_number_asc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% else %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'system_number_desc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% endif %}

                                    hx-target="#id_panel_members"
                                >
                                    <span class="cobalt-no-wrap">
                                        {{ GLOBAL_ORG }} Number
                                        {% if sort_option == "system_number_desc" %}
                                            &darr;
                                        {% elif sort_option == "system_number_asc"  %}
                                            &uarr;
                                        {% endif %}
                                    </span>
                                </a>
                            </th>

                            <th class="text-left">

                                <!-- MEMBERSHIP TYPE -->

                                <a href="javascript:void(0)"
                                    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"

                                    {% if sort_option == "membership_desc" %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'membership_asc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% else %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'membership_desc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% endif %}

                                    hx-target="#id_panel_members"
                                >
                                    <span class="cobalt-no-wrap">
                                        Membership Type
                                        {% if sort_option == "membership_desc" %}
                                            &darr;
                                        {% elif sort_option == "membership_asc"  %}
                                            &uarr;
                                        {% endif %}
                                    </span>
                                </a>
                            </th>

                            <!-- HOME CLUB : Reistate when Masterpoints implemented-->
                            <!-- <th class="text-left">

                                <a href="javascript:void(0)"
                                    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"

                                    {% if sort_option == "home_desc" %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'home_asc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% else %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'home_desc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% endif %}

                                    hx-target="#id_panel_members"
                                >
                                    <span class="cobalt-no-wrap">
                                        Home
                                        {% if sort_option == "home_desc" %}
                                            &darr;
                                        {% elif sort_option == "home_asc"  %}
                                            &uarr;
                                        {% endif %}
                                    </span>
                                </a>
                            </th> -->

                            <th class="text-left">

                                <!-- MEMBERSHIP STATUS -->

                                <a href="javascript:void(0)"
                                    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"

                                    {% if sort_option == "status_desc" %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'status_asc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% else %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'status_desc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% endif %}

                                    hx-target="#id_panel_members"
                                >
                                    <span class="cobalt-no-wrap">
                                        Status
                                        {% if sort_option == "status_desc" %}
                                            &darr;
                                        {% elif sort_option == "status_asc"  %}
                                            &uarr;
                                        {% endif %}
                                    </span>
                                </a>

                            </th>

                            <th class="text-left">

                                <!-- USER TYPE -->

                                <a href="javascript:void(0)"
                                    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"

                                    {% if sort_option == "type_desc" %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'type_asc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% else %}
                                        hx-vars="club_id:{{ club.id }}, sort_by:'type_desc', former_members:'{% if former_members %}on{% else %}off{% endif %}'"
                                    {% endif %}

                                    hx-target="#id_panel_members"
                                >
                                    <span class="cobalt-no-wrap">
                                        User Type
                                        {% if sort_option == "type_desc" %}
                                            &darr;
                                        {% elif sort_option == "type_asc"  %}
                                            &uarr;
                                        {% endif %}
                                    </span>
                                </a>
                            </th>

                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thing in things %}
                            <tr>
                                <td class="text-left">
                                    {% if member_admin %}

                                        <!-- ONLY SHOW LINKS IF ADMIN -->

                                        <a href="javascript:void(0)"
                                            id="t_edit_member1_{{ member.id }}"
                                            hx-target="#id_member_list_tab"
                                            {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                                hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, member:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% else %}
                                                hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% endif %}
                                        >
                                            {{ thing.first_name }}
                                        </a>
                                    {% else %}
                                        {{ thing.first_name }}
                                    {% endif %}
                                </td>

                                <td class="text-left">
                                    {% if member_admin %}

                                        <!-- ONLY SHOW LINKS IF ADMIN -->

                                        <a href="#"
                                            id="t_edit_member2_{{ thing.id }}"
                                            hx-target="#id_member_list_tab"
                                            {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                                hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, member:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% else %}
                                                hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% endif %}
                                        >
                                            {{ thing.last_name }}
                                        </a>
                                    {% else %}
                                        {{ thing.last_name }}
                                    {% endif %}
                                </td>

                                <td class="text-left">
                                    {% if member_admin %}

                                        <!-- ONLY SHOW LINKS IF ADMIN -->

                                        <a href="#"
                                            id="t_edit_member3_{{ thing.id }}"
                                            hx-target="#id_member_list_tab"
                                            {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                                hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, member:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% else %}
                                                hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% endif %}
                                        >
                                            {{ thing.system_number }}
                                        </a>
                                    {% else %}
                                        {{ thing.system_number }}
                                    {% endif %}
                                </td>

                                <!-- COB-769 -->

                                <td class="text-left">
                                    {% if member_admin %}

                                        <!-- ONLY SHOW LINKS IF ADMIN -->

                                        <a href="#"
                                            id="t_edit_member4_{{ thing.id }}"
                                            hx-target="#id_member_list_tab"
                                            {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                                hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, member:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% else %}
                                                hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% endif %}
                                        >
                                            {{ thing.latest_membership.membership_type.name }}
                                        </a>
                                    {% else %}
                                        {{ thing.latest_membership.membership_type.name }}
                                    {% endif %}
                                </td>

                                <!-- HOME CLUB : Reistate when Masterpoints implemented-->
                                <!-- <td class="text-left">
                                    {% if member_admin %}

                                        <a href="#"
                                            id="t_edit_member5_{{ thing.id }}"
                                            hx-target="#id_member_list_tab"
                                            {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                                hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, member:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% else %}
                                                hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% endif %}
                                        >
                                            {% if thing.latest_membership.home_club %}Yes{% else %}No{% endif %}
                                        </a>
                                    {% else %}
                                        {% if thing.latest_membership.home_club %}Yes{% else %}No{% endif %}
                                    {% endif %}
                                </td> -->

                                <td class="text-left">
                                    {% if member_admin %}

                                        <!-- ONLY SHOW LINKS IF ADMIN -->

                                        <a href="#"
                                            id="t_edit_member6_{{ thing.id }}"
                                            hx-target="#id_member_list_tab"
                                            {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                                hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, member:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% else %}
                                                hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% endif %}
                                        >
                                            {{ thing.get_membership_status_display }}
                                        </a>
                                    {% else %}
                                        {{ thing.get_membership_status_display }}
                                    {% endif %}
                                </td>

                                <td class="text-left">
                                    {% if member_admin %}

                                        <!-- ONLY SHOW LINKS IF ADMIN -->

                                        <a href="#"
                                            id="t_edit_member7_{{ thing.id }}"
                                            hx-target="#id_member_list_tab"
                                            {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                                hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, member:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% else %}
                                                hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                                                hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                                hx-push-url="{{ club.id }}"
                                            {% endif %}
                                        >
                                            {{ thing.user_type }}
                                        </a>
                                    {% else %}
                                        {{ thing.user_type }}
                                    {% endif %}
                                </td>

                                <td class="text-center">
                                    {% if thing.user_type == GLOBAL_TITLE|stringformat:"s User" %}
                                        <a target="_blank" href="{% url "accounts:public_profile" pk=thing.user_or_unreg_id %}" style="width: 150px" class="btn btn-sm btn-info text-center">view profile</a>
                                    {% else %}
                                        <a style="width: 150px"
                                            class="btn btn-sm btn-success text-center text-white"
                                            hx-post="{% url "organisations:club_menu_tab_members_invite_user_to_join_htmx" %}"
                                            hx-vars="club_id:{{ club.id }}, un_reg_id:{{ thing.user_or_unreg_id }}"
                                            hx-target="#id_panel_members"
                                            onclick="GrowlNotification.notify({
                                            title: 'Sending invite...',
                                            description: 'Sending invite to {{ thing.first_name }}.',
                                            type: 'success',
                                            position: 'top-right',
                                            closeTimeout: 2000})"
                                        >invite to {{ GLOBAL_TITLE }}</a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>

                {% include "utils/pagination_footer_htmx.html" with hx_target="#id_panel_members" %}

            </div>

        {% else %}
            <h3>You have no members listed here. You can add real members using the <b>Add</b> link above.</h3>
        {% endif %}
    </div>
</div>

{#<script>#}
{#    $(document).ready( function () {#}
{##}
{#        // Initialise datatable - only show pagination if more than one page, sort in order, column 0#}
{##}
{#        $('#id_attach_table').DataTable({#}
{#            "order": [[ 1, "asc" ]],#}
{#            drawCallback: function(settings) {#}
{#                const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');#}
{#                pagination.toggle(this.api().page.info().pages > 1);#}
{#            },#}
{#        });#}
{##}
{##}
{#        // Unhide table now. This avoids the flicker#}
{#        $('#id_attach_table').show();#}
{##}
{#    });#}
{##}
{#</script>#}
