{#-------------------------------------------------------------------------------#}
{#                                                                               #}
{# dynamic search list returned when the Member->Search function gets data input #}
{#                                                                               #}
{#-------------------------------------------------------------------------------#}
{% load cobalt_tags %}

{% if user_list %}

    <h3>Results</h3>
    <ul>
        {% for user in user_list %}
            <li>
                {% if user|get_class == "User" %}
                    <a href="javascript:void(0)"
                        hx-post="{% url "organisations:club_menu_tab_members_edit_member_htmx" %}"
                        hx-target="#id_search_tab"
                        hx-vars="club_id:{{ club.id }},member:{{ user.id }}"
                    >
                {% else %}
                    <a href="javascript:void(0)"
                        hx-post="{% url "organisations:club_menu_tab_members_un_reg_edit_htmx" %}"
                        hx-target="#id_search_tab"
                        hx-vars="club_id:{{ club.id }},un_reg_id:{{ user.id }}"
                    >
                {% endif %}
                {{ user }}
            </a>
            </li>
        {% endfor %}
    </ul>

{% else %}
    <h3>
        No matches found
    </h3>
{% endif %}
