{# Nav bar part for Members tab #}

<button
    {% if selected == "list" %}
        class="btn bg-light text-dark"
    {% else %}
        class="btn bg-transparent"
        style="outline: 0; outline-offset: 0; box-shadow: none;"
    {% endif %}
    type="button"
    hx-post="{% url "organisations:club_menu_tab_members_htmx" %}"
    hx-target="#id_panel_members"
    hx-indicator=".htmx-indicator"
    {#hx-push-url="true"#}
>
    List
</button>

{# Show add and error only if user can change things #}

{% if member_admin %}

    <button
        {% if selected == "add" %}
            class="btn bg-light text-dark"
        {% else %}
            class="btn bg-transparent"
            style="outline: 0; outline-offset: 0; box-shadow: none;"
        {% endif %}
        type="button"
        id="t_member_tab_add"
        hx-post="{% url "organisations:club_menu_tab_members_add_htmx" %}"
        hx-target="#id_panel_members"
    >
        Add
    </button>

    {# Only show errors tab if there are errors #}
    {% if has_errors %}

        <button
            {% if selected == "errors" %}
                class="btn bg-light text-dark"
            {% else %}
                class="btn bg-transparent"
                style="outline: 0; outline-offset: 0; box-shadow: none;"
            {% endif %}
            type="button"
            id="t_member_tab_errors"
            hx-post="{% url "organisations:club_menu_tab_members_errors_htmx" %}"
            hx-target="#id_panel_members"
        >
            Errors!
        </button>

    {% endif %}
{% endif %}

<button
    {% if selected == "search" %}
        class="btn bg-light text-dark"
    {% else %}
        class="btn bg-transparent"
        style="outline: 0; outline-offset: 0; box-shadow: none;"
    {% endif %}
    type="button"
    hx-post="{% url "organisations:search_tab_htmx" %}"
    hx-vars="mode: 'members'"
    hx-target="#id_panel_members"
    hx-indicator=".htmx-indicator"
>
    Search
</button>

<button
    {% if selected == "reports" %}
        class="btn bg-light text-dark float-right"
    {% else %}
        class="btn bg-transparent float-right"
        style="outline: 0; outline-offset: 0; box-shadow: none;"
    {% endif %}
    type="button"
    hx-post="{% url "organisations:club_menu_tab_members_reports_htmx" %}"
    hx-target="#id_panel_members"
>
    Reports
</button>
