{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show a list of recent sessions attended by this user                   #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

{% if things %}

    <div class="card">
        <div class="card-header card-header-success">
            <h3>Recent Sessions</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="text-left">Date</th>
                            <th class="text-left">Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thing in things %}
                            <tr>
                                <td class="text-left">{{ thing.session.session_date }}</td>
                                <td class="text-left"><a target="_blank" href="{% url "club_sessions:manage_session" session_id=thing.session.id %}">{{ thing.session.description }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'utils/pagination_footer_htmx.html' %}
            </div>
        </div>
    </div>

{% else %}

    <h3>This member has no recorded sessions</h3>

{% endif %}
