<div class="card col-md-10 col-lg-6 mx-auto">
    <div class="card-header card-header-warning">
        <h3>Import Results</h3>
    </div>
    <div class="card-body">

        <h3>Import Complete</h3>
        <table class="table table-condensed">
            <tr>
                <td class="font-weight-bold">Registered on My ABF {{ GLOBAL_TITLE }}</td>
                <td class="font-weight-bold">Un-Registered</td>
            </tr>
            <tr>
                <td>{{ added_users }}</td>
                <td>{{ added_unregistered_users }}</td>
            </tr>

        </table>

        {% if errors %}
            <h4>Warnings</h4>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>

