{% load static %}
{% load cobalt_tags %}

{% if user_is_admin %}

    You are using the advanced Role Based Access Control (RBAC) set up. This gives you separate groups for each function and allows you
    to have separate administrators (able to grant access to others).

    <a
        href="javascript:void()"
        hx-post="{% url "organisations:club_admin_access_change_rbac_to_basic_htmx" %}"
        hx-vars="club_id:{{ club.id }}"
        hx-target="#id_panel_access"
    >
        Change to Basic RBAC.
    </a>

{% else %}

    <h3>You do not have admin rights, showing as view only. Contact an administrator (listed below) to make any changes.</h3>

{% endif %}

{#RBAC Groups#}

<div class="container">
    <div class="row">
        {% for action, data in user_roles.items %}
            <div class="card-group col-lg-4 col-md-6 col-sm-12">
                <div class="card ">
                    <div class="card-header card-header-{% cobalt_random_colour %}">
                        <h3>{{ data.0 }}</h3>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <tbody>
                                    {% for user in data.1 %}
                                        <tr>
                                            <td>{{ user|cobalt_user_link_short }}
                                                {% include "utils/htmx_confirm_modal.html" with id=user.delete_id delete_item=user.first_name hx_target="#access-advanced" hx_post=user.hx_post hx_vars=user.hx_vars %}
                                                <td><button {{ disable_buttons }} type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user.delete_id }}">
                                                    Remove
                                                </button>
                                                </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <span class="cobalt-form-error">{{ errors|cobalt_dict_key:action }}</span>
                        {% include "accounts/search/user_search_include_htmx.html" with search_id=action callback="cobaltMemberSearchOk" include_me='yes' %}
                        <button id="id_access_advanced_add_{{ action }}" type="button" {{ disable_buttons }} class="btn btn-info mt-auto" data-toggle="modal" data-target="#userSearchModal{{ action }}">Add Staff</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{#Admin Groups#}

<div class="container pt-4">
    <div class="row">
        <div class="card col-md-6 mx-auto">
            <div class="card-header card-header-primary">
                <h3>Administrators</h3>
                <p>Administrators can change access for other people</p>
            </div>
            <div class="card-body d-flex flex-column">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <tbody>
                            {% for user in admin_list %}
                                <tr>
                                    <td>{{ user|cobalt_user_link_short }}
                                        {% include "utils/htmx_confirm_modal.html" with id=user.id delete_item=user.first_name hx_target="#access-advanced" hx_post=user.hx_post %}
                                        <td><button {{ disable_buttons }} type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ user.id }}">
                                            Remove
                                        </button>
                                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <span class="cobalt-form-error">{{ errors.admin }}</span>
                {% include "accounts/search/user_search_include_htmx.html" with search_id="admin" include_me='yes' callback="cobaltMemberSearchOk" %}
                <button type="button" id="id_add_administrator" {{ disable_buttons }} class="btn btn-warning mt-auto" data-toggle="modal" data-target="#userSearchModaladmin">Add Administrator</button>
            </div>
        </div>
    </div>
</div>
