{% load static %}

<div id="access-advanced">
    {% include "organisations/club_menu/access/advanced_div_htmx.html" %}
</div>

<script>

    // handle user selecting a member from search - one function for all events
    function cobaltMemberSearchOk(search_id, user_id, user_name){

        // for RBAC group searches the search_id will be the action, eg congresses
        // for RBAC Admin searches the search_id will be "admin"

        var url;
        var postData;

        if (search_id === "admin"){
            postData = {
                'club_id': {{ club.id }},
                'user_id': user_id,
            };
            url = '{% url "organisations:access_advanced_add_admin_htmx" %}';
        } else {
            postData = {
                'user_id': user_id,
                'club_id': {{ club.id }},
                'group_name_item': search_id,
            };
            url = '{% url "organisations:club_admin_access_advanced_add_user_htmx" %}';
        };

        // get HTMX to make the ajax call
        htmx.ajax('POST', url, {'target': '#access-advanced', 'values': postData});
    }

</script>