{% load static %}
<div id="access-basic">
    {% include "organisations/club_menu/access/basic_div_htmx.html" %}
</div>

{% include "accounts/search/user_search_include_htmx.html" with include_me=True callback="basicAddAdmin" %}
{% include "accounts/user_search_include_js_htmx.html" %}

<script>

    function basicAddAdmin(search_id, user_id, user_name){
        // Add user if search is successful
        const postData = {
            'club_id': {{ club.id }},
            'user_id': user_id
        }

        // get HTMX to make the ajax call
        htmx.ajax('POST',
            '{% url "organisations:club_admin_access_basic_add_user_htmx" %}',
            {'target': '#access-basic', 'values': postData});

    }
</script>
