{% extends 'base.html' %}
{% load static %}
{% load cobalt_tags %}
{% block title %} - Logs{% endblock %}
{% block header %}
    {% include "utils/data_tables_heading.html" %}

{% endblock %}
{% load log %}
{% block content %}
    <div id="ignore_cobalt_save"></div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h1>
                    <div class="d-flex justify-content-between">
                        <div>
                            Logs
                        </div>
                        <div>
                            <i class="material-icons" style="font-size:50px">build</i>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="card-body table-responsive">

                <!-- Selectpickers for the searches -->

                <select class="selectpicker" data-style="btn btn-info" id="id_days" name="days">
                    <option value="7" {% if days == 7 %}selected {% endif %}>1 Week</option>
                    <option value="14" {% if days == 14 %}selected{% endif %}>2 Weeks</option>
                    <option value="31" {% if days == 31 %}selected{% endif %}>1 Month</option>
                    <option value="62" {% if days == 62 %}selected{% endif %}>2 Months</option>
                </select>
                <select class="selectpicker" data-style="btn btn-danger" id="id_severity" name="severity">
                    <option value="All">Severity - All</option>
                    {% for severity in severities %}
                        <option
                            {% if form_severity == severity.severity %}selected{% endif %}
                            value="{{ severity.severity }}">
                            {{ severity.severity }}
                        </option>
                    {% endfor %}
                </select>
                <select class="selectpicker" data-style="btn btn-success" id="id_source" name="source">
                    <option value="All">Source - All</option>
                    {% for source in sources %}
                        <option
                            {% if form_source == source.source %}selected{% endif %}
                            value="{{ source.source }}">
                            {{ source.source }}
                        </option>
                    {% endfor %}
                </select>
                {% if sub_sources %}
                    <select class="selectpicker" data-style="btn btn-warning" id="id_sub_source" name="sub_source">
                        <option value="All">Sub-Source - All</option>
                        {% for sub_source in sub_sources %}
                            <option
                                {% if form_sub_source == sub_source.sub_source %}selected{% endif %}
                                value="{{ sub_source.sub_source }}">
                                {{ sub_source.sub_source }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
                <select class="selectpicker" data-style="btn btn-primary" id="id_user" name="user">
                    <option value="All">Users - All</option>
                    {% for user in users %}
                        <option
                            {% if form_user == user %}selected{% endif %}
                            value="{{ user }}">
                            {{ user }}
                        </option>
                    {% endfor %}
                </select>

                <a href="{% url 'logs:logs' %}" class="float-right btn btn-default">Clear</a>

                <table id="log_table" class="table table-hover table-condensed" style="display: none;">
                    <thead class="text-info">
                        <tr>
                            <th>Severity</th>
                            <th>Time</th>
                            <th>IP</th>
                            <th class="text-left">User</th>
                            <th class="text-left">Source</th>
                            <th class="text-left">Sub Source</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thing in things %}
                            {% if thing.severity == "DEBUG" %}
                                {% include "logs/event_list_tr.html" with icon="bug_report" td_class="bg-white" icon_colour="text-primary" %}
                            {% endif %}
                            {% if thing.severity == "INFO" %}
                                {% include "logs/event_list_tr.html" with icon="info" td_class="bg-light" icon_colour="text-info" %}
                            {% endif %}
                            {% if thing.severity == "WARN" %}
                                {% include "logs/event_list_tr.html" with icon="sentiment_very_dissatisfied" td_class="bg-warning" icon_colour="text-dark" %}
                            {% endif %}
                            {% if thing.severity == "ERROR" %}
                                {% include "logs/event_list_tr.html" with icon="rule" td_class="bg-primary text-white" icon_colour="text-white" %}
                            {% endif %}
                            {% if thing.severity == "HIGH" %}
                                {% include "logs/event_list_tr.html" with icon="warning" td_class="bg-danger text-white" icon_colour="text-white"   %}
                            {% endif %}
                            {% if thing.severity == "CRITICAL" %}
                                {% include "logs/event_list_tr.html" with icon="priority_high" td_class="bg-dark text-white font-weight-bold" %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    `    <script src="{% static "assets/js/plugins/bootstrap-selectpicker.js" %}"></script>
    `    <script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
    <script>
        $(document).ready( function () {

            // Initialise datatable - only show pagination if more than one page, sort in reverse date order, column 0
            $('#log_table').DataTable({
                "order": [[1, "desc"]],
                drawCallback: function(settings) {
                    const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                    pagination.toggle(this.api().page.info().pages > 1);
                },
                bAutoWidth: false,
                aoColumns : [
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '40%' }
                ]
            });

            // Unhide table now. This avoids the flicker
            $('#log_table').show();

            // initialise tooltips
            $('[data-toggle="tooltip"]').tooltip()

            // handle changes in selection
            function reload_page(){
                const days = $('#id_days').val();
                const severity = $('#id_severity').val();
                const source = $('#id_source').val();
                const user = $('#id_user').val();
                const sub_source = $('#id_sub_source').val();
                let query = '?days=' + days + '&severity=' + severity + '&source=' + source + '&user=' + user;
                if (sub_source){
                    query += '&sub_source=' + sub_source;
                }
                window.location.replace('{% url "logs:logs" %}' + query);
            }

            $('.selectpicker').on('change', function() {
                reload_page();
            });
        });
    </script>

{% endblock %}
