{% extends 'base.html' %}
{% load static %}
{% load cobalt_tags %}
{% block title %} - Real Time Notifications Item{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header card-header-primary">
            <h1>Real Time Notifications - Item</h1>
            <h2>Sent To: {{ notification.member }}</h2>
            <h3>Sent by {{ notification.admin }} on {{ notification.created_time|cobalt_nice_datetime }}</h3>
            <h3>Description: {{ notification.header.description }}</h3>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h3>Message</h3>
                            </div>
                            <div class="card-body">
                                {{ notification.msg }}
                            </div>
                        </div>
                    </div>

                    <!-- DIFFERENT FOR FCM AND SMS -->
                    {% if notification.fcm_device %}

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-header-success">
                                    <h3>Sent by FCM to Mobile Device</h3>
                                </div>
                                <div class="card-body">
                                    <p>Device Name: {{ notification.fcm_device.name }}</p>
                                    <p>Registered on: {{ notification.fcm_device.date_created|cobalt_nice_datetime }}</p>
                                </div>
                            </div>

                    {% else %}

                        <!-- SMS -->

                        <div class="col-md-6">
                            <div class="card">
                                {% if successful %}
                                    <div class="card-header card-header-success">
                                        <h3>Successfully Sent to Carrier</h3>
                                    </div>
                                {% else %}
                                    <div class="card-header card-header-danger">
                                        <h3>Error</h3>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <h3>{{ provider_response }}</h3>
                                    <a id="fields-text" href="javascript:void(0)" _="on click show #fields then hide me">+ Show fields</a>
                                    <div id="fields" style="display: none" _="on click show #fields-text then hide me">
                                        <h3>Fields</h3>
                                        {{ cloudwatch }}
                                    </div>
                                    <br>
                                    <a id="raw-text" href="javascript:void(0)" _="on click show #raw then hide me">+ Show raw data</a>
                                    <div id="raw" style="display: none" _="on click show #raw-text then hide me">

                                        <h3>Raw Data</h3>
                                        {{ raw_cloudwatch }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>


        </div>
    </div>

{% endblock content %}
