{% extends 'base.html' %}
{% load cobalt_tags %}
{% block title %} - Notifications Emails{% endblock %}
{% block content %}


    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#email">Comms</a></li>
            <li class="breadcrumb-item active" aria-current="page">View All Emails</li>
        </ol>
    </nav>

    <div class="jumbotron">
        <div class="card col-lg-10 mx-auto">
            <div class="card-header card-header-warning">
                <h1>
                    <div class="d-flex justify-content-between">
                        <div>
                            System Generated Emails
                        </div>
                        <div>
                            <i class="material-icons" id="icon" style="font-size:60px;">email</i>
                        </div>
                    </h1>

                </div>
                <div class = "card-body">
                </div>
                <div class="card-body table-responsive">


                    <table class="table table-hover table-condensed">
                        <thead class="text-info">
                            <tr>
                                <th class="text-left">Sent Date</th>
                                <th class="text-left">Subject</th>
                                <th class="text-left">Status</th>
                                <th class="text-left">Sent To (first name in list)</th>
                                <th class="text-left">Batch</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for thing in things %}
                                <tr>
                                    <!-- COB-793 If not getting SES sent notifications, assume sent DTS is last update DTS if sent according to PO -->
                                    {% if thing.snooper.limited_notifications %}
                                        {% if thing.status == 0 %}
                                            <td class="text-left">{{ thing.last_update|cobalt_nice_datetime|default_if_none:"Not yet sent" }}</td>
                                        {% else %}
                                            <td class="text-left">Not yet sent</td>
                                        {% endif %}
                                    {% else %}
                                        <td class="text-left">{{ thing.snooper.ses_sent_at|cobalt_nice_datetime|default_if_none:"Not yet sent" }}</td>
                                    {% endif %}
                                    <td class="text-left">
                                        {# We should get one or the other depending upon whether a template was used or not #}
                                        {{ thing.subject|default_if_none:"" }}
                                        {{ thing.context.subject|default_if_none:"" }}
                                    </td>

                                    {# show real status #}
                                    <td class="text-left">
                                        {% if thing.snooper.limited_notifications %}
                                            {% if thing.status == 0 %}
                                                Sent
                                            {% elif thing.status == 1 %}
                                                Failed
                                            {% else %}
                                                Queued
                                            {% endif %}
                                        {% elif thing.status != 0 %}
                                            {{ thing.get_status_display }}
                                        {% else %}
                                            {% if thing.snooper.ses_bounce_reason %}
                                                {% if thing.snooper.ses_bounce_reason == "Permanent: General" %}
                                                    Hard Bounce
                                                {% else %}
                                                    Soft Bounce
                                                {% endif %}
                                            {% elif thing.snooper.ses_clicked_at %}
                                                Clicked
                                            {% elif thing.snooper.ses_opened_at %}
                                                Opened
                                            {% elif thing.snooper.ses_delivered_at %}
                                                Delivered
                                            {% elif thing.snooper.ses_sent_at %}
                                                Sent
                                            {% else %}
                                                Unknown
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                    <td class="text-left" data-toggle="tooltip" title="{{ thing.to.0 }}">{{ thing.to.0|cobalt_hide_email }}</td>
                                    <td class="text-left">{{ thing.snooper.batch_id|default_if_none:"" }}</td>
                                    <td><a onClick='showEmail({{ thing.id }})'
                                        class="btn btn-sm btn-info">View</a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            {% include 'utils/pagination_footer.html' %}
        </div>

{% endblock %}

{% block footer %}
    <script>

        function showEmail(id) {
            var newWin = window.open('{% url "notifications:admin_view_email" %}/' + id, 'email', 'width=1000,height=1500');
        }

        $(document).ready(function() {
            // initialise tooltips
            $('[data-toggle="tooltip"]').tooltip()

        });
    </script>
{% endblock %}
