
{% load cobalt_tags %}
{% block content %}
    <h1>{{ email.subject }}</h1>
    <h2 style="padding: 10px">To:
        {% for sent_to in email.to %}
            {{ sent_to }}&nbsp;
        {% endfor %}
    </h2>
    <p style="padding: 10px">
        Date Sent: <i>{{ email.snooper.ses_sent_at|cobalt_nice_datetime|default_if_none:"Not Sent" }}</i></p>

    <table>
        <tr>
            <td>Sent</td>
            <td>{{ email.snooper.ses_sent_at|cobalt_nice_datetime|default_if_none:"" }}</td>
        </tr>
        <tr>
            <td>Delivered</td>
            <td>{{ email.snooper.ses_delivered_at|cobalt_nice_datetime|default_if_none:"" }}</td>
        </tr>
        <tr>
            <td>Opened</td>
            <td>{{ email.snooper.ses_open_count }} time{{ email.snooper.ses_open_count|pluralize }}.
                Last opened: {{ email.snooper.ses_last_opened_at|cobalt_nice_datetime|default_if_none:"Never" }}</td>
        </tr>
        <tr>
            <td>Clicked</td>
            <td>{{ email.snooper.ses_clicked_count }} time{{ email.snooper.ses_clicked_count|pluralize }}.
                Last clicked: {{ email.snooper.ses_last_clicked_at|cobalt_nice_datetime|default_if_none:"Never" }}</td>
        </tr>

        {% if email.snooper.ses_bounce_reason %}
            <tr>
                <td>Bounce Reason</td>
                <td>{{ email.snooper.ses_bounce_reason }}</td>
            </tr>
            <tr>
                <td>Last Bounce Time</td>
                <td>{{ email.snooper.ses_last_bounce_at|cobalt_nice_datetime }}</td>
            </tr>
        {% endif %}
    </table>

    <hr>
    {% if email.html_message %}
        {{ email.html_message|safe}}
    {% else %}
        <pre>
        {{ email.message }}
        </pre>
    {% endif %}
{% endblock %}
