{% load static %}
{% load humanize %}
{% load cobalt_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Email Viewer</title>
        <script src="{% static "assets/js/core/jquery-3.4.1.min.js" %}"></script>
        <style>
            .zui-table {
                border: solid 1px #DDEEEE;
                border-collapse: collapse;
                border-spacing: 0;
                font: normal 13px Arial, sans-serif;
                width: 50%;
            }
            .zui-table thead th {
                background-color: #DDEFEF;
                border: solid 1px #DDEEEE;
                color: #336B6B;
                padding: 10px;
                text-align: left;
                text-shadow: 1px 1px 1px #fff;
            }
            .zui-table tbody td {
                border: solid 1px #DDEEEE;
                color: #333;
                padding: 10px;
                text-shadow: 1px 1px 1px #fff;
            }

            div.email-box {
                padding: 10px;
                border: 2px solid #000;
                border-radius: 15px;
                -moz-border-radius: 15px;
            }

            div.other-box {
                width: 70%;
                padding: 10px;
                border: 2px solid blue;
                border-radius: 15px;
                -moz-border-radius: 15px;
                margin: 0 auto;
            }

        </style>
    </head>
    <body>

        <div style="padding: 20px">

            <!-- Show email. Could be in html_email or could be a template with context -->

            {% if email.html_message %}

                <div class="email-box">
                    <h1>{{ email.subject }}</h1>
                    <h2 style="padding: 10px">To:
                        {% for sent_to in email.to %}
                            {{ sent_to }}&nbsp;
                        {% endfor %}
                    </h2>
                    {{ email.html_message|safe}}
                </div>

            {% else %}

                {% if snoopers %}
                    <p>
                        This email was sent to {{ snoopers.count|intcomma }} {{ snoopers.count|pluralize:"person,people" }}.
                        Showing first email sent.
                    </p>
                {% endif %}

                <div class="email-box">

                    <div style="float: left;">
                        <table>
                            <tr>
                                <td>
                                    <h2 >To:</h2>
                                </td>
                                <td>
                                    <h2>
                                        {% for sent_to in email.to %}
                                            {{ sent_to }}&nbsp;
                                        {% endfor %}
                                    </h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>Subject:</h2>
                                </td>
                                <td>
                                    <h2>{{ email.context.subject }}</h2>
                                </td>
                            </tr>
                        </table>
                    </div>


                    {#        This needs some explanation. The email is a Django Post Office email object.#}
                    {#        This has a method (email_message) that basically brings it to life by rendering#}
                    {#        the template with the context. As this is (at least usually) a multipart email#}
                    {#        we need to get the alternatives (bits) and we want the first one (HTML). We get#}
                    {#        the content and the type, so again take the first part of that for just the content.#}

                    <h2>{{ email.email_message.body }}</h2>

                    {#                    {{ email.email_message.alternatives.0.0|safe }}#}
                </div>
                <br>
                <p>To save space we don't store the whole email when it has been sent. As a result, images may
                    not be shown and any attachments are not included here.
                </p>
                <p> To see the full email as it was sent
                    <a href="{% url "notifications:admin_send_email_copy_to_admin" email_id=email.id %}">
                        click here to re-send yourself a copy</a> which will include all content.
                </p>

            {% endif %}

            <button onclick="$('#details').toggle();" style="margin-top: 15px">Show details</button>
            <br>
            <br>
            <div class="other-box" id="details" style="display: none;">


                <h2>Details</h2>

                <!-- COB-793 -->
                {% if snooper.limited_notifications %}

                    <p>Due to the size of the batch containing this message, email delivery and tracking statistics are not available.</p>

                    <p>
                        {% if email.status == 0 %}
                            This email was set on {{ email.last_update|cobalt_nice_datetime}}.
                        {% elif email.status == 1 %}
                            Sending this email failed.
                        {% else %}
                            This email is currently queued.
                        {% endif %}
                    </p>

                {% else %}
                    <p style="padding-left: 10px">
                        Date Sent: <i>{{ snooper.ses_sent_at|cobalt_nice_datetime|default_if_none:"Not Sent" }}</i>
                    </p>

                    <table class="zui-table" style="margin: 0 auto;">
                        <thead>
                            <tr><th>Event</th><th>Description</th></tr>
                        </thead>
                        <tr>
                            <td>Sent</td>
                            <td>{{ snooper.ses_sent_at|cobalt_nice_datetime|default_if_none:"Not sent" }}</td>
                        </tr>
                        <tr>
                            <td>Delivered</td>
                            <td>{{ snooper.ses_delivered_at|cobalt_nice_datetime|default_if_none:"Not delivered" }}</td>
                        </tr>
                        <tr>
                            <td>Opened</td>
                            <td>{{ snooper.ses_open_count }} time{{ email.snooper.ses_open_count|pluralize }}.
                                Last opened: {{ email.snooper.ses_last_opened_at|cobalt_nice_datetime|default_if_none:"Never" }}</td>
                        </tr>
                        <tr>
                            <td>Clicked</td>
                            <td>{{ snooper.ses_clicked_count }} time{{ email.snooper.ses_clicked_count|pluralize }}.
                                Last clicked: {{ email.snooper.ses_last_clicked_at|cobalt_nice_datetime|default_if_none:"Never" }}</td>
                        </tr>

                        {% if snooper.ses_bounce_reason %}
                            <tr>
                                <td>Bounce Reason</td>
                                <td>{{ snooper.ses_bounce_reason }}</td>
                            </tr>
                            <tr>
                                <td>Last Bounce Time</td>
                                <td>{{ snooper.ses_last_bounce_at|cobalt_nice_datetime }}</td>
                            </tr>
                        {% endif %}
                    </table>
                {% endif %}

                {% if snoopers %}

                    <br>

                    <p style="padding-left: 10px">
                        This email was sent to {{ snoopers.count|intcomma }} {{ snoopers.count|pluralize:"person,people" }}.
                        <button onclick="$('#to_list').toggle();" style="">Show recipients</button>
                    </p>

                    <div id="to_list" style="display: none;">
                        <ul>
                            {% for snooper in snoopers %}
                                {% for recipient in snooper.post_office_email.to %}
                                    <li>{{ recipient }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>

                    <p style="padding-left: 10px">
                        This was sent using a template with variables.
                        <button onclick="$('#show_context').toggle();" style="">Show variables for this email</button>
                    </p>
                    <div id="show_context" style="display: none;">
                        <table class="zui-table">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in email.context.items %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}

            </div>


        </body>
    </html>
