{% extends 'base.html' %}
{% load static %}
{% load cobalt_tags %}
{% block title %} - Real Time Notifications{% endblock %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#email">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Real Time Notifications</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header card-header-primary">
            <h1>Real Time Notifications</h1>
        </div>
        <div class="card-body table-responsive">
            {% if things %}
                <table class="table-condensed table hover">
                    <thead>
                        <tr>
                            <th class="text-left">Date</th>
                            <th class="text-left">Administrator</th>
                            <th class="text-left">Description</th>
                            <th>Successfully Queued</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thing in things %}
                            <tr>
                                <td class="text-left">{{ thing.created_time | cobalt_nice_datetime }}</td>
                                <td class="text-left">{{ thing.admin.full_name }}</td>
                                <td class="text-left">{{ thing.description }}</td>
                                <td>{{ thing.successful_send_number }}/{{ thing.total_record_number }}</td>
                                <td>
                                    {% if thing.send_status %}
                                        <span class="text-success"><i class="material-icons">check_circle</i></span>
                                    {% else %}
                                        <span class="text-primary"><i class="material-icons">warning</i></span>
                                    {% endif %}
                                </td>
                                <td><a href="{% url "notifications:admin_view_realtime_notification_detail" header_id=thing.pk %}" class="btn btn-sm btn-info">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>There are no messages to show</h3>
            {% endif %}
        </div>
    </div>

    {% include 'utils/pagination_footer.html' %}
{% endblock content %}

