{% extends "base.html" %}
{% load static %}
{% block title %} - AWS Suppression List{% endblock %}
{% block header %}
    {% include "utils/data_tables_heading.html" %}
{% endblock header %}
{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#email">Comms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Email Suppression</li>
        </ol>
    </nav>

    <div class="card col-md-8 mx-auto">
        <div class="card-header card-header-danger">
            <h1>Amazon AWS Suppression List</h1>
            <h4>When we send an email to a user it may either not be delivered (usually a bounce because the address is invalid),
                or the user may complain about it. In either case, AWS will no longer send emails from us to this email address.</h4>
            <h4>Here, you can remove those blocks. Be careful, if the reason is <b>complaint</b>, you should get the users
                approval to remove the block.</h4>

            {% if COBALT_HOSTNAME != "myabf.com.au" %}
                <h3>Suppression lists are universal, they are not set by environment. Changes made in a test environment will impact production.</h3>
            {% endif %}

        </div>
        <div class="card-body">

            {% if suppression_list %}

                <h3>There are {{ suppression_list|length }} entries</h3>

                {% include "utils/cobalt_message_h3.html" %}

                <div class="table-responsive">
                    <table id="suppression_table" class="table table hover table condensed">
                        <thead>
                            <tr>
                                <th>Email Address</th>
                                <th>User</th>
                                <th>Reason</th>
                                <th>Last Update</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for suppression_item in suppression_list %}
                                <tr>
                                    <td>{{ suppression_item.email }}</td>
                                    <td>
                                        {{ suppression_item.user|default_if_none:"-" }}
                                        {% if suppression_item.user.is_un_reg %}
                                            <br><b><i>Unregistered</i></b>
                                        {% endif %}
                                    </td>
                                    <td>{{ suppression_item.reason|title }}</td>
                                    <td>{{ suppression_item.last_update_time|date:"Y-m-d H:i" }}</td>
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="email_address_to_remove" value="{{ suppression_item.email }}">
                                            <button type="submit" class="btn btn-sm btn-danger">Remove Block</button>
                                        </form>

                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% else %}
                <h3>No data found</h3>
            {% endif %}
        </div>
    </div>


{% endblock content %}

{% block footer %}
    <script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
    <script>
        $(document).ready(function () {

            // Initialise datatable - only show pagination if more than one page, sort in reverse date order, column 0
            $('#suppression_table').DataTable({
                "order": [[3, "desc"]],
                drawCallback: function (settings) {
                    const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                    pagination.toggle(this.api().page.info().pages > 1);
                },
            });

        })
    </script>
{% endblock footer %}
