{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Email Preview</title>

        <link rel="stylesheet" type="text/css" href="{% static "assets/css/google-fonts/fonts.css" %}" />
        <link href="{% static "assets/css/material-dashboard.css" %}?v=2.1.1" rel="stylesheet" />
        <link href="{% static "assets/css/cobalt.css" %}" rel="stylesheet" />
        <link href="{% static "assets/css/font-awesome.5.14/css/all.min.css" %}" rel="stylesheet" />
        <link href="{% static "assets/css/animate.4.0.0/animate.min.css" %}" rel="stylesheet" />
        <script src="{% static "assets/js/core/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "assets/js/core/popper.min.js" %}"></script>
        <script src="{% static "assets/js/plugins/jquery-ui.min.js" %}"></script>
        <script src="{% static "assets/js/plugins/perfect-scrollbar.jquery.min.js" %}"></script>
        <script src="{% static "assets/js/core/bootstrap-material-design.min.js" %}"></script>
    </head>
    <body>

        <div class="container">

            <p class="font-italic text-dark mt-3 ml-5 mr-5">You can also use the 'Send a Test Email' button to send the email to yourself to check how it will look in an email client before you send it.</p>

            {% if subject %}
                <p class="text-dark mt-3">Subject: {{ subject }}</p>
            {% endif %}

            {% if from_name %}
                <p class="text-dark mt-3">From: '{{ from_name }}&lt;donotreply@myabf.com.au&gt;'</p>
            {% endif %}

            {% if reply_to %}
                <p class="text-dark mt-3">Reply to: '{{ reply_to }}'</p>
            {% endif %}

            {% if batch.batch_size %}
                <p class="text-dark mt-3">To: {{ batch.batch_size }} recipient{{ batch.batch_size|pluralize }}.</p>
            {% else %}
                <p class="text-dark mt-3">No recipients have been selected. Go to 'Review Recipients' to modify the list of recipients.</p>
            {% endif %}

            {% if attachment_objects %}
                <h4 class="text-dark ">Attachments:</h4>

                {% for attachment_object in attachment_objects %}
                    <a
                        class="btn btn-sm btn-primary mb-3"
                        href="/media/{{ attachment_object.attachment.name }}"
                        target="_blank"
                    >
                        {{ attachment_object.filename }} ({{ attachment_object.attachment.size|filesizeformat }})
                    </a>
                {% endfor %}
            {% endif %}

            {# We use an iframe to get rid of the bootstrap css so we can see the email as it will look when delivered #}

            <iframe
                onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
                style="height:200px;width:100%;border:none;overflow:hidden;"
                {% if po_template_name == "club" %}
                    srcdoc='
                    {% include "notifications/django_post_office_core_templates/po_club_template.html" %}
                    '
                {% elif po_template_name == "two_headings" %}
                    srcdoc='
                    {% include "notifications/django_post_office_core_templates/po_email_with_two_headings_flex.html" %}
                    '
                {% else %}
                    srcdoc='
                    {% include "notifications/django_post_office_core_templates/po_email_default_flex.html" %}
                    '
                {% endif %}
            ></iframe>

        </div>

    </body>
