<!-- Multi event selection. Allows user to select from events across a tree of masters, congresses and events -->

{% extends 'notifications/batch_email.html' %}

{% load humanize %}
{% load cobalt_tags %}

{% block header %}
    <script>

        // check whether all checkboxes for a selector are checked
        function allCheckedForSelector(a_selector) {
            const allCheckboxes = $(a_selector).length;
            const checkedCheckboxes = $(a_selector + ':checked').length;
            return allCheckboxes === checkedCheckboxes;
        }


        // ensure that the select all checkbox matches the current selections
        function setSelectAll() {
            if (allCheckedForSelector(".master-cb")) {
                $("#id-select-all").prop("checked", true);
                $("#id-select-all").prop('indeterminate', false);
            } else {
                $("#id-select-all").prop("checked", false);
                const checkedCount = $('.master-cb:checked').length + $('.congress-cb:checked').length + $('.event-cb:checked').length;
                $("#id-select-all").prop('indeterminate', checkedCount > 0);
            }
        }


        // set the partially selected indicator ('-') for all composite items
        function setPartials() {

            // check each unchecked master for some selected subcomponents
            $(".master-cb").each(function() {
                if (this.checked) {
                    $(this).prop('indeterminate', false);
                } else {
                    const parts = this.id.split('-');
                    const master_id = parts[parts.length - 1];
                    const mcChecked = $('[id^="congress-cb-' + master_id + '"]:checked').length;
                    const meChecked = $('[id^="event-cb-' + master_id + '"]:checked').length;
                    $(this).prop('indeterminate', (mcChecked + meChecked) > 0);
                }
            });

            // check each unchecked congress for some selected events
            $(".congress-cb").each(function() {
                if (this.checked) {
                    $(this).prop('indeterminate', false);
                } else {
                    const parts = this.id.split('-');
                    const master_id = parts[parts.length - 2];
                    const congress_id = parts[parts.length - 1];
                    const evSelector = '[id^="event-cb-' + master_id + '-' + congress_id + '-' + '"]:checked';
                    const evChecked = $(evSelector).length;
                    $(this).prop('indeterminate', evChecked > 0);
                }
            });
        }


        // expand all collapsible divs that contain checkboxes with checked attribute
        // use once off on entry to expand to show restored selection
        function expandAllSelected() {
            $('.event-cb:checked').each(function() {
                var parts = this.id.split('-');
                var master_id = parts[parts.length - 3];
                var congress_id = parts[parts.length - 2];
                $('#master-detail-' + master_id).collapse('show')
                $('#congress-detail-' + master_id + '-' + congress_id).collapse('show')
            });
            $('.congress-cb:checked').each(function() {
                var parts = this.id.split('-');
                var master_id = parts[parts.length - 3];
                var congress_id = parts[parts.length - 2];
                $('#master-detail-' + master_id).collapse('show')
            });
        }


        $(document).ready(function() {

            // change the label on the toggle control when showing
            $('.collapse').on('show.bs.collapse', function() {
                $('#toggle-' + this.id).text('[Hide]');
            });

            // change the label on the toggle control when hiding
            $('.collapse').on('hide.bs.collapse', function() {
                $('#toggle-' + this.id).text('[Show]');
            });

            setSelectAll();
            setPartials();

            expandAllSelected();

            // select all event handler
            $('#id-select-all').change(function() {

                $('.master-cb').prop('checked', this.checked).prop('indeterminate', false);
                $('.congress-cb').prop('checked', this.checked).prop('indeterminate', false);
                $('.event-cb').prop('checked', this.checked).prop('indeterminate', false);

                $(this).prop('indeterminate', false);
            });


            // event checkbox change event handler
            $('.event-cb').change(function() {

                var parts = this.id.split('-');
                var master_id = parts[parts.length - 3];
                var congress_id = parts[parts.length - 2];
                var event_id = parts[parts.length - 1];

                if (this.checked) {
                    // propogate up to congress if all events selected
                    if (allCheckedForSelector('.event-cb-in-congress-' + congress_id)) {
                        $('#congress-cb-' + master_id + '-' + congress_id).trigger('click');
                    } else {
                        setSelectAll();
                        setPartials();
                    }
                } else {
                    // clear the congress and master
                    $('#congress-cb-' + master_id + '-' + congress_id).prop('checked', false);
                    $('#master-cb-' + master_id).prop('checked', false);
                    setSelectAll();
                    setPartials();
                }
            });


            // congress checkbox change event handler
            $('.congress-cb').change(function() {

                var parts = this.id.split('-');
                var master_id = parts[parts.length - 2];
                var congress_id = parts[parts.length - 1];

                // select or deselect all events (may already be all checked if called from event handler)
                $('.event-cb-in-congress-' + congress_id).prop('checked', this.checked);

                if (this.checked) {
                    // propogate up to master if all congresses selected
                    if (allCheckedForSelector('.congress-cb-in-master-' + master_id)) {
                        $('#master-cb-' + master_id).trigger('click');
                    } else {
                        setSelectAll();
                        setPartials();
                    }
                } else {
                    // clear the master
                    $('#master-cb-' + master_id).prop('checked', false);
                    setSelectAll();
                    setPartials();
                }
            });


            // master/series checkbox change event handler
            $('.master-cb').change(function() {

                var parts = this.id.split('-');
                var master_id = parts[parts.length - 1];

                // select or deselect all congresses and events
                $('.congress-cb-in-master-' + master_id).prop('checked', this.checked);
                $('[id^="event-cb-' + master_id + '-"]').prop('checked', this.checked);

                setSelectAll();
                setPartials();
            });

        });

    </script>
{% endblock header %}

{% block payload %}

    <form
        id="congress-select-form"
        method="post"
    >
        {% csrf_token %}

        <div class="container">
            <div class="row">
                <div class="col-12" style="margin-left: 30px;">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        name="select-all"
                        value="all"
                        id="id-select-all"
                    >
                    <label class="form-check-label text-dark" for="id-select-all">
                        Select all
                    </label>
                </div>
                <div class="col-12">
                    <hr/>
                </div>
            </div>
        </div>

        <div class="container">
            {% for master in masters %}
                {% if master.congress_set.all|length > 1 %}

                    <!-- Multiple congresses in the series -->
                    <div class="row">
                        <div class="col-12 mt-2" style="margin-left: 30px;">
                            <input
                                class="form-check-input master-cb" type="checkbox"
                                name="master-{{ master.pk }}" value="{{ master.pk }}" id="master-cb-{{ master.pk }}"
                                {% if master.pk in selected_masters %} checked {% endif %}
                            >
                            <label class="form-check-label text-dark" for="master-cb-{{ master.pk }}">
                                <u>
                                    {{ master.name }} (Series of {{ master.congress_set.all|length }})
                                </u> &nbsp;
                            </label>
                            <span
                                class="text-secondary" style="cursor: pointer;"
                                data-toggle="collapse" data-target="#master-detail-{{ master.pk }}"
                                id="toggle-master-detail-{{ master.pk }}"
                            >
                                [Show]
                            </span>
                        </div>
                    </div>
                {% elif master.congress_set.all|length == 1 %}

                    <!-- Single congress in series, so master is hidden -->

                    <input
                        class="d-none form-check-input master-cb" type="checkbox"
                        name="master-{{ master.pk }}" value="{{ master.pk }}" id="master-cb-{{ master.pk }}"
                        {% if master.pk in selected_masters %} checked {% endif %}
                    >

                {% endif %}

                {% if master.congress_set.all|length > 0 %}
                    <!-- Congresses in a hideable div -->
                    <div
                        class="row flex_column master-detail {% if master.congress_set.all|length > 1 %} collapse {% endif %}"
                        id="master-detail-{{ master.pk }}"
                    >

                        {% for congress in master.congress_set.all %}

                            <!-- Congress - always visible -->
                            <div
                                class="col-12 mt-2"
                                style="margin-left: {% if master.congress_set.all|length > 1 %} 60px {% else %} 30px {% endif %};"
                            >
                                <input
                                    class="form-check-input congress-cb congress-cb-in-master-{{ master.pk }}" type="checkbox"
                                    name="congress-{{ congress.pk }}" value="{{ congress.pk }}"
                                    id="congress-cb-{{ master.pk }}-{{ congress.pk }}"
                                    {% if congress.pk in selected_congresses %} checked {% endif %}
                                >
                                <label class="form-check-label text-dark" for="congress-cb-{{ master.pk }}-{{ congress.pk }}">
                                    <b>
                                        {{ congress.name }} ({{ congress.year }})
                                        {% if congress.event_set.all|length == 1 %} - {{ congress.event_set.all.0.event_name }} {% endif %}
                                    </b> &nbsp;
                                </label>

                                <!-- Only show expand/collapse control if multiple events -->
                                {% if congress.event_set.all|length > 1 %}
                                    <span
                                        class="text-secondary" style="cursor: pointer;"
                                        data-toggle="collapse" data-target="#congress-detail-{{ master.pk }}-{{ congress.pk }}"
                                        id="toggle-congress-detail-{{ master.pk }}-{{ congress.pk }}"
                                    >
                                        [Show]
                                    </span>
                                {% endif %}
                            </div>

                            {% if congress.event_set.all|length > 1 %}

                                <!-- Multiple events in a hideable div -->
                                <div class="row flex_column congress-detail collapse" id="congress-detail-{{ master.pk }}-{{ congress.pk }}">

                                    {% for event in congress.event_set.all %}

                                        <!-- Event -->
                                        <div
                                            class="col-12"
                                            style="margin-left: {% if master.congress_set.all|length > 1 %} 110px {% else %} 75px {% endif %};"
                                        >
                                            <input
                                                class="form-check-input event-cb event-cb-in-congress-{{ congress.pk }}" type="checkbox"
                                                name="event-{{ event.pk }}" value="{{ event.pk }}"
                                                id="event-cb-{{ master.pk }}-{{ congress.pk }}-{{ event.pk }}"
                                                {% if event.pk in selected_events %} checked {% endif %}
                                            >
                                            <label class="form-check-label" for="event-cb-{{ master.pk }}-{{ congress.pk }}-{{ event.pk }}">
                                                {{ event.event_name }}

                                            </label>
                                        </div>
                                    {% endfor %} <!-- Events -->
                                </div>

                            {% else %}

                                <!-- Single event in congress, so is hidden (user selects the congress) -->
                                <input
                                    class="d-none form-check-input event-cb event-cb-in-congress-{{ congress.pk }}" type="checkbox"
                                    name="event-{{ congress.event_set.all.0.pk }}" value="{{ congress.event_set.all.0.pk }}"
                                    id="event-cb-{{ master.pk }}-{{ congress.pk }}-{{ congress.event_set.all.0.pk }}"
                                    {% if congress.event_set.all.0.pk in selected_events %} checked {% endif %}
                                >

                            {% endif %}
                        {% endfor %}  <!-- Congress -->
                    </div> <!-- congresses div -->
                {% endif %}

            {% empty %} <!-- No masters -->

                <div class="row">
                    <div class="col">
                        <p>No Congresses</p>
                    </div>
                </div>

            {% endfor %}  <!-- Master -->
        </div>

        <div class="row">
            <div class="col-12">
                <hr/>
                <button type="submit" class="btn btn-primary cobalt-save">
                    {% if existing_selection %}
                        Replace existing selection
                    {% else %}
                        Save selection
                    {% endif %}
                </button>
            </div>
        </div>
    </form>

{% endblock payload %}
