{% extends 'notifications/batch_email.html' %}

{% block header %}

    {% include 'notifications/batch_email_common_scripts.html' %}

    <script>

        $(document).ready(function() {

            $("id_template").focus()
            $("id_template").addClass('active')
        });

    </script>

{% endblock header %}

{% block payload %}

    <div class="tab-pane" id="send-email-options" aria-expanded="false">
        <form method="post">
            {% csrf_token %}

            <div class="container">
                {% if email_options_form.template.field.choices %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating">
                                <label class="form-control-label" for="id_template">
                                    Template
                                </label>
                                <select name="template" class="form-control mb-3" id="id_template"
                                    hx-post="{% url 'notifications:compose_email_options_from_and_reply_to_htmx' club_id=club.id batch_id_id=batch.id %}"
                                    hx-target="#from_and_reply_to"
                                    hx-trigger="change"
                                    hx-vars="club_id:'{{ club.id }}'"
                                >
                                    {% for choice_template_id, choice_template_name in email_options_form.fields.template.choices %}
                                        <option
                                            value="{{ choice_template_id }}"
                                            {% if choice_template_id == selected_template_id %}selected{% endif %}
                                        >
                                            {{ choice_template_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <h3>You don't have any templates set up so this will be sent using the default template.</h3>
                    <p class="font-italic">You can create templates to customise your emails if you like. Templates can be set up from the Club Admin menu.</p>
                    <input type="hidden" name="tags" value="0">
                {% endif %}

                {#         We update these values if the template changes so put them in a div #}
                <div id="from_and_reply_to">

                    {% include "notifications/batch_email_options_from_and_reply_to_htmx.html" %}

                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-6 text-left">

                            <!-- cancel button, deletes without checking -->
                            <a
                                id="id-cancel-button"
                                class="btn btn-sm btn-info {% if not cancelable %}d-none{% endif %}"
                                href="{% url 'notifications:delete_email_batch' club_id=club.id batch_id_id=batch.id %}"
                            >
                                Cancel
                            </a>

                            <!-- delete button, asks for confirmation -->

                            <span
                                class="btn btn-sm btn-danger {% if cancelable %}d-none{% endif %}"
                                id="id-delete-button"
                                onclick="confirmDelete('{% url "notifications:delete_email_batch" club_id=club.id batch_id_id=batch.id %}')"
                            >
                                Delete
                            </span>

                        </div>
                        <div class="col-6 text-right">

                            <a
                                class="btn btn-sm btn-info"
                                href="{% url 'notifications:compose_email_recipients' club_id=club.id batch_id_id=batch.id %}"
                            >
                                Previous Step
                            </a>

                            <!-- Next button -->

                            <button
                                class="btn btn-sm w-25 btn-info cobalt-save"
                                type="submit"
                            >
                                Next Step
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock payload %}
