<!-- member seach results -->
{% if members %}

    <div class="col">
        <ul>
            {% for member in members %}
                <li>
                    {% if member.club_email %}
                        <a href= "{% url 'notifications:compose_email_recipients_add_member' club_id=club.id batch_id_id=batch.id system_number=member.system_number %}">
                    {% endif  %}
                    {{ member.first_name}} {{ member.last_name }}
                    {% if not member.internal %}
                        ({{ member.system_number }})
                    {% endif %}
                    {% if member.membership_status == 'CON' %}
                        CONTACT
                    {% endif %}
                    {% if member.membership_status in inactive_states %}
                        {{ member.get_membership_status_display|upper }}
                    {% endif %}
                    {% if member.club_email %}
                        </a>
                    {% endif  %}
                </p>
            {% endfor %}
        </ul>
    </div>

{% else %}
    No members matched
{% endif %}
