<!-- member seach results -->
{% if members %}

    <ul>
        {% for member in members %}
            <li>
                {% if member.email %}
                    <a href= "{% url 'notifications:compose_email_recipients_add_member' club_id=club.id batch_id_id=batch.id system_number=member.system_number %}">
                        {{ member.first_name}} {{ member.last_name }} ({{ member.system_number }})
                    </a>
                {% else %}
                    {{ member.first_name}} {{ member.last_name }} ({{ member.system_number }})
                {% endif %}
            </p>
        {% endfor %}
    </ul>

{% else %}
    No members matched
{% endif %}
