<!-- The tag pane for email recipeinets view -->

<div>
    {% if tags %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>
                                {{ tag.1 }} ({{ tag.2 }})
                            </td>
                            <td>
                                <a
                                    class="btn btn-sm btn-success"
                                    href="{% url 'notifications:compose_email_recipients_add_tag' club_id=club.id batch_id_id=batch.id tag_id=tag.0 %}"
                                >
                                    Add
                                </a>
                                <a
                                    class="btn btn-sm btn-warning"
                                    href="{% url 'notifications:compose_email_recipients_remove_tag' club_id=club.id batch_id_id=batch.id tag_id=tag.0 from_all=1 %}"
                                >
                                    Remove
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        This club has no members defined
    {% endif %}
</div>
