<!-- Form and Reply-to fields on the email options view, which change based on template -->
{% load cobalt_tags %}

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label class="bmd-label-floating" for="id_reply_to">
                Reply to
            </label>
            <input type="email" name="reply_to" maxlength="100" class=" form-control" id="id_reply_to" value="{{ email_options_form.reply_to.value|default_if_none:"" }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% cobalt_bs4_field email_options_form.from_name %}
    </div>
</div>
