{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Show the data from the recent user activity                            #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}
{% load humanize %}

<table class="table table-condensed table-hover">
    <thead class="text-primary">

        <tr>
            <th>Time Ago</th>
            <th class="text-left">User</th>
        </tr>

    </thead>
    <tbody>
        {% for item in last_activity %}
            {% if item.last_activity %}
                <tr>
                    <td>{{ item.last_activity|naturaltime }}</td>
                    <td class="text-left">{{ item }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>




