{# include me in the header block if you want to use data tables #}

{% load static %}

<link rel="stylesheet" type="text/css"
    href="{% static "assets/packages/datatables.1.10.25/dataTables.bootstrap4.min.css" %}"/>
<link rel="stylesheet" type="text/css"
    href="{% static "assets/packages/datatables.1.10.25/responsive.bootstrap4.min.css" %}"/>

<script type="text/javascript"
    src="{% static "assets/packages/datatables.1.10.25/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript"
    src="{% static "assets/packages/datatables.1.10.25/dataTables.bootstrap4.min.js" %}"></script>
<script type="text/javascript"
    src="{% static "assets/packages/datatables.1.10.25/dataTables.responsive.min.js" %}"></script>
<script type="text/javascript"
    src="{% static "assets/packages/datatables.1.10.25/responsive.bootstrap4.min.js" %}"></script>
