  // ---------------------------------------- //
  // Generic user search. See documentation   //
  // for useage instructions.                 //
  // ---------------------------------------- //

//
// Constants - if search id is set then it allows multiple user searches per page
//

const search_results{{ search_id }} = $('#search-results{{ search_id }}')
const search_panel{{ search_id }} = $('#cobalt-search{{ search_id }}')
const member_display{{ search_id }} = $('#cobalt-member{{ search_id }}')
const system_number{{ search_id }} = $('#id_system_number{{ search_id }}')
const lastname{{ search_id }} = $("#id_lastname{{ search_id }}")
const firstname{{ search_id }} = $("#id_firstname{{ search_id }}")
const member_search{{ search_id }} = '{% url "accounts:member_search_ajax" %}'
const member_detail{{ search_id }} = '{% url "accounts:member_details_ajax" %}'
const system_number_search{{ search_id }} = '{% url "accounts:system_number_search_ajax" %}'


var member_id = {};
var member_name = {};
var member_pic = {};

//
// user selected from form
//

function okSearch{{ search_id }}(id){

  clearModal{{ search_id }}();

  try {
    cobaltMemberSearchOk(id);
  } catch (error) {
    // no function defined in calling module - just ignore
  }

}

//
// cancel the form
//

function cancelSearch{{ search_id }}(){

  clearModal{{ search_id }}();

  try {
    cobaltMemberSearchCancel({{ search_id }});
  } catch (error) {
    // no cancel function defined in calling module - just ignore
  }

}

//
// Clear and hide generic member search popup
//

function clearModal{{ search_id }}(){
  $('.dynamic_search{{ search_id}}').each(function(i, obj) {
    obj.val("");
  })
  $('#search-results{{ search_id }}').html("");
  $('#cobalt-member{{ search_id }}').html("");
  $('#id_system_number{{ search_id }}').val("");

  // show search boxes
  $("#id-cobalt-search-top{{ search_id }}").show();

  $('#cobalt_general_member_search{{ search_id }}').modal('hide');
}

//
// enter key listener function for single member view
//
function enterKeyListenerSingleMember{{ search_id }}(e) {
  if (e.keyCode == 13) {
    e.preventDefault();
    document.removeEventListener('keyup', enterKeyListenerSingleMember{{ search_id }});
    okSearch{{ search_id }}({{ search_id }});
  }
}

//
// view with single user selected for confirmation
//

function showSingleMember{{search_id}}(id) {
  $.getJSON(member_detail{{ search_id }} + "?member_id=" + id + "&search_id={{ search_id }}")
    .done(response => {
      // clear results
      search_results{{ search_id }}.html("");

      // show the member
      member_display{{ search_id }}.html(response['data']);

      // set member_id, name and picture
      member_id[{{ search_id }}] = id;
      member_name[{{ search_id }}] = response['member'];
      member_pic[{{ search_id }}] = response['pic'];

      // listen for ok button
      $(".cobalt-search-ok{{ search_id }}").click(function(event){
        okSearch{{ search_id }}({{ search_id }});
      });

      // listen for cancel button
      $(".cobalt-search-cancel{{ search_id }}").click(function(event){
        cancelSearch{{ search_id }}();
      });

      // hide search boxes
      $("#id-cobalt-search-top{{ search_id }}").hide();

      // add listener for Enter
      document.addEventListener('keyup', enterKeyListenerSingleMember{{ search_id }});

    })
 }

 //
 // handle escape key
 //
 function escapeSearch{{ search_id }}(e) {
   if (e.keyCode == 27) {
//     document.removeEventListener('keyup', escapeSearch{{ search_id }});
     cancelSearch{{search_id}}();
   }
 }

jQuery(document).ready(function() {

//
// dynamic search
//
  $(".dynamic-search{{ search_id }}").on('keyup', function(event){

    event.stopPropagation();
    event.stopImmediatePropagation();

    // Get values and search if enough letters typed

    var ln = lastname{{ search_id }}.val();
    var fn = firstname{{ search_id }}.val();

    search_results{{ search_id }}.html("");

    if (ln.length + fn.length > 1) {
      $.getJSON(member_search{{ search_id }} + "?lastname=" + ln + "&firstname=" + fn + "&search_id={{ search_id }}")
        .done(response => {

        // update screen with results
        search_results{{ search_id }}.html(response['data']);

        // watch for user selecting member and change screen again
        $(".cobalt-names{{ search_id }}").click(function(event){
          var id=$(this).attr("value");
          lastname{{ search_id }}.val('');
          firstname{{ search_id }}.val('');
          system_number{{ search_id }}.val('');
          showSingleMember{{ search_id }}(id);
        });

      });
    }
  });

//
// system number search
//

  $("#system_number_search_button{{search_id}}").click(function(event){

    $.getJSON(system_number_search{{ search_id }} + "?system_number=" + system_number{{ search_id }}.val() + "&search_id={{ search_id }}")
      .done(response => {

      if (response['data']['status'] == "Success") {
        showSingleMember{{ search_id }}(response['data']['member_id']);
      } else {
        search_results{{ search_id }}.html(response['data']['msg']);
      }
    });
  });

//
// listen to close button
//

  $("#close{{search_id}}").click(function(event){
    cancelSearch{{search_id}}();
  });

//
// listen for escape and close dialog
//

  document.addEventListener('keyup', escapeSearch{{ search_id }});

//
// Fix for bootstrap on ios not showing the modal window
//
  $(document).on('show.bs.modal', '.modal', function () {
    $(this).appendTo('body');
  });


// Link enter key to clicking the search button
  var input = $("#id_system_number{{ search_id }}");

  input.on("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      $("#system_number_search_button{{ search_id }}").click();
    }
  });

}); // end document ready
