<!-- Generic Member Search -->
<!-- To use multiple on the same page set search_id to a distinct value when including -->
<div class="modal fade" data-backdrop="false"data-backdrop="static" data-keyboard="false" id="cobalt_general_member_search{{ search_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold"><i class="material-icons">how_to_reg</i>&nbsp;&nbsp;Member Lookup</h4>
        <button type="button" class="close" data-dismiss="modal" id="close{{ search_id }}" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="id-cobalt-search-top{{ search_id }}">
        <div class="modal-body mx-3">
          <div class="container">
            <div id="cobalt-search{{ search_id }}" class="row justify-content-center">
              <div class="col-12 form-group">
                <label for="id_lastname{{ search_id }}" id="id_label_lastname{{ search_id }}" class="bmd-label-static">Last Name</label>
                <input type="text" class="form-control dynamic-search{{ search_id }}" id="id_lastname{{ search_id }}" name="lastname" value="">
              </div>

              <div class="col-12 form-group">
                <label for="id_firstname{{ search_id }}" id="id_label_firstname{{ search_id }}" class="bmd-label-static">First Name</label>
                <input type="text" class="form-control dynamic-search{{ search_id }}" id="id_firstname{{ search_id }}" name="firstname" value="">
              </div>
{% if request.user.system_number_search %}
              <div class="col-8 form-group">
                <label for="id_system_number{{ search_id }}" id="id_label_system_number{{ search_id }}" class="bmd-label-static">{{ GLOBAL_ORG }} Number</label>
                <input type="number" class="form-control" id="id_system_number{{ search_id }}" name="system_number" value="">
              </div>
              <div class="col-4 form-group text-right">
                <button class="btn btn-sm bt-warning" id="system_number_search_button{{ search_id }}">Search</button>

              </div>
{% endif %}
            </div>
          </div>
        </div>
      </div>
      <div id="cobalt-member{{ search_id }}">
      </div>
      <div class="justify-content-center px-2 pb-5"
          <span id="search-results{{ search_id }}"></span>
      </div>
    </div>
  </div>
</div>
<!-- End Generic Member Search -->
