{% load static %}

{#Include file for HTMX. Loads HTMX library and adds csrf token #}

{#<script src="{% static "assets/packages/htmx-1.7.0/htmx.min.js" %}"></script>#}
{# Note htmx needs to be loaded in the head to handle being loaded twice https://github.com/bigskysoftware/htmx/issues/854 #}
{# This is done in base.html. If you update HTMX change both locations #}

<script src="{% static "assets/packages/_hyperscript@0.9.1/_hyperscript_web.min.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/packages/growl-notification/colored-theme.min.css" %}">

<!-- BITDEFENDER COMPLAINS ABOUT growl-notification.min.js. CHANGING TO AN UNMINIFIED VERSION SEEMS TO SHUT IT UP-->
<script src="{% static "assets/packages/growl-notification/growl-notification.js" %}"></script>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    // functions to show pop up error messages

    htmx.on("htmx:responseError", function(evt) {
        GrowlNotification.notify({
            title: 'The server returned an error',
            description: 'If this problem continues, please notify support.',
            type: 'error',
            position: 'top-right',
            closeTimeout: 5000
        })
    })
    htmx.on("htmx:sendError", function(evt) {
        GrowlNotification.notify({
            title: 'Unable to talk to the server at the moment',
            description: 'If this problem continues, please notify support.',
            type: 'error',
            position: 'top-right',
            closeTimeout: 5000
        })
    })
    {#htmx.logAll();#}

</script>
