{% if things.paginator.num_pages > 1 %}

    <ul class="pagination pagination-info">

        {# Handle backward links if not on first page #}

        {% if things.has_previous %}

            <li class="page-item">
                <a class="page-link"
                    hx-post="{{ hx_post }}?page={{ things.previous_page_number }}"
                    hx-vars="{{ hx_vars }}"
                    hx-target="{{ target }}"
                    style="cursor: pointer"
                >
                    PREV
                </a>
            </li>
        {% endif %}

        {# Show numbered link for this page and those around it #}

        {% for num in things.paginator.page_range %}

            {% if things.number == num %}

                <li class="active page-item">
                    <span class="page-link">{{ num }}</span>
                </li>

            {% elif num > things.number|add:'-3' and num < things.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link"
                        hx-post="{{ hx_post }}?page={{ num }}"
                        hx-vars="{{ hx_vars }}"
                        hx-target="{{ target }}"
                        style="cursor: pointer"
                    >

                        {{ num }}

                    </a>
                </li>
            {% endif %}

        {% endfor %}

        {# Handle forwards links if not on last page #}

        {% if things.has_next %}
            <li class="page-item">
                <a class="page-link"
                    hx-post="{{ hx_post }}?page={{ things.next_page_number }}"
                    hx-vars="{{ hx_vars }}"
                    hx-target="{{ target }}"
                    style="cursor: pointer"
                >
                    NEXT
                </a>
            </li>

        {% endif %}
    </ul>

{% endif %}
