{% extends 'base_logged_out.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block header %}
    <style>
    @media (min-width: 768px) {
        .inner {
            width: 30%;
            margin: 0 auto;
        }
    }
    @media (max-width: 767px) {
        .inner {
            width: 100%;
            margin: 0 auto;
        }
    }
        #id_reported_by_name,#id_reported_by_email,#id_title,#id_description {
             width: 340px;
        }

    </style>
{% endblock header %}

{% block content %}
    <div class="container animate__animated animate__fadeInUp animate__delay-1s">

    </div>
    <h1>Contact Us</h1>
    <div>
        <div class="inner">
            <form id="contactform" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button class="g-recaptcha"
                    data-sitekey="{{ site_key }}"
                    data-callback='onSubmit'
                    data-action='submit'>Send</button>
                <a href="/" >Cancel</a>
            </form>
        </div>
    </div>


{% endblock %}
{% block footer %}
<script src="{% static "assets/js/core/jquery-3.4.1.min.js" %}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
   function onSubmit(token) {
       console.log(token);
       $.post( "https://www.google.com/recaptcha/api/siteverify", { secret: "{{ site_key }}", response: token })
        .done(function( data ) {
        console.log(data);
        });
     document.getElementById("contactform").submit();
   }
 </script>
{% endblock footer %}