{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% load cobalt_tags %}
{% load static %}

{% block headerjs %}

<!-- The js libraries are a problem for Summernote so we override them here -->

<script src="{% static "assets/js/core/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "assets/js/core/popper.min.js" %}"></script>
{% if not request.user.windows_scrollbar %}
<script src="{% static "assets/js/plugins/perfect-scrollbar.jquery.min.js" %}"></script>
{% endif %}
<link href="{% static "assets/css/material-dashboard.css" %}?v=2.1.1" rel="stylesheet" />
<script src="{% static "assets/js/core/bootstrap-material-design.min.js" %}"></script>
<script src="{% static "assets/js/cobalt-core.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/css/bootstrap.4.0.0.min.css" %}">


<style>
  /* remove bug from summernote height in codeview mode */
  .note-codable {
    min-height: 600px !important;
  }

  .note-editable {
    line-height: 1.0;

    background-color: {
        {
        forum.bg_colour
      }
    }

     !important;

    color: {
        {
        forum.fg_colour
      }
    }

     !important;
  }

  .cobalt-min-width-100 {
    min-width: 100%;
  }
</style>
{% endblock %}
{% block content %}

<!-- Instead of using {{ form.media }} we hardcode the static files here
     so we can control the version that we use. Django-summernote comes with
     an older version of summernote that has some bugs especially relating
     to how it shakes when it is slowly scrolled. We point to a newer
     version of summernote and it fixes the problem. -->

<link href="{% static "forums/summernote/summernote-bs4.css" %}" type="text/css" media="all" rel="stylesheet">
<link href="{% static "forums/summernote/django_summernote.css" %}" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="{% static "forums/summernote/jquery.ui.widget.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.iframe-transport.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.fileupload.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/summernote-bs4.min.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/ResizeSensor.js" %}"></script>


    {% include "utils/generic_user_search_body.html" with search_id=1 %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "support:helpdesk_menu" %}">Helpdesk</a></li>
            <li class="breadcrumb-item"><a href="{% url "support:helpdesk_list" %}">Tickets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Ticket</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="card mx-auto">
                <div class="card-header card-header-info">
                    <h1>
                        <div class="d-flex justify-content-between">
                            <div>
                                Helpdesk - Edit Ticket #{{ ticket.id }}
                            </div>
                            <div>
                                <i class="material-icons" style="font-size:50px">local_activity</i>
                            </div>
                        </div>
                    </h1>
                    <p>Ticket is {{ ticket.created_date|timesince }} old</p>
                </div>
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}

                        {% if user %}
                            {# user #}
                            <div class="row" id="impacted_user_fields">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Impacted User</label>
                                    <span class="cobalt-form-error"
                                          id="id_reported_by_user_errors">{{ form.reported_by_user.errors|striptags }}</span>
                                    <input type="text" name="reported_by_user_fake" class="form-control"
                                           id="id_reported_by_user_fake" value="{{ user }}" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <a class="cobalt_generic_member btn btn-sm btn-info" data-toggle="modal"
                                   data-target="#cobalt_general_member_search1"><span
                                        id="id_member_button">Change User</span></a>
                            </div>

                            <input type="hidden" id="id_reported_by_user" name="reported_by_user" value="{{ user.id }}">

                        {% else %}
                            {# user email #}
                            <div class="row" id="user_email">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Impacted User Email</label>
                                    <span class="cobalt-form-error"
                                          id="id_reported_by_email_errors">{{ form.reported_by_email.errors|striptags }}</span>
                                    {% render_field form.reported_by_email class+="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Name</label>
                                    <span class="cobalt-form-error"
                                          id="id_reported_by_name_errors">{{ form.reported_by_name.errors|striptags }}</span>
                                    {% render_field form.reported_by_name class+="form-control" %}
                                </div>
                            </div>

                        {% endif %}

                        {# severity #}

                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_severity_errors">{{ form.severity.errors|striptags }}</span>
                                <label for="id_severity" class="bmd-label-static">Severity</label>
                                {% render_field form.severity class+="form-control" %}
                            </div>
                        </div>


                        {# status #}

                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_status_errors">{{ form.status.errors|striptags }}</span>
                                <label for="id_status" class="bmd-label-static">Status</label>
                                {% render_field form.status class+="form-control" %}
                            </div>


                        </div>
                        </div>

                        {# title #}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                        <span class="cobalt-form-error"
                                              id="id_title_errors">{{ form.title.errors|striptags }}</span>
                                    <label for="id_title" class="bmd-label-floating">Title</label>
                                    {% render_field form.title class+="form-control" %}
                                </div>
                            </div>

                            {# assigned to #}

                            <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_assigned_to_errors">{{ form.assigned_to.errors|striptags }}</span>
                                    <label for="id_assigned_to" class="bmd-label-static">Assigned to</label>
                                    {% render_field form.assigned_to class+="form-control" %}
                                </div>
                            </div>


                            {# incident type #}

                            <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_incident_type_errors">{{ form.incident_type.errors|striptags }}</span>
                                    <label for="id_incident_type" class="bmd-label-static">Product Area</label>
                                    {% render_field form.incident_type class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        {# description #}
                        <div class="row">
                            <div class="col-md-6">
                                <p>Created: {{ ticket.created_date|cobalt_nice_datetime }}</p>
                                <div class="form-group">
                                        <span class="cobalt-form-error"
                                              id="id_description_errors">{{ form.description.errors|striptags }}</span>
                                    <label for="id_description" class="bmd-label-fixed">Description</label>
                                    {% render_field form.description class+="form-control pt-4" %}
                                </div>
                            </div>

                            <div class="col-md-6">
                            {% if attachments %}
                                <h3>Attachments</h3>
                                <ul>
                                {% for attachment in attachments %}
                                <li><a target="_blank" href="{{ attachment.document.url }}">{{ attachment.description }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            </div>
                        </div>


                        <div>

                            <a href="{% url "support:helpdesk_attachments" ticket_id=ticket.id %}"
                               class="btn btn-sm btn-info">
                                {% if attachments %}
                                    Manage attachments
                                {% else %}
                                Add attachment
                                {% endif %}
                            </a>
                        </div>
                        <button class="btn btn-success mx-auto mt-4 cobalt-save" id="button_save" disabled>Save</button>
                        <button class="btn btn-primary mx-auto mt-4 cobalt-save" id="id_resolve">Resolve</button>
                        <a href="{% url "support:helpdesk_menu" %}" class="btn btn-info mt-4">Cancel</a>
                        <button class="btn btn-danger mx-auto mt-4 cobalt-save" id="id_delete">Delete</button>
                    </form>
                    <br>
                    <button class="btn btn-danger" id="id_toggle_history">Show History</button>
                     <div id="id_history" style="display:none;">
                        {% for incident_line_item in incident_line_items %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card p-1">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                {{ incident_line_item.staff.first_name }}:
                                                <span data-toggle="tooltip"
                                                      title="{{ incident_line_item.created_date }}">
                                                {{ incident_line_item.created_date|cobalt_nice_datetime }}</span>
                                            </div>
                                            <div>
                                                {% if incident_line_item.comment_type == "Private" %}
                                                    <span class="material-icons text-primary"
                                                          data-toggle="tooltip"
                                                          title="This update was not shared with {{ first_name }}">
                                                        lock</span>
                                                {% endif %}
                                            </div>
                                        </div>


                                        <br>
                                        {{ incident_line_item.description|safe }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                     </div>

                </div>
                <form method="POST" action="{% url "support:helpdesk_add_comment" ticket_id=ticket.id %}" id="comment_form">
                    {% csrf_token %}
                    <div style="padding: 20px;">
                    {{ comment_form.description|as_crispy_field }}
                    </div>
                    <button class="btn btn-sm btn-primary" id="add_comment">Add Comment</button>
                </form>
            </div>

        </div>

    </div>


{% endblock %}

{% block footer %}

<script src="{% static "forums/assets/js/summernote-plugin-spades.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-hearts.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-diamonds.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-clubs.js" %}"></script>
<!-- <script src="{% static "forums/assets/js/summernote-plugin-hand.js" %}"></script> -->
    <script src="{% static "assets/js/core/jquery.cookie.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
    <script>

    {# Load generic search BUT tell it not to apply the ios fix - breaks Summernote file upload #}
        {% include "utils/generic_user_search_footer.html" with search_id=1 include_me=True prevent_ios_fix=True %}

        function cobaltMemberSearchOk() {
            $('#id_reported_by_user').val(member_id[1]);
            $('#id_reported_by_user_fake').val(member_name[1]);
        }

        $(document).ready(function () {

            // capture initial state of form so we can see if it changes
            const $form = $('form');
            const originalForm = $form.serialize();

            // If assignee changes check the status
            $('#id_assigned_to').on('change', function (e) {
                const status = $('#id_status');
                // see if we got a number - if not it is Unassigned
                if (this.value > 0) {
                    if (status.val() === "Unassigned") {
                        status.val("In Progress");
                    }
                } else {
                    status.val("Unassigned");
                }
            });

            // add comment
            $("#add_comment").click(function (event) {

                // don't be an enter button
                event.preventDefault();

                // check if main form has changed and do not continue. e.g. the User could have been updated
                if ($form.serialize() !== originalForm) {
                    swal.fire({
                        title: "Save Your Changes",
                        html: "Please save your changes to the ticket before adding a comment.",
                        icon: "error"
                    });
                    return;
                }

            });

            // Show history
            $('#id_toggle_history').click(function(){
                $('#id_history').toggle();
            })

            $("#id_delete").click(function (event) {
                // don't be an enter button
                event.preventDefault();

                Swal.fire({
                    title: 'This cannot be undone. Are you sure?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    denyButtonText: 'Cancel',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // add a delete to the form and submit it
                        $form.append('<input type="hidden" name="delete" value="yes" />');
                        $form.submit();
                    }
                    // re-enable buttons if cancel
                    $('.cobalt-save').enable();
                });
            });

            $("#id_resolve").click(function (event) {
                // don't be an enter button
                event.preventDefault();

                Swal.fire({
                    title: 'Close case and notify {{ first_name }}. Are you sure?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Resolve',
                    denyButtonText: 'Cancel',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // add a resolve to the form and submit it
                        $form.append('<input type="hidden" name="resolve" value="yes" />');
                        $form.submit();
                    }
                    // re-enable buttons if cancel
                    $('.cobalt-save').enable();
                });
            });

            // enable save button on change
            $(':input').change(
              function(){
                $("#button_save").prop("disabled",false);
              }
            );

            // initialise tooltips
            $('[data-toggle="tooltip"]').tooltip()

        }); // document ready

    </script>
{% endblock footer %}