{% extends 'base.html' %}
{% load widget_tweaks %}
{% load cobalt_tags %}
{% load static %}


{% block content %}
    {% include "utils/generic_user_search_body.html" with search_id=1 %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "support:helpdesk_menu" %}">Helpdesk</a></li>
            <li class="breadcrumb-item"><a href="{% url "support:helpdesk_list" %}">Tickets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Ticket</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="card mx-auto">
                <div class="card-header card-header-info">
                    <h1>
                        <div class="d-flex justify-content-between">
                            <div>
                                Helpdesk - Edit Ticket #{{ ticket.id }}
                            </div>
                            <div>
                                <i class="material-icons" style="font-size:50px">local_activity</i>
                            </div>
                        </div>
                    </h1>
                    <p>Ticket is {{ ticket.created_date|timesince }} old</p>
                </div>
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}

                        {% if user %}
                            {# user #}
                            <div class="row" id="impacted_user_fields">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Impacted User</label>
                                    <span class="cobalt-form-error"
                                          id="id_reported_by_user_errors">{{ form.reported_by_user.errors|striptags }}</span>
                                    <input type="text" name="reported_by_user_fake" class="form-control"
                                           id="id_reported_by_user_fake" value="{{ user }}" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <a class="cobalt_generic_member btn btn-sm btn-info" data-toggle="modal"

                                   data-target="#cobalt_general_member_search1"><span
                                        id="id_member_button">Change User</span></a>
                            </div>

                            <input type="hidden" id="id_reported_by_user" name="reported_by_user" value="{{ user.id }}">

                        {% else %}
                            {# user email #}
                            <div class="row" id="user_email">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Impacted User Email</label>
                                    <span class="cobalt-form-error"
                                          id="id_reported_by_email_errors">{{ form.reported_by_email.errors|striptags }}</span>
                                    {% render_field form.reported_by_email class+="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Name</label>
                                    <span class="cobalt-form-error"
                                          id="id_reported_by_name_errors">{{ form.reported_by_name.errors|striptags }}</span>
                                    {% render_field form.reported_by_name class+="form-control" %}
                                </div>
                            </div>

                        {% endif %}

                        {# severity #}

                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_severity_errors">{{ form.severity.errors|striptags }}</span>
                                <label for="id_severity" class="bmd-label-static">Severity</label>
                                {% render_field form.severity class+="form-control" %}
                            </div>
                        </div>


                        {# status #}

                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_status_errors">{{ form.status.errors|striptags }}</span>
                                <label for="id_status" class="bmd-label-static">Status</label>
                                {% render_field form.status class+="form-control" %}
                            </div>


                        </div>
                        </div>

                        {# title #}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                        <span class="cobalt-form-error"
                                              id="id_title_errors">{{ form.title.errors|striptags }}</span>
                                    <label for="id_title" class="bmd-label-floating">Title</label>
                                    {% render_field form.title class+="form-control" %}
                                </div>
                            </div>

                            {# assigned to #}

                            <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_assigned_to_errors">{{ form.assigned_to.errors|striptags }}</span>
                                    <label for="id_assigned_to" class="bmd-label-static">Assigned to</label>
                                    {% render_field form.assigned_to class+="form-control" %}
                                </div>
                            </div>


                            {# incident type #}

                            <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                        <span class="cobalt-form-error"
                                              id="id_incident_type_errors">{{ form.incident_type.errors|striptags }}</span>
                                    <label for="id_incident_type" class="bmd-label-static">Type</label>
                                    {% render_field form.incident_type class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        {# description #}
                        <div class="row">
                            <div class="col-md-6">
                                <p>Created: {{ ticket.created_date|cobalt_nice_datetime }}</p>
                                <div class="form-group">
                                        <span class="cobalt-form-error"
                                              id="id_description_errors">{{ form.description.errors|striptags }}</span>
                                    <label for="id_description" class="bmd-label-floating">Description</label>
                                    {% render_field form.description class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        {% for incident_line_item in incident_line_items %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card p-1">
                                        {{ incident_line_item.staff.first_name }} {{ incident_line_item.created_date|cobalt_nice_datetime }}
                                        {% if incident_line_item.comment_type == "Private" %}
                                            <b>{{ incident_line_item.comment_type }}</b>
                                        {% endif %}
                                        <br>
                                        <pre>{{ incident_line_item.description }}</pre>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div>
                            <button class="btn btn-sm btn-primary" id="add_comment">Add Comment</button>
                        </div>
                        <button class="btn btn-success mx-auto mt-4 cobalt-save">Save</button>
                        <a href="{% url "support:helpdesk_menu" %}" class="btn btn-info mt-4">Cancel</a>
                        <button class="btn btn-danger mx-auto mt-4 cobalt-save" id="id_delete">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block footer %}
    <script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
    <script>

        {% include "utils/generic_user_search_footer.html" with search_id=1 %}

        function cobaltMemberSearchOk() {
            $('#id_reported_by_user').val(member_id[1]);
            $('#id_reported_by_user_fake').val(member_name[1]);
        }

        $(document).ready(function () {

            // capture initial state of form so we can see if it changes
            const $form = $('form');
            const originalForm = $form.serialize();

            // If assignee changes check the status
            $('#id_assigned_to').on('change', function (e) {
                const status = $('#id_status');
                // see if we got a number - if not it is Unassigned
                if (this.value > 0) {
                    if (status.val() === "Unassigned") {
                        status.val("In Progress");
                    }
                } else {
                    status.val("Unassigned");
                }
            });

            // add comment
            $("#add_comment").click(function (event) {

                // don't be an enter button
                event.preventDefault();

                // check if main form has changed and do not continue. e.g. the User could have been updated
                if ($form.serialize() !== originalForm) {
                    swal.fire({
                        title: "Save Your Changes",
                        html: "Please save your changes to the ticket before adding a comment.",
                        icon: "error"
                    });
                    return;
                }

                // get text from user
                swal.fire({
                    title: 'New Activity on Case',
                    input: 'textarea',
                    inputPlaceholder: 'Type your update here...',
                    confirmButtonText: 'Update',
                    showCancelButton: true
                })
                    .then((result) => {
                        // if they didn't cancel check if they want the user notified
                        if (result.value) {
                            Swal.fire({
                                title: 'Share update with {{ user.first_name }} ?',
                                showCancelButton: true,
                                confirmButtonText: 'Notify',
                                cancelButtonText: 'Do Not Notify',
                            }).then((result2) => {
                                // set the private flag
                                let private_flag;
                                if (result2) {
                                    private_flag = 0;
                                } else {
                                    private_flag = 1;
                                }
                                // call django function
                                $.post("{% url "support:helpdesk_add_incident_line_item_ajax" %}",
                                    {
                                        ticket_id: {{ ticket.id }},
                                        private_flag: private_flag,
                                        text: result.value,
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                    })
                                    // check response
                                    .done(response => {
                                        var msg = response['data']['message'];
                                        if (msg === 'Success') {
                                            location.reload();
                                        } else {
                                            swal.fire({
                                                title: "Error",
                                                html: msg,
                                                icon: "error"
                                            })
                                        }
                                    });
                            });
                        }
                    });
            });

            $("#id_delete").click(function(){
                Swal.fire({
  title: 'Do you want to save the changes?',
  showDenyButton: true,
  showCancelButton: true,
  confirmButtonText: `Save`,
  denyButtonText: `Don't save`,
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    Swal.fire('Saved!', '', 'success')
  } else if (result.isDenied) {
    Swal.fire('Changes are not saved', '', 'info')
  }
})
            });

        }); // document ready

    </script>
{% endblock footer %}