{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card col-md-8">
    <div class="card-header card-header-info">
      <h1>Forum Guidelines</h1>
    </div>
    <div class="card-body">
      <img src="{% static "assets/img/guidelines.jpg" %}" alt="Guidelines" width="300px" class="mx-auto d-block">
<h3>This is Your System to Stay Informed and Communicate with Others</h3>

<p>We provide forums to bring our member together in a community.
The forums are set up as topics to allow you to focus on the areas that interest you.
However, sometimes our passion for a topic can get the better of us and in the
online world people often say things that they wouldn’t say in person.
For that reason we allow you to edit what you post and encourage
you to do so if you have gone too far.</p>

<p>Here are some guidelines to follow to make the most of your time here
and to make it as pleasant as possible for everyone.</p>

<p>We also have an <a href=”{% url "support:acceptable_use" %}”>Acceptable Use Policy</a>
which you are agreeing to by using this site. In the event that anything in here
contradicts the Acceptable Use Policy in any way, the Acceptable Use Policy takes
precedence.</p>

<h3>Play the Ball not the (Wo)man</h3>
<p>Don't make it personal. Stick to the topic. It is perfectly okay to agree
with someone on one topic and disagree on another. Don't resort to personal
attacks even if someone else is egging you on; you are better than that.</p>

<p>Specifically don't:</p>
<ul>
  <li>Call people names (you are not 4 years old)</li>
  <li>Contradict people just because you can</li>
  <li>Insult people's bridge ability</li>
  <li>Swear</li>
</ul>

<h3>Report Abuse</h3>

<p>if you see bad behaviour, report it, don’t reply. Depriving a fire of oxygen
is the best way to put it out. If you feel strongly enough about it, you can
even join our band of volunteer moderators.</p>
<p>In order to maintain our community, moderators reserve the right to
remove any content and any user account for any reason at any time.
Moderators do not preview new posts in any way; the moderators and
the {{ GLOBAL_ORG }} take no responsibility for any content posted by members.

<h3>Be Nice</h3>
<p>It is a fact of modern life that our words will survive online a long time after
we are gone. Think about how you would like to be remembered by the community
and <strong>BE NICE</strong>.</p>

<ul>
  <li>Don’t post anything that a reasonable person would consider offensive, abusive, or hate speech.</li>
  <li>No spam, no advertising, except of course to promote bridge events.</li>
  <li>Educate those less experienced than yourself, don't criticise them or humiliate them even if they are wrong.</li>
  <li>Treat people as you would like to be treated. If you just do this then you can ignore the rest of the guidelines.</li>
  <li>Don't accuse anyone of cheating or being underhanded. <strong>EVER. FULL STOP.</strong></li>
</ul>
<p>You can either be nice or be banned (which isn't very nice).</p>

<h3>Stick to Bridge</h3>
<p>It's fine for a thread to drift a bit off topic if that is what people want,
just stay away from things that <i>could</i> offend people; like politics or
religion. Most members come here to get away from that sort of thing.</p>
    </div>
  </div>
</div>


{% endblock %}
