{% load cobalt_tags %}
<div class="table-responsive">

    <table class="table table-hover p-2">
        <thead>
        <tr>
            <th class="p-1 text-left">Status</th>
            <th class="p-1">Assigned To</th>
            <th class="p-1">Date Created</th>
            <th class="p-1">Title</th>
            <th class="p-1">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td class="p-1">{{ ticket.status }}</td>
                <td class="p-1">{{ ticket.assigned_to.full_name|default_if_none:"-" }}</td>
                <td class="p-1">{{ ticket.created_date|cobalt_nice_datetime }}</td>
                <td class="p-1">{{ ticket.title }}</td>
                <td class="p-1"><a href="{% url "support:helpdesk_user_edit" ticket_id=ticket.id %}"
                                   class="btn btn-sm btn-info">View</a></td>
            </tr>

        {% endfor %}
        </tbody>
</table>
</div>
